extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/api') Example APIs
            li.active
              span  Aviary API
        h3
          i.fa.fa-picture-o
          | Aviary API      
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
    
            
            .btn-group.btn-group-justified
              a.btn.btn-primary(href='http://developers.aviary.com/docs/web/setup-guide#constructor', target='_blank')
                i.fa.fa-check-square-o
                | API Overview
              a.btn.btn-primary(href='http://developers.aviary.com/docs/web/setup-guide#saving', target='_blank')
                i.fa.fa-save
                | Saving Images
              a.btn.btn-primary(href='http://developers.aviary.com/docs/web/setup-guide#styling', target='_blank')
                i.fa.fa-flask
                | CSS Styling
            br
            p: button.btn.btn-success(onclick='return launchEditor("myimage", "https://31.media.tumblr.com/d4411b4c0b41d9c7a73fbcdb1054cb5c/tumblr_n3fyfbZVud1tsaz7eo1_500.jpg");')
              i.fa.fa-magic
              | Edit Photo
            img#myimage(src='https://cdn0.artstation.com/p/assets/images/images/001/651/116/large/ricardo-ow-drakehunt-final1.jpg?1450168692', width=400)

block scripts      
  script(src='http://feather.aviary.com/js/feather.js')
  script.
    var featherEditor = new Aviary.Feather({
      apiKey: 'c83c98c0da041785',
      apiVersion: 3,
      theme: 'dark',
      tools: 'all',
      appendTo: '',
      onSave: function(imageID, newURL) {
        var img = document.getElementById(imageID);
        img.src = newURL;
      },
      onError: function(errorObj) {
        alert(errorObj.message);
      }
    });
    function launchEditor(id, src) {
      featherEditor.launch({
        image: id,
        url: src
      });
      return false;
    }
