extends ../../../layouts/dashboard_layout
block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') App
            li
              a(href='/root/api') Example APIs
            li.active
              span Last.fm api
        h2.font-light.m-b-xs
          | Example APIs
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            h3
              i.fa.fa-play-circle-o(style='color: #db1302')
              | Last.fm API
            .btn-group.btn-group-justified
              a.btn.btn-primary(href='https://github.com/jammus/lastfm-node#lastfm-node', target='_blank')
                i.fa.fa-check-square-o
                | Last.fm Node Docs
              a.btn.btn-primary(href='http://www.last.fm/api/account/create', target='_blank')
                i.fa.fa-laptop
                | Create API Account
              a.btn.btn-primary(href='http://www.last.fm/api', target='_blank')
                i.fa.fa-code-fork
                | API Endpoints
          
            h3= artist.name
            img.thumbnail(src='#{artist.image}')
          
            h3 Tags
            for tag in artist.tags
              span.label.label-primary
                i.fa.fa-tag
                | #{tag.name}
              |&nbsp;
          
            h3 Biography
            p!= artist.bio
          
            h3 Top Albums
            for album in artist.topAlbums
              img(src='#{album}', width=150, height=150)
              |&nbsp;
          
            h3 Top Tracks
            ol
              for track in artist.topTracks
                li
                  a(href='#{track.url}') #{track.name}
          
            h3 Similar Artists
            ul.list-unstyled.list-inline
              for similarArtist in artist.similar
                li
                  a(href='#{similarArtist.url}') #{similarArtist.name}