extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') App
            li
              a(href='/root/api') Example APIs
            li.active
              span New York Times api
        h2
          i.fa.fa-building-o
          | New York Times API
          
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            
            .btn-group.btn-group-justified
              a.btn.btn-primary(href='http://developer.nytimes.com/page', target='_blank')
                i.fa.fa-check-square-o
                | Overview
              a.btn.btn-primary(href='http://prototype.nytimes.com/gst/apitool/index.html', target='_blank')
                i.fa.fa-laptop
                | API Console
              a.btn.btn-primary(href='http://developer.nytimes.com/docs', target='_blank')
                i.fa.fa-code-fork
                | API Endspoints
          
            h4 Young Adult Best Sellers
            table.table.table-striped.table-bordered
              thead
                tr
                  th Rank
                  th Title
                  th.hidden-xs Description
                  th Author
                  th.hidden-xs ISBN-13
              tbody
                for book in books
                  tr
                    td= book.rank
                    td= book.book_details[0].title
                    td.hidden-xs= book.book_details[0].description
                    td= book.book_details[0].author
                    td.hidden-xs= book.book_details[0].primary_isbn13