extends ../../../layouts/dashboard_layout
block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') App
            li
              a(href='/root/api') Example APIs
            li.active
              span PayPal Api
        h2.font-light.m-b-xs
          | PayPal Api
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen 
          .panel-body
            h3
              i.fa.fa-paypal(style='color: #1B4A7D')
              | PayPal API
            .btn-group.btn-group-justified
              a.btn.btn-primary(href='https://developer.paypal.com/docs/integration/direct/make-your-first-call/', target='_blank')
                i.fa.fa-check-square-o
                | Quickstart
              a.btn.btn-primary(href='https://developer.paypal.com/docs/api/', target='_blank')
                i.fa.fa-code
                | API Reference
              a.btn.btn-primary(href='https://devtools-paypal.com/hateoas/index.html', target='_blank')
                i.fa.fa-gear
                | API Playground
            br    
            h4 Sample Payment
            if result
              if canceled
                h3 Payment got canceled!
              if success
                h3 Payment got executed successfully!
              a(href='/api/paypal')
                button.btn.btn-primary New payment
            else
              div
                p Redirects to PayPal and allows authorizing the sample payment.
                a(href=approvalUrl)
                  button.btn.btn-primary Authorize payment