extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/api') Example APIs
            li.active
              span Twilio API
        h3
          i.fa.fa-hacker-news(style='color: #ff6600')
          | Web Scraping
          
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
                    
    
          
            .btn-group.btn-group-justified
              a.btn.btn-primary(href='http://matthewmueller.github.io/cheerio/', target='_blank')
                i.fa.fa-info
                | Cheerio Docs
              a.btn.btn-primary(href='http://vimeo.com/31950192', target='_blank')
                i.fa.fa-film
                | Cheerio Screencast
          
            h3 Hacker News Frontpage
            table.table.table-condensed
              thead
                tr
                  th №
                  th Title
              tbody
                each link, index in links
                  tr
                    td= index + 1
                    td!= link