extends ../../../layouts/dashboard_layout

block content
  .page-header
    h2
      i.fa.fa-twitter(style='color: #4099ff')
      | Twitter API

  .btn-group.btn-group-justified
    a.btn.btn-success(href='https://github.com/ttezel/twit', target='_blank')
      i.fa.fa-file-text-o
      | Twit Library Docs
    a.btn.btn-success(href='https://dev.twitter.com/docs', target='_blank')
      i.fa.fa-check-square-o
      | Overview
    a.btn.btn-success(href='https://dev.twitter.com/docs/api/1.1', target='_blank')
      i.fa.fa-code-fork
      | API Endpoints

  br

  .well
    h4 Compose new Tweet
    form(role='form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        input.form-control(type='text', name='tweet', autofocus)
        p.help-block This new Tweet will be posted on your Twitter profile.
      button.btn.btn-primary(type='submit')
        i.fa.fa-twitter
        |  Tweet

  br

  .lead Latest
    strong  #{tweets.length}
    |  Tweets containing the term
    strong  nodejs
    |  in NYC within
    strong  5
    |  miles radius

  ul.media-list
    for tweet in tweets
      li.media
        a.pull-left(href='#')
          - var image = tweet.user.profile_image_url.replace('_normal', '');
          img.media-object(src='#{image}', style='width: 64px; height: 64px;')
        .media-body
          strong.media-heading #{tweet.user.name}
          span.text-muted  @#{tweet.user.screen_name}
          p= tweet.text