.profile-picture
  a(href='/account')
    // img.img-circle.img-responsive.m-b(src='/app/images?id=#{user.profile.picture ? user.profile.picture : "default.png"}' alt='logo' style="width: 75px;margin: 0 auto; height: 75px; padding-bottom: 5px;")
    
  .stats-label.text-color
    span.font-extra-bold.font-uppercase #{user.profile.name || "No name avaible."}
    
    
ul#side-menu.nav
  if impersonationInProgress != null
    li.bg-warning
      a(href='/root/end_impersonation/#{user.id}')
        span.nav-label Stop Impersonation
    // .row-fuild
    //   .bg-warning.col-sm-12(style="padding:10px")
    //     a.btn.btn-warning.pull-right(href="/root/end_impersonation/#{user.id}")
    //       | END SESSION
    //     h3 Impersonation in progress
  if user.role == 'webmaster' || user.role == 'admin'
    li.bg-info
      a(href='/root/dashboard')
        span.nav-label root
  li
    a(href='#')
      span.nav-label Admin
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/app/company_info') Company Info
      li
        a(href='/app/manage_user' style="display:none")
        a(href='/app/manage_users') Manage Users
      li
        a(href="/app/payment_issue" style="display:none")
        a(href='/app/payment_center')
          span.nav-label Payment Center
  li
    a(href='/app/dashboard')
      span.nav-label Dashboard
  li
    a(href="/marketing/site-lead" style="display:none")
    a(href='/marketing/site-leads')
      span.nav-label Leads
  li
    a(href='/site/builder?mode=top&location=/')
      span.nav-label Site Builder
  li
    a(href='/site/get-site')
      span.nav-label View Site
        // li
        //   a(href='/app/analytics')
        //     span.nav-label Analytics
  
        