extends ../../../layouts/dashboard_layout

block scripts
  script(src='../vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js')
  script(src="/boiler-tech/projects/root/payment/scripts/create.js")
  script(type='text/javascript').
    items.push({
      name: 'Website services and maintainence',
      price: '100.00',
      quantity: '1'
    })
    loadItems();
block styles
  link(rel='stylesheet', href='../vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css')

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/payments') Manage Invoices
            li
              a(href='/root/payment?id=#{company.id}') #{company.company_name}
            li.active
              span Create Invoice
        h2.font-light.m-b-xs
          | Create Invoice For: #{company.company_name}
  .content.animate-panel(ng-app="app" ng-controller='main')
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            form.form-horizontal(action="/../../../root/create_invoice" method="post")
              h4(style="color:green;")
                | Company Info
              .hr-line-dashed
              .form-group
                label.col-sm-2.control-label Url:
                .col-sm-10
                  .control-label.pull-left #{company.company_url}
              .form-group
                label.col-sm-2.control-label Name:
                .col-sm-10
                  .control-label.pull-left #{company.company_name}
              .form-group
                label.col-sm-2.control-label Address Line 1:
                .col-sm-10
                  .control-label.pull-left #{company.company_address1}
              .form-group
                label.col-sm-2.control-label Address Line 2:
                .col-sm-10
                  .control-label.pull-left #{company.company_address2}
              .form-group
                label.col-sm-2.control-label City:
                .col-sm-10
                  .control-label.pull-left #{company.company_city}
              .form-group
                label.col-sm-2.control-label State:
                .col-sm-10
                  .control-label.pull-left #{company.company_state}
              .form-group
                label.col-sm-2.control-label Zip:
                .col-sm-10
                  .control-label.pull-left #{company.company_zip}
              .form-group
                label.col-sm-2.control-label Email:
                .col-sm-10
                  .control-label.pull-left #{company.company_email}
              .form-group
                label.col-sm-2.control-label Phone:
                .col-sm-10
                  .control-label.pull-left #{company.company_phone}
              br
              h4(style="color:green;")
                | Invoice Dates
              .hr-line-dashed
              .form-group
                label.col-sm-2.control-label Due Date
                .col-sm-10
                  #datetimepicker1.input-group.date
                    span.input-group-addon
                      span.fa.fa-calendar
                    input.form-control(type='text' name="invoice_dueDate")
              .form-group
                label.col-sm-2.control-label Statement Date
                .col-sm-10
                  #datetimepicker1.input-group.date
                    span.input-group-addon
                      span.fa.fa-calendar
                    input.form-control(type='text' name="invoice_statement_date")
              .form-group
                label.col-sm-2.control-label Service Start Date
                .col-sm-10
                  #datetimepicker1.input-group.date
                    span.input-group-addon
                      span.fa.fa-calendar
                    input.form-control(type='text' name="invoice_service_period_start")
              .form-group
                label.col-sm-2.control-label Service End Date
                .col-sm-10
                  #datetimepicker1.input-group.date
                    span.input-group-addon
                      span.fa.fa-calendar
                    input.form-control(type='text' name="invoice_service_period_end")
              
              br
              h4(style="color:green;")
                | Invoice Items
              .hr-line-dashed
              .alert.alert-info
                .form-group
                  label.col-sm-2.control-label Name
                  .col-sm-9
                    input.form-control(type="text" id="itemName")

                .form-group
                  label.col-sm-2.control-label Price
                  .col-sm-9
                    input.form-control(type="number" id="itemPrice")
                  
                .form-group
                  label.col-sm-2.control-label Quantity
                  .col-sm-9
                    input.form-control(type="number" id="itemQuantity")
                  
                .form-group
                  label.col-sm-2.control-label
                  .col-sm-9
                    .btn.btn-success(onclick="addItem()") Add Item
              br      
              .table-responsive
                table#example2.table.table-striped.table-bordered.table-hover
                    thead
                      tr
                        th Name
                        th Price
                        th Quantity
                        th 
                    tbody#itemTable
                      
              br
              .form-group
                label.col-sm-2.control-label
                  input(type="hidden" name="companyId" value="#{company.id}")
                  input(type='hidden' name='_csrf' value='#{_csrf}')
                  button.btn.btn-success(type="submit") CREATE INVOICE