extends ../../../layouts/dashboard_layout

block scripts
  script(src='../vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js')
  script(src="/boiler-tech/projects/root/payment/scripts/end.js")

block styles
  link(rel='stylesheet', href='../vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css')

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/payments') Manage Invoices
            li.active
              a(href='/root/payment?id=#{company.id}') #{company.company_name}
            li.active
              span End Invoice
        h2.font-light.m-b-xs
          | End Invoice
  .content.animate-panel(ng-app="app" ng-controller='main')
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            form.form-horizontal(method="POST" action="../../../../root/end_invoice")
              .form-group
                label.col-sm-2.control-label Invoice Status
                .col-sm-10
                  select#invoiceStatisSelect.form-control(onchange="invoiceStatusChange()" name="invoice_status")
                    option(value="Paid") Paid
                    option(value="Forgiven") Forgiven
                    option(value="Problem") Problem
              #paidBox
                .form-group
                  label.col-sm-2.control-label Paid Date
                  .col-sm-10
                    #datetimepicker1.input-group.date
                      span.input-group-addon
                        span.fa.fa-calendar
                      input.form-control(type='text' name="payedOnDate")
                .form-group
                  label.col-sm-2.control-label Stripe Transaction Id
                  .col-sm-10
                    input.form-control(type="text" name="stripeTransactionId")
              .form-group
                label.col-sm-2.control-label Invoice Action
                .col-sm-10
                  select.form-control(name="invoice_action")
                    option(value="close") Close
                    option(value="close delete") Delete
              .form-group
                label.col-sm-2.control-label Invoice Note
                .col-sm-10
                  textarea.form-control(name="invoiceClosingNote")    
              .form-group
                label.col-sm-2.control-label
                .col-sm-10
                  input(type="hidden" name="companyId" value="#{company.id}")
                  input(type='hidden' name='_csrf' value='#{_csrf}')
                  button.btn.btn-danger(type="submit") End Invoice