extends ../layout

block styles

block scripts

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/app/index') App
            li.active
              span Projects
        h2.font-light.m-b-xs
          | Projects
        //small Select a user.
  .content.animate-panel
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
            |                     Current Projects
          .panel-body
      if user.role == 'webmaster'
        .col-lg-12
          .hpanel.hgreen
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
              | &nbsp;                    
            .panel-body
              h3 Add a new project
              a.btn.btn-success(href="/app/project_new")
                | Create
//             table#example2.table.table-striped.table-bordered.table-hover
//               thead
//                 tr
//                   th Name
//                   th Email
//                   th Role
//                   th Locked Out
//                   th Edit
//               tbody
//                 each existingUser in users
//                   tr
//                     td #{existingUser.profile.name}
//                     td #{existingUser.email}
//                     td #{existingUser.role}
//                     td #{existingUser.isLockedOut}
//                     td 
//                       form(method="post", action="../../../../app/start_impersonation")
//                         input(type='hidden', name='_csrf', value=_csrf)
//                         input(type='hidden', name='userId', value=existingUser.id)
//                         button.btn.btn-default(type="submit", value="Impersonate")
//                       a.btn.btn-primary(href="/app/manage_user/#{existingUser.id}")
//                         | Edit  
                  