.row(style="background-color: green; color: white; padding: 25px 0px 25px 0px;")
  form.form-horizontal(method="post" action="../../../site/change-colors")
    .text-center
      h3 Change Colors
    .form-group(style="margin-right: 0px;")
      label.col-sm-3.control-label What your site is using.
      .col-sm-7
        .control-label.pull-left
           | #{site.colors}
          
    .form-group(style="margin-right: 0px;")
      label.col-sm-3.control-label You want to try some new colors?
      .col-sm-7
        .col-xs-9(style="padding-left:0px;")
          
          select#siteColorsSelect.form-control(style="background-color: white;" name="colors")
            option(value='cerulean') Cerulean
            option(value='cosmo') Cosmo
            option(value='cyborg') Cyborg
            option(value='darkly') Darkly
            option(value='flatly') Flatly
            option(value='journal') Journal
            option(value='lumen') Lumen
            option(value='paper') Paper
            option(value='readable') Readable
            option(value='sandstrong') Sandstone
            option(value='simplex') Simplex
            option(value='slate') Slate
            option(value='spacelab') Spacelab
            option(value='superhero') Superhero
            option(value='united') United
            option(value='yeti') Yeit
            
        .col-xs-2
          .btn.btn-default(style="background-color:lightgreen; color: black" onclick="changeColor()") 
            | Try
    .form-group(style="margin-right: 0px;")
      label.col-sm-3.control-label 
      .col-sm-7
        input(type="hidden" name="location" value="#{location}")
        input(type="hidden" name="_csrf" value="#{_csrf}")
        
        button.btn.btn-info(style="background-color:#d3d3d3; color: black;" type="submit") Save
        | &nbsp; &nbsp;
        a.btn.btn-warning(href="../../site/builder?mode=top&location=#{location}") Back
        
  script(src="/this/projects/site/builder/scripts/menu_colors.js")