doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Page title
    title #{title} - Site Builder
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    // Vendor styles
    link(rel='stylesheet', href='../vendor/animate.css/animate.css')
    link(rel='stylesheet', href='../vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='../this/projects/site/viewer/css/superhero.css')
    link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.css')
    // App styles
    link(rel='stylesheet', href='../fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css')
    link(rel='stylesheet', href='../fonts/pe-icon-7-stroke/css/helper.css')
    style.
      .row, .form-group{
        margin: 0px;
        padding: 15px 10px;
      }
      .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }
      .carousel-control {
        position: absolute;
        top: 40%; /* pushes the icon in the middle of the height */
        z-index: 5;
        display: inline-block;
        bottom: 40%;
        border-radius: 50%;
      }
      
    
    script(src='../vendor/jquery/dist/jquery.min.js')
    script(src='../vendor/jquery-ui/jquery-ui.min.js')
    script(src='../vendor/bootstrap/dist/js/bootstrap.min.js')
  body(style="background-color: white")
    .container-fluid(style="padding:0px;")
      include partial_sb_header
      
      .row(style="background-color: green; color: white; padding: 25px 0px 25px 0px;")
        .form-horizontal
          .form-group(style="margin-right: 0px;")
            label.col-sm-3.control-label What would you like to do?
            .col-sm-7
              input.form-control(type="text" value="Update Main Page Slide-Show" disabled=true)
                
        
          .form-group(style="margin-right: 0px;")
            label.col-sm-3.control-label 
            .col-sm-7
              .btn.btn-info(style="background-color:#d3d3d3; color: black;") Save
              | &nbsp; &nbsp;
              a.btn.btn-info(style="background-color:white; color: black;" href="../../site/builder?mode=top&location=/") Cancel
  script(src="/this/projects/site/builder/scripts/menu_home_main_picture.js")
      
      
      
      
    script.
      var app_mode = "#{mode}";
      var app_location = "#{location}";
      var app_colors = "#{app_colors}";
    // script(src="/this/projects/site/builder/scripts/site-builder.js")