.row(style="background-color: green; color: white; padding: 25px 0px 25px 0px;")
  .form-horizontal
    .form-group(style="margin-right: 0px;")
      label.col-sm-3.control-label What would you like to do?
      .col-sm-7
        select#siteBuilderSelect.form-control(style="background-color: white;")
          option(value='colors') Change Colors
          option(value='bio') Manage Bio
          option(value='slideshow') Manage Home Page Slide-Show
          option(value='pictures') Manage Pictures
          option(value='projects') Manage Projects
          option(value='reviews') Manage Reviews
          option(value='services') Manage Services
  
    .form-group(style="margin-right: 0px;")
      label.col-sm-3.control-label 
      .col-sm-7
        .btn.btn-info(style="background-color:#d3d3d3; color: black;" onclick="modeSelect()") Submit
        
  script(src="/this/projects/site/builder/scripts/menu_top.js")
