.row(style="background-color: white; color: black; padding: 10px 0px 10px 0px;")
    .text-center
        | \/ &nbsp; &nbsp; Your website below &nbsp; &nbsp;  \/ 
.row(style="background-color: black; height:3px; padding: 0px;")
