doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Page title
    title #{title} - #{company.company_name}
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    // Vendor styles
    link(rel='stylesheet', href='#{appSetting.app_anchor_url}vendor/animate.css/animate.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    
    case site.colors
      when 'cerulean'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/cerulean.css')
      when 'cosmo'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/cosmo.css')
      when 'cyborg'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/cyborg.css')
      when 'darkly'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/darkly.css')
      when 'flatly'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/flatly.css')
      when 'journal'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/journal.css')
      when 'lumen'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/lumen.css')
      when 'paper'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/paper.css')
      when 'readable'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/readable.css')
      when 'sandstrong'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/sandstrong.css')
      when 'simplex'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/simplex.css')
      when 'spacelab'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/spacelab.css')
      when 'superhero'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/superhero.css')
      when 'united'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/united.css')
      when 'yeti'
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/yeti.css')
      default
        link(rel='stylesheet', href='#{appSetting.app_anchor_url}this/projects/site/viewer/css/cerulean.css')
      
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    
    style.
      body{
        padding-top:65px;
      }
      .row, .form-group{
        margin: 0px;
        padding: 15px 10px;
      }
      .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }
      .carousel-control {
        position: absolute;
        top: 40%; /* pushes the icon in the middle of the height */
        z-index: 5;
        display: inline-block;
        bottom: 40%;
        border-radius: 50%;
      }
      
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script.
      $(function(){
        $('.navbar.navbar-inverse').addClass('navbar-fixed-top');
      });
      
  body
    .container-fluid(style="padding:0px;")
      case site_page
        when 'home'  
          include ../viewer/viewer_home
        when 'contact'
          include ../viewer/viewer_contact
        when 'pictures'
          include ../viewer/viewer_pictures
        when 'projects'
          include ../viewer/viewer_projects
        when 'reviews'
          include ../viewer/viewer_reviews
        when 'services'
          include ../viewer/viewer_services
        when 'thankyou'
          include ../viewer/viewer_thankyou
       
      
