nav.navbar.navbar-inverse(style="margin-bottom: 0px;border-radius:0px;")
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') #{company.company_name}
    #bs-example-navbar-collapse-2.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li(class=site_page == "contact" ? "active" : undefined)
          a(href='contact') Contact Us
      ul.nav.navbar-nav.navbar-right
        li(class=site_page == "reviews" ? "active" : undefined)
          a(href='reviews') Reviews
      ul.nav.navbar-nav.navbar-right
        li(class=site_page == "pictures" ? "active" : undefined)
          a(href='pictures') Pictures
      ul.nav.navbar-nav.navbar-right
        li(class=site_page == "projects" ? "active" : undefined)
          a(href='projects') Projects
      ul.nav.navbar-nav.navbar-right
        li(class=site_page == "services" ? "active" : undefined)
          a(href='services') Services
      ul.nav.navbar-nav.navbar-right
        li(class=site_page == "home" ? "active" : undefined)
          a(href='home') Home