include partial_header
script(src='#{appSetting.app_anchor_url}vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js')
link(rel='stylesheet', href='#{appSetting.app_anchor_url}vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css')

br
br
.text-center
  h3 
    strong CONTACT US
    br
    small #{company.company_phone}
      br 
      | #{company.company_email}
    
br
.col-sm-12.col-md-8.col-lg-8.col-md-offset-2.col-lg-offset-2
  form(method="POST" action="lead")
    .panel.panel-default
        .panel-body
          .well.form-horizontal(style="margin-bottom:0px;=")
            .form-group(style="margin-right: 0px;")
              label.col-sm-3.control-label First Name
              .col-sm-7
                input.form-control(style="background-color: white;" name="firstName")
            .form-group(style="margin-right: 0px;")
              label.col-sm-3.control-label Last Name
              .col-sm-7
                input.form-control(style="background-color: white;" name="lastName")
            .form-group(style="margin-right: 0px;")
              label.col-sm-3.control-label Your Email
              .col-sm-7
                input.form-control(style="background-color: white;" name="email")
            .form-group(style="margin-right: 0px;")
              label.col-sm-3.control-label Your Phone Number
              .col-sm-7
                input.form-control(style="background-color: white;" name="phoneNumber")
            .form-group(style="margin-right: 0px;")
              label.col-sm-3.control-label Your Message
              .col-sm-7
                textarea.form-control(style="background-color: white;" rows="5" name="message")
            requestAppointment.form-group(style="margin-right: 0px;")
              label.col-sm-3.control-label Request Appointment
              .col-sm-1
                input#requestAppointment.form-control(style="background-color: white;margin-top:0px; width: 40px;" type="checkbox" name="requestAppointment" checked=true onclick="isRequestAppointment()")
            #appointment
              .form-group(style="margin-right: 0px;")
                label.col-sm-3.control-label
                .col-sm-7
                  .alert.alert-info
                    | Please tell us the best day to show up.
              .form-group(style="margin-right: 0px;")
                label.col-sm-3.control-label First Choice
                .col-sm-7
                  #datetimepicker1.input-group.date
                    span.input-group-addon
                      span.fa.fa-calendar
                    input.form-control(type='text' name="firstChoice" style="background-color: white;")
              .form-group(style="margin-right: 0px;")
                label.col-sm-3.control-label Second Choice
                .col-sm-7
                  #datetimepicker1.input-group.date
                    span.input-group-addon
                      span.fa.fa-calendar
                    input.form-control(type='text' name="secondChoice" style="background-color: white;")
              .form-group(style="margin-right: 0px;")
                label.col-sm-3.control-label Third Choice
                .col-sm-7
                  #datetimepicker1.input-group.date
                    span.input-group-addon
                      span.fa.fa-calendar
                    input.form-control(type='text' name="thirdChoice" style="background-color: white;")
            .form-group(style="margin-right: 0px;")
              label.col-sm-3.control-label
              .col-sm-7
                input(type="hidden" value="#{_csrf}" name="_csrf")
                input(type="hidden" value="#{company.id}" name="companyId")  
                button.btn.btn-primary(type="submit")
                  | Submit
script(src="/this/projects/site/viewer/scripts/contact.js")