include partial_header
br
br
.text-center
  p(style="color:gold;")
    i.fa.fa-star.fa-3x
    i.fa.fa-star.fa-3x
    i.fa.fa-star.fa-3x
    i.fa.fa-star.fa-3x
    i.fa.fa-star.fa-3x
    
  h3 
    strong 5 STAR REVIEWS
    
br
- var rightArray = [];
- var leftArray = [];
  if site && site.reviews && site.reviews.length > 0
    - site.reviews.forEach(function(review){
      - if (rightArray.length >= leftArray.length){
        - leftArray.push({message: review.message, location: review.location, name: review.name, _id: null});
        - return;
      - }
      - if (rightArray.length < leftArray.length){
        - rightArray.push({message: review.message, location: review.location, name: review.name, _id: null});
        - return;
      - }
    - });
- site.reviews = jsmodel;
.container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12
        each left in leftArray
          .well
            p #{left.message}
            br
            p
              em #{left.name}
              br 
              | #{left.location}
      .col-lg-6.col-md-6.col-sm-12
        each right in rightArray
          .well
            p #{right.message}
            br
            p
              em #{right.name}
              br 
              | #{right.location}