include partial_header
br
br
.text-center
  h3
    strong PICTURES
    
br
.col-sm-12.col-md-8.col-lg-8.col-md-offset-2.col-lg-offset-2
  
  script(src='#{appSetting.app_anchor_url}vendor/blueimp-gallery/js/jquery.blueimp-gallery.min.js')
  style.
    .lightBoxGallery {
    text-align: center;
    }
    .lightBoxGallery a {
    margin: 5px;
    display: inline-block;
    }
  link(rel='stylesheet', href='#{appSetting.app_anchor_url}vendor/blueimp-gallery/css/blueimp-gallery.min.css')
  .panel.panel-default
    .panel-body(style="padding: 5px;")
      .well(style="padding: 5px;")
        center
          #links.links
            a(href='https://farm2.static.flickr.com/1590/25150196263_092b8822f2_b.jpg', title='Plan 9, the Lisbon front', data-gallery='')
              img(src='https://farm2.static.flickr.com/1590/25150196263_092b8822f2_s.jpg')
            a(href='https://farm2.static.flickr.com/1623/25654663682_30a79719d2_b.jpg', title='Morning Glow at Sun Moon Lake 明潭晨彩,日月潭', data-gallery='')
              img(src='https://farm2.static.flickr.com/1623/25654663682_30a79719d2_s.jpg')
            a(href='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_b.jpg', title='Erlenzeisig (Carduelis spinus)', data-gallery='')
              img(src='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_s.jpg')
            a(href='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_b.jpg', title='The Gatekeeper', data-gallery='')
              img(src='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_s.jpg')
            a(href='https://farm2.static.flickr.com/1631/25143902223_dc08b7b911_b.jpg', title='Water Taxi', data-gallery='')
              img(src='https://farm2.static.flickr.com/1631/25143902223_dc08b7b911_s.jpg')
            a(href='https://farm2.static.flickr.com/1529/25770179955_3ea1d19bed_b.jpg', title='Grand Sunbeams', data-gallery='')
              img(src='https://farm2.static.flickr.com/1529/25770179955_3ea1d19bed_s.jpg')
            a(href='https://farm2.static.flickr.com/1662/25489945580_83a21503ed_b.jpg', title='Miss Daisy', data-gallery='')
              img(src='https://farm2.static.flickr.com/1662/25489945580_83a21503ed_s.jpg')
            a(href='https://farm2.static.flickr.com/1543/25748732866_457f7f2f98_b.jpg', title='Crocus meadow', data-gallery='')
              img(src='https://farm2.static.flickr.com/1543/25748732866_457f7f2f98_s.jpg')
            a(href='https://farm2.static.flickr.com/1669/25486972350_4cc4e7e4df_b.jpg', title='Frosty Winter Morning', data-gallery='')
              img(src='https://farm2.static.flickr.com/1669/25486972350_4cc4e7e4df_s.jpg')
            a(href='https://farm2.static.flickr.com/1659/25783368735_68db5203b7_b.jpg', title='Lovely Silver', data-gallery='')
              img(src='https://farm2.static.flickr.com/1659/25783368735_68db5203b7_s.jpg')
            a(href='https://farm2.static.flickr.com/1569/25151330144_12bce9fc58_b.jpg', title='Fioregiallo ti ha detto di stare fermo!!!', data-gallery='')
              img(src='https://farm2.static.flickr.com/1569/25151330144_12bce9fc58_s.jpg')
            a(href='https://farm2.static.flickr.com/1552/25758002076_914a9f88c7_b.jpg', title='Breaking through the morning mist', data-gallery='')
              img(src='https://farm2.static.flickr.com/1552/25758002076_914a9f88c7_s.jpg')
            a(href='https://farm2.static.flickr.com/1512/25666489742_a316788332_b.jpg', title='Red #2', data-gallery='')
              img(src='https://farm2.static.flickr.com/1512/25666489742_a316788332_s.jpg')
            a(href='https://farm2.static.flickr.com/1613/25786957245_363b0ba768_b.jpg', title='Notocrypta feisthamelii - the Spotted Demon', data-gallery='')
              img(src='https://farm2.static.flickr.com/1613/25786957245_363b0ba768_s.jpg')
            a(href='https://farm2.static.flickr.com/1563/25761521436_631769c2de_b.jpg', title='red light', data-gallery='')
              img(src='https://farm2.static.flickr.com/1563/25761521436_631769c2de_s.jpg')
            a(href='https://farm2.static.flickr.com/1623/25757678566_c9120dec46_b.jpg', title='Winter Grass', data-gallery='')
              img(src='https://farm2.static.flickr.com/1623/25757678566_c9120dec46_s.jpg')
            a(href='https://farm2.static.flickr.com/1636/25783067575_9712416dfe_b.jpg', title='kinetic nights~ Tokyo', data-gallery='')
              img(src='https://farm2.static.flickr.com/1636/25783067575_9712416dfe_s.jpg')
            a(href='https://farm2.static.flickr.com/1618/25490072990_2a5581f7b2_b.jpg', title='Got Cookie?', data-gallery='')
              img(src='https://farm2.static.flickr.com/1618/25490072990_2a5581f7b2_s.jpg')
            a(href='https://farm2.static.flickr.com/1629/25479297240_596a0134ff_b.jpg', title='Poppy Red [Explored]', data-gallery='')
              img(src='https://farm2.static.flickr.com/1629/25479297240_596a0134ff_s.jpg')
            a(href='https://farm2.static.flickr.com/1561/25162093084_88c876c83d_b.jpg', title='Red bulles', data-gallery='')
              img(src='https://farm2.static.flickr.com/1561/25162093084_88c876c83d_s.jpg')
            a(href='https://farm2.static.flickr.com/1476/25147387453_8a51f464fd_b.jpg', title='M305 Sport', data-gallery='')
              img(src='https://farm2.static.flickr.com/1476/25147387453_8a51f464fd_s.jpg')
            a(href='https://farm2.static.flickr.com/1657/25469595900_7ef87d5d9a_b.jpg', title='bottle of red...  [Explore-2016-03-14]', data-gallery='')
              img(src='https://farm2.static.flickr.com/1657/25469595900_7ef87d5d9a_s.jpg')
            a(href='https://farm2.static.flickr.com/1702/25475614400_2089cd2a73_b.jpg', title='Pretty Leaves...HMM (Explore 14/3/16)', data-gallery='')
              img(src='https://farm2.static.flickr.com/1702/25475614400_2089cd2a73_s.jpg')
            a(href='https://farm2.static.flickr.com/1558/25149725354_9070590403_b.jpg', title='So much redness', data-gallery='')
              img(src='https://farm2.static.flickr.com/1558/25149725354_9070590403_s.jpg')
            a(href='https://farm2.static.flickr.com/1645/25148588464_6be88a5b8e_b.jpg', title='s h i r a z', data-gallery='')
              img(src='https://farm2.static.flickr.com/1645/25148588464_6be88a5b8e_s.jpg')
            a(href='https://farm2.static.flickr.com/1517/25748523386_0929597870_b.jpg', title='Wisconsin State Capitol', data-gallery='')
              img(src='https://farm2.static.flickr.com/1517/25748523386_0929597870_s.jpg')
            a(href='https://farm2.static.flickr.com/1663/25154439953_83aa918993_b.jpg', title='Xpuhil II', data-gallery='')
              img(src='https://farm2.static.flickr.com/1663/25154439953_83aa918993_s.jpg')
            a(href='https://farm2.static.flickr.com/1666/25789185705_b25830d898_b.jpg', title='Roofs of Bergen', data-gallery='')
              img(src='https://farm2.static.flickr.com/1666/25789185705_b25830d898_s.jpg')
            a(href='https://farm2.static.flickr.com/1516/25748486716_3160a9e3db_b.jpg', title='Some like it hot! - explored 14/3/2016', data-gallery='')
              img(src='https://farm2.static.flickr.com/1516/25748486716_3160a9e3db_s.jpg')
            a(href='https://farm2.static.flickr.com/1483/25162095583_f9bf177659_b.jpg', title='OMO RIVER', data-gallery='')
              img(src='https://farm2.static.flickr.com/1483/25162095583_f9bf177659_s.jpg')
            a(href='https://farm2.static.flickr.com/1563/25493114740_c5f2ab3148_b.jpg', title='Sunset at Lake Constance Vol.2', data-gallery='')
              img(src='https://farm2.static.flickr.com/1563/25493114740_c5f2ab3148_s.jpg')
            a(href='https://farm2.static.flickr.com/1715/25480463460_3db659598d_b.jpg', title='estudio de retrato de chica de mädrid sobre calle de mädrid', data-gallery='')
              img(src='https://farm2.static.flickr.com/1715/25480463460_3db659598d_s.jpg')
            a(href='https://farm2.static.flickr.com/1575/25694513311_b0245661a0_b.jpg', title='Red Tulip from within', data-gallery='')
              img(src='https://farm2.static.flickr.com/1575/25694513311_b0245661a0_s.jpg')
            a(href='https://farm2.static.flickr.com/1631/25164269513_a732763d72_b.jpg', title='Mirroring', data-gallery='')
              img(src='https://farm2.static.flickr.com/1631/25164269513_a732763d72_s.jpg')
            a(href='https://farm2.static.flickr.com/1669/25159228544_eb43074202_b.jpg', title='Red Butterfly - Crimson Rose (Pachliopta hector)', data-gallery='')
              img(src='https://farm2.static.flickr.com/1669/25159228544_eb43074202_s.jpg')
            a(href='https://farm2.static.flickr.com/1526/25480698390_a9e83b14ee_b.jpg', title='Through the Gun Barrel', data-gallery='')
              img(src='https://farm2.static.flickr.com/1526/25480698390_a9e83b14ee_s.jpg')
            a(href='https://farm2.static.flickr.com/1556/25689721411_92cabf14a9_b.jpg', title='Crystal Cave', data-gallery='')
              img(src='https://farm2.static.flickr.com/1556/25689721411_92cabf14a9_s.jpg')
            a(href='https://farm2.static.flickr.com/1616/25781233115_0de808d12c_b.jpg', title='Soothes The Soul', data-gallery='')
              img(src='https://farm2.static.flickr.com/1616/25781233115_0de808d12c_s.jpg')
            a(href='https://farm2.static.flickr.com/1514/25157573294_883d6799e2_b.jpg', title='Color of Serenity', data-gallery='')
              img(src='https://farm2.static.flickr.com/1514/25157573294_883d6799e2_s.jpg')
            a(href='https://farm2.static.flickr.com/1632/25152527814_0c04d2e71d_b.jpg', title='Thorns and blooms', data-gallery='')
              img(src='https://farm2.static.flickr.com/1632/25152527814_0c04d2e71d_s.jpg')
            a(href='https://farm2.static.flickr.com/1595/25754873276_ecfb436253_b.jpg', title='crossing the street.  #Lyon', data-gallery='')
              img(src='https://farm2.static.flickr.com/1595/25754873276_ecfb436253_s.jpg')
            a(href='https://farm2.static.flickr.com/1641/25161967064_dcf0f8e977_b.jpg', title='Últimas luces / Last lights', data-gallery='')
              img(src='https://farm2.static.flickr.com/1641/25161967064_dcf0f8e977_s.jpg')
            a(href='https://farm2.static.flickr.com/1587/25155700834_93880f64de_b.jpg', title='Blue blew', data-gallery='')
              img(src='https://farm2.static.flickr.com/1587/25155700834_93880f64de_s.jpg')
            a(href='https://farm2.static.flickr.com/1611/25148131374_ce36437639_b.jpg', title='That Borealis', data-gallery='')
              img(src='https://farm2.static.flickr.com/1611/25148131374_ce36437639_s.jpg')
            a(href='https://farm2.static.flickr.com/1575/25164017654_13d0f740ff_b.jpg', title='Mainline', data-gallery='')
              img(src='https://farm2.static.flickr.com/1575/25164017654_13d0f740ff_s.jpg')
            a(href='https://farm2.static.flickr.com/1542/25652778062_6cc4cb9ec6_b.jpg', title='El hongo rojo', data-gallery='')
              img(src='https://farm2.static.flickr.com/1542/25652778062_6cc4cb9ec6_s.jpg')
            a(href='https://farm2.static.flickr.com/1685/25788833265_c5f92e14fb_b.jpg', title='Red accessories', data-gallery='')
              img(src='https://farm2.static.flickr.com/1685/25788833265_c5f92e14fb_s.jpg')
            a(href='https://farm2.static.flickr.com/1578/25163184444_7d89f69866_b.jpg', title='Red HMM', data-gallery='')
              img(src='https://farm2.static.flickr.com/1578/25163184444_7d89f69866_s.jpg')
            a(href='https://farm2.static.flickr.com/1474/25664995272_4e638fd7bb_b.jpg', title='New Taipei City - Guihou Seashore (4)', data-gallery='')
              img(src='https://farm2.static.flickr.com/1474/25664995272_4e638fd7bb_s.jpg')
            a(href='https://farm2.static.flickr.com/1601/25793949875_b986cf4a1d_b.jpg', title='Erin', data-gallery='')
              img(src='https://farm2.static.flickr.com/1601/25793949875_b986cf4a1d_s.jpg')
            a(href='https://farm2.static.flickr.com/1663/25654118972_40b185e820_b.jpg', title='Blush', data-gallery='')
              img(src='https://farm2.static.flickr.com/1663/25654118972_40b185e820_s.jpg')
            a(href='https://farm2.static.flickr.com/1634/25694524171_b12133c53a_b.jpg', title='Drop', data-gallery='')
              img(src='https://farm2.static.flickr.com/1634/25694524171_b12133c53a_s.jpg')
            a(href='https://farm2.static.flickr.com/1614/25479497930_d19e07b58a_b.jpg', title='Red (Explored - Thank You!)  Macro Monday- 2/52', data-gallery='')
              img(src='https://farm2.static.flickr.com/1614/25479497930_d19e07b58a_s.jpg')
            a(href='https://farm2.static.flickr.com/1594/25686208081_52f69b4f57_b.jpg', title='Rollicking Reds', data-gallery='')
              img(src='https://farm2.static.flickr.com/1594/25686208081_52f69b4f57_s.jpg')
            a(href='https://farm2.static.flickr.com/1521/25685061111_49b0746988_b.jpg', title='Violet', data-gallery='')
              img(src='https://farm2.static.flickr.com/1521/25685061111_49b0746988_s.jpg')
            a(href='https://farm2.static.flickr.com/1612/25675391151_00ab4e2e62_b.jpg', title='Hand in hand', data-gallery='')
              img(src='https://farm2.static.flickr.com/1612/25675391151_00ab4e2e62_s.jpg')
            a(href='https://farm2.static.flickr.com/1687/25161324284_3f3dd8d2f3_b.jpg', title='Warmth', data-gallery='')
              img(src='https://farm2.static.flickr.com/1687/25161324284_3f3dd8d2f3_s.jpg')
            a(href='https://farm2.static.flickr.com/1611/25149995914_82e93f4d99_b.jpg', title='Wild Flowers', data-gallery='')
              img(src='https://farm2.static.flickr.com/1611/25149995914_82e93f4d99_s.jpg')
            a(href='https://farm2.static.flickr.com/1645/25151475284_3f8e3db927_b.jpg', title='Rose petal  [Explored 3/14/16 #58]', data-gallery='')
              img(src='https://farm2.static.flickr.com/1645/25151475284_3f8e3db927_s.jpg')
            a(href='https://farm2.static.flickr.com/1618/25151163374_d6c165f09e_b.jpg', title='MM Red Chain', data-gallery='')
              img(src='https://farm2.static.flickr.com/1618/25151163374_d6c165f09e_s.jpg')
            a(href='https://farm2.static.flickr.com/1601/25661410232_a426625dea_b.jpg', title='Mediterranean Sea', data-gallery='')
              img(src='https://farm2.static.flickr.com/1601/25661410232_a426625dea_s.jpg')
            a(href='https://farm2.static.flickr.com/1478/25655697712_18b04b1b40_b.jpg', title='Hair clip  (Explore 15-03-2016)', data-gallery='')
              img(src='https://farm2.static.flickr.com/1478/25655697712_18b04b1b40_s.jpg')
            a(href='https://farm2.static.flickr.com/1631/25769510985_ac2e744a3c_b.jpg', title='Oh What A Tangled Web We Weave....   (Explored 15/3/16)', data-gallery='')
              img(src='https://farm2.static.flickr.com/1631/25769510985_ac2e744a3c_s.jpg')
            a(href='https://farm2.static.flickr.com/1536/25670647262_1bcfdb8ff9_b.jpg', title='Chaffinch', data-gallery='')
              img(src='https://farm2.static.flickr.com/1536/25670647262_1bcfdb8ff9_s.jpg')
            a(href='https://farm2.static.flickr.com/1708/25660523522_6a3a2b3b40_b.jpg', title='Kakegawajou castle and cherry blossoms (2)', data-gallery='')
              img(src='https://farm2.static.flickr.com/1708/25660523522_6a3a2b3b40_s.jpg')
            a(href='https://farm2.static.flickr.com/1554/25693933551_67dc9e1e8a_b.jpg', title='Rapid City IV', data-gallery='')
              img(src='https://farm2.static.flickr.com/1554/25693933551_67dc9e1e8a_s.jpg')
            a(href='https://farm2.static.flickr.com/1640/25160199704_21da214f2a_b.jpg', title='Bald vorbei', data-gallery='')
              img(src='https://farm2.static.flickr.com/1640/25160199704_21da214f2a_s.jpg')
            a(href='https://farm2.static.flickr.com/1557/25485297420_57fd2f81c2_b.jpg', title='Rovinj.', data-gallery='')
              img(src='https://farm2.static.flickr.com/1557/25485297420_57fd2f81c2_s.jpg')
            a(href='https://farm2.static.flickr.com/1653/25481051470_3d1856e38d_b.jpg', title='Frozen Berries', data-gallery='')
              img(src='https://farm2.static.flickr.com/1653/25481051470_3d1856e38d_s.jpg')
            a(href='https://farm2.static.flickr.com/1683/25688826891_b727706580_b.jpg', title='Incoming!', data-gallery='')
              img(src='https://farm2.static.flickr.com/1683/25688826891_b727706580_s.jpg')
            a(href='https://farm2.static.flickr.com/1542/25684502981_5c5ef0db98_b.jpg', title='The Cigar Galaxy, M82', data-gallery='')
              img(src='https://farm2.static.flickr.com/1542/25684502981_5c5ef0db98_s.jpg')
            a(href='https://farm2.static.flickr.com/1458/25668902312_d2876d9b56_b.jpg', title='Red Texture twirl', data-gallery='')
              img(src='https://farm2.static.flickr.com/1458/25668902312_d2876d9b56_s.jpg')
            a(href='https://farm2.static.flickr.com/1498/25164376814_97cec6d216_b.jpg', title='Saddle Tor', data-gallery='')
              img(src='https://farm2.static.flickr.com/1498/25164376814_97cec6d216_s.jpg')
            a(href='https://farm2.static.flickr.com/1445/25667161782_ff3a70eb36_b.jpg', title='Red Melamine Kitchen Skimmer', data-gallery='')
              img(src='https://farm2.static.flickr.com/1445/25667161782_ff3a70eb36_s.jpg')
            a(href='https://farm2.static.flickr.com/1498/25654969922_baa959fcc4_b.jpg', title='house  hunting', data-gallery='')
              img(src='https://farm2.static.flickr.com/1498/25654969922_baa959fcc4_s.jpg')
            a(href='https://farm2.static.flickr.com/1532/25156345563_08bc2799f6_b.jpg', title='Fridge Magnet Red', data-gallery='')
              img(src='https://farm2.static.flickr.com/1532/25156345563_08bc2799f6_s.jpg')
            a(href='https://farm2.static.flickr.com/1622/25686303151_e7847e1daf_b.jpg', title='An Icon', data-gallery='')
              img(src='https://farm2.static.flickr.com/1622/25686303151_e7847e1daf_s.jpg')
            a(href='https://farm2.static.flickr.com/1514/25159895294_8a29be16fe_b.jpg', title='Ashbringer', data-gallery='')
              img(src='https://farm2.static.flickr.com/1514/25159895294_8a29be16fe_s.jpg')
            a(href='https://farm2.static.flickr.com/1614/25139092924_c8d8c596c9_b.jpg', title='Finish in Rapa Nui', data-gallery='')
              img(src='https://farm2.static.flickr.com/1614/25139092924_c8d8c596c9_s.jpg')
            a(href='https://farm2.static.flickr.com/1653/25153413133_97cb2e066f_b.jpg', title='Heute bleibt die Küche kalt', data-gallery='')
              img(src='https://farm2.static.flickr.com/1653/25153413133_97cb2e066f_s.jpg')
            a(href='https://farm2.static.flickr.com/1486/25685670521_280ac0e2a9_b.jpg', title='Red pendant', data-gallery='')
              img(src='https://farm2.static.flickr.com/1486/25685670521_280ac0e2a9_s.jpg')
            a(href='https://farm2.static.flickr.com/1555/25471490240_2454a7d5b3_b.jpg', title='Red LEDs - 1 lit', data-gallery='')
              img(src='https://farm2.static.flickr.com/1555/25471490240_2454a7d5b3_s.jpg')
            a(href='https://farm2.static.flickr.com/1527/25680003461_ba98e8d161_b.jpg', title='1359 (explored)', data-gallery='')
              img(src='https://farm2.static.flickr.com/1527/25680003461_ba98e8d161_s.jpg')
            a(href='https://farm2.static.flickr.com/1441/25753779026_ccd6a6cd40_b.jpg', title='Macro Mondays - Red (Explored 14th March 2016)', data-gallery='')
              img(src='https://farm2.static.flickr.com/1441/25753779026_ccd6a6cd40_s.jpg')
            a(href='https://farm2.static.flickr.com/1529/25470023200_0dfa202675_b.jpg', title='Red Tulips', data-gallery='')
              img(src='https://farm2.static.flickr.com/1529/25470023200_0dfa202675_s.jpg')
            a(href='https://farm2.static.flickr.com/1660/25794261335_106e96ab7b_b.jpg', title='Sunset,Dingle', data-gallery='')
              img(src='https://farm2.static.flickr.com/1660/25794261335_106e96ab7b_s.jpg')
            a(href='https://farm2.static.flickr.com/1496/25762650616_a6f9b65a97_b.jpg', title='Messy Red', data-gallery='')
              img(src='https://farm2.static.flickr.com/1496/25762650616_a6f9b65a97_s.jpg')
            a(href='https://farm2.static.flickr.com/1489/25477669420_c2bcaee07b_b.jpg', title='inverno, ultimi giorni', data-gallery='')
              img(src='https://farm2.static.flickr.com/1489/25477669420_c2bcaee07b_s.jpg')
            a(href='https://farm2.static.flickr.com/1565/25490888660_242eb8ce26_b.jpg', title='2016-03-05 P8350250 And the hens all fainted (please view large)', data-gallery='')
              img(src='https://farm2.static.flickr.com/1565/25490888660_242eb8ce26_s.jpg')
            a(href='https://farm2.static.flickr.com/1519/25156466614_4897bf26e4_b.jpg', title='Red string', data-gallery='')
              img(src='https://farm2.static.flickr.com/1519/25156466614_4897bf26e4_s.jpg')
            a(href='https://farm2.static.flickr.com/1468/25151894774_649a0a2e94_b.jpg', title='Red cold-pressed juice (Explored)', data-gallery='')
              img(src='https://farm2.static.flickr.com/1468/25151894774_649a0a2e94_s.jpg')
            a(href='https://farm2.static.flickr.com/1454/25157223834_04890917df_b.jpg', title='sweet red', data-gallery='')
              img(src='https://farm2.static.flickr.com/1454/25157223834_04890917df_s.jpg')
            a(href='https://farm2.static.flickr.com/1635/25155401683_c6c402d253_b.jpg', title='72/366 Rojo RED', data-gallery='')
              img(src='https://farm2.static.flickr.com/1635/25155401683_c6c402d253_s.jpg')
            a(href='https://farm2.static.flickr.com/1533/25686275561_68d13f60f7_b.jpg', title='philippine macaque (hiatus photo) explore', data-gallery='')
              img(src='https://farm2.static.flickr.com/1533/25686275561_68d13f60f7_s.jpg')
            a(href='https://farm2.static.flickr.com/1705/25155937803_e5e1020fcc_b.jpg', title='spring is in the air!', data-gallery='')
              img(src='https://farm2.static.flickr.com/1705/25155937803_e5e1020fcc_s.jpg')
            a(href='https://farm2.static.flickr.com/1582/25668025512_721b4c7bbe_b.jpg', title='Sunday Morning Magic', data-gallery='')
              img(src='https://farm2.static.flickr.com/1582/25668025512_721b4c7bbe_s.jpg')
            a(href='https://farm2.static.flickr.com/1509/25484955000_becfc51834_b.jpg', title='Look into the Crystal Ball', data-gallery='')
              img(src='https://farm2.static.flickr.com/1509/25484955000_becfc51834_s.jpg')
            a(href='https://farm2.static.flickr.com/1616/25781029525_e67846d202_b.jpg', title='Macro Mondays - Red', data-gallery='')
              img(src='https://farm2.static.flickr.com/1616/25781029525_e67846d202_s.jpg')
            a(href='https://farm2.static.flickr.com/1660/25763617816_ffe61e3b1c_b.jpg', title='Anas platyrhynchos ♀ – germano reale – Mallard', data-gallery='')
              img(src='https://farm2.static.flickr.com/1660/25763617816_ffe61e3b1c_s.jpg')
            a(href='https://farm2.static.flickr.com/1715/25698353651_3626847fcc_b.jpg', title='Carpediem', data-gallery='')
              img(src='https://farm2.static.flickr.com/1715/25698353651_3626847fcc_s.jpg')
  
    
br
br
#blueimp-gallery.blueimp-gallery
    .slides
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator
