include partial_header
br
br
.text-center
  h3
    strong THANK YOU
    
br
.col-sm-12.col-md-8.col-lg-8.col-md-offset-2.col-lg-offset-2
  .panel.panel-default
    .panel-body
      .well
        p blah blah blah
        br
        p blah blah blah
        br
        p blah blah blah
        br
        a.btn.btn-default(href="home") Go To Home Page