// header(style="background-color:#e0e0e0; color: #999999; padding: 4px;")
//   | blah


include partial_header
br
.container
  .row
    .col-md-1
    .col-md-4.bg-default.text-center
      h4
        strong #{company.company_phone}
    .col-md-1
    .col-md-5.bg-primary.text-center(style="border: 1px solid black;")
      h4
        strong REQUEST AN APPOINTMENT
    .col-md-1

br

#myCarousel.carousel.slide
  .carousel-inner
    .item.active
      img.image-responsive(src='http://lorempixel.com/g/400/200/' alt='' style="width:100%;")
      .container
        .carousel-caption
          h1 Example headline.
          p.lead
            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          
    .item
      img.image-responsive(src='http://lorempixel.com/g/400/200/' alt='' style="width:100%;")
      .container
        .carousel-caption
          h1 Another example headline.
          p.lead
            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          
    .item
      img.image-responsive(src='http://lorempixel.com/g/400/200/' alt='' style="width:100%;")
      .container
        .carousel-caption
          h1 One more for good measure.
          p.lead
            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          
  a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
  a.right.carousel-control(href='#myCarousel', data-slide='next') ›

.container-fuild.bg-default
  .row
    .col-md-10.col-md-offset-1
      br
      h3 #{site.bio.title || "A business for you"}
      if site && site.bio && site.bio.paragraphs
        each paragraph in site.bio.paragraphs
          p
            | #{paragraph.line}
          br
      
      .btn.btn-primary View Services
      br
      br
.container-fuild.bg-primary
  .row(style="padding: 10px 0px 10px 0px;")
    .col-md-2.col-md-offset-1
      h5
        | Connect with us
    .col-md-2.col-md-offset-1
      h4
        strong facebook
    .col-md-2.col-md-offset-1
      h4
        i.fa.fa-yelp
        strong &nbsp; yelp
    .col-md-2.col-md-offset-1
      h4
        strong AngiesList
.container-fuild.well.text-center(style="padding: 20px 0px 20px 0px;border-radius:0px;")
  .row
    br
    p(style="color:gold;")
      i.fa.fa-star.fa-3x
      i.fa.fa-star.fa-3x
      i.fa.fa-star.fa-3x
      i.fa.fa-star.fa-3x
      i.fa.fa-star.fa-3x
    
    h3 5 STAR REVIEWS
    br
    .col-md-10.col-md-offset-1
      #carousel-example-generic.carousel.slide(data-ride='carousel' style="width:100%;")
        a.btn.btn-default(href='#carousel-example-generic', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        | &nbsp; 
        a.btn.btn-default(href="reviews") View All
        | &nbsp; 
        a.btn.btn-default(href='#carousel-example-generic', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
        br
        br
        // Wrapper for slides
        
        .carousel-inner(role='listbox')
          .item.active
            .col-md-8.col-md-offset-2(style="min-height: 100px;")
              h4
                | At 7:30 a.m. we discovered we had no hot water, and the basement was flooded. I called Keithley Plumbing immediately. Dan Kiethley was here in 20 minutes and confirmed we needed a new water heater. By 10:30 he and his crew obtained and installed a new heater and pumped out the water in the basement. We could't have asked for better or quicker service. For the past ten years we have used Keithley for all our plumbing needs from a major complete copper repiping of the whole house to a minor drain problem. They are simply the best we have used in the 40 years we have been in this house.
                br
                br
              h3
                strong Bob Smith
                br
                | Pasadena, Ca
          .item
            .col-md-8.col-md-offset-2(style="min-height: 100px;")
              h4
                | I recommend everyone uses Keithley plumbing! They are a great and reliable business. We had been having issues with our bathtub for years and had it worked on many times and something would always go wrong with it. We hired these guys to do the work and they were quick and efficient. They also cleaned up after themselves and we have had no problems with our bathtub since. They were honest and very affordable! We will be using them from now on for any plumbing jobs! Thanks guys!
                br
                br
              h3  
                strong Al Gore
                br
                | Pasadena, Ca
                
        // Controls
        br
        a.btn.btn-default(href='#carousel-example-generic', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        | &nbsp; 
        a.btn.btn-default(href="reviews") View All
        | &nbsp; 
        a.btn.btn-default(href='#carousel-example-generic', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
  br
  br
.container
  .bg-default
    | Powered By: &nbsp; 
    a(href="http://www.turtlesites.com") Turtle Sites
    .pull-right
      a(href="https://www.turtlesites.com/app") Admin
        
        
        
script.
  !function ($) {
  $(function(){
  $('#myCarousel').carousel()
  })
    }(window.jQuery)
      
