extends layout

block content
  // .page-header
  //   h3 Contact Form
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span Interface
            li.active
              span Panels design
        h2.font-light.m-b-xs
          | Panels design
        small Many panels design give you many possibilities.
    .row
      .col-lg-12
        .hpanel
          .panel-body
            form.form-horizontal(role='form', method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                label(class='col-sm-2 control-label', for='name') Name
                .col-sm-8
                  input.form-control(type='text', name='name', id='name', autofocus=true)
              .form-group
                label(class='col-sm-2 control-label', for='email') Email
                .col-sm-8
                  input.form-control(type='text', name='email', id='email')
              .form-group
                label(class='col-sm-2 control-label', for='message') Body
                .col-sm-8
                  textarea.form-control(type='text', name='message', id='message', rows='7')
              .form-group
                .col-sm-offset-2.col-sm-8
                  button.btn.btn-primary(type='submit')
                    i.fa.fa-envelope
                    | Send