extends ../../../layouts/dashboard_layout

block scripts
  script(src="../../../this/projects/app/payment/scripts/cards.js")
  script(type='text/javascript', src='https://js.stripe.com/v2/')
  script(type='text/javascript').
    Stripe.setPublishableKey('#{stripePubKey}');

block content
  //boiler plate.. default for scaffolding blank layout.
  .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='/app/dashboard') App
              li
                a(href='/app/payment_center') Payment Center
              li.active
                span Thank You
          h2.font-light.m-b-xs
            | Thank You
    .content.animate-panel
      .row
        .col-lg-12
            include ../../../layouts/partials/dashboard/flash
      .row
        .col-lg-12
          .hpanel.hgreen
            .panel-body
              .container-fluid.container-max
                .page-header
                  h1
                    | Billing 
                .page-header
                  h3 Subscription
                form.form-horizontal(id="#{!company.stripe.last4 ? 'cardForm': ''}", action='/app/plan', method='POST')
                  .form-group
                    label.col-sm-3.control-label(for='plan') Plan
                    .col-sm-4
                      each plan in plans
                          .radio
                            label
                              input(type='radio', checked=plan.name == company.stripe.plan, name='plan', value='#{plan.name}', data-toggle='radio')
                              span #{plan.name} - #{plan.price}
                        
                  if !company.stripe.last4
                    #cardWrapper
                      .form-group
                        label.col-sm-3.control-label Test Card Info
                        .col-sm-7
                          .form-control-static
                            | 4242424242424242, 11/19, 123 - 
                            a(href='https://stripe.com/docs/testing') additional test info
                      .form-group
                        label.col-sm-3.control-label Card Number
                        .col-sm-8
                          input#card-num.form-control(type='text' placeholde="#{company.scripe.last4 ? 'XXXX-XXXX-XXXX-#{company.script.last4}':''}")
                      .form-group
                        label.col-sm-3.control-label Card Details
                        .col-sm-8
                            .col-xs-4
                              input#card-month.form-control(type='text', size='2', maxlength='2', placeholder='MM')
                            .col-xs-4
                              input#card-year.form-control(type='text', size='2', maxlength='2', placeholder='YY')
                            .col-xs-4
                              input#card-cvc.form-control(type='text', size='3', maxlength='3', placeholder='CVC')
                      .form-group
                        .col-sm-6
                          #cardFormError.alert.alert-danger.hidden(role='alert')
                            p #{error}
                  .form-group
                    .col-sm-offset-3.col-sm-4
                      input(type='hidden', name='_csrf', value=_csrf)
                              
                      button.btn.btn-primary(type='submit') Update Plan
                // |     {% if user.stripe.last4 %}
                // .page-header
                //   h3 Payment Details
                // form#cardForm.form-horizontal(role='form', action='/user/billing', method='POST')
                //   .form-group
                //     label.col-sm-3.control-label Test Card Info
                //     .col-sm-7
                //       .form-control-static
                //         | 4242424242424242, 11/19, 123 - 
                //         a(href='https://stripe.com/docs/testing') additional test cards
                //   .form-group
                //     label.col-sm-3.control-label Card Number
                //     .col-sm-4
                //       input#card-num.form-control(type='text', placeholder='XXXX XXXX XXXX {{user.stripe.last4}}')
                //   .form-group
                //     label.col-sm-3.control-label Card Details
                //     .col-sm-4
                //       .row
                //         .col-xs-4
                //           input#card-month.form-control(type='text', size='2', maxlength='2', placeholder='MM')
                //         .col-xs-4
                //           input#card-year.form-control(type='text', size='2', maxlength='2', placeholder='YY')
                //         .col-xs-4
                //           input#card-cvc.form-control(type='text', size='3', maxlength='3', placeholder='CVC')
                //   .form-group
                //     .col-sm-6
                //       #cardFormError.alert.alert-danger.hidden(role='alert')
                //         p {{error}}
                //   .form-group
                //     .col-sm-offset-3.col-sm-4
                //       button.btn.btn-primary(type='submit') Update Card
                // |     {% endif %}
                