html
  head
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
  body
    script(type="text/javascript")
      -function prettyMoney(number){
        -return (number.toFixed(2) + "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      -}
      
    .container
      .row
        .col-xs-12
          .text-center
            i.fa.fa-search-plus.pull-left.icon
            h2 Invoice for purchase ##{invoice.id}
          hr
          .row
            .col-xs-12.col-md-3.col-lg-3.pull-left
              .panel.panel-default.height
                .panel-heading From
                .panel-body
                  strong #{invoice.panel_2_company_url}
                  br
                  |                             #{invoice.panel_2_company_address1}
                  if invoice.panel_2_company_address2 && invoice.panel_2_company_address2.length > 0
                    br
                    | #{invoice.panel_2_company_address2}
                  br
                  |                             #{invoice.panel_2_company_city} , #{invoice.panel_2_company_state} #{invoice.panel_2_company_zip}
                
            .col-xs-12.col-md-3.col-lg-3
              .panel.panel-default.height
                .panel-heading To
                .panel-body
                  strong #{invoice.panel_3_company_name}
                  br
                  |                             #{invoice.panel_3_company_address1}
                  if invoice.panel_3_company_address2 && invoice.panel_3_company_address2.length > 0
                    br
                    | #{invoice.panel_3_company_address2}
                  br
                  |                             #{invoice.panel_3_company_city} , #{invoice.panel_3_company_state} #{invoice.panel_3_company_zip}
                
            .col-xs-12.col-md-3.col-lg-3
              .panel.panel-default.height
                .panel-heading Billing Details
                .panel-body
                  strong Due Date:
                  |  #{invoice.dueDate}
                  br
                  strong Statement Date:
                  |  #{invoice.statement_date}
                  br
                  strong Service Start Date:
                  |  #{invoice.service_period_start}
                  br
                  strong Service End Date:
                  |  #{invoice.service_period_end}
                  br
            .col-xs-12.col-md-3.col-lg-3.pull-right
              .panel.panel-default.height
                .panel-heading Message
                .panel-body
                  strong #{invoice.panel_4_message}
                  br
                  a(style="color:blue; text-decoration: underline" href="/app/payment_issue") Click Here 
                  br
                  strong or call/email
                  br
                  | #{appSetting.phone}
                  br
                  | #{appSetting.email}
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading
              h3.text-center
                strong Order summary
            .panel-body
              .table-responsive
                table.table.table-condensed
                  thead
                    tr
                      td
                        strong Item Name
                      td.text-center
                        strong Item Price
                      td.text-center
                        strong Item Quantity
                      td.text-right
                        strong Total
                  tbody
                    each item in invoice.items
                      tr
                        td #{item.name}
                        td.text-center $#{prettyMoney(item.price)}
                        td.text-center #{item.quantity}
                        td.text-right $#{prettyMoney(item.total)}
                    tr
                      td.highrow
                      td.highrow
                      td.highrow.text-center
                        strong Subtotal
                      td.highrow.text-right $#{prettyMoney(invoice.subtotal)}
                    tr
                      td.emptyrow
                      td.emptyrow
                      td.emptyrow.text-center
                        strong Tax
                      td.emptyrow.text-right $#{prettyMoney(invoice.taxTotal)}
                    tr
                      td.emptyrow
                        i.fa.fa-barcode.iconbig
                      td.emptyrow
                      td.emptyrow.text-center
                        strong Total
                      td.emptyrow.text-right $#{prettyMoney(invoice.total)}
    style.
      .height {
      min-height: 200px;
      }
      .icon {
      font-size: 47px;
      color: #5CB85C;
      }
      .iconbig {
      font-size: 77px;
      color: #5CB85C;
      }
      .table > tbody > tr > .emptyrow {
      border-top: none;
      }
      .table > thead > tr > .emptyrow {
      border-bottom: none;
      }
      .table > tbody > tr > .highrow {
      border-top: 3px solid;
      }
