.color-line
#logo.light-version
  span
    | Homer Theme
nav(role='navigation')
  .header-link.hide-menu
    i.fa.fa-bars
  .small-logo
    span.text-primary HOMER APP
  form.navbar-form-custom(role='search', method='post', action='#')
    .form-group
      input.form-control(type='text', placeholder='Search something special', name='search')
  .mobile-menu
    button.navbar-toggle.mobile-menu-toggle(type='button', data-toggle='collapse', data-target='#mobile-collapse')
      i.fa.fa-chevron-down
    #mobile-collapse.collapse.mobile-navbar
      ul.nav.navbar-nav
        li
          a(href='/root/exampleapp/login') Login
        li
          a(href='/root/exampleapp/login') Logout
        li
          a(href='/root/exampleapp/profile') Profile
  .navbar-right
    ul.nav.navbar-nav.no-borders
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.pe-7s-speaker
        ul.dropdown-menu.hdropdown.notification.animated.flipInX
          li
            a
              span.label.label-success NEW
              |  It is a long established.
          li
            a
              span.label.label-warning WAR
              |  There are many variations.
          li
            a
              span.label.label-danger ERR
              |  Contrary to popular belief.
          li.summary
            a(href='#') See all notifications
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.pe-7s-keypad
        .dropdown-menu.hdropdown.bigmenu.animated.flipInX
          table
            tbody
              tr
                td
                  a(href='/root/exampleapp/projects')
                    i.pe.pe-7s-portfolio.text-info
                    h5 Projects
                td
                  a(href='/root/exampleapp/mailbox')
                    i.pe.pe-7s-mail.text-warning
                    h5 Email
                td
                  a(href='/root/exampleapp/contacts')
                    i.pe.pe-7s-users.text-success
                    h5 Contacts
              tr
                td
                  a(href='/root/exampleapp/forum')
                    i.pe.pe-7s-comment.text-info
                    h5 Forum
                td
                  a(href='/root/exampleapp/analytics')
                    i.pe.pe-7s-graph1.text-danger
                    h5 Analytics
                td
                  a(href='/root/exampleapp/file_manager')
                    i.pe.pe-7s-box1.text-success
                    h5 Files
      li.dropdown
        a.dropdown-toggle.label-menu-corner(href='#', data-toggle='dropdown')
          i.pe-7s-mail
          span.label.label-success 4
        ul.dropdown-menu.hdropdown.animated.flipInX
          .title
            | You have 4 new messages
          li
            a
              | It is a long established.
          li
            a
              | There are many variations.
          li
            a
              | Lorem Ipsum is simply dummy.
          li
            a
              | Contrary to popular belief.
          li.summary
            a(href='#') See All Messages
      li
        a#sidebar.right-sidebar-toggle(href='#')
          i.pe-7s-upload.pe-7s-news-paper
      li.dropdown
        a(href='/root/exampleapp/login')
          i.pe-7s-upload.pe-rotate-90

// .navbar.navbar-default.navbar-fixed-top
   .container
     .navbar-header
       button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
//         span.sr-only Toggle navigation
//         span.icon-bar
//         span.icon-bar
//         span.icon-bar
//       a.navbar-brand(href='/')
//         i.fa.fa-cube
//         | Project name
//     .collapse.navbar-collapse
//       ul.nav.navbar-nav
//         li(class=title=='Home'?'active':undefined)
//           a(href='/') Home
//         li(class=title=='API Examples'?'active':undefined)
//           a(href='/api') API Examples
//         li(class=title=='Contact'?'active':undefined)
//           a(href='/contact') Contact
//       ul.nav.navbar-nav.navbar-right
//         if !user
//           li(class=title=='Login'?'active':undefined)
//             a(href='/login') Login
//           li(class=title=='Create Account'?'active':undefined)
//             a(href='/signup') Create Account
//         else
//           li.dropdown(class=title=='Account Management'?'active':undefined)
//             a.dropdown-toggle(href='#', data-toggle='dropdown')
//               if user.profile.picture
//                 img(src='#{user.profile.picture}')
//               else
//                 img(src='#{user.gravatar(60)}')
//               | #{user.profile.name || user.email || user.id}&nbsp;
//               i.caret
//             ul.dropdown-menu
//               li
//                 a(href='/account') My Account
//               li.divider
//               li
// //                 a(href='/logout') Logout