.profile-picture
  a(href='/root/exampleapp/index')
    img.img-circle.m-b(src='/images/profile.jpg', alt='logo')
  .stats-label.text-color
    span.font-extra-bold.font-uppercase Robert Razer
    .dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        small.text-muted
          | Founder of App 
          b.caret
      ul.dropdown-menu.animated.fadeInRight.m-t-xs
        li
          a(href='/root/exampleapp/contacts') Contacts
        li
          a(href='/root/exampleapp/profile') Profile
        li
          a(href='/root/exampleapp/analytics') Analytics
        li.divider
        li
          a(href='/root/exampleapp/login') Logout
    #sparkline1.small-chart.m-t-sm
    div
      h4.font-extra-bold.m-b-xs
        | $260 104,200
      small.text-muted Your income from the last year in sales product X.
ul#side-menu.nav
  li
    a(href='/root/dashboard')
      span.nav-label Back to ROOT
      //span.label.label-success.pull-right v.1
  li
    a(href='/root/exampleapp/index')
      span.nav-label Dashboard
      span.label.label-success.pull-right v.1
  li
    a(href='/root/exampleapp/analytics')
      span.nav-label Analytics
      span.label.label-warning.pull-right NEW
  li
    a(href='#')
      span.nav-label Interface
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/root/exampleapp/panels') Panels design
      li
        a(href='/root/exampleapp/typography') Typography
      li
        a(href='/root/exampleapp/buttons') Colors & Buttons
      li
        a(href='/root/exampleapp/components') Components
      li
        a(href='/root/exampleapp/alerts') Alerts
      li
        a(href='/root/exampleapp/modals') Modals
      li
        a(href='/root/exampleapp/draggable') Draggable panels
      li
        a(href='/root/exampleapp/code_editor') Code editor
      li
        a(href='/root/exampleapp/email_template') Email template
      li
        a(href='/root/exampleapp/nestable_list') List
      li
        a(href='/root/exampleapp/tour') Tour
      li
        a(href='/root/exampleapp/icons') Icons library
  li
    a(href='#')
      span.nav-label App views
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/root/exampleapp/contacts') Contacts
      li
        a(href='/root/exampleapp/projects') Projects
      li
        a(href='/root/exampleapp/project') Project detail
      li
        a(href='/root/exampleapp/app_plans') App plans
      li
        a(href='/root/exampleapp/social_board') Social board
      li
        a(href='/root/exampleapp/faq') FAQ
      li.active
        a(href='/root/exampleapp/timeline') Timeline
      li
        a(href='/root/exampleapp/notes') Notes
      li
        a(href='/root/exampleapp/profile') Profile
      li
        a(href='/root/exampleapp/mailbox') Mailbox
      li
        a(href='/root/exampleapp/mailbox_compose') Email compose
      li
        a(href='/root/exampleapp/mailbox_view') Email view
      li
        a(href='/root/exampleapp/blog') Blog
      li
        a(href='/root/exampleapp/blog_details') Blog article
      li
        a(href='/root/exampleapp/forum') Forum
      li
        a(href='/root/exampleapp/forum_details') Forum details
      li
        a(href='/root/exampleapp/gallery') Gallery
      li
        a(href='/root/exampleapp/calendar') Calendar
      li
        a(href='/root/exampleapp/invoice') Invoice
      li
        a(href='/root/exampleapp/file_manager') File manager
      li
        a(href='/root/exampleapp/chat_view') Chat view
      li
        a(href='/root/exampleapp/search') Search view
  li
    a(href='#')
      span.nav-label Charts
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/root/exampleapp/chartjs') ChartJs
      li
        a(href='/root/exampleapp/flot') Flot charts
      li
        a(href='/root/exampleapp/inline') Inline graphs
      li
        a(href='/root/exampleapp/chartist') Chartist
  li
    a(href='#')
      span.nav-label Box transitions
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/root/exampleapp/overview')
          span.label.label-success.pull-right Start
          |  Overview
      li
        a(href='/root/exampleapp/transition_two') Columns from up
      li
        a(href='/root/exampleapp/transition_one') Columns custom
      li
        a(href='/root/exampleapp/transition_three') Panels zoom
      li
        a(href='/root/exampleapp/transition_four') Rows from down
      li
        a(href='/root/exampleapp/transition_five') Rows from right
  li
    a(href='#')
      span.nav-label Common views
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/root/exampleapp/login') Login
      li
        a(href='/root/exampleapp/register') Register
      li
        a(href='/root/exampleapp/error_one') Error 404
      li
        a(href='/root/exampleapp/error_two') Error 505
      li
        a(href='/root/exampleapp/lock') Lock screen
  li
    a(href='#')
      span.nav-label Tables
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/root/exampleapp/tables_design') Tables design
      li
        a(href='/root/exampleapp/datatables') Data tables
      li
        a(href='/root/exampleapp/footable') Foo Table
  li
    a(href='/root/exampleapp/widgets')
      span.nav-label Widgets
      span.label.label-success.pull-right Special
  li
    a(href='#')
      span.nav-label Forms
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/root/exampleapp/forms_elements') Forms elements
      li
        a(href='/root/exampleapp/forms_extended') Forms extended
      li
        a(href='/root/exampleapp/text_editor') Text editor
      li
        a(href='/root/exampleapp/wizard') Wizard
      li
        a(href='/root/exampleapp/validation') Validation
  li
    a(href='/root/exampleapp/options')
      span.nav-label Layout options
  li
    a(href='/root/exampleapp/grid_system')
      span.nav-label Grid system
  li
    a(href='/root/exampleapp/landing_page')
      span.nav-label Landing page