extends ../../../layouts/dashboard_layout
block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/app/dashboard') App
            li
              a(href='/marketing/site-leads') Leads
            li.active
              span Lead
        h2.font-light.m-b-xs
          | Lead
  .content.animate-panel(ng-app="app" ng-controller='main')
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            .form-horizontal
              .form-group
                label.col-sm-3.control-label First Name:
                .col-sm-9
                  p.control-label.pull-left #{lead.customer.firstName || "n/a"}
              .form-group
                label.col-sm-3.control-label Last Name:
                .col-sm-9
                  p.control-label.pull-left #{lead.customer.lastName || "n/a"}
              .form-group
                label.col-sm-3.control-label Email:
                .col-sm-9
                  p.control-label.pull-left #{lead.customer.email || "n/a"}
              .form-group
                label.col-sm-3.control-label Phone:
                .col-sm-9
                  p.control-label.pull-left #{lead.customer.phoneNumber || "n/a"}
              .form-group
                label.col-sm-3.control-label Message:
                .col-sm-9
                  p.control-label.pull-left(style="text-align: left;") #{lead.message || "n/a"}
              .form-group
                label.col-sm-3.control-label Request Appointment:
                .col-sm-9
                  p.control-label.pull-left(style="text-align: left;") #{lead.requestAppointment || "false"}
              .form-group
                label.col-sm-3.control-label Appointment First Choice:
                .col-sm-9
                  p.control-label.pull-left(style="text-align: left;") #{lead.appointment.firstChoice || "n/a"}
              .form-group
                label.col-sm-3.control-label Appointment Second Choice:
                .col-sm-9
                  p.control-label.pull-left(style="text-align: left;") #{lead.appointment.secondChoice || "n/a"}
              .form-group
                label.col-sm-3.control-label Appointment Thrid Choice:
                .col-sm-9
                  p.control-label.pull-left(style="text-align: left;") #{lead.appointment.thirdChoice || "n/a"}
              .form-group
                label.col-sm-3.control-label
                .col-sm-9
                  p.control-label.pull-left
                    a.btn.btn-default(href="/marketing/site-leads") Back
            