extends ../../../layouts/dashboard_layout
block styles
  link(rel='stylesheet', href='../vendor/datatables_plugins/integration/bootstrap/3/dataTables.bootstrap.css')

block scripts
  script(type='text/javascript', src='/vendor/datatables/media/js/jquery.dataTables.min.js')
  script(type='text/javascript', src='/vendor/datatables_plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')
  script(type='text/javascript').
    $(function() {
    $('#example2').dataTable();
    $('#example2').parent().addClass('table-responsive');
    });
block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/app/dashboard') App
            li.active
              span Leads
        h2.font-light.m-b-xs
          | Leads
  .content.animate-panel(ng-app="app" ng-controller='main')
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
              table#example2.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th Read
                    th View
                    th Name
                    th Phone
                    th Email
                    th Requested Appointment
                tbody
                  each lead in companySiteLead.leads
                    tr
                      td
                        if lead.isRead
                          p(style="color:green")
                            strong Read
                        if !lead.isRead
                          p(style="color:red")
                            strong Not Read
                      td 
                        a(style="color:blue; text-decoration:underline;" href="/marketing/site-lead?id=#{lead.id}") view
                      td #{lead.customer.firstName + ' ' + lead.customer.lastName}
                      td #{lead.customer.phoneNumber}
                      td #{lead.customer.email}
                      td #{lead.requestAppointment}