extends ../../../layouts/example-app_layout

block scripts
  script(src='../../../vendor/sweetalert/lib/sweet-alert.min.js')
  script(src='../../../vendor/toastr/build/toastr.min.js')
  script(src='../../boiler-tech/projects/assets/example-app/scripts/alerts.js')

block styles
  link(rel='stylesheet', href='../../../vendor/sweetalert/lib/sweet-alert.css')
  link(rel='stylesheet', href='../../../vendor/toastr/build/toastr.min.css')
  link(rel='stylesheet', href='../../boiler-tech/projects/assets/example-app/css/static_custom.css')

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/exampleapp/index') Dashboard
            li
              span Interface
            li.active
              span Alerts
        h2.font-light.m-b-xs
          | Alerts
        small Notification and custom alerts
  .content.animate-panel
    .row
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Sweet alert
          .panel-body
            p
              | Sweet Alert is a beautiful replacement for standard Javascript's "Alert".
            table.table.table-hover.table-striped
              thead
                tr
                  th
                    | Examples
                  th
                    | Action
              tbody
                tr
                  td
                    | A basic message
                  td
                    button.btn.btn-primary.btn-sm.demo1 Run example
                tr
                  td
                    | A success message!
                  td
                    button.btn.btn-success.btn-sm.demo2 Run example
                tr
                  td
                    | A warning message, with a function attached to the "Confirm"-button
                  td
                    button.btn.btn-warning.btn-sm.demo3 Run example
                tr
                  td
                    | ... and by passing a parameter, you can execute something else for "Cancel".
                  td
                    button.btn.btn-danger.btn-sm.demo4 Run example
            .m-t-md
              p
                | You can easy add sweet alert in your controller by adding code like this:
              pre.
                \nswal({
                    title: "Good job!",
                    text: "You clicked the button!",
                    type: "success"
                });              
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Toastr notification
          .panel-body
            p
              | Minimalistic and extensible notification service for Homer theme.
            .text-center.float-e-margins
              .font-bold.m Example with Homer template
              button.homerDemo1.btn.btn-info.btn-sm Run example
              button.homerDemo2.btn.btn-success.btn-sm Run example
              button.homerDemo3.btn.btn-warning.btn-sm Run example
              button.homerDemo4.btn.btn-danger.btn-sm Run example
            .m-t-md
              p
                | You can easy add any notification in your scripts by adding code like this:
              pre.
                \nCommand: toastr["success"]("Example message ", "Example title")
                toastr.options = {
                  "closeButton": true,
                  "debug": false,
                  "newestOnTop": false,
                  "progressBar": false,
                  "positionClass": "toast-top-center",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "5000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                }               
