extends ../../../layouts/example-app_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span App views
            li.active
              span App plans
        h2.font-light.m-b-xs
          | App plans
        small Present pricing option for your app
  .content.animate-panel
    .row
      .col-lg-12
        .text-center.m-b-xl
          h3 Best pricing for your app
          p
            | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' and web page editors now use Lorem Ipsum as their default model text, will uncover many web sites still in their infancy.
        .row
          .col-sm-3
            .hpanel.plan-box.hyellow
              .panel-heading.hbuilt.text-center
                h4.font-bold Basic plan
              .panel-body
                p.text-muted
                  | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                table.table
                  thead
                    tr
                      td
                        | Features
                  tbody
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Dashboard
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Project view
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Contacts
                    tr
                      td
                        i.fa.fa-square-o
                        |  Calendar
                    tr
                      td
                        i.fa.fa-square-o
                        |  AngularJS version
                    tr
                      td
                        i.fa.fa-square-o
                        |  Meteor version
                    tr
                      td
                        i.fa.fa-square-o
                        |  Support
                p.text-muted
                  | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                h3.font-bold
                  | $10/month
                a.btn.btn-warning.btn-sm.m-t-xs(href='#') Select plan
          .col-sm-3
            .hpanel.plan-box.hgreen.active
              .panel-heading.hbuilt.text-center
                h4.font-bold Standard plan
              .panel-body
                p.text-muted
                  | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                table.table
                  thead
                    tr
                      td
                        | Features
                  tbody
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Dashboard
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Project view
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Contacts
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Calendar
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  AngularJS version
                    tr
                      td
                        i.fa.fa-square-o
                        |  Meteor version
                    tr
                      td
                        i.fa.fa-square-o
                        |  Support
                p.text-muted
                  | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                h3.font-bold
                  | $20/month
                a.btn.btn-success.btn-sm.m-t-xs(href='#') Select plan
          .col-sm-3
            .hpanel.plan-box.hblue
              .panel-heading.hbuilt.text-center
                h4.font-bold Premium plan
              .panel-body
                p.text-muted
                  | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                table.table
                  thead
                    tr
                      td
                        | Features
                  tbody
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Dashboard
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Project view
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Contacts
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Calendar
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  AngularJS version
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Meteor version
                    tr
                      td
                        i.fa.fa-square-o
                        |  Support
                p.text-muted
                  | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                h3.font-bold
                  | $30/month
                a.btn.btn-info.btn-sm.m-t-xs(href='#') Select plan
          .col-sm-3
            .hpanel.plan-box.hred
              .panel-heading.hbuilt.text-center
                h4.font-bold Prestige plan
              .panel-body
                p.text-muted
                  | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                table.table
                  thead
                    tr
                      td
                        | Features
                  tbody
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Dashboard
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Project view
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Contacts
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Calendar
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  AngularJS version
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Meteor version
                    tr
                      td
                        i.fa.fa-check-square-o
                        |  Support
                p.text-muted
                  | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                h3.font-bold
                  | $40/month
                a.btn.btn-danger.btn-sm.m-t-xs(href='#') Select plan
        hr.m-b-xl
        .row
          .col-sm-3
            .hpanel.plan-box
              .panel-heading.hbuilt.text-center
                h4.font-bold Basic plan
              .panel-body.text-center
                i.pe.pe-7s-cup.big-icon.text-warning
                h4.font-bold
                  | $10/month
                p.text-muted
                  | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                a.btn.btn-warning.btn-sm(href='#') Select basic plan
          .col-sm-3
            .hpanel.plan-box.active
              .panel-heading.hbuilt.text-center
                h4.font-bold Standard plan
              .panel-body.text-center
                i.pe.pe-7s-science.big-icon.text-success
                h4.font-bold
                  | $20/month
                p.text-muted
                  | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                a.btn.btn-success.btn-sm(href='#') Select standard plan
          .col-sm-3
            .hpanel.plan-box
              .panel-heading.hbuilt.text-center
                h4.font-bold Premium plan
              .panel-body.text-center
                i.pe.pe-7s-refresh-cloud.big-icon.text-info
                h4.font-bold
                  | $30/month
                p.text-muted
                  | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                a.btn.btn-info.btn-sm(href='#') Select premium plan
          .col-sm-3
            .hpanel.plan-box
              .panel-heading.hbuilt.text-center
                h4.font-bold Prestige plan
              .panel-body.text-center
                i.pe.pe-7s-server.big-icon.text-danger
                h4.font-bold
                  | $40/month
                p.text-muted
                  | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                a.btn.btn-danger.btn-sm(href='#') Select prestige plan
