extends ../../../layouts/example-app_layout

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span App views
              li.active
                span Chat view
          h2.font-light.m-b-xs
            | Chat view
          small Create a chat rooom in your app
    .content.animate-panel
      .row
        .col-md-12
          .hpanel
            .panel-heading.hbuilt
              .panel-tools
                a.closebox
                  i.fa.fa-times
              |                     Chat room
            .panel-body.no-padding
              .row
                .col-md-9
                  .chat-discussion
                    .chat-message.left
                      img.message-avatar(src='images/a2.jpg', alt='')
                      .message
                        a.message-author(href='#')  Michael Smith 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                    .chat-message.right
                      img.message-avatar(src='images/a2.jpg', alt='')
                      .message
                        a.message-author(href='#')  Michael Smith 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                    .chat-message.left
                      img.message-avatar(src='images/a1.jpg', alt='')
                      .message
                        a.message-author(href='#')  Michael Smith 
                        span.message-date  Mon Jan 26 2015 - 18:39:23 
                        span.message-content
                          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    .chat-message.right
                      img.message-avatar(src='images/a4.jpg', alt='')
                      .message
                        a.message-author(href='#')  Karl Jordan 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                    .chat-message.left
                      img.message-avatar(src='images/a2.jpg', alt='')
                      .message
                        a.message-author(href='#')  Michael Smith 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                    .chat-message.right
                      img.message-avatar(src='images/a5.jpg', alt='')
                      .message
                        a.message-author(href='#')  Alice Jordan 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                          | It uses a dictionary of over 200 Latin words.
                    .chat-message.left
                      img.message-avatar(src='images/a6.jpg', alt='')
                      .message
                        a.message-author(href='#')  Mark Smith 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                          | It uses a dictionary of over 200 Latin words.
                .col-md-3
                  .chat-users
                    .users-list
                      .chat-user
                        span.pull-right.label.label-success Online
                        img.chat-avatar(src='images/a3.jpg', alt='')
                        .chat-user-name
                          a(href='#') Janet Smith
                      .chat-user
                        img.chat-avatar(src='images/a1.jpg', alt='')
                        .chat-user-name
                          a(href='#') Monica Smith
                      .chat-user
                        span.pull-right.label.label-success Online
                        img.chat-avatar(src='images/a2.jpg', alt='')
                        .chat-user-name
                          a(href='#') Michael Smith
                      .chat-user
                        img.chat-avatar(src='images/a4.jpg', alt='')
                        .chat-user-name
                          a(href='#') Karl Jordan
                      .chat-user
                        img.chat-avatar(src='images/a5.jpg', alt='')
                        .chat-user-name
                          a(href='#') Alice Smith
                      .chat-user
                        img.chat-avatar(src='images/a6.jpg', alt='')
                        .chat-user-name
                          a(href='#') Monica Cale
                      .chat-user
                        img.chat-avatar(src='images/a2.jpg', alt='')
                        .chat-user-name
                          a(href='#') Mark Jordan
                      .chat-user
                        span.pull-right.label Online
                        img.chat-avatar(src='images/a3.jpg', alt='')
                        .chat-user-name
                          a(href='#') Janet Smith
                      .chat-user
                        img.chat-avatar(src='images/a4.jpg', alt='')
                        .chat-user-name
                          a(href='#') Karl Jordan
                      .chat-user
                        img.chat-avatar(src='images/a5.jpg', alt='')
                        .chat-user-name
                          a(href='#') Alice Smith
                      .chat-user
                        img.chat-avatar(src='images/a6.jpg', alt='')
                        .chat-user-name
                          a(href='#') Monica Cale
                      .chat-user
                        img.chat-avatar(src='images/a2.jpg', alt='')
                        .chat-user-name
                          a(href='#') Mark Jordan
            .panel-footer
              .input-group
                input.form-control(type='text', placeholder='Type your message here...')
                span.input-group-btn
                  button.btn.btn-success
                    | Send
