extends ../../../layouts/example-app_layout

block scripts
    script(src='../vendor/codemirror/script/codemirror.js')
    script(src='../vendor/codemirror/javascript.js')
    script(src='../scripts/exampleapp/code_editor.js')

block styles
    link(rel='stylesheet', href='../vendor/codemirror/style/codemirror.css')
    
block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span App views
              li.active
                span Code editor
          h2.font-light.m-b-xs
            | Code editor
          small Versatile text editor implemented in JavaScript for the browser.
    .content.animate-panel
      .row
        .col-lg-12
          .hpanel
            .panel-heading
              | Code Editor
            .panel-body
              p
                | CodeMirror is a versatile text editor implemented in JavaScript for the browser. It is specialized for editing code, and comes with a number of language modes and addons that implement more advanced editing functionality.
              textarea#code1.form-control
                | // EDITOR CONSTRUCTOR
                | // A CodeMirror instance represents an editor. This is the object
                | // that user code is usually dealing with.
                | function CodeMirror(place, options) {
                | if (!(this instanceof CodeMirror)) return new CodeMirror(place, options);
                | this.options = options = options ? copyObj(options) : {};
                | // Determine effective options based on given values and defaults.
                | copyObj(defaults, options, false);
                | setGuttersForLineNumbers(options);
                | var doc = options.value;
                | if (typeof doc == "string") doc = new Doc(doc, options.mode);
                | this.doc = doc;
                | var display = this.display = new Display(place, doc);
                | display.wrapper.CodeMirror = this;
                | updateGutters(this);
                | themeChanged(this);
                | if (options.lineWrapping)
                | this.display.wrapper.className += " CodeMirror-wrap";
                | if (options.autofocus && !mobile) focusInput(this);
                | this.state = {
                | keyMaps: [],  // stores maps added by addKeyMap
                | overlays: [], // highlighting overlays, as added by addOverlay
                | modeGen: 0,   // bumped when mode/overlay changes, used to invalidate highlighting info
                | overwrite: false, focused: false,
                | suppressEdits: false, // used to disable editing during key handlers when in readOnly mode
                | pasteIncoming: false, cutIncoming: false, // help recognize paste/cut edits in readInput
                | draggingText: false,
                | highlight: new Delayed() // stores highlight worker timeout
                | };
                | // Override magic textarea content restore that IE sometimes does
                | // on our hidden textarea on reload
                | if (ie && ie_version < 11) setTimeout(bind(resetInput, this, true), 20);
                | registerEventHandlers(this);
                | ensureGlobalHandlers();
                | startOperation(this);
                | this.curOp.forceUpdate = true;
                | attachDoc(this, doc);
                | if ((options.autofocus && !mobile) || activeElt() == display.input)
                | setTimeout(bind(onFocus, this), 20);
                | else
                | onBlur(this);
                | for (var opt in optionHandlers) if (optionHandlers.hasOwnProperty(opt))
                | optionHandlers[opt](this, options[opt], Init);
                | maybeUpdateLineNumberWidth(this);
                | for (var i = 0; i < initHooks.length; ++i) initHooks[i](this);
                | endOperation(this);
                | }
