extends ../../../layouts/example-app_layout

block scripts
    script(src='../vendor/bootstrap-star-rating/js/star-rating.min.js')
    script(src='../scripts/exampleapp/components.js')
    style.
      .rating-container .rating-stars:before {
      text-shadow: none;
      }

block styles
    link(rel='stylesheet', href='../vendor/bootstrap-star-rating/css/star-rating.css')

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span Interface
              li.active
                span Components
          h2.font-light.m-b-xs
            | Components
          small Tabs, according, collapse and other UI components.
    .content.animate-panel
      .row
        .col-lg-6
          .hpanel
            .panel-heading.hbuilt
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                 Accordion directive example
            .panel-body
              .text-center.m-b-md
                h3 Accordion
                small
                  | The accordion directive builds on top of the collapse directive to provide a list of items, with collapsible bodies that are collapsed or expanded by clicking on the item's header.
                br
              #accordion.panel-group(role='tablist', aria-multiselectable='true')
                .panel.panel-default
                  #headingOne.panel-heading(role='tab')
                    h4.panel-title
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                        | Collapsible Group Item #1
                  #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                    .panel-body
                      | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                .panel.panel-default
                  #headingTwo.panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                        | Collapsible Group Item #2
                  #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                    .panel-body
                      | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                .panel.panel-default
                  #headingThree.panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                        | Collapsible Group Item #3
                  #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                    .panel-body
                      | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                .panel.panel-default
                  #headingThree.panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                        | Collapsible Group Item #4
                  #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                    .panel-body
                      | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                .panel.panel-default
                  #headingThree.panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                        | Collapsible Group Item #5
                  #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                    .panel-body
                      | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
        .col-lg-6
          .hpanel
            .panel-heading.hbuilt
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                 Collapse  example
            .panel-body
              .text-center.m-b-md
                h3 Collapse box
                small
                  | AngularJS version of Bootstrap's collapse plugin. Provides a simple way to hide and show an element with a css transition
                br
                button.btn.btn-default.btn-sm(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
                  | Toggle collapse
              #collapseExample.collapse.in
                .well.well-lg
                  h5.font-bold Lorem ipsum
                  |                         A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                  br
                  br
                  |                         I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks.
      .row
        .col-lg-6
          .hpanel
            .panel-heading.hbuilt
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                 Tooltips
            .panel-body
              .text-center.m-b-md
                h3 Tooltips
                small
                  | A lightweight, extensible directive for fancy tooltip creation. The tooltip directive supports multiple placements, optional transition animation, and more.
              .tooltip-demo.text-center
                button.btn.btn-sm.btn-default(type='button', data-toggle='tooltip', data-placement='left', title='Tooltip on left') Tooltip on left
                button.btn.btn-sm.btn-default(type='button', data-toggle='tooltip', data-placement='top', title='Tooltip on top') Tooltip on top
                button.btn.btn-sm.btn-default(type='button', data-toggle='tooltip', data-placement='bottom', title='Tooltip on bottom') Tooltip on bottom
                button.btn.btn-sm.btn-default(type='button', data-toggle='tooltip', data-placement='right', title='Tooltip on right') Tooltip on right
        .col-lg-6
          .hpanel
            .panel-heading.hbuilt
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                 Popover
            .panel-body
              .text-center.m-b-md
                h3 Popover
                small
                  | A lightweight, extensible directive for fancy popover creation. The popover directive supports multiple placements, optional transition animation, and more.
              .m.float-e-margins.text-center
                .tooltip-demo
                  button.btn.btn-sm.btn-default(type='button', data-container='body', data-toggle='popover', data-placement='left', data-title='Title example', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
                    | Popover on left
                  button.btn.btn-sm.btn-default(type='button', data-container='body', data-toggle='popover', data-placement='top', data-title='Title example', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
                    | Popover on top
                  br
                  button.btn.btn-sm.btn-default(type='button', data-container='body', data-toggle='popover', data-placement='bottom', data-title='Title example', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
                    | Popover on bottom
                  button.btn.btn-sm.btn-default(type='button', data-container='body', data-toggle='popover', data-placement='right', data-title='Title example', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
                    | Popover on right
      .row
        .col-lg-6
          .hpanel
            ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#tab-1')  This is tab
              li
                a(data-toggle='tab', href='#tab-2') This is second tab
            .tab-content
              #tab-1.tab-pane.active
                .panel-body
                  strong Lorem ipsum dolor sit amet, consectetuer adipiscing
                  p
                    | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                    | existence in this spot, which was created for the bliss of souls like mine.
                  p
                    | I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                    | the present moment; and yet I feel that I never was a greater artist than now. When.
              #tab-2.tab-pane
                .panel-body
                  strong Donec quam felis
                  p
                    | Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                    | and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                  p
                    | I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                    | sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
        .col-lg-6
          .hpanel
            ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#tab-3')
                  i.fa.fa-laptop
              li
                a(data-toggle='tab', href='#tab-4')
                  i.fa.fa-desktop
              li
                a(data-toggle='tab', href='#tab-5')
                  i.fa.fa-database
            .tab-content
              #tab-3.tab-pane.active
                .panel-body
                  strong Lorem ipsum dolor sit amet, consectetuer adipiscing
                  p
                    | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                    | existence in this spot, which was created for the bliss of souls like mine.
                  p
                    | I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                    | the present moment; and yet I feel that I never was a greater artist than now. When.
              #tab-4.tab-pane
                .panel-body
                  strong Donec quam felis
                  p
                    | Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                    | and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                  p
                    | I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                    | sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
              #tab-5.tab-pane
                .panel-body
                  strong Donec quam felis
                  p
                    | Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                    | and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                  p
                    | I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                    | sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
      .row
        .col-lg-6
          .hpanel
            .tabs-left
              ul.nav.nav-tabs
                li.active
                  a(data-toggle='tab', href='#tab-6')  This is tab
                li
                  a(data-toggle='tab', href='#tab-7') This is second tab
              .tab-content
                #tab-6.tab-pane.active
                  .panel-body
                    strong Lorem ipsum dolor sit amet, consectetuer adipiscing
                    p
                      | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                      | existence in this spot, which was created for the bliss of souls like mine.
                    p
                      | I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                      | the present moment; and yet I feel that I never was a greater artist than now. When.
                #tab-7.tab-pane
                  .panel-body
                    strong Donec quam felis
                    p
                      | Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                      | and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                    p
                      | I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                      | sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
        .col-lg-6
          .hpanel
            .tabs-right
              ul.nav.nav-tabs
                li.active
                  a(data-toggle='tab', href='#tab-8')  This is tab
                li
                  a(data-toggle='tab', href='#tab-9') This is second tab
              .tab-content
                #tab-8.tab-pane.active
                  .panel-body
                    strong Lorem ipsum dolor sit amet, consectetuer adipiscing
                    p
                      | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                      | existence in this spot, which was created for the bliss of souls like mine.
                    p
                      | I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                      | the present moment; and yet I feel that I never was a greater artist than now. When.
                #tab-9.tab-pane
                  .panel-body
                    strong Donec quam felis
                    p
                      | Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                      | and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                    p
                      | I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                      | sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
      .row
        .col-lg-6
          .hpanel
            .panel-heading.hbuilt
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                 Progressbar
            .panel-body
              .text-center.m-b-md
                h3 Progressbar
                small
                  | A progress bar directive that is focused on providing feedback on the progress of a workflow or action.
              h5 Basic ProgressBars
              small Light version of progress bar
              .m
                .progress.m-t-xs
                  .progress-bar.progress-bar-warning(style='width: 15%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='15', role='progressbar')
                    | 15%
                .progress.m-t-xs
                  .progress-bar.progress-bar-success(style='width: 30%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='30', role='progressbar')
                    | 30%
                .progress.m-t-xs
                  .progress-bar.progress-bar-info(style='width: 45%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='45', role='progressbar')
                    | 45%
                .progress.m-t-xs
                  .progress-bar.progress-bar-danger(style='width: 60%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='60', role='progressbar')
                    | 60%
              h5 Striped Progressbars
              small
                | Add 
                code .full
                |  class to get full background. Add 
                code .progress-striped
                |  to get striped version.
              .m
                .progress.m-t-xs.full.progress-striped
                  .progress-bar.progress-bar-warning(style='width: 75%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='75', role='progressbar')
                    | 75%
              h5 Active Progressbars
              small
                | Add 
                code .active
                |  to get active striped.
              .m
                .progress.m-t-xs.full.progress-striped.active
                  .progress-bar.progress-bar-success(style='width: 90%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='90', role='progressbar')
                    | 90%
              h5 Mini version
              small
                | Add 
                code .progress-small
                |  class to get mini version
              .m
                .progress.m-t-xs.full.progress-small
                  .progress-bar.progress-bar-warning(style='width: 20%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='60', role='progressbar')
                .progress.m-t-xs.full.progress-small
                  .progress-bar.progress-bar-success(style='width: 50%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='50', role='progressbar')
                .progress.m-t-xs.full.progress-small
                  .progress-bar.progress-bar-info(style='width: 75%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='75', role='progressbar')
        .col-lg-6
          .hpanel
            .panel-heading.hbuilt
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                 Dropdown
            .panel-body.h-200
              .text-center.m-b-md
                h3 Dropdown
                small
                  | Dropdown is a simple directive which will toggle a dropdown menu on click or programmatically.
              .row
                .dropdown.dropdown-example
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='') Action
                    li
                      a(href='') Another action
                    li
                      a(href='') Something else here
                    li.divider
                    li
                      a(href='') Separated link
                .dropdown.dropdown-example
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='')
                        strong Action
                    li
                      a(href='')
                        span.text-success Another action
                    li
                      a(href='') Something else here
                    li.divider
                    li
                      a(href='')
                        span.text-muted Separated link
                .dropdown.dropdown-example
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='')
                        i.fa.fa-pencil  
                        |  Edit
                    li
                      a(href='')
                        i.fa.fa-copy  
                        |  Copy
                    li
                      a(href='')
                        i.fa.fa-paste  
                        |  paste
                    li.divider
                    li
                      a(href='')
                        i.fa.fa-trash  
                        |  Remove
          .hpanel
            .panel-heading.hbuilt
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                 Rating
            .panel-body.text-center
              .m-b-xs
                h3 Rating
                small Rating directive that will take care of visualising a star rating bar.
              input#input-1.rating(data-min='0', data-max='5', data-step='1', data-size='xs', data-show-clear='false')
              p.m-t-xs
                | More examples and full documentation you can find at: http://plugins.krajee.com/star-rating/demo
