extends ../../../layouts/example-app_layout

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span App views
              li.active
                span Contacts
          h2.font-light.m-b-xs
            | Contacts
          small Show users list in nice and color panels
    .content.animate-panel
      .row
        .col-lg-3
          .hpanel.hgreen.contact-panel
            .panel-body
              span.label.label-success.pull-right NEW
              img.img-circle.m-b(alt='logo', src='images/profile.jpg')
              h3
                a(href='')  Bradly Danforth 
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
        .col-lg-3
          .hpanel.hyellow.contact-panel
            .panel-body
              img.img-circle.m-b(alt='logo', src='images/a4.jpg')
              h3
                a(href='')  Tangela Sternberg 
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
        .col-lg-3
          .hpanel.hviolet.contact-panel
            .panel-body
              img.img-circle.m-b(alt='logo', src='images/a2.jpg')
              h3
                a(href='')  Claud Vogan 
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
        .col-lg-3
          .hpanel.hblue.contact-panel
            .panel-body
              img.img-circle.m-b(alt='logo', src='images/a3.jpg')
              h3
                a(href='')  Valda Purdy 
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
      .row
        .col-lg-3
          .hpanel.hblue.contact-panel
            .panel-body
              img.img-circle.m-b(alt='logo', src='images/a9.jpg')
              h3
                a(href='') Max Simson
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
        .col-lg-3
          .hpanel.hgreen.contact-panel
            .panel-body
              img.img-circle.m-b(alt='logo', src='images/a5.jpg')
              h3
                a(href='') Max Simson
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
        .col-lg-3
          .hpanel.hyellow.contact-panel
            .panel-body
              span.label.label-warning.pull-right SPECIAL
              img.img-circle.m-b(alt='logo', src='images/a6.jpg')
              h3
                a(href='') Max Simson
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
        .col-lg-3
          .hpanel.hred.contact-panel
            .panel-body
              img.img-circle.m-b(alt='logo', src='images/a7.jpg')
              h3
                a(href='') Max Simson
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
      .row
        .col-lg-3
          .hpanel.hgreen.contact-panel
            .panel-body
              span.label.label-success.pull-right NEW
              img.img-circle.m-b(alt='logo', src='images/profile.jpg')
              h3
                a(href='')  Bradly Danforth 
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
        .col-lg-3
          .hpanel.hyellow.contact-panel
            .panel-body
              img.img-circle.m-b(alt='logo', src='images/a4.jpg')
              h3
                a(href='')  Tangela Sternberg 
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
        .col-lg-3
          .hpanel.hviolet.contact-panel
            .panel-body
              img.img-circle.m-b(alt='logo', src='images/a2.jpg')
              h3
                a(href='')  Claud Vogan 
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
        .col-lg-3
          .hpanel.hblue.contact-panel
            .panel-body
              img.img-circle.m-b(alt='logo', src='images/a3.jpg')
              h3
                a(href='')  Valda Purdy 
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
      .row
        .col-lg-3
          .hpanel.hblue.contact-panel
            .panel-body
              img.img-circle.m-b(alt='logo', src='images/a9.jpg')
              h3
                a(href='') Max Simson
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
        .col-lg-3
          .hpanel.hgreen.contact-panel
            .panel-body
              img.img-circle.m-b(alt='logo', src='images/a5.jpg')
              h3
                a(href='') Max Simson
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
        .col-lg-3
          .hpanel.hyellow.contact-panel
            .panel-body
              span.label.label-warning.pull-right SPECIAL
              img.img-circle.m-b(alt='logo', src='images/a6.jpg')
              h3
                a(href='') Max Simson
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
        .col-lg-3
          .hpanel.hred.contact-panel
            .panel-body
              img.img-circle.m-b(alt='logo', src='images/a7.jpg')
              h3
                a(href='') Max Simson
              .text-muted.font-bold.m-b-xs California, LA
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .panel-footer.contact-footer
              .row
                .col-md-4.border-right
                  .contact-stat
                    span Projects: 
                    strong 200
                .col-md-4.border-right
                  .contact-stat
                    span Messages: 
                    strong 300
                .col-md-4
                  .contact-stat
                    span Views: 
                    strong 400
