extends ../../../layouts/example-app_layout

block content
    .content.animate-panel
      .row
        .col-lg-12
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Title
            .panel-body
              | Content
