extends ../../../layouts/example-app_layout

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span App views
              li.active
                span FAQ
          h2.font-light.m-b-xs
            | FAQ
          small FAQ page - build faq/support page for your app
    .content.animate-panel
      .row
        .col-lg-12
          .hpanel
            .panel-body
              div Frequently asked questions. Find the answer or contact with us on support email.
              .m-t-sm
                .input-group
                  input.form-control(type='text', placeholder='Search question..')
                  .input-group-btn
                    button.btn.btn-default
                      i.fa.fa-search
      .row
        .col-lg-6
          #accordion.hpanel.panel-group(role='tablist', aria-multiselectable='true')
            .panel-body
              h4.m-t-none.m-b-none General questions
              small.text-muted All general questions about our app.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion', href='#q1', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         Where can I purchase Homer theme ?
              #q1.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion', href='#q2', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         Many desktop publishing packages ?
              #q2.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion', href='#q3', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         Lorem Ipsum available, but the majority have ?
              #q3.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion', href='#q4', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         The generated Lorem Ipsum is therefore always ?
              #q4.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion', href='#q5', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         College in Virginia, looked up one of ?
              #q5.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion', href='#q6', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         Lorem Ipsum is simply dummy ?
              #q6.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion', href='#q7', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         The standard chunk of Lorem Ipsum used since ?
              #q7.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion', href='#q8', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         Many desktop publishing ?
              #q8.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion', href='#q9', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         Cicero are also reproduced in their exact original form, accompanied ?
              #q9.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
        .col-lg-6
          #accordion2.hpanel.panel-group(role='tablist', aria-multiselectable='true')
            .panel-body
              h4.m-t-none.m-b-none Technical questions
              small.text-muted All technical questions about our app.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion2', href='#q10', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         The point of using Lorem Ipsum ?
              #q10.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion2', href='#q11', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         Lorem Ipsum passage, and going through the cites ?
              #q11.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion2', href='#q12', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         Many desktop publishing packages and ?
              #q12.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion2', href='#q13', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         Aldus PageMaker including versions of Lorem Ipsum ?
              #q13.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion2', href='#q14', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         Nor again is there anyone who ?
              #q14.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion2', href='#q15', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         Neque porro quisquam est, qui dolorem ipsum ?
              #q15.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion2', href='#q16', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         Temporibus autem quibusdam ?
              #q16.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion2', href='#q17', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         Et harum quidem rerum facilis ?
              #q17.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
            .panel-body
              a(data-toggle='collapse', data-parent='#accordion2', href='#q18', aria-expanded='true')
                i.fa.fa-chevron-down.pull-right.text-muted
                |                         The wise man therefore always  ?
              #q18.panel-collapse.collapse
                hr
                | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
