extends ../../../layouts/example-app_layout

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span App views
              li.active
                span File manager
          h2.font-light.m-b-xs
            | File manager
          small Show you files in a nica manager design.
    .content.animate-panel
      .row
        .col-md-3
          .hpanel
            .panel-body
              .dropdown
                a.dropdown-toggle.btn.btn-primary.btn-block(href='#', data-toggle='dropdown')
                  | NEW
                ul.dropdown-menu.filedropdown.m-l
                  li
                    a(href='#')
                      i.fa.fa-folder-o
                      |  Folder
                  li
                    a(href='#')
                      i.fa.fa-file
                      |  File
                  li
                    a(href='#')
                      i.fa.fa-file-excel-o
                      |  Sheet
                  li
                    a(href='#')
                      i.fa.fa-file-audio-o
                      |  Music
                  li
                    a(href='#')
                      i.fa.fa-file-movie-o
                      |  Movie
              ul.h-list.m-t
                li.active
                  a(href='#')
                    i.fa.fa-folder
                    |  Files
                li
                  a(href='#')
                    i.fa.fa-user.text-info
                    |  Shared with me
                li
                  a(href='#')
                    i.fa.fa-clock-o.text-success
                    |  Recent
                li
                  a(href='#')
                    i.fa.fa-star.text-warning
                    |  Starred
                li
                  a(href='#')
                    i.fa.fa-trash.text-danger
                    |  Trash
          .hpanel
            .panel-body
              h3 6 GB used
              p It is 65% of all your storage
              .progress.full.m-t-xs
                .progress-bar.progress-bar-info(style='width: 65%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='65', role='progressbar')
                  | 65%
              small
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum adipiscing elit.
        .col-md-9
          .row
            .col-md-3
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-pdf-o.text-info
                .panel-footer
                  a(href='#') Document_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-pdf-o.text-info
                .panel-footer
                  a(href='#') Document_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-pdf-o.text-info
                .panel-footer
                  a(href='#') Document_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-pdf-o.text-info
                .panel-footer
                  a(href='#') Document_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-pdf-o.text-info
                .panel-footer
                  a(href='#') Document_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-pdf-o.text-info
                .panel-footer
                  a(href='#') Document_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-pdf-o.text-info
                .panel-footer
                  a(href='#') Document_2016.doc
            .col-md-3
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-audio-o.text-warning
                .panel-footer
                  a(href='#') Audio_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-audio-o.text-warning
                .panel-footer
                  a(href='#') Audio_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-audio-o.text-warning
                .panel-footer
                  a(href='#') Audio_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-audio-o.text-warning
                .panel-footer
                  a(href='#') Audio_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-audio-o.text-warning
                .panel-footer
                  a(href='#') Audio_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-audio-o.text-warning
                .panel-footer
                  a(href='#') Audio_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-audio-o.text-warning
                .panel-footer
                  a(href='#') Audio_2016.doc
            .col-md-3
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-excel-o.text-success
                .panel-footer
                  a(href='#') Sheets_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-excel-o.text-success
                .panel-footer
                  a(href='#') Sheets_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-excel-o.text-success
                .panel-footer
                  a(href='#') Sheets_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-excel-o.text-success
                .panel-footer
                  a(href='#') Sheets_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-excel-o.text-success
                .panel-footer
                  a(href='#') Sheets_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-excel-o.text-success
                .panel-footer
                  a(href='#') Sheets_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-excel-o.text-success
                .panel-footer
                  a(href='#') Sheets_2016.doc
            .col-md-3
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-powerpoint-o.text-danger
                .panel-footer
                  a(href='#') Presentation_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-powerpoint-o.text-danger
                .panel-footer
                  a(href='#') Presentation_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-powerpoint-o.text-danger
                .panel-footer
                  a(href='#') Presentation_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-powerpoint-o.text-danger
                .panel-footer
                  a(href='#') Presentation_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-powerpoint-o.text-danger
                .panel-footer
                  a(href='#') Presentation_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-powerpoint-o.text-danger
                .panel-footer
                  a(href='#') Presentation_2016.doc
              .hpanel
                .panel-body.file-body
                  i.fa.fa-file-powerpoint-o.text-danger
                .panel-footer
                  a(href='#') Presentation_2016.doc
