extends ../../../layouts/example-app_layout

block content
  .small-header.transition.animated.fadeIn
    .hpanel
      .panel-body
        #hbreadcrumb.pull-right
          ol.hbreadcrumb.breadcrumb
            li
              a(href="index.html") Dashboard
            li
              span Forms
            li.active
              span Forms elements 
        h2.font-light.m-b-xs
          | Forms elements
        small Examples of various form controls.
  .content.animate-panel
    div
      .row
        .col-lg-12
          .hpanel
            .panel-body
              h3 Forms
              p
                | Individual form controls automatically receive some global styling. All textual
                code &#60;input&#62;
                | ,
                code &#60;textarea&#62;
                | , and
                code &#60;select&#62;
                | elements with
                code .form-control
                | are set to
                code width: 100%;
                | by default. Wrap labels and controls in
                code .form-group
                | for optimum spacing.
      .row
        .col-lg-5
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              | Basic elements
            .panel-body
              form.form-horizontal(method="get")
                .form-group
                  label.col-sm-2.control-label Normal
                  .col-sm-10
                    input.form-control(type="text")
                .hr-line-dashed
                .form-group
                  label.col-sm-2.control-label Help text
                  .col-sm-10
                    input.form-control(type="text")
                    span.help-block.m-b-none A block of help text that breaks onto a new line and may extend beyond one line.
                .hr-line-dashed
                .form-group
                  label.col-sm-2.control-label Password
                  .col-sm-10
                    input.form-control(type="password", name="password")
                .hr-line-dashed
                .form-group
                  label.col-sm-2.control-label Placeholder
                  .col-sm-10
                    input.form-control(type="text", placeholder="placeholder")
                .hr-line-dashed
                .form-group
                  label.col-lg-2.control-label Disabled
                  .col-lg-10
                    input.form-control(type="text", disabled="", placeholder="Disabled input here...")
                .hr-line-dashed
                .form-group
                  label.col-lg-2.control-label Static control
                  .col-lg-10
                    p.form-control-static email@example.com
                .hr-line-dashed
                .form-group
                  .col-sm-8.col-sm-offset-2
                    button.btn.btn-default(type="submit") Cancel
                    button.btn.btn-primary(type="submit") Save changes
        .col-lg-7
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              | Checkbox and radios
            .panel-body
              form.form-horizontal(method="get")
                .form-group
                  label.col-sm-2.control-label
                    | Checkboxes and radios
                    br
                  .col-sm-10
                    .checkbox
                      label
                        input(type="checkbox", value="")
                        | Option one is this and that&#8212;be sure to include why it&#39;s great
                    .radio
                      label
                        input#optionsRadios1(type="radio", checked="", value="option1", name="optionsRadios")
                        | Option one is this and that&#8212;be sure to include why it&#39;s great
                    .radio
                      label
                        input#optionsRadios2(type="radio", value="option2", name="optionsRadios")
                        | Option two can be something else and selecting it will deselect option one
                .hr-line-dashed
                .form-group
                  label.col-sm-2.control-label Inline checkboxes
                  .col-sm-10
                    label.checkbox-inline
                      input#inlineCheckbox1(type="checkbox", value="option1")
                      | a
                    label.checkbox-inline
                      input#inlineCheckbox2(type="checkbox", value="option2")
                      | b
                    label.checkbox-inline
                      input#inlineCheckbox3(type="checkbox", value="option3")
                      | c
                .form-group
                  label.col-sm-2.control-label
                    | Checkboxes &#38; radios
                    br
                    small.text-navy Custom elements
                  .col-sm-10
                    .checkbox
                      label
                        input.i-checks(type="checkbox")
                        | Option one
                    .checkbox
                      label
                        input.i-checks(type="checkbox", checked="")
                        | Option two checked
                    .checkbox
                      label
                        input.i-checks(type="checkbox", checked="", disabled="")
                        | Option three checked and disabled
                    .checkbox
                      label
                        input.i-checks(type="checkbox", disabled="")
                        | Option four disabled
                    .radio
                      label
                        input.i-checks(type="radio")
                        | Option one
                    .radio
                      label
                        input.i-checks(type="radio", checked="")
                        | Option two checked
                    .radio
                      label
                        input.i-checks(type="radio", disabled="")
                        | Option four disabled
                    .radio
                      label
                        input.i-checks(type="radio", checked="", disabled="")
                        | Option three checked and disabled
                .hr-line-dashed
                .form-group
                  label.col-sm-2.control-label Inline checkboxes
                  .col-sm-10
                    label.checkbox-inline
                      input.i-checks(type="checkbox", checked="")
                      | a
                    label.checkbox-inline
                      input.i-checks(type="checkbox")
                      | b
                    label.checkbox-inline
                      input.i-checks(type="checkbox")
                      | c
                .hr-line-dashed
                .form-group
                  label.col-sm-2.control-label Select
                  .col-sm-10
                    select.form-control.m-b(name="account")
                      option option 1
                      option option 2
                      option option 3
                      option option 4
                .hr-line-dashed
                .form-group
                  .col-sm-8.col-sm-offset-2
                    button.btn.btn-default(type="submit") Cancel
                    button.btn.btn-primary(type="submit") Save changes
      .row
        .col-lg-12
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              | Form elements options
            .panel-body
              form.form-horizontal(method="get")
                .form-group
                  label.col-sm-2.control-label Control sizing
                  .col-sm-10
                    input.form-control.input-lg.m-b(type="text", placeholder=".input-lg")
                    input.form-control.m-b(type="text", placeholder="Default input")
                    input.form-control.input-sm(type="text", placeholder=".input-sm")
                .hr-line-dashed
                .form-group
                  label.col-sm-2.control-label Column sizing
                  .col-sm-10
                    .row
                      .col-md-2
                        input.form-control(type="text", placeholder=".col-md-2")
                      .col-md-3
                        input.form-control(type="text", placeholder=".col-md-3")
                      .col-md-4
                        input.form-control(type="text", placeholder=".col-md-4")
                .hr-line-dashed
                .form-group
                  label.col-sm-2.control-label Input groups
                  .col-sm-10
                    .input-group.m-b
                      span.input-group-addon @
                      input.form-control(type="text", placeholder="Username")
                    .input-group.m-b
                      input.form-control(type="text")
                      span.input-group-addon .00
                    .input-group.m-b
                      span.input-group-addon $
                      input.form-control(type="text")
                      span.input-group-addon .00
                    .input-group.m-b
                      span.input-group-addon
                        input(type="checkbox")
                      input.form-control(type="text")
                    .input-group
                      span.input-group-addon
                        input(type="radio")
                      input.form-control(type="text")
                .hr-line-dashed
                .form-group
                  label.col-sm-2.control-label Button addons
                  .col-sm-10
                    .input-group.m-b
                      span.input-group-btn
                        button.btn.btn-primary(type="button") Go!
                      input.form-control(type="text")
                    .input-group
                      input.form-control(type="text")
                      span.input-group-btn
                        button.btn.btn-primary(type="button")
                          | Go!
                .hr-line-dashed
                .form-group
                  label.col-sm-2.control-label With dropdowns
                  .col-sm-10
                    .input-group.m-b
                      .input-group-btn
                        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown", type="button")
                          | Action
                          span.caret
                        ul.dropdown-menu
                          li
                            a(href="") Action
                          li
                            a(href="") Another action
                          li
                            a(href="") Something else here
                          li.divider
                          li
                            a(href="") Separated link
                      input.form-control(type="text")
                    .input-group
                      input.form-control(type="text")
                      .input-group-btn
                        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown", type="button")
                          | Action
                          span.caret
                        ul.dropdown-menu.pull-right
                          li
                            a(href="") Action
                          li
                            a(href="") Another action
                          li
                            a(href="") Something else here
                          li.divider
                          li
                            a(href="") Separated link
                .hr-line-dashed
                .form-group
                  label.col-sm-2.control-label Segmented
                  .col-sm-10
                    .input-group.m-b
                      .input-group-btn
                        button.btn.btn-default(tabindex="-1", type="button") Action
                        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown", type="button")
                          span.caret
                        ul.dropdown-menu
                          li
                            a(href="") Action
                          li
                            a(href="") Another action
                          li
                            a(href="") Something else here
                          li.divider
                          li
                            a(href="") Separated link
                      input.form-control(type="text")
                    .input-group
                      input.form-control(type="text")
                      .input-group-btn
                        button.btn.btn-default(tabindex="-1", type="button") Action
                        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown", type="button")
                          span.caret
                        ul.dropdown-menu.pull-right
                          li
                            a(href="") Action
                          li
                            a(href="") Another action
                          li
                            a(href="") Something else here
                          li.divider
                          li
                            a(href="") Separated link
                .hr-line-dashed
                .form-group
                  .col-sm-8.col-sm-offset-2
                    button.btn.btn-default(type="submit") Cancel
                    button.btn.btn-primary(type="submit") Save changes