extends ../../../layouts/example-app_layout

block scripts
  script(src='../vendor/blueimp-gallery/js/jquery.blueimp-gallery.min.js')
  style.
    .lightBoxGallery {
    text-align: center;
    }
    .lightBoxGallery a {
    margin: 5px;
    display: inline-block;
    }

block styles
  link(rel='stylesheet', href='../vendor/blueimp-gallery/css/blueimp-gallery.min.css')

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span Charts
            li.active
              span Gallery 
        h2.font-light.m-b-xs
          | Gallery
        small Touch-enabled, responsive and customizable image & video gallery.
  .content.animate-panel
    .row
      .col-lg-12
        .hpanel
          .panel-body
            .lightBoxGallery
              p
                strong Blueimp Gallery
                |   is a touch-enabled, responsive and customizable image & video gallery, carousel and
                |                                 lightbox, optimized for both mobile and desktop web browsers.
                |                                 It features swipe, mouse and keyboard navigation, transition effects, slideshow
                |                                 functionality, fullscreen support and on-demand content loading and can be extended to
                |                                 display additional content types.
              a(href='images/gallery/1.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/1s.jpg')
              a(href='images/gallery/2.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/2s.jpg')
              a(href='images/gallery/3.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/3s.jpg')
              a(href='images/gallery/4.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/4s.jpg')
              a(href='images/gallery/5.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/5s.jpg')
              a(href='images/gallery/6.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/6s.jpg')
              a(href='images/gallery/7.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/7s.jpg')
              a(href='images/gallery/8.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/8s.jpg')
              a(href='images/gallery/9.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/9s.jpg')
              a(href='images/gallery/10.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/10s.jpg')
              a(href='images/gallery/1.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/1s.jpg')
              a(href='images/gallery/2.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/2s.jpg')
              a(href='images/gallery/3.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/3s.jpg')
              a(href='images/gallery/4.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/4s.jpg')
              a(href='images/gallery/5.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/5s.jpg')
              a(href='images/gallery/6.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/6s.jpg')
              a(href='images/gallery/7.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/7s.jpg')
              a(href='images/gallery/8.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/8s.jpg')
              a(href='images/gallery/9.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/9s.jpg')
              a(href='images/gallery/10.jpg', title='Image from Unsplash', data-gallery='')
                img(src='images/gallery/10s.jpg')
          .panel-footer
            i.fa.fa-picture-o  
            |  20 pimages
  // The Gallery as lightbox dialog, should be a child element of the document body
  #blueimp-gallery.blueimp-gallery
    .slides
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator
