extends ../../../layouts/example-app_layout

block scripts
    script(src='/vendor/peity/jquery.peity.min.js')
    script(src='/exampleapp/scripts/charts.js')
    script(src='/exampleapp/scripts/inline.js')

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span Charts
              li.active
                span Inline charts 
          h2.font-light.m-b-xs
            | Inline charts
          small Small inline charts directly in the browser using data supplied in scripts.
    .content.animate-panel
      .row
        .col-lg-12
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                             Sparkline charts
            .panel-body
              p
                | This jQuery plugin generates sparklines (small inline charts) directly in the browser using data supplied either inline in the HTML
              table.table.table-bordered.white-bg
                thead
                  tr
                    th Graph
                    th Type
                tbody
                  tr
                    td
                      span#sparkline7
                    td
                      | Inline line chart
                  tr
                    td
                      span#sparkline2
                    td
                      | Bar chart
                  tr
                    td
                      span#sparkline3
                    td
                      | Pie chart
                  tr
                    td
                      span#sparkline4
                    td
                      | Long inline chart
                  tr
                    td
                      span#sparkline5
                    td
                      | Tristate chart
                  tr
                    td
                      span#sparkline6
                    td
                      | Discrete chart
      .row
        .col-lg-12
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                             Peity charts
            .panel-body
              p
                | Peity is a simple jQuery plugin that converts an element's content into a simple svg mini pie donut line or bar chart and is compatible with any browser that supports svg: Chrome, Firefox, IE9+, Opera, Safari.
              table.table.table-bordered.white-bg
                thead
                  tr
                    th Graph
                    th Type
                tbody
                  tr
                    td
                      span.pie 1/5
                    td
                      | Pie chart
                  tr
                    td
                      span.line 5,3,9,6,5,9,7,3,5,2
                    td
                      | Line chart
                  tr
                    td
                      span.bar 5,3,9,6,5,9,7,3,5,2
                    td
                      | Bar chart
