extends ../../../layouts/example-app_layout

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span App views
              li.active
                span Invoice
          h2.font-light.m-b-xs
            | Invoice
          small Clean invoice template.
    .content.animate-panel
      .row
        .col-lg-12
          .hpanel
            .panel-body
              .row
                .col-md-6
                  h4
                    | Invoice 
                    small IN-9177283-2016
                .col-md-6
                  .text-right
                    button.btn.btn-default.btn-sm
                      i.fa.fa-pencil
                      |  Edit
                    button.btn.btn-default.btn-sm
                      i.fa.fa-check
                      |  Save
                    button.btn.btn-primary.btn-sm
                      i.fa.fa-dollar
                      |  Make A Payment
            .panel-body.p-xl
              .row.m-b-xl
                .col-sm-6
                  h4 IN-9177283-2016
                  address
                    strong Homer, Inc.
                    br
                    |                                 30 Mortensen Avenue
                    br
                    |                                 Salinas, CA 93905
                    br
                    abbr(title='Phone') P:
                    |  (831) 758-7200
                .col-sm-6.text-right
                  span To:
                  address
                    strong Corporate, Inc.
                    br
                    |                                 60 Mortensen Avenue
                    br
                    |                                 Salinas, CA 123343
                    br
                    abbr(title='Phone') P:
                    |  (831) 752-7000
                  p
                    span
                      strong Invoice Date:
                      |  May 16, 2016
                    br
                    span
                      strong Due Date:
                      |  May 24, 2016
              .table-responsive.m-t
                table.table.table-striped
                  thead
                    tr
                      th Item List
                      th Quantity
                      th Unit Price
                      th Tax
                      th Total Price
                  tbody
                    tr
                      td
                        div
                          strong Lorem Ipsum is that it has a more-or-less normal
                        small
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          | tempor incididunt ut labore.
                      td 1
                      td $26.00
                      td $5.98
                      td $31,98
                    tr
                      td
                        div
                          strong Lorem Ipsum is that it has
                        small
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          | tempor incididunt ut labore et dolore magna aliqua.
                          | Eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      td 2
                      td $80.00
                      td $36.80
                      td $196.80
                    tr
                      td
                        div
                          strong Has a more-or-less normal
                        small
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          | tempor incididunt ut labore et dolore magna aliqua.
                      td 3
                      td $420.00
                      td $193.20
                      td $1033.20
                    tr
                      td
                        div
                          strong That it has a more-or-less
                        small
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          | tempor incididunt ut labore et dolore magna aliqua.
                      td 4
                      td $320.00
                      td $233.10
                      td $193.10
              .row.m-t
                .col-md-4.col-md-offset-8
                  table.table.table-striped.text-right
                    tbody
                      tr
                        td
                          strong Sub Total :
                        td $1026.00
                      tr
                        td
                          strong TAX :
                        td $235.98
                      tr
                        td
                          strong TOTAL :
                        td $1261.98
              .row
                .col-md-6
                  .m-t
                    strong Comments
                    |                                 It is a long established fact that a reader will be distracted by the readable content of a page
                    |                                 when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
