doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    // Page title
    title HOMER | WebApp admin theme
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    // Vendor styles
    link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.css")
    link(rel="stylesheet", href="/vendor/metisMenu/dist/metisMenu.css")
    link(rel="stylesheet", href="/vendor/animate.css/animate.css")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    // App styles
    link(rel="stylesheet", href="/exampleapp/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css")
    link(rel="stylesheet", href="/exampleapp/fonts/pe-icon-7-stroke/css/helper.css")
    link(rel="stylesheet", href="/exampleapp/css/style.css")
  body.blank
    // Simple splash screen
    .splash
      .color-line
      .splash-title
        h1 Homer - Responsive Admin Theme
        p
          | Special AngularJS Admin Theme for small and medium webapp with very clean and aesthetic style and feel.
        img(src="/exampleapp/images/loading-bars.svg", width="64", height="64")
    //if lt IE 7
      p.alert.alert-danger
        | You are using an
        strong outdated
        | browser. Please
        a(href="http://browsehappy.com/") upgrade your browser
        | to improve your experience.
    .color-line
    .back-link
      a.btn.btn-primary(href="/exampleapp/index") Back to Dashboard
    .login-container
      .row
        .col-md-12
          .text-center.m-b-md
            h3 PLEASE LOGIN TO APP
            small This is the best app ever!
          .hpanel
            .panel-body
              form#loginForm(action="#")
                .form-group
                  label.control-label(for="username") Username
                  input#username.form-control(type="text", placeholder="example@gmail.com", title="Please enter you username", required="", value="", name="username")
                  span.help-block.small Your unique username to app
                .form-group
                  label.control-label(for="password") Password
                  input#password.form-control(type="password", title="Please enter your password", placeholder="******", required="", value="", name="password")
                  span.help-block.small Yur strong password
                .checkbox
                  input.i-checks(type="checkbox", checked="")
                  | Remember login
                  p.help-block.small (if this is a private computer)
                button.btn.btn-success.btn-block Login
                a.btn.btn-default.btn-block(href="#") Register
      .row
        .col-md-12.text-center
          strong HOMER
          | - AngularJS Responsive WebApp
          br
          | 2015 Copyright Company Name
    // Vendor scripts
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/jquery-ui/jquery-ui.min.js")
    script(src="/vendor/slimScroll/jquery.slimscroll.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/vendor/metisMenu/dist/metisMenu.min.js")
    script(src="/vendor/iCheck/icheck.min.js")
    script(src="/vendor/sparkline/index.js")
    // App scripts
    script(src="/exampleapp/scripts/homer.js")