extends ../../../layouts/example-app_layout

block scripts
  script(src='/vendor/summernote/dist/summernote.min.js')
  script(src='/exampleapp/scripts/homer.js')
  script(src='/exampleapp/scripts/mailbox_compose.js')

block styles
  link(rel='stylesheet', href='/vendor/summernote/dist/summernote.css')
  link(rel='stylesheet', href='/vendor/summernote/dist/summernote-bs3.css')
  link(rel='stylesheet', href='/exampleapp/css/static_custom.css')


block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span App views
            li.active
              span Mailbox
        h2.font-light.m-b-xs
          | Mailbox
        small Mailbox - Email list.
  .content.animate-panel
    .row
      .col-md-3
        .hpanel
          .panel-body
            a.btn.btn-success.btn-block.m-b-md(href='mailbox_compose.html') Compose
            ul.mailbox-list
              li
                a(href='#')
                  span.pull-right 12
                  i.fa.fa-envelope
                  |  Inbox
              li
                a(href='#')
                  i.fa.fa-paper-plane
                  |  Sent
              li
                a(href='#')
                  i.fa.fa-pencil
                  |  Draft
              li
                a(href='#')
                  i.fa.fa-trash
                  |  Trash
            hr
            ul.mailbox-list
              li
                a(href='#')
                  i.fa.fa-plane.text-danger
                  |  Travel
              li
                a(href='#')
                  i.fa.fa-bar-chart.text-warning
                  |  Finance
              li
                a(href='#')
                  i.fa.fa-users.text-info
                  |  Social
              li
                a(href='#')
                  i.fa.fa-tag.text-success
                  |  Promos
              li
                a(href='#')
                  i.fa.fa-flag.text-primary
                  |  Updates
            hr
            ul.mailbox-list
              li
                a(href='#')
                  i.fa.fa-gears
                  |  Settings
              li
                a(href='#')
                  i.fa.fa-info-circle
                  |  Support
      .col-md-9
        .hpanel.email-compose
          .panel-heading.hbuilt
            .p-xs.h4
              | New message
          .panel-heading.hbuilt
            .p-xs
              form.form-horizontal(method='get')
                .form-group
                  label.col-sm-1.control-label.text-left To:
                  .col-sm-11
                    input.form-control.input-sm(type='text', placeholder='example@email.com')
                .form-group
                  label.col-sm-1.control-label.text-left Cc:
                  .col-sm-11
                    input.form-control.input-sm(type='text')
                .form-group
                  label.col-sm-1.control-label.text-left Subject:
                  .col-sm-11
                    input.form-control.input-sm(type='text', placeholder='Enter Email subject')
          .panel-body.no-padding
            .summernote
              h5 Hello Jonathan! 
              p
                | dummy text of the printing and typesetting industry. 
                strong Lorem Ipsum has been the dustrys
                |  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                |                             book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                |                             and more
                br
                br
                | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
                |                             sentence structures, to generate Lorem Ipsum which looks reasonable. recently with.
              p
                | Mark Smith
          .panel-footer
            .pull-right
              .btn-group
                button.btn.btn-default
                  i.fa.fa-edit
                  |  Save
                button.btn.btn-default
                  i.fa.fa-trash
                  |  Discard
            button.btn.btn-primary Send email
            .btn-group
              button.btn.btn-default
                i.fa.fa-paperclip
              button.btn.btn-default
                i.fa.fa-image
