extends ../../../layouts/example-app_layout

block scripts
    script(src='/vendor/peity/jquery.peity.min.js')
    script(src='/vendor/nestable/jquery.nestable.js')
    script(src='/exampleapp/scripts/charts.js')
    script(src='/exampleapp/scripts/nestable_list.js')

block styles
    link(rel='stylesheet', href='/exampleapp/css/static_custom.css')

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span Interface
            li.active
              span Nestable list
        h2.font-light.m-b-xs
          | Nestable list
        small Nestable - Drag & drop hierarchical list.
  .content.animate-panel
    .row
      .col-md-4
        #nestable-menu
          button.btn.btn-default.btn-sm(type='button', data-action='expand-all') Expand All
          button.btn.btn-default.btn-sm(type='button', data-action='collapse-all') Collapse All
    .row
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Nestable custom theme list
          .panel-body
            p.m-b-lg
              | Each list you can customize by standard css styles. Each element is responsive so you can add to it any other element to improve functionality of list.
            #nestable2.dd
              ol.dd-list
                li.dd-item(data-id='1')
                  .dd-handle
                    span.label.h-bg-navy-blue
                      i.fa.fa-users
                    |  Cras ornare tristique.
                  ol.dd-list
                    li.dd-item(data-id='2')
                      .dd-handle
                        span.pull-right  12:00 pm 
                        span.label.h-bg-navy-blue
                          i.fa.fa-cog
                        |  Vivamus vestibulum nulla nec ante.
                    li.dd-item(data-id='3')
                      .dd-handle
                        span.pull-right  11:00 pm 
                        span.label.h-bg-navy-blue
                          i.fa.fa-bolt
                        |  Nunc dignissim risus id metus.
                    li.dd-item(data-id='4')
                      .dd-handle
                        span.pull-right  11:00 pm 
                        span.label.h-bg-navy-blue
                          i.fa.fa-laptop
                        |  Vestibulum commodo
                li.dd-item(data-id='5')
                  .dd-handle
                    span.label.h-bg-navy-blue
                      i.fa.fa-users
                    |  Integer vitae libero.
                  ol.dd-list
                    li.dd-item(data-id='6')
                      .dd-handle
                        span.pull-right  15:00 pm 
                        span.label.h-bg-navy-blue
                          i.fa.fa-users
                        |  Nam convallis pellentesque nisl.
                    li.dd-item(data-id='7')
                      .dd-handle
                        span.pull-right  16:00 pm 
                        span.label.h-bg-navy-blue
                          i.fa.fa-bomb
                        |  Vivamus molestie gravida turpis
                    li.dd-item(data-id='8')
                      .dd-handle
                        span.pull-right  21:00 pm 
                        span.label.h-bg-navy-blue
                          i.fa.fa-child
                        |  Ut aliquam sollicitudin leo.
            .m-t-md
              h5 Serialised Output
            textarea#nestable2-output.form-control
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Nestable basic list
          .panel-body
            p.m-b-lg
              strong Nestable
              |  is an interactive hierarchical list. You can drag and drop to rearrange the order. It works well on touch-screens.
            #nestable.dd
              ol.dd-list
                li.dd-item(data-id='1')
                  .dd-handle 1 - Lorem ipsum
                li.dd-item(data-id='2')
                  .dd-handle 2 - Dolor sit
                  ol.dd-list
                    li.dd-item(data-id='3')
                      .dd-handle 3 - Adipiscing elit
                    li.dd-item(data-id='4')
                      .dd-handle 4 - Nonummy nibh
                li.dd-item(data-id='5')
                  .dd-handle 5 - Consectetuer
                  ol.dd-list
                    li.dd-item(data-id='6')
                      .dd-handle 6 - Aliquam erat
                    li.dd-item(data-id='7')
                      .dd-handle 7 - Veniam quis
                li.dd-item(data-id='8')
                  .dd-handle 8 - Tation ullamcorper
                li.dd-item(data-id='9')
                  .dd-handle 9 - Ea commodo
            .m-t-md
              h5 Serialised Output
            textarea#nestable-output.form-control