extends ../../../layouts/example-app_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span App views
            li.active
              span Notes
        h2.font-light.m-b-xs
          | Notes
        small Build notebook functionality in your app
  .content.animate-panel
    .row
      .col-md-3
        .hpanel.panel-group
          .panel-body
            .text-center.text-muted.font-bold Search note or add new
          .panel-section
            .input-group
              input.form-control(type='text', placeholder='Search note...')
              span.input-group-btn
                button.btn.btn-default(type='button')
                  i.glyphicon.glyphicon-plus.small
            button.btn-sm.visible-xs.visible-sm.collapsed.btn-default.btn.btn-block.m-t-sm(type='button', data-toggle='collapse', data-target='#notes')
              | All notes 
              i.fa.fa-angle-down
          #notes.collapse
            .panel-body.note-link
              a(href='#note1', data-toggle='tab')
                small.pull-right.text-muted 26.10.2016
                h5 Publishing packages
                .small
                  | Many desktop publishing packages and web page editors now use Lorem
            .panel-body.note-link
              a(href='#note2', data-toggle='tab')
                small.pull-right.text-muted 22.01.2016
                h5
                  | Latin literature from
                .small
                  | Lorem Ipsum, you need to be sure there
            .panel-body.note-link
              a(href='#note3', data-toggle='tab')
                small.pull-right.text-muted 14.03.2016
                h5
                  | The generated Lorem Ipsum
                .small
                  | It has survived not only five centuries
            .panel-body.note-link
              a(href='#note4', data-toggle='tab')
                small.pull-right.text-muted 07.10.2015
                h5
                  | Neque porro quisquam
                .small
                  | Finibus Bonorum et Malorum
            .panel-body.note-link
              a(href='#note5', data-toggle='tab')
                small.pull-right.text-muted 12.04.2015
                h5
                  | The first line of Lorem Ipsum
                .small
                  | Lorem Ipsum which looks reasonable
      .col-md-9
        .hpanel
          .panel-body
            .text-center.hidden
              | We couldn't find any notes for you.
            .tab-content
              #note1.tab-pane.active
                .pull-right.text-muted.m-l-lg
                  | 26.10.2016
                h3 Publishing packages
                hr
                .note-content
                  textarea.form-control
                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                    | content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
                    | still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). Latin words, combined with a handful of model sentence structures, to
                    | generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                .btn-group
                  button.btn.btn-sm.btn-default
                    i.fa.fa-thumbs-o-up
                    |  Save
                  button.btn.btn-sm.btn-default
                    i.fa.fa-trash
                    |  Remove
              #note2.tab-pane
                .pull-right.text-muted.m-l-lg
                  | 22.01.2016
                h3 Latin literature from 
                hr
                .note-content
                  textarea.form-control
                    | Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. It is a long established
                    | fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                    | here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                    | sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                .btn-group
                  button.btn.btn-sm.btn-default
                    i.fa.fa-thumbs-o-up
                    |  Save
                  button.btn.btn-sm.btn-default
                    i.fa.fa-trash
                    |  Remove
              #note3.tab-pane
                .pull-right.text-muted.m-l-lg
                  | 14.03.2016
                h3 The generated Lorem Ipsum 
                hr
                .note-content
                  textarea.form-control
                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                    | content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
                    | still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). Latin words, combined with a handful of model sentence structures, to
                    | generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. Many desktop publishing packages and web page editors
                    | now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                    | (injected humour and the like).
                .btn-group
                  button.btn.btn-sm.btn-default
                    i.fa.fa-thumbs-o-up
                    |  Save
                  button.btn.btn-sm.btn-default
                    i.fa.fa-trash
                    |  Remove
              #note4.tab-pane
                .pull-right.text-muted.m-l-lg
                  | 07.10.2015
                h3 Neque porro quisquam
                hr
                .note-content
                  textarea.form-control
                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                    | content here', making it look like readable English. Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free
                    | from repetition, injected humour, or non-characteristic words etc.
                .btn-group
                  button.btn.btn-sm.btn-default
                    i.fa.fa-thumbs-o-up
                    |  Save
                  button.btn.btn-sm.btn-default
                    i.fa.fa-trash
                    |  Remove
              #note5.tab-pane
                .pull-right.text-muted.m-l-lg
                  | 12.04.2015
                h3 The first line of Lorem Ipsum 
                hr
                .note-content
                  textarea.form-control
                    | Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. Many desktop publishing
                    | packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
                    | by accident, sometimes on purpose (injected humour and the like).
                .btn-group
                  button.btn.btn-sm.btn-default
                    i.fa.fa-thumbs-o-up
                    |  Save
                  button.btn.btn-sm.btn-default
                    i.fa.fa-trash
                    |  Remove
