extends ../../../layouts/example-app_layout

block scripts
    script(src="/exampleapp/scripts/options.js")
    
block content
  .small-header.transition.animated.fadeIn
    .hpanel
      .panel-body
        #hbreadcrumb.pull-right
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li.active
              span Options 
        h2.font-light.m-b-xs
          | Options
        small Example small header for demo purpose.
  .content.animate-panel
    .row
      .col-md-12
        .hpanel
          .panel-body
            h1 Options
            p.lead
              | Homer admin theme gives you few configure options for your application layout. Each of the layout element: navigation, navbar, small header and footer can be fixed positioning.
            p
              | Use below buttons to enable/disable available options.
            div
              dl.dl-horizontal
                dt(style='text-align: left') Fixed sidebar
                dd.status-fixed-sidebar Off
                dt(style='text-align: left') Fixed navbar
                dd.status-fixed-navbar Off
                dt(style='text-align: left') Fixed footer
                dd.status-fixed-footer Off
                dt(style='text-align: left') Fixed small header
                dd.status-fixed-small-header Off
                dt(style='text-align: left') Boxed layout
                dd.status-boxed-layout Off
    .row
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Fixed navbar
          .panel-body
            p
              | Fixed navbar is a top navbar that is sticked on screen.
            p
              | To add fixed navbar you need to add .fixed-navbar class to body element.
            .text-center
              button#fixed-navbar.btn.btn-success(type='button')
                | Toggle fixed navbar
            .m-t-md
              pre.
                \n
                <body class="fixed-navbar">
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Fixed navbar
          .panel-body
            p
              | Fixed sidebar is a (left menu) sidebar that is sticked on screen.
            p
              | To add fixed sidebar you need to add .fixed-sidebar class to body. Fixed sidebar works with fixed-navbar.
            .text-center
              button#fixed-sidebar.btn.btn-success(type='button')
                | Toggle fixed sidebar
            .m-t-md
              pre.
                \n
                <body class="fixed-sidebar fixed-navbar">
    .row
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Fixed footer
          .panel-body
            p
              | Fixed footer is a bottom footer that is sticked on screen.
            p
              | To add fixed footer you need to add .fixed-footer class to body element.
            .text-center
              button#fixed-footer.btn.btn-success(type='button')
                | Toggle footer footer
            .m-t-md
              pre.
                \n
                <body class="fixed-footer">
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Fixed small header
          .panel-body
            p
              | Fixed small header is a top page header that is sticked on screen (only small version).
            p
              | To add fixed small header you need to add .fixed-small-header class to body. Fixed sidebar works with fixed-navbar and fiexd sidebar.
            .text-center
              button#fixed-small-header.btn.btn-success(type='button')
                | Toggle fixed small header
            .m-t-md
              pre.
                \n
                <body class="fixed-small-header fixed-sidebar fixed-navbar">
    .row
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Boxed layout
          .panel-body
            p
              | Boxed layout is an option for fixed width and centered layout on desktop resolution.
            p
              | To add boxed layout you need to add .boxed class to body element and special additional div wrapper after body tag with .boxed-wrapper class.
            .text-center
              button#boxed-layout.btn.btn-success(type='button')
                | Toggle boxed layout
            .m-t-md
              pre.
                \n<body class="boxed">
                    <div class="boxed-wrapper">
                        ….
                        ….
                    </div>
                </body>
