extends ../../../layouts/example-app_layout

block scripts
  script(scr="/exampleapp/scripts/overview.js")

block content
  .content.animate-panel
    .row
      .col-lg-5
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            | Animation panel
          .panel-body
            p
              strong Homer
              | has special small function
              code animate-panel
              | that allowes you to implement staggering animations to any layout elements. It is designed to work on any html elements in order to achive a effect of
              | building layout on page load. This function is mainly for main layout elements.
            p
              | It is easy to use. All you have to do is to add new class
              code .animate-panel
              | to wrapper of elements that should be staggering. For example:
            pre.
              \n<div class="animate-panel" data-effect="zomeIn" data-child="element">
              
                  <div class="element"&gt</div>
                  <div class="element"></div>
                  <div class="element"></div>
              
              </div>                 
            p
              | In default function get all
              code .row &#62; div
              | elements and applay
              strong zoomIn
              | effect. You can use any effect avalible with
              strong Animatin.css
              | library. You can find many example of use in Homer theme
              | but feel free to play with examples below.
      .col-lg-7
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            | Live preview
          .panel-body
            p Select one of the animation from Animation.css library
            select.form-control.animation-select(name="animation")
              optgroup(label="Bouncing Entrances")
                option(value="bounceIn") bounceIn
                option(value="bounceInDown") bounceInDown
                option(value="bounceInLeft") bounceInLeft
                option(value="bounceInRight") bounceInRight
                option(value="bounceInUp") bounceInUp
              optgroup(label="Fading Entrances")
                option(value="fadeIn") fadeIn
                option(value="fadeInDown") fadeInDown
                option(value="fadeInDownBig") fadeInDownBig
                option(value="fadeInLeft") fadeInLeft
                option(value="fadeInLeftBig") fadeInLeftBig
                option(value="fadeInRight") fadeInRight
                option(value="fadeInRightBig") fadeInRightBig
                option(value="fadeInUp") fadeInUp
                option(value="fadeInUpBig") fadeInUpBig
              optgroup(label="Flippers")
                option(value="flipInX") flipInX
                option(value="flipInY") flipInY
                option(value="flipOutX") flipOutX
                option(value="flipOutY") flipOutY
              optgroup(label="Lightspeed")
                option(value="lightSpeedIn") lightSpeedIn
              optgroup(label="Rotating Entrances")
                option(value="rotateIn") rotateIn
                option(value="rotateInDownLeft") rotateInDownLeft
                option(value="rotateInDownRight") rotateInDownRight
                option(value="rotateInUpLeft") rotateInUpLeft
                option(value="rotateInUpRight") rotateInUpRight
              optgroup(label="Zoom Entrances")
                option(selected="", value="zoomIn") zoomIn
                option(value="zoomInDown") zoomInDown
                option(value="zoomInLeft") zoomInLeft
                option(value="zoomInRight") zoomInRight
                option(value="zoomInUp") zoomInUp
            button.btn.btn-success.m-t-sm.runAnimation Play it!
        #acontainer
          .runIt
            .row.animate-panel-demo.setEffect(data-effect="zoomIn", data-child="hpanel")
              .col-lg-4
                .hpanel
                  .panel-heading
                    .panel-tools
                      a.showhide
                        i.fa.fa-chevron-up
                      a.closebox
                        i.fa.fa-times
                    | Box example
                  .panel-body
                    .h-100
              .col-lg-4
                .hpanel
                  .panel-heading
                    .panel-tools
                      a.showhide
                        i.fa.fa-chevron-up
                      a.closebox
                        i.fa.fa-times
                    | Box example
                  .panel-body
                    .h-100
              .col-lg-4
                .hpanel
                  .panel-heading
                    .panel-tools
                      a.showhide
                        i.fa.fa-chevron-up
                      a.closebox
                        i.fa.fa-times
                    | Box example
                  .panel-body
                    .h-100
              .col-lg-4
                .hpanel
                  .panel-heading
                    .panel-tools
                      a.showhide
                        i.fa.fa-chevron-up
                      a.closebox
                        i.fa.fa-times
                    | Box example
                  .panel-body
                    .h-100
              .col-lg-4
                .hpanel
                  .panel-heading
                    .panel-tools
                      a.showhide
                        i.fa.fa-chevron-up
                      a.closebox
                        i.fa.fa-times
                    | Box example
                  .panel-body
                    .h-100
              .col-lg-4
                .hpanel
                  .panel-heading
                    .panel-tools
                      a.showhide
                        i.fa.fa-chevron-up
                      a.closebox
                        i.fa.fa-times
                    | Box example
                  .panel-body
                    .h-100
