extends ../../../layouts/example-app_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span App views
            li.active
              span Projects
        h2.font-light.m-b-xs
          | Projects
        small List of projects.
  .content.animate-panel
    .row.projects
      .col-lg-6
        .hpanel.hgreen
          .panel-body
            span.label.label-success.pull-right NEW
            .row
              .col-sm-8
                h4
                  a(href='')  Desing project
                p
                  | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has..
                .row
                  .col-sm-3
                    .project-label CLIENT
                    small Hendrix Corp
                  .col-sm-3
                    .project-label VERSION
                    small 1.5.2
                  .col-sm-3
                    .project-label DEDLINE
                    small 12.06.2015
                  .col-sm-3
                    .project-label PROGRESS
                    .progress.m-t-xs.full.progress-small
                      .progress-bar.progress-bar-success(style='width: 12%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='12', role='progressbar')
              .col-sm-4.project-info
                .project-action.m-t-md
                  .btn-group
                    button.btn.btn-xs.btn-default  View
                    button.btn.btn-xs.btn-default  Edit
                    button.btn.btn-xs.btn-default  Delete
                .project-value
                  h2.text-success
                    | $1 206,40
                .project-people
                  img.img-circle(alt='logo', src='images/a1.jpg')
                  img.img-circle(alt='logo', src='images/a2.jpg')
                  img.img-circle(alt='logo', src='images/a3.jpg')
                  img.img-circle(alt='logo', src='images/a4.jpg')
                  img.img-circle(alt='logo', src='images/a5.jpg')
                  img.img-circle(alt='logo', src='images/a6.jpg')
                  img.img-circle(alt='logo', src='images/a7.jpg')
          .panel-footer
            | Additional information about project in footer
      .col-lg-6
        .hpanel.hyellow
          .panel-body
            .row
              .col-sm-8
                h4
                  a(href='')  Project manager app
                p
                  | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum..
                .row
                  .col-sm-3
                    .project-label CLIENT
                    small Vito Company
                  .col-sm-3
                    .project-label VERSION
                    small 3.0.0
                  .col-sm-3
                    .project-label DEDLINE
                    small 16.10.2015
                  .col-sm-3
                    .project-label PROGRESS
                    .progress.m-t-xs.full.progress-small
                      .progress-bar.progress-bar-warning(style='width: 65%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='65', role='progressbar')
              .col-sm-4.project-info
                .project-action.m-t-md
                  .btn-group
                    button.btn.btn-xs.btn-default  View
                    button.btn.btn-xs.btn-default  Edit
                    button.btn.btn-xs.btn-default  Delete
                .project-value
                  h2.text-warning
                    | $3 600,20
                .project-people
                  img.img-circle(alt='logo', src='images/a7.jpg')
                  img.img-circle(alt='logo', src='images/a8.jpg')
                  img.img-circle(alt='logo', src='images/a3.jpg')
                  img.img-circle(alt='logo', src='images/a2.jpg')
                  img.img-circle(alt='logo', src='images/a5.jpg')
          .panel-footer
            | Additional information about project in footer
    .row.projects
      .col-lg-6
        .hpanel.hblue
          .panel-body
            span.label.label-info.pull-right NEW
            .row
              .col-sm-8
                h4
                  a(href='')  Website project
                p
                  | Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                .row
                  .col-sm-3
                    .project-label CLIENT
                    small Morph Company
                  .col-sm-3
                    .project-label VERSION
                    small 2.5.2
                  .col-sm-3
                    .project-label DEDLINE
                    small 10.01.2015
                  .col-sm-3
                    .project-label PROGRESS
                    .progress.m-t-xs.full.progress-small
                      .progress-bar.progress-bar-info(style='width: 43%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='43', role='progressbar')
              .col-sm-4.project-info
                .project-action.m-t-md
                  .btn-group
                    button.btn.btn-xs.btn-default  View
                    button.btn.btn-xs.btn-default  Edit
                    button.btn.btn-xs.btn-default  Delete
                .project-value
                  h2.text-info
                    | $456,20
                .project-people
                  img.img-circle(alt='logo', src='images/a8.jpg')
                  img.img-circle(alt='logo', src='images/a2.jpg')
                  img.img-circle(alt='logo', src='images/a1.jpg')
                  img.img-circle(alt='logo', src='images/a4.jpg')
                  img.img-circle(alt='logo', src='images/a6.jpg')
          .panel-footer
            | Additional information about project in footer
      .col-lg-6
        .hpanel.hgreen
          .panel-body
            span.label.label-success.pull-right NEW
            .row
              .col-sm-8
                h4
                  a(href='')  Desing project
                p
                  | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.
                .row
                  .col-sm-3
                    .project-label CLIENT
                    small Hendrix Corp
                  .col-sm-3
                    .project-label VERSION
                    small 1.5.2
                  .col-sm-3
                    .project-label DEDLINE
                    small 12.06.2015
                  .col-sm-3
                    .project-label PROGRESS
                    .progress.m-t-xs.full.progress-small
                      .progress-bar.progress-bar-success(style='width: 12%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='12', role='progressbar')
              .col-sm-4.project-info
                .project-action.m-t-md
                  .btn-group
                    button.btn.btn-xs.btn-default  View
                    button.btn.btn-xs.btn-default  Edit
                    button.btn.btn-xs.btn-default  Delete
                .project-value
                  h2.text-success
                    | $1 206,40
                .project-people
                  img.img-circle(alt='logo', src='images/a1.jpg')
                  img.img-circle(alt='logo', src='images/a2.jpg')
                  img.img-circle(alt='logo', src='images/a3.jpg')
                  img.img-circle(alt='logo', src='images/a4.jpg')
                  img.img-circle(alt='logo', src='images/a5.jpg')
                  img.img-circle(alt='logo', src='images/a6.jpg')
                  img.img-circle(alt='logo', src='images/a7.jpg')
          .panel-footer
            | Additional information about project in footer
    .row.projects
      .col-lg-6
        .hpanel.hgreen
          .panel-body
            .row
              .col-sm-8
                h4
                  a(href='')  New branding
                p
                  | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                .row
                  .col-sm-3
                    .project-label CLIENT
                    small Red Agency
                  .col-sm-3
                    .project-label VERSION
                    small 1.2.1
                  .col-sm-3
                    .project-label DEDLINE
                    small 22.04.2015
                  .col-sm-3
                    .project-label PROGRESS
                    .progress.m-t-xs.full.progress-small
                      .progress-bar.progress-bar-success(style='width: 22%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='22', role='progressbar')
              .col-sm-4.project-info
                .project-action.m-t-md
                  .btn-group
                    button.btn.btn-xs.btn-default  View
                    button.btn.btn-xs.btn-default  Edit
                    button.btn.btn-xs.btn-default  Delete
                .project-value
                  h2.text-success
                    | $680,00
                .project-people
                  img.img-circle(alt='logo', src='images/a5.jpg')
                  img.img-circle(alt='logo', src='images/a3.jpg')
                  img.img-circle(alt='logo', src='images/a6.jpg')
                  img.img-circle(alt='logo', src='images/a8.jpg')
          .panel-footer
            | Additional information about project in footer
      .col-lg-6
        .hpanel.hgreen
          .panel-body
            .row
              .col-sm-8
                h4
                  a(href='')  New branding
                p
                  | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                .row
                  .col-sm-3
                    .project-label CLIENT
                    small Red Agency
                  .col-sm-3
                    .project-label VERSION
                    small 1.2.1
                  .col-sm-3
                    .project-label DEDLINE
                    small 22.04.2015
                  .col-sm-3
                    .project-label PROGRESS
                    .progress.m-t-xs.full.progress-small
                      .progress-bar.progress-bar-success(style='width: 22%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='22', role='progressbar')
              .col-sm-4.project-info
                .project-action.m-t-md
                  .btn-group
                    button.btn.btn-xs.btn-default  View
                    button.btn.btn-xs.btn-default  Edit
                    button.btn.btn-xs.btn-default  Delete
                .project-value
                  h2.text-success
                    | $680,00
                .project-people
                  img.img-circle(alt='logo', src='images/a5.jpg')
                  img.img-circle(alt='logo', src='images/a3.jpg')
                  img.img-circle(alt='logo', src='images/a6.jpg')
                  img.img-circle(alt='logo', src='images/a8.jpg')
          .panel-footer
            | Additional information about project in footer
    .row.projects
      .col-lg-6
        .hpanel.hgreen
          .panel-body
            .row
              .col-sm-8
                h4
                  a(href='')  Project manager app
                p
                  | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum..
                .row
                  .col-sm-3
                    .project-label CLIENT
                    small Vito Company
                  .col-sm-3
                    .project-label VERSION
                    small 3.0.0
                  .col-sm-3
                    .project-label DEDLINE
                    small 16.10.2015
                  .col-sm-3
                    .project-label PROGRESS
                    .progress.m-t-xs.full.progress-small
                      .progress-bar.progress-bar-success(style='width: 65%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='65', role='progressbar')
              .col-sm-4.project-info
                .project-action.m-t-md
                  .btn-group
                    button.btn.btn-xs.btn-default  View
                    button.btn.btn-xs.btn-default  Edit
                    button.btn.btn-xs.btn-default  Delete
                .project-value
                  h2.text-success
                    | $3 600,20
                .project-people
                  img.img-circle(alt='logo', src='images/a7.jpg')
                  img.img-circle(alt='logo', src='images/a8.jpg')
                  img.img-circle(alt='logo', src='images/a3.jpg')
                  img.img-circle(alt='logo', src='images/a2.jpg')
                  img.img-circle(alt='logo', src='images/a5.jpg')
          .panel-footer
            | Additional information about project in footer
      .col-lg-6
        .hpanel.hred
          .panel-body
            span.label.label-danger.pull-right DEDLINE
            .row
              .col-sm-8
                h4
                  a(href='')  Ilustration project
                p
                  | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                .row
                  .col-sm-3
                    .project-label CLIENT
                    small Taco Fresh Company
                  .col-sm-3
                    .project-label VERSION
                    small 1.0.4
                  .col-sm-3
                    .project-label DEDLINE
                    small 26.02.2015
                  .col-sm-3
                    .project-label PROGRESS
                    .progress.m-t-xs.full.progress-small
                      .progress-bar.progress-bar-danger(style='width: 23%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='23', role='progressbar')
              .col-sm-4.project-info
                .project-action.m-t-md
                  .btn-group
                    button.btn.btn-xs.btn-default  View
                    button.btn.btn-xs.btn-default  Edit
                    button.btn.btn-xs.btn-default  Delete
                .project-value
                  h2.text-danger
                    | $456,20
                .project-people
                  img.img-circle(alt='logo', src='images/a5.jpg')
                  img.img-circle(alt='logo', src='images/a3.jpg')
                  img.img-circle(alt='logo', src='images/a1.jpg')
                  img.img-circle(alt='logo', src='images/a6.jpg')
          .panel-footer
            | Additional information about project in footer
    .row.projects
      .col-lg-6
        .hpanel.hred
          .panel-body
            span.label.label-danger.pull-right DEDLINE
            .row
              .col-sm-8
                h4
                  a(href='')  Ilustration project
                p
                  | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                .row
                  .col-sm-3
                    .project-label CLIENT
                    small Taco Fresh Company
                  .col-sm-3
                    .project-label VERSION
                    small 1.0.4
                  .col-sm-3
                    .project-label DEDLINE
                    small 26.02.2015
                  .col-sm-3
                    .project-label PROGRESS
                    .progress.m-t-xs.full.progress-small
                      .progress-bar.progress-bar-danger(style='width: 23%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='23', role='progressbar')
              .col-sm-4.project-info
                .project-action.m-t-md
                  .btn-group
                    button.btn.btn-xs.btn-default  View
                    button.btn.btn-xs.btn-default  Edit
                    button.btn.btn-xs.btn-default  Delete
                .project-value
                  h2.text-danger
                    | $456,20
                .project-people
                  img.img-circle(alt='logo', src='images/a5.jpg')
                  img.img-circle(alt='logo', src='images/a3.jpg')
                  img.img-circle(alt='logo', src='images/a1.jpg')
                  img.img-circle(alt='logo', src='images/a6.jpg')
          .panel-footer
            | Additional information about project in footer
      .col-lg-6
        .hpanel.hblue
          .panel-body
            span.label.label-info.pull-right NEW
            .row
              .col-sm-8
                h4
                  a(href='')  Website project
                p
                  | Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                .row
                  .col-sm-3
                    .project-label CLIENT
                    small Morph Company
                  .col-sm-3
                    .project-label VERSION
                    small 2.5.2
                  .col-sm-3
                    .project-label DEDLINE
                    small 10.01.2015
                  .col-sm-3
                    .project-label PROGRESS
                    .progress.m-t-xs.full.progress-small
                      .progress-bar.progress-bar-info(style='width: 43%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='43', role='progressbar')
              .col-sm-4.project-info
                .project-action.m-t-md
                  .btn-group
                    button.btn.btn-xs.btn-default  View
                    button.btn.btn-xs.btn-default  Edit
                    button.btn.btn-xs.btn-default  Delete
                .project-value
                  h2.text-info
                    | $456,20
                .project-people
                  img.img-circle(alt='logo', src='images/a8.jpg')
                  img.img-circle(alt='logo', src='images/a2.jpg')
                  img.img-circle(alt='logo', src='images/a1.jpg')
                  img.img-circle(alt='logo', src='images/a4.jpg')
                  img.img-circle(alt='logo', src='images/a6.jpg')
          .panel-footer
            | Additional information about project in footer
