extends ../../../layouts/example-app_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span App views
            li.active
              span Social board 
        h2.font-light.m-b-xs
          | Social board
        small Message board for social interactions.
  .content.animate-panel
    .row.social-board
      .col-lg-4
        .hpanel.hblue
          .panel-body
            .media.social-profile.clearfix
              a.pull-left
                img(src='images/a4.jpg', alt='profile-picture')
              .media-body
                h5 Anna Smith
                small.text-muted 21.03.2015
            .social-content.m-t-md
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .panel-footer
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a1.jpg', alt='profile-picture')
                .media-body
                  span.font-bold John Novak
                  small.text-muted 21.03.2015
                  .social-content
                    | Injected humour, or randomised words which don't look even slightly believable.
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a3.jpg', alt='profile-picture')
                .media-body
                  span.font-bold Mark Smith
                  small.text-muted 14.04.2015
                  .social-content
                    | Many desktop publishing packages and web page editors.
            .social-form
              input.form-control(placeholder='Your comment')
        .hpanel.hyellow
          .panel-body
            .media.social-profile.clearfix
              span.label.label-warning.pull-right NEW
              a.pull-left
                img(src='images/a2.jpg', alt='profile-picture')
              .media-body
                h5 Ivan Novak
                small.text-muted 26.11.2015
            .social-content.m-t-md
              | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              | publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          .panel-footer
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a4.jpg', alt='profile-picture')
                .media-body
                  span.font-bold John Novak
                  small.text-muted 21.03.2015
                  .social-content
                    | Injected humour, or randomised words which don't look even slightly believable.
            .social-form
              input.form-control(placeholder='Your comment')
        .hpanel.hgreen
          .panel-body
            .media.social-profile.clearfix
              a.pull-left
                img(src='images/a7.jpg', alt='profile-picture')
              .media-body
                h5 John Smith
                small.text-muted 13.05.2015
            .social-content.m-t-md
              | There are many variations of passages of Lorem Ipsum available, but the majority have By injected humour, or randomised words which don't look even slightly believable.
              img.img-responsive.m-t-md(src='images/p2.jpg', alt='')
          .panel-footer
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a1.jpg', alt='profile-picture')
                .media-body
                  span.font-bold John Novak
                  small.text-muted 21.03.2015
                  .social-content
                    | Injected humour, or randomised words which don't look even slightly believable.
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a3.jpg', alt='profile-picture')
                .media-body
                  span.font-bold Mark Smith
                  small.text-muted 14.04.2015
                  .social-content
                    | Many desktop publishing packages and web page editors.
            .social-form
              input.form-control(placeholder='Your comment')
      .col-lg-4
        .hpanel.hgreen
          .panel-body
            .media.social-profile.clearfix
              a.pull-left
                img(src='images/a7.jpg', alt='profile-picture')
              .media-body
                h5 John Smith
                small.text-muted 13.05.2015
            .social-content.m-t-md
              | There are many variations of passages of Lorem Ipsum available, but the majority have By injected humour, or randomised words which don't look even slightly believable.
              br
              br
              |  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
          .panel-footer
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a1.jpg', alt='profile-picture')
                .media-body
                  span.font-bold John Novak
                  small.text-muted 21.03.2015
                  .social-content
                    | Injected humour, or randomised words which don't look even slightly believable.
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a3.jpg', alt='profile-picture')
                .media-body
                  span.font-bold Mark Smith
                  small.text-muted 14.04.2015
                  .social-content
                    | Many desktop publishing packages and web page editors.
            .social-form
              input.form-control(placeholder='Your comment')
        .hpanel.hblue
          .panel-body
            .media.social-profile.clearfix
              a.pull-left
                img(src='images/a4.jpg', alt='profile-picture')
              .media-body
                h5 Anna Smith
                small.text-muted 10.06.2015
            .social-content.m-t-md
              | Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc
          .panel-footer
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a1.jpg', alt='profile-picture')
                .media-body
                  span.font-bold John Novak
                  small.text-muted 21.03.2015
                  .social-content
                    | Injected humour, or randomised words which don't look even slightly believable.
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a3.jpg', alt='profile-picture')
                .media-body
                  span.font-bold Mark Smith
                  small.text-muted 14.04.2015
                  .social-content
                    | Many desktop publishing packages and web page editors.
            .social-form
              input.form-control(placeholder='Your comment')
        .hpanel.hyellow
          .panel-body
            .media.social-profile.clearfix
              span.label.label-warning.pull-right NEW
              a.pull-left
                img(src='images/a6.jpg', alt='profile-picture')
              .media-body
                h5 Mark Smith
                small.text-muted 02.02.2015
            .social-content.m-t-md
              | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              | publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          .panel-footer
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a2.jpg', alt='profile-picture')
                .media-body
                  span.font-bold John Novak
                  small.text-muted 21.03.2015
                  .social-content
                    | Injected humour, or randomised words which don't look even slightly believable.
            .social-form
              input.form-control(placeholder='Your comment')
      .col-lg-4
        .hpanel.hyellow
          .panel-body
            .media.social-profile.clearfix
              span.label.label-warning.pull-right NEW
              a.pull-left
                img(src='images/a6.jpg', alt='profile-picture')
              .media-body
                h5 Mark Smith
                small.text-muted 02.02.2015
            .social-content.m-t-md
              | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              | publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          .panel-footer
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a2.jpg', alt='profile-picture')
                .media-body
                  span.font-bold John Novak
                  small.text-muted 21.03.2015
                  .social-content
                    | Injected humour, or randomised words which don't look even slightly believable.
            .social-form
              input.form-control(placeholder='Your comment')
        .hpanel.hgreen
          .panel-body
            .media.social-profile.clearfix
              a.pull-left
                img(src='images/a7.jpg', alt='profile-picture')
              .media-body
                h5 John Smith
                small.text-muted 13.05.2015
            .social-content.m-t-md
              | There are many variations of passages of Lorem Ipsum available, but the majority have By injected humour, or randomised words which don't look even slightly believable (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise
              | on the theory of ethics, very popular during the Renaissance .
          .panel-footer
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a1.jpg', alt='profile-picture')
                .media-body
                  span.font-bold John Novak
                  small.text-muted 21.03.2015
                  .social-content
                    | Injected humour, or randomised words which don't look even slightly believable.
            .social-form
              input.form-control(placeholder='Your comment')
        .hpanel.hblue
          .panel-body
            .media.social-profile.clearfix
              a.pull-left
                img(src='images/a9.jpg', alt='profile-picture')
              .media-body
                h5 Michael Smith
                small.text-muted 21.03.2015
            .social-content.m-t-md
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .panel-footer
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a1.jpg', alt='profile-picture')
                .media-body
                  span.font-bold John Novak
                  small.text-muted 21.03.2015
                  .social-content
                    | Injected humour, or randomised words which don't look even slightly believable.
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a3.jpg', alt='profile-picture')
                .media-body
                  span.font-bold Mark Smith
                  small.text-muted 14.04.2015
                  .social-content
                    | Many desktop publishing packages and web page editors.
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='images/a1.jpg', alt='profile-picture')
                .media-body
                  span.font-bold Mark Smith
                  small.text-muted 14.04.2015
                  .social-content
                    | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            .social-form
              input.form-control(placeholder='Your comment')
