extends ../../../layouts/example-app_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span App views
            li.active
              span Timeline 
        h2.font-light.m-b-xs
          | Timeline
        small Present your events in timeline style.
  .content
    .row
      .col-md-6
        .hpanel
          .v-timeline.vertical-container.animate-panel(data-child='vertical-timeline-block', data-delay='1')
            .vertical-timeline-block
              .vertical-timeline-icon.navy-bg
                i.fa.fa-calendar
              .vertical-timeline-content
                .p-sm
                  span.vertical-date.pull-right
                    | Saturday 
                    br
                    small 12:17:43 PM
                  h2 The standard chunk of Lorem Ipsum
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                .panel-footer
                  | It is a long established fact that
            .vertical-timeline-block
              .vertical-timeline-icon.navy-bg
                i.fa.fa-calendar
              .vertical-timeline-content
                .p-sm
                  span.vertical-date.pull-right
                    | Saturday 
                    br
                    small 12:17:43 PM
                  h2 There are many variations
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                .panel-footer
                  | It is a long established fact that
            .vertical-timeline-block
              .vertical-timeline-icon.navy-bg
                i.fa.fa-calendar
              .vertical-timeline-content
                .p-sm
                  span.vertical-date.pull-right
                    | Saturday 
                    br
                    small 12:17:43 PM
                  h2 Contrary to popular belief
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                .panel-footer
                  | It is a long established fact that
            .vertical-timeline-block
              .vertical-timeline-icon.navy-bg
                i.fa.fa-calendar
              .vertical-timeline-content
                .p-sm
                  span.vertical-date.pull-right
                    | Saturday 
                    br
                    small 12:17:43 PM
                  h2 The generated Lorem Ipsum
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                .panel-footer
                  | It is a long established fact that
            .vertical-timeline-block
              .vertical-timeline-icon.navy-bg
                i.fa.fa-calendar
              .vertical-timeline-content
                .p-sm
                  span.vertical-date.pull-right
                    | Saturday 
                    br
                    small 12:17:43 PM
                  h2 The standard chunk
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                .panel-footer
                  | It is a long established fact that
      .col-md-6
        .hpanel
          .v-timeline.vertical-container.animate-panel(data-child='vertical-timeline-block', data-delay='1')
            .vertical-timeline-block
              .vertical-timeline-icon.navy-bg
                i.fa.fa-calendar
              .vertical-timeline-content
                .p-sm
                  span.vertical-date.pull-right
                    | Saturday 
                    br
                    small 12:17:43 PM
                  h2 The standard chunk of Lorem Ipsum
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                .panel-footer
                  | It is a long established fact that
            .vertical-timeline-block
              .vertical-timeline-icon.navy-bg
                i.fa.fa-calendar
              .vertical-timeline-content
                .p-sm
                  span.vertical-date.pull-right
                    | Saturday 
                    br
                    small 12:17:43 PM
                  h2 There are many variations
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                .panel-footer
                  | It is a long established fact that
            .vertical-timeline-block
              .vertical-timeline-icon.navy-bg
                i.fa.fa-calendar
              .vertical-timeline-content
                .p-sm
                  span.vertical-date.pull-right
                    | Saturday 
                    br
                    small 12:17:43 PM
                  h2 Contrary to popular belief
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                .panel-footer
                  | It is a long established fact that
            .vertical-timeline-block
              .vertical-timeline-icon.navy-bg
                i.fa.fa-calendar
              .vertical-timeline-content
                .p-sm
                  span.vertical-date.pull-right
                    | Saturday 
                    br
                    small 12:17:43 PM
                  h2 The generated Lorem Ipsum
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                .panel-footer
                  | It is a long established fact that
            .vertical-timeline-block
              .vertical-timeline-icon.navy-bg
                i.fa.fa-calendar
              .vertical-timeline-content
                .p-sm
                  span.vertical-date.pull-right
                    | Saturday 
                    br
                    small 12:17:43 PM
                  h2 The standard chunk
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                .panel-footer
                  | It is a long established fact that
