extends ../../../layouts/example-app_layout

block scripts
  script(src='/vendor/jquery-flot/jquery.flot.js')
  script(src='/vendor/jquery-flot/jquery.flot.resize.js')
  script(src='/vendor/jquery-flot/jquery.flot.pie.js')
  script(src='/vendor/flot.curvedlines/curvedLines.js')
  script(src='/vendor/jquery.flot.spline/index.js')
  script(src='/exampleapp/scripts/widgets.js')

block content
  .content.animate-panel
    .row
      .col-md-3
        .hpanel
          .panel-body
            .text-center
              h2.m-b-xs Box title
              p.font-bold.text-success Lorem ipsum
              .m
                i.pe-7s-science.fa-5x
              p.small
                | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              button.btn.btn-success.btn-sm Action button
      .col-md-3
        .hpanel
          .panel-body
            .text-center
              h2.m-b-xs Box title
              p.font-bold.text-info Lorem ipsum
              .m
                i.pe-7s-global.fa-5x
              p.small
                | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              button.btn.btn-info.btn-sm Action button
      .col-md-3
        .hpanel
          .panel-body
            .text-center
              h2.m-b-xs Box title
              p.font-bold.text-warning Lorem ipsum
              .m
                i.pe-7s-display1.fa-5x
              p.small
                | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              button.btn.btn-warning.btn-sm Action button
      .col-md-3
        .hpanel
          .panel-body
            .text-center
              h2.m-b-xs Box title
              p.font-bold.text-danger Lorem ipsum
              .m
                i.pe-7s-airplay.fa-5x
              p.small
                | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              button.btn.btn-danger.btn-sm Action button
    .row
      .col-md-3
        .hpanel
          .panel-body
            .stats-title.pull-left
              h4 Page Views
            .stats-icon.pull-right
              i.pe-7s-monitor.fa-4x
            .m-t-xl
              h1.text-success 160k+
              small
                | Lorem Ipsum is simply dummy text of the printing and 
                strong typesetting industry
                | . Lorem Ipsum has been.
      .col-md-3
        .hpanel
          .panel-body
            .stats-title.pull-left
              h4 Acite Views
            .stats-icon.pull-right
              i.pe-7s-shuffle.fa-4x
            .m-t-xl
              h1.text-info 462
              small
                | Lorem Ipsum is simply dummy text of the printing and 
                strong typesetting industry
                | . Lorem Ipsum has been.
      .col-md-3
        .hpanel
          .panel-body
            .stats-title.pull-left
              h4 Income
            .stats-icon.pull-right
              i.pe-7s-ticket.fa-4x
            .m-t-xl
              h1.text-warning $200,00
              small
                | Lorem Ipsum is simply dummy text of the printing and 
                strong typesetting industry
                | . Lorem Ipsum has been.
      .col-md-3
        .hpanel
          .panel-body
            .stats-title.pull-left
              h4 Messages
            .stats-icon.pull-right
              i.pe-7s-attention.fa-4x
            .m-t-xl
              h1.text-danger 680
              small
                | Lorem Ipsum is simply dummy text of the printing and 
                strong typesetting industry
                | . Lorem Ipsum has been.
    .row
      .col-md-3
        .hpanel
          .panel-body
            .stats-title.pull-left
              h4 Chart box
            .flot-chart(style='height: 150px')
              #flot-line-chart.flot-chart-content(style='height: 150px')
      .col-md-3
        .hpanel
          .panel-body
            .stats-title.pull-left
              h4 Chart box
            .flot-chart(style='height: 150px')
              #flot-bar-chart.flot-chart-content(style='height: 150px')
      .col-md-3
        .hpanel
          .panel-body
            .stats-title.pull-left
              h4 Chart box
            .flot-chart.m-t-lg(style='height: 120px')
              #flot-pie-chart.flot-chart-content(style='height: 120px')
      .col-md-3
        .hpanel
          .panel-body
            .stats-title
              h4 Progress box
            .m-t-lg
              .progress.m-t-xs.full.progress-small
                .progress-bar.progress-bar-danger(style='width: 25%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='25', role='progressbar')
                  span.sr-only 35% Complete (success)
              .progress.m-t-xs.full.progress-small
                .progress-bar.progress-bar-danger(style='width: 35%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='35', role='progressbar')
                  span.sr-only 35% Complete (success)
              .progress.m-t-xs.full.progress-small
                .progress-bar.progress-bar-danger(style='width: 55%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='55', role='progressbar')
                  span.sr-only 35% Complete (success)
              .progress.m-t-xs.full.progress-small
                .progress-bar.progress-bar-danger(style='width: 75%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='75', role='progressbar')
                  span.sr-only 35% Complete (success)
              .progress.m-t-xs.full.progress-small
                .progress-bar.progress-bar-danger(style='width: 95%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='95', role='progressbar')
                  span.sr-only 35% Complete (success)
    .row
      .col-md-3
        .hpanel.hbggreen
          .panel-body
            .text-center
              h3 Title text
              p.text-big.font-light
                | 20
              small
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      .col-md-3
        .hpanel.hbgblue
          .panel-body
            .text-center
              h3 Title text
              p.text-big.font-light
                | 160
              small
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      .col-md-3
        .hpanel.hbgyellow
          .panel-body
            .text-center
              h3 Title text
              p.text-big.font-light
                | 750
              small
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      .col-md-3
        .hpanel.hbgred
          .panel-body
            .text-center
              h3 Title text
              p.text-big.font-light
                | 0,43
              small
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    .row
      .col-md-3
        .hpanel
          .panel-body
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    th Task
                    th Date
                tbody
                  tr
                    td
                      span.text-success.font-bold Lorem ipsum
                    td Jul 14, 2013
                  tr
                    td
                      span.text-success.font-bold Lorem ipsum
                    td Jul 09, 2015
                  tr
                    td
                      span.text-success.font-bold Lorem ipsum
                    td Jul 24, 2014
      .col-md-3
        .hpanel
          .panel-body
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    th Task
                    th Date
                tbody
                  tr
                    td
                      span.text-info.font-bold Lorem ipsum
                    td Jul 14, 2013
                  tr
                    td
                      span.text-info.font-bold Lorem ipsum
                    td Jul 09, 2015
                  tr
                    td
                      span.text-info.font-bold Lorem ipsum
                    td Jul 24, 2014
      .col-md-3
        .hpanel
          .panel-body
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    th Task
                    th Date
                tbody
                  tr
                    td
                      span.text-warning.font-bold Lorem ipsum
                    td Jul 14, 2013
                  tr
                    td
                      span.text-warning.font-bold Lorem ipsum
                    td Jul 09, 2015
                  tr
                    td
                      span.text-warning.font-bold Lorem ipsum
                    td Jul 24, 2014
      .col-md-3
        .hpanel
          .panel-body
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    th Task
                    th Date
                tbody
                  tr
                    td
                      span.text-danger.font-bold Lorem ipsum
                    td Jul 14, 2013
                  tr
                    td
                      span.text-danger.font-bold Lorem ipsum
                    td Jul 09, 2015
                  tr
                    td
                      span.text-danger.font-bold Lorem ipsum
                    td Jul 24, 2014
  
