extends ../../../layouts/example-app_layout

block scripts
  script(src='/vendor/sweetalert/lib/sweet-alert.min.js')
  script(src='/exampleapp/scripts/wizard.js')

block styles
  link(rel='stylesheet', href='/vendor/sweetalert/lib/sweet-alert.css')

block content
  .small-header
    .hpanel
      .panel-body
        #hbreadcrumb.pull-right
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span Forms
            li.active
              span Wizard 
        h2.font-light.m-b-xs
          | Wizard
        small Build a form with wizard functionality.
  .content
    .row
      .col-lg-12
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Example fo wizard form
          .panel-body
            form#simpleForm(name='simpleForm', novalidate='', action='#', method='post')
              #wizardControl.text-center.m-b-md
                a.btn.btn-primary(href='#step1', data-toggle='tab') Step 1 - Personal data
                a.btn.btn-default(href='#step2', data-toggle='tab') Step 2 - Payment data
                a.btn.btn-default(href='#step3', data-toggle='tab') Step 3 - Approval
              .tab-content
                #step1.p-m.tab-pane.active
                  .row
                    .col-lg-3.text-center
                      i.pe-7s-user.fa-5x.text-muted
                      p.small.m-t-md
                        strong Lorem Ipsum
                        |  is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                        br
                        br
                        | Lorem Ipsum has been the industry's dummy text of the printing and typesetting
                    .col-lg-9
                      .row
                        .form-group.col-lg-12
                          label Username
                          input.form-control(type='', value='', id='', name='username', placeholder='username')
                        .form-group.col-lg-6
                          label Password
                          input.form-control(type='password', value='', id='', name='', placeholder='******')
                        .form-group.col-lg-6
                          label Company
                          input.form-control(type='text', value='', id='', name='', placeholder='Company Name')
                        .form-group.col-lg-6
                          label Email Address
                          input.form-control(type='', value='', id='', name='', placeholder='user@email.com')
                        .form-group.col-lg-6
                          label Country
                          input.form-control(type='text', value='', id='', name='', placeholder='UK')
                  .text-right.m-t-xs
                    a.btn.btn-default.prev(href='#') Previous
                    a.btn.btn-default.next(href='#') Next
                #step2.p-m.tab-pane
                  .row
                    .col-lg-3.text-center
                      i.pe-7s-credit.fa-5x.text-muted
                      p.small.m-t-md
                        strong It is a long
                        |  established fact that a reader will be distracted by the readable
                        br
                        br
                        | Many desktop publishing packages and web page editors now use
                    .col-lg-9
                      .row
                        .form-group.col-lg-12
                          label Name on Card
                          input.form-control(type='', value='', id='', name='card_name')
                        .form-group.col-lg-6
                          label Card Number
                          input.form-control(type='text', value='', id='', name='')
                        .form-group.col-lg-6
                          label Billing Address
                          input.form-control(type='text', value='', id='', name='')
                        .form-group.col-lg-12
                          .row
                            .col-xs-4.form-group
                              label CVC
                              input.form-control(placeholder='ex. 381', type='text', name='cvc')
                            .col-xs-4.form-group
                              label Expiration
                              input.form-control(placeholder='MM', type='text', name='expire_month')
                            .col-xs-4.form-group
                              label
                              input.form-control(placeholder='YYYY', type='text', name='expire_year')
                  .text-right.m-t-xs
                    a.btn.btn-default.prev(href='#') Previous
                    a.btn.btn-default.next(href='#') Next
                #step3.tab-pane
                  .row.text-center.m-t-lg.m-b-lg
                    .col-lg-12
                      i.pe-7s-check.fa-5x.text-muted
                      p.small.m-t-md
                        strong There are many
                        |  variations of passages of Lorem Ipsum available, but the majority have suffered
                    .checkbox.col-lg-12
                      input.i-checks.approveCheck(type='checkbox', name='approve')
                      |  Approve this form
                  .text-right.m-t-xs
                    a.btn.btn-default.prev(href='#') Previous
                    a.btn.btn-default.next(href='#') Next
                    a.btn.btn-success.submitWizard(href='#') Submit
            .m-t-md
              p
                | This is an example of a wizard form which can be easy adjusted. Since each step is a tab, and each clik to next tab is a function you can easily add validation or any other functionality.
