extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/manage_companies') Manage Companies
            li.active
              span Create New Company
        h2.font-light.m-b-xs
          | Create New Company
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            form.form-horizontal(action="/../../../root/create_company" method="post")
              .form-group
                label.col-sm-2.control-label Company Name
                .col-sm-10
                  input.form-control(type='text' name="company_name")
              //.hr-line-dashed
              .hr-line-dashed
              h4
                | Basic Contact
              .form-group
                label.col-sm-2.control-label Email
                .col-sm-10
                  input.form-control(type='text' name="company_email")
              .form-group
                label.col-sm-2.control-label Phone Number
                .col-sm-10
                  input.form-control(type='text' name="company_phone")
              .form-group
                label.col-sm-2.control-label 
                .col-sm-10
                  .alert.alert-info NOTE: The address below will not be shown on your website. It is used for invoices.
              br
              .form-group
                label.col-sm-2.control-label Address 1
                .col-sm-10
                  input.form-control(type='text' name="company_address1")
              .form-group
                label.col-sm-2.control-label Address 2
                .col-sm-10
                  input.form-control(type='text' name="company_address2")
              .form-group
                label.col-sm-2.control-label City
                .col-sm-10
                  input.form-control(type='text' name="company_city")
              .form-group
                label.col-sm-2.control-label State
                .col-sm-10
                  input.form-control(type='text' name="company_state")
              .form-group
                label.col-sm-2.control-label Zip
                .col-sm-10
                  input.form-control(type='text' name="company_zip")
              .hr-line-dashed
              h4
                | Social Media Links (optional)
              .form-group
                label.col-sm-2.control-label Angie List
                .col-sm-10
                  input.form-control(type='text' name="company_angieList")
              .form-group
                label.col-sm-2.control-label Facebook
                .col-sm-10
                  input.form-control(type='text' name="company_facebook")
              .form-group
                label.col-sm-2.control-label Instagram
                .col-sm-10
                  input.form-control(type='text' name="company_instagram")
              .form-group
                label.col-sm-2.control-label Twitter
                .col-sm-10
                  input.form-control(type='text' name="company_twitter")
              .form-group
                label.col-sm-2.control-label Yelp
                .col-sm-10
                  input.form-control(type='text' name="company_yelp")
              
              .hr-line-dashed
              
              input(type='hidden' name='_csrf' value='#{_csrf}')
              .form-group
                label.col-sm-2.control-label 
                .col-sm-10
                  button.btn.btn-success(type="submit") Save
            