extends ../../../layouts/dashboard_layout

block scripts
    script(src="/boiler-tech/projects/root/manage_companies/scripts/view.js")
    

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/manage_companies') Manage Companies
            li.active
              span #{company.company_name}
        h2.font-light.m-b-xs
          | #{company.company_name}
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            input(type="hidden" id="companyId" value="#{company.id}")
            .form-horizontal
              .form-group
                label.col-sm-2.control-label Add avaible users
                .col-xs-8
                  select#avaibleUsers.form-control
                    each theUser in avaibleUsers
                      option(value="#{theUser.id}") #{theUser.profile.name}
                .col-xs-2
                  a.btn.btn-success(href="#" onclick="addUser();") ADD
            
            .hr-line-dashed
            h4 Current users in this company
            if company_users && company_users.length > 0
              .table-responsive
                table#example2.table.table-striped.table-bordered.table-hover
                  thead
                    tr
                      th Name
                      th Email
                      th Access
                      th Action
                  tbody
                    each theUser in company_users
                      tr
                        td #{theUser.profile.name}
                        td #{theUser.email}
                        td #{theUser.userSiteAccess.powerUser}
                        td 
                          a.btn.btn-danger(href="/root/remove_user_from_company?userId=#{theUser.id}&companyId=#{company.id}") Remove
            else
              .alert.alert-info NOTE: This company doesn't have any users.
            
              each theUser in company_users
                p
                  | #{theUser.profile.name}