extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/manage_users') Manage Users
            li
              a(href='/root/manage_user/#{theUser.id}') Edit User
            li.active
              span Make Webmaster
        h2.font-light.m-b-xs
          | Make Webmaster
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
            |                     Current User: &nbsp; &nbsp; #{theUser.profile.name || "n/a"}
          .panel-body
            h3 Please verify that you want the user "#{theUser.email}" to become a webmaster.
                form.form-horizontal(method='post',action='../../../../root/make_webmaster')
                  input(type='hidden', name='_csrf', value=_csrf)
                  input(type='hidden', name='id', value=theUser.id)
                  .hr-line-dashed
                  if theUser.role == 'webmaster'
                    p Please enter code to lock out user
                      input.form-control(type='text', name='removeWebmasterCode')
                  .form-group
                    .col-sm-8.col-sm-offset-2
                      a(href="/root/manage_user/#{theUser.id}").btn.btn-default Cancel 
                      &nbsp;&nbsp;
                      button.btn.btn-primary(type='submit') Yes I want user to become webmaster
    
      
