extends ../../../layouts/dashboard_layout

block scripts
    script(src="/vendor/knockout-3.4.0/knockout.js")
    script(src="/boiler-tech/projects/root/manage_companies/scripts/view.js")
    

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/manage_companies') Manage Companies
            li
              a(href='/root/manage_company?id=#{company.id}') #{company.company_name}
            li.active
              span Remove #{theUser.profile.name}
        h2.font-light.m-b-xs
          | Remove "#{theUser.profile.name}" from "#{company.company_name}"
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hred
          .panel-body
            form(method="post" action="../../../../root/remove_user_from_company")
                input(type="hidden" name="_csrf" value="#{_csrf}")
                input(type="hidden" name="userId" value="#{theUser.id}")
                input(type="hidden" name="companyId" value="#{company.id}")
                h4 Are you sure you want to?
                button.btn.btn-danger(type="submit") REMOVE #{theUser.profile.name}