extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li.active
              span Manage Companies
        h2.font-light.m-b-xs
          | Manage Companies
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            .row
              a.btn.btn-success(href="/root/create_company") CREATE NEW COMPANY
            
            .hr-line-dashed
            
            .table-responsive
              table#example2.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th Name
                    th Url
                    th Active subscription
                    th Payments on time
                    th Action
                tbody
                  each existingCompany in companies
                    tr
                      td #{existingCompany.company_name}
                      td #{existingCompany.company_url}
                      td #{existingCompany.company_isActive}
                      td #{existingCompany.company_isGoodOnPayments}
                      td 
                        a.btn.btn-default(href="/root/manage_company?id=#{existingCompany.id}") Edit
       