extends ../../../layouts/dashboard_layout

block scripts
  script(src="../../../this/projects/app/notifications/scripts/view.js")

block content
  //boiler plate.. default for scaffolding blank layout.
  .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='/app/dashboard') App
              li.active
                span All Notifications
          h2.font-light.m-b-xs
            | All Notifications
    .content.animate-panel
      .row
        .col-lg-12
            include ../../../layouts/partials/dashboard/flash
      .row
        .col-lg-12
          .hpanel.hgreen
            .panel-body
              //Your code
              .table-responsive
                table.table(cellpadding='1', cellspacing='1')
                  col(width="20%")
                  col(width="10%")
                  col(width="40%")
                  col(width="30%")
                  thead
                    tr
                      th Status
                      th
                      th Notification
                      th Date
                  tbody#notifications-list
                  
                    each notification in notifications
                      tr(class=notification.isRead ? "" : "not-read")
                        td(style=notification.isRead ? "color:green;" : "color:red")
                          if !notification.isRead
                            input(type="checkbox" onclick="goToLink('#{notification.id}', this)") 
                          | #{notification.isRead ? 'Read' : '  Unread'}
                        td
                          if notification.url.length
                            p(onclick="notificationLink('#{notification.id}','#{notification.url}', #{notification.isRead})" id=notification.id style="color:blue;text-decoration:underline;cursor: pointer;") Link
                        td  
                          | #{notification.message}
                        td=notification.date
            .panel-footer You have #{unread} unread out of #{notifications.length} total