include partial_header
br
br
.text-center
  h3
    strong PROJECTS
    
br
.col-sm-12.col-md-8.col-lg-8.col-md-offset-2.col-lg-offset.2

  script(src='#{appSetting.app_anchor_url}vendor/blueimp-gallery/js/jquery.blueimp-gallery.min.js')
  style.
    .lightBoxGallery {
    text-align: center;
    }
    .lightBoxGallery a {
    margin: 5px;
    display: inline-block;
    }
  link(rel='stylesheet', href='#{appSetting.app_anchor_url}vendor/blueimp-gallery/css/blueimp-gallery.min.css')
  .panel.panel-default.panel-body
    .panel.panel-default
      .panel-heading
        h3 Project 1
          br
          small Cras dignissim purus vitae felis pretium condimentum. Donec mi nisi, volutpat nec venenatis vel, pretium at tortor. 
      .panel-body.text-center
        h4 Before
        .row.links
          a(href='https://farm2.static.flickr.com/1590/25150196263_092b8822f2_b.jpg', title='Project 1 - Before', data-gallery='')
            img(src='https://farm2.static.flickr.com/1590/25150196263_092b8822f2_s.jpg')
          a(href='https://farm2.static.flickr.com/1623/25654663682_30a79719d2_b.jpg', title='Project 1 - Before', data-gallery='')
            img(src='https://farm2.static.flickr.com/1623/25654663682_30a79719d2_s.jpg')
          a(href='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_b.jpg', title='Project 1 - Before', data-gallery='')
            img(src='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_s.jpg')
          a(href='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_b.jpg', title='Project 1 - Before', data-gallery='')
            img(src='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_s.jpg')
      .panel-footer.text-center
        h4 After
        .row.links    
          a(href='https://farm2.static.flickr.com/1569/25151330144_12bce9fc58_s.jpg', title='Project 1 - After', data-gallery='')
            img(src='https://farm2.static.flickr.com/1569/25151330144_12bce9fc58_s.jpg')
          a(href='https://farm2.static.flickr.com/1476/25147387453_8a51f464fd_b.jpg', title='Project 1 - After', data-gallery='')
            img(src='https://farm2.static.flickr.com/1476/25147387453_8a51f464fd_s.jpg')
          a(href='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_b.jpg', title='Project 1 - After', data-gallery='')
            img(src='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_s.jpg')
          a(href='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_b.jpg', title='Project 1 - After', data-gallery='')
            img(src='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_s.jpg')
    br
    .panel.panel-default
      .panel-heading
        h3 Project 2
          br
          small Suspendisse ac facilisis lectus. Fusce mollis neque arcu, eget iaculis libero lobortis at.
      .panel-body.text-center
        h4 Before
        .row.links
          a(href='https://farm2.static.flickr.com/1590/25150196263_092b8822f2_b.jpg', title='Project 2 - Before', data-gallery='')
            img(src='https://farm2.static.flickr.com/1590/25150196263_092b8822f2_s.jpg')
          a(href='https://farm2.static.flickr.com/1623/25654663682_30a79719d2_b.jpg', title='Project 2 - Before', data-gallery='')
            img(src='https://farm2.static.flickr.com/1623/25654663682_30a79719d2_s.jpg')
          a(href='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_b.jpg', title='Project 2 - Before', data-gallery='')
            img(src='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_s.jpg')
          a(href='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_b.jpg', title='Project 2 - Before', data-gallery='')
            img(src='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_s.jpg')
      .panel-footer.text-center
        h4 After
        .row.links    
          a(href='https://farm2.static.flickr.com/1590/25150196263_092b8822f2_b.jpg', title='Project 2 - After', data-gallery='')
            img(src='https://farm2.static.flickr.com/1590/25150196263_092b8822f2_s.jpg')
          a(href='https://farm2.static.flickr.com/1623/25654663682_30a79719d2_b.jpg', title='Project 2 - After', data-gallery='')
            img(src='https://farm2.static.flickr.com/1623/25654663682_30a79719d2_s.jpg')
          a(href='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_b.jpg', title='Project 2 - After', data-gallery='')
            img(src='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_s.jpg')
          a(href='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_b.jpg', title='Project 2 - After', data-gallery='')
            img(src='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_s.jpg')
    br
    .panel.panel-default
      .panel-heading
        h3 Project 3
          br
          small Donec tincidunt lacus quis augue fermentum, eu aliquam felis pretium. Etiam vehicula leo ante, in mattis quam ultrices at.
      .panel-body.text-center
        h4 Before
        .row.links
          a(href='https://farm2.static.flickr.com/1590/25150196263_092b8822f2_b.jpg', title='Project 3 - Before', data-gallery='')
            img(src='https://farm2.static.flickr.com/1590/25150196263_092b8822f2_s.jpg')
          a(href='https://farm2.static.flickr.com/1623/25654663682_30a79719d2_b.jpg', title='Project 3 - Before', data-gallery='')
            img(src='https://farm2.static.flickr.com/1623/25654663682_30a79719d2_s.jpg')
          a(href='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_b.jpg', title='Project 3 - Before', data-gallery='')
            img(src='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_s.jpg')
          a(href='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_b.jpg', title='Project 3 - Before', data-gallery='')
            img(src='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_s.jpg')
      .panel-footer.text-center
        h4 After
        .row.links    
          a(href='https://farm2.static.flickr.com/1590/25150196263_092b8822f2_b.jpg', title='Project 3 - After', data-gallery='')
            img(src='https://farm2.static.flickr.com/1590/25150196263_092b8822f2_s.jpg')
          a(href='https://farm2.static.flickr.com/1623/25654663682_30a79719d2_b.jpg', title='Project 3 - After', data-gallery='')
            img(src='https://farm2.static.flickr.com/1623/25654663682_30a79719d2_s.jpg')
          a(href='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_b.jpg', title='Project 3 - After', data-gallery='')
            img(src='https://farm2.static.flickr.com/1564/25681118051_3fef2a0789_s.jpg')
          a(href='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_b.jpg', title='Project 3 - After', data-gallery='')
            img(src='https://farm2.static.flickr.com/1707/25657770712_ea25056cb5_s.jpg')
            
            
          
    br    
br
br
#blueimp-gallery.blueimp-gallery
    .slides
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator
