include partial_header
br
br
.text-center
  h3
    strong OUR SERVICES
    
br

.col-lg-10.col-md-10.col-sm-12.col-lg-offset-1.col-md-offset-1
  .panel.panel-default
    .panel-body
        .row
          each service in site.services
            .panel.panel-default
              .panel-heading
                h3 #{service.name}
              .panel-body
                p #{service.description}
            br
          