<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li class="active">
                        <span>Options </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                    Options
                </h2>
            <small>Example small header for demo purpose.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-body">
                    <h1>Options</h1>
                    <p class="lead">
                        Homer admin theme gives you few configure options for your application layout. Each of the layout element: navigation, navbar, small header and footer can be fixed positioning.
                    </p>
                    <p>
                        Use below buttons to enable/disable available options.
                    </p>
                    <div>
                        <dl class="dl-horizontal">
                            <dt style="text-align: left">Fixed sidebar</dt>
                            <dd class="status-fixed-sidebar">Off</dd>

                            <dt style="text-align: left">Fixed navbar</dt>
                            <dd class="status-fixed-navbar">Off</dd>

                            <dt style="text-align: left">Fixed footer</dt>
                            <dd class="status-fixed-footer">Off</dd>

                            <dt style="text-align: left">Fixed small header</dt>
                            <dd class="status-fixed-small-header">Off</dd>

                            <dt style="text-align: left">Boxed layout</dt>
                            <dd class="status-boxed-layout">Off</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Fixed navbar
                </div>
                <div class="panel-body">
                    <p>
                        Fixed navbar is a top navbar that is sticked on screen.
                    </p>
                    <p>
                        To add fixed navbar you need to add .fixed-navbar class to body element.
                    </p>
                    <div class="text-center">
                        <button id="fixed-navbar" type="button" class="btn btn-success">
                            Toggle fixed navbar
                        </button>

                    </div>

                    <div class="m-t-md">
                        <pre>

&lt;body class="fixed-navbar"&gt;
                    </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Fixed navbar
                </div>
                <div class="panel-body">
                    <p>
                        Fixed sidebar is a (left menu) sidebar that is sticked on screen.
                    </p>
                    <p>
                        To add fixed sidebar you need to add .fixed-sidebar class to body. Fixed sidebar works with fixed-navbar.
                    </p>
                    <div class="text-center">
                        <button id="fixed-sidebar" type="button" class="btn btn-success">
                            Toggle fixed sidebar
                        </button>

                    </div>

                    <div class="m-t-md">
                        <pre>

&lt;body class="fixed-sidebar fixed-navbar"&gt;
                    </pre>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Fixed footer
                </div>
                <div class="panel-body">
                    <p>
                        Fixed footer is a bottom footer that is sticked on screen.
                    </p>
                    <p>
                        To add fixed footer you need to add .fixed-footer class to body element.
                    </p>
                    <div class="text-center">
                        <button id="fixed-footer" type="button" class="btn btn-success">
                            Toggle footer footer
                        </button>

                    </div>

                    <div class="m-t-md">
                        <pre>

&lt;body class="fixed-footer"&gt;
                    </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Fixed small header
                </div>
                <div class="panel-body">
                    <p>
                        Fixed small header is a top page header that is sticked on screen (only small version).
                    </p>
                    <p>
                        To add fixed small header you need to add .fixed-small-header class to body. Fixed sidebar works with fixed-navbar and fiexd sidebar.
                    </p>
                    <div class="text-center">
                        <button id="fixed-small-header" type="button" class="btn btn-success">
                            Toggle fixed small header
                        </button>

                    </div>

                    <div class="m-t-md">
                        <pre>

&lt;body class="fixed-small-header fixed-sidebar fixed-navbar"&gt;
                    </pre>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Boxed layout
                </div>
                <div class="panel-body">
                    <p>
                        Boxed layout is an option for fixed width and centered layout on desktop resolution.
                    </p>
                    <p>
                        To add boxed layout you need to add .boxed class to body element and special additional div wrapper after body tag with .boxed-wrapper class.
                    </p>
                    <div class="text-center">
                        <button id="boxed-layout" type="button" class="btn btn-success">
                            Toggle boxed layout
                        </button>

                    </div>

                    <div class="m-t-md">
                        <pre>
&lt;body class="boxed"&gt;
    &lt;div class="boxed-wrapper"&gt;
        ….
        ….
    &lt;/div&gt;
&lt;/body&gt;
                    </pre>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
