.color-line
#logo.light-version
  span
    | Boiler-tech Root
nav(role='navigation')
  .header-link.hide-menu
    i.fa.fa-bars
  .small-logo
    span.text-primary Root
  // form.navbar-form-custom(role='search', method='post', action='#')
  //   .form-group
  //     input.form-control(type='text', placeholder='Search something special', name='search')
  .mobile-menu
    button.navbar-toggle.mobile-menu-toggle(type='button', data-toggle='collapse', data-target='#mobile-collapse')
      i.fa.fa-chevron-down
    #mobile-collapse.collapse.mobile-navbar
      ul.nav.navbar-nav
        li
          a(href='login.html') Login
        li
          a(href='login.html') Logout
        li
          a(href='profile.html') Profile
  .navbar-right
    ul.nav.navbar-nav.no-borders
      // li.dropdown
      //   a.label-menu-corner.dropdown-toggle(href='#', data-toggle='dropdown')
      //     i.pe-7s-speaker
      //     span.label.label-danger 4
      //   ul.dropdown-menu.hdropdown.notification.animated.flipInX
      //     li
      //       a
      //         span.label.label-success NEW
      //         |  It is a long established.
      //     li
      //       a
      //         span.label.label-warning WAR
      //         |  There are many variations.
      //     li
      //       a
      //         span.label.label-danger ERR
      //         |  Contrary to popular belief.
      //     li.summary
      //       a(href='#') See all notifications
      // li
      //   a#sidebar.label-menu-corner.right-sidebar-toggle(href='#')
      //     i.pe-7s-mail
      //     span.label.label-success 4
      // li.dropdown
      //   a(href='login.html')
      //     i.pe-7s-upload.pe-rotate-90
      li.dropdown
        a(href='/logout')
          i.pe-7s-upload.pe-rotate-90
         // h5 Logout
        // a.dropdown-toggle(href='#', data-toggle='dropdown')
        //   i.fa.fa-gear
        // .dropdown-menu.hdropdown.bigmenu.animated.flipInX
        //   table
        //     tbody
        //       tr
        //         td
        //           a(href='/contact')
        //             i.pe.pe-7s-portfolio.text-warning
        //             h5 Report a bug
        //         td
        //           a(href='/account')
        //             i.pe-7s-user.text-info
        //             h5 Account
        //         td
        //           a(href='/logout')
        //             i.pe-7s-upload.pe-rotate-90
        //             h5 Logout
              // tr
              //   td
              //     a(href='forum.html')
              //       i.pe.pe-7s-comment.text-info
              //       h5 Forum
              //   td
              //     a(href='analytics.html')
              //       i.pe.pe-7s-graph1.text-danger
              //       h5 Analytics
              //   td
              //     a(href='file_manager.html')
              //       i.pe.pe-7s-box1.text-success
              //       h5 Files
// .navbar.navbar-default.navbar-fixed-top
   .container
     .navbar-header
       button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
//         span.sr-only Toggle navigation
//         span.icon-bar
//         span.icon-bar
//         span.icon-bar
//       a.navbar-brand(href='/')
//         i.fa.fa-cube
//         | Project name
//     .collapse.navbar-collapse
//       ul.nav.navbar-nav
//         li(class=title=='Home'?'active':undefined)
//           a(href='/') Home
//         li(class=title=='API Examples'?'active':undefined)
//           a(href='/api') API Examples
//         li(class=title=='Contact'?'active':undefined)
//           a(href='/contact') Contact
//       ul.nav.navbar-nav.navbar-right
//         if !user
//           li(class=title=='Login'?'active':undefined)
//             a(href='/login') Login
//           li(class=title=='Create Account'?'active':undefined)
//             a(href='/signup') Create Account
//         else
//           li.dropdown(class=title=='Account Management'?'active':undefined)
//             a.dropdown-toggle(href='#', data-toggle='dropdown')
//               if user.profile.picture
//                 img(src='#{user.profile.picture}')
//               else
//                 img(src='#{user.gravatar(60)}')
//               | #{user.profile.name || user.email || user.id}&nbsp;
//               i.caret
//             ul.dropdown-menu
//               li
//                 a(href='/account') My Account
//               li.divider
//               li
// //                 a(href='/logout') Logout