extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li.active
              span App Settings
        h2.font-light.m-b-xs
          | App Settings
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            form.form-horizontal(action="/../../../root/settings" method="post")
              br
              h4(style="color:green;")
                | Site
              .hr-line-dashed
              .form-group
                label.col-sm-2.control-label App Url
                .col-sm-10
                  input.form-control(name="app_url" value="#{appSetting.app_url}")
              .form-group
                label.col-sm-2.control-label App Url for href=""
                .col-sm-10
                  input.form-control(name="app_anchor_url" value="#{appSetting.app_anchor_url || ''}")
              
              //.hr-line-dashed
              br
              h4(style="color:green;")
                | Basic Contact
              .hr-line-dashed
              .form-group
                label.col-sm-2.control-label Email
                .col-sm-10
                  input.form-control(type='text' name="email" value="#{appSetting.email}")
              .form-group
                label.col-sm-2.control-label Phone Number
                .col-sm-10
                  input.form-control(type='text' name="phone" value="#{appSetting.phone}")
              .form-group
                label.col-sm-2.control-label Address Line 1
                .col-sm-10
                  input.form-control(type='text' name="address_line1" value="#{appSetting.address_line1}")
              .form-group
                label.col-sm-2.control-label Address Line 2
                .col-sm-10
                  input.form-control(type='text' name="address_line2" value="#{appSetting.address_line2}")
              .form-group
                label.col-sm-2.control-label City
                .col-sm-10
                  input.form-control(type='text' name="city" value="#{appSetting.city}")
              .form-group
                label.col-sm-2.control-label State
                .col-sm-10
                  input.form-control(type='text' name="state" value="#{appSetting.state}")
              .form-group
                label.col-sm-2.control-label Zip
                .col-sm-10
                  input.form-control(type='text' name="zip" value="#{appSetting.zip}")
              br
              h4(style="color:green;") Payments
              .hr-line-dashed
              .form-group
                label.col-sm-2.control-label Tax Percent
                .col-sm-10
                  input.form-control(type='number' name="tax_percent" value="#{appSetting.tax_percent}")   
              .form-group
                label.col-sm-2.control-label Late Payment
                .col-sm-10
                  input.form-control(type='number' name="late_payment" disabled="true" value="#{appSetting.app_url}")
              .form-group
                label.col-sm-2.control-label Send Invoices Date
                .col-sm-10
                  input.form-control(type='Number' name="companies_invoice_send_date" value="#{appSetting.companies_invoice_send_date}")
              .form-group
                label.col-sm-2.control-label Process Invoices Date
                .col-sm-10
                  input.form-control(type='Number' name="companies_invoice_process_date" value="#{appSetting.companies_invoice_process_date}")
                  
              
              
              .hr-line-dashed
              
              input(type='hidden' name='_csrf' value='#{_csrf}')
              .form-group
                label.col-sm-2.control-label 
                .col-sm-10
                  button.btn.btn-success(type="submit") Save
            