extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li.active
              span Manage Keys
        h2.font-light.m-b-xs
          | Manage Keys
  .content.animate-panel
    .row
      .col-lg-12
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
            |                     Current keys
          .panel-body
            #accordion.panel-group(role='tablist', aria-multiselectable='true')
              if keys.length > 0
                each key, index in keys
                  .panel.panel-default
                    #headingthree.panel-heading(role='tab')
                      h4.panel-title
                        a(data-toggle='collapse', data-parent='#accordion', href='#collapse' + index, aria-expanded='true', aria-controls='collapseOne')
                          | #{key.name} 
                          if key.isAssignable
                            em(style="color:green;") - Admin Can Assign
                    div(id = 'collapse' + index).panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                      .panel-body
                        .col-lg-6
                          div 
                            em Created by: 
                            span #{key.orignalPurpose.createdBy}
                          div 
                            em Created on: 
                            span #{moment(key.orignalPurpose.createdOn).format("YYYY-MM-DD HH:mm")}
                        .col-lg-6
                          div 
                            em Assignable by: 
                            span
                            if (key.assignableCreatedBy)
                              | #{key.assignableCreatedBy}
                            else
                              | n/a
                          div 
                            em Assignable on: 
                            span
                            if (key.assignableCreatedOn)
                              | #{moment(key.assignableCreatedOn).format("YYYY-MM-DD HH:mm")}
                            else
                              | n/a
                        .col-lg-12
                          .hr-line-dashed
                          div 
                            em Reason for creation: 
                            span #{key.orignalPurpose.reason}
                          .hr-line-dashed
                          div
                            em Updated purposes: 
                            if key.newPurpose.length == 0
                              span There are no updates for this key
                            else
                              table.table.table-condensed.table-striped(cellpadding='1', cellspacing='1')
                                thead
                                  tr
                                    th New Purpose
                                    th Time
                                    th Created By
                                tbody
                                  each purpose in key.newPurpose
                                    tr
                                      td #{purpose.reason}
                                      td #{moment(purpose.createdOn).format("YYYY-MM-DD HH:mm")}
                                      td #{purpose.createdBy}
                          
                                
                          .hr-line-dashed
                          if !key.isAssignable
                            a.btn.btn-primary(href="/root/key_is_assignable/#{key.name}") Allow Admin to Assign
                            | &nbsp; &nbsp;
                          a.btn.btn-info(href="/root/key_purpose/#{key.name}") Add New Purpose
                          
                        // | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
              else
                h3 You have no keys
      .col-lg-12
        .hpanel.hgreen
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
            |                     Create New key
          .alert.alert-danger
            i.fa.fa-warning
            |  A key should never be deleted. Please do not create keys unless you have thought about it.
          .panel-body
            a(href="/root/create_key").btn.btn-success Create New key
           