// footer
//   .container.text-center
//     p.pull-left © 2015 Company, Inc. All Rights Reserved
//     ul.pull-right.list-inline
//       li
//         a(href='https://github.com/sahat/hackathon-starter') GitHub Project
//       li
//         a(href='https://github.com/sahat/hackathon-starter/issues') Issues
span.pull-right
  | Example text
|         Company 2015-2020