.profile-picture
  a(href='/exampleapp/index')
    img.img-circle.m-b(src='/images/profile.jpg', alt='logo')
  .stats-label.text-color
    span.font-extra-bold.font-uppercase Robert Razer
    .dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        small.text-muted
          | Founder of App 
          b.caret
      ul.dropdown-menu.animated.fadeInRight.m-t-xs
        li
          a(href='/exampleapp/contacts') Contacts
        li
          a(href='/exampleapp/profile') Profile
        li
          a(href='/exampleapp/analytics') Analytics
        li.divider
        li
          a(href='/exampleapp/login') Logout
    #sparkline1.small-chart.m-t-sm
    div
      h4.font-extra-bold.m-b-xs
        | $260 104,200
      small.text-muted Your income from the last year in sales product X.
ul#side-menu.nav
  li
    a(href='/exampleapp/index')
      span.nav-label Dashboard
      span.label.label-success.pull-right v.1
  li
    a(href='/exampleapp/analytics')
      span.nav-label Analytics
      span.label.label-warning.pull-right NEW
  li
    a(href='#')
      span.nav-label Interface
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/exampleapp/panels') Panels design
      li
        a(href='/exampleapp/typography') Typography
      li
        a(href='/exampleapp/buttons') Colors & Buttons
      li
        a(href='/exampleapp/components') Components
      li
        a(href='/exampleapp/alerts') Alerts
      li
        a(href='/exampleapp/modals') Modals
      li
        a(href='/exampleapp/draggable') Draggable panels
      li
        a(href='/exampleapp/code_editor') Code editor
      li
        a(href='/exampleapp/email_template') Email template
      li
        a(href='/exampleapp/nestable_list') List
      li
        a(href='/exampleapp/tour') Tour
      li
        a(href='/exampleapp/icons') Icons library
  li
    a(href='#')
      span.nav-label App views
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/exampleapp/contacts') Contacts
      li
        a(href='/exampleapp/projects') Projects
      li
        a(href='/exampleapp/project') Project detail
      li
        a(href='/exampleapp/app_plans') App plans
      li
        a(href='/exampleapp/social_board') Social board
      li
        a(href='/exampleapp/faq') FAQ
      li.active
        a(href='/exampleapp/timeline') Timeline
      li
        a(href='/exampleapp/notes') Notes
      li
        a(href='/exampleapp/profile') Profile
      li
        a(href='/exampleapp/mailbox') Mailbox
      li
        a(href='/exampleapp/mailbox_compose') Email compose
      li
        a(href='/exampleapp/mailbox_view') Email view
      li
        a(href='/exampleapp/blog') Blog
      li
        a(href='/exampleapp/blog_details') Blog article
      li
        a(href='/exampleapp/forum') Forum
      li
        a(href='/exampleapp/forum_details') Forum details
      li
        a(href='/exampleapp/gallery') Gallery
      li
        a(href='/exampleapp/calendar') Calendar
      li
        a(href='/exampleapp/invoice') Invoice
      li
        a(href='/exampleapp/file_manager') File manager
      li
        a(href='/exampleapp/chat_view') Chat view
      li
        a(href='/exampleapp/search') Search view
  li
    a(href='#')
      span.nav-label Charts
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/exampleapp/chartjs') ChartJs
      li
        a(href='/exampleapp/flot') Flot charts
      li
        a(href='/exampleapp/inline') Inline graphs
      li
        a(href='/exampleapp/chartist') Chartist
  li
    a(href='#')
      span.nav-label Box transitions
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/exampleapp/overview')
          span.label.label-success.pull-right Start
          |  Overview
      li
        a(href='/exampleapp/transition_two') Columns from up
      li
        a(href='/exampleapp/transition_one') Columns custom
      li
        a(href='/exampleapp/transition_three') Panels zoom
      li
        a(href='/exampleapp/transition_four') Rows from down
      li
        a(href='/exampleapp/transition_five') Rows from right
  li
    a(href='#')
      span.nav-label Common views
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/exampleapp/login') Login
      li
        a(href='/exampleapp/register') Register
      li
        a(href='/exampleapp/error_one') Error 404
      li
        a(href='/exampleapp/error_two') Error 505
      li
        a(href='/exampleapp/lock') Lock screen
  li
    a(href='#')
      span.nav-label Tables
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/exampleapp/tables_design') Tables design
      li
        a(href='/exampleapp/datatables') Data tables
      li
        a(href='/exampleapp/footable') Foo Table
  li
    a(href='/exampleapp/widgets')
      span.nav-label Widgets
      span.label.label-success.pull-right Special
  li
    a(href='#')
      span.nav-label Forms
      span.fa.arrow
    ul.nav.nav-second-level
      li
        a(href='/exampleapp/forms_elements') Forms elements
      li
        a(href='/exampleapp/forms_extended') Forms extended
      li
        a(href='/exampleapp/text_editor') Text editor
      li
        a(href='/exampleapp/wizard') Wizard
      li
        a(href='/exampleapp/validation') Validation
  li
    a(href='/exampleapp/options')
      span.nav-label Layout options
  li
    a(href='/exampleapp/grid_system')
      span.nav-label Grid system
  li
    a(href='/exampleapp/landing_page')
      span.nav-label Landing page