doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Page title
    title HOMER | WebApp admin theme
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    // Vendor styles
    link(rel='stylesheet', href='vendor/fontawesome/css/font-awesome.css')
    link(rel='stylesheet', href='vendor/metisMenu/dist/metisMenu.css')
    link(rel='stylesheet', href='vendor/animate.css/animate.css')
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.css')
    // App styles
    link(rel='stylesheet', href='fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css')
    link(rel='stylesheet', href='fonts/pe-icon-7-stroke/css/helper.css')
    link(rel='stylesheet', href='css/style.css')
  body.landing-page
    // Simple splash screen
    .splash
      .color-line
      .splash-title
        h1 Homer - Responsive Admin Theme
        p
          | Special AngularJS Admin Theme for small and medium webapp with very clean and aesthetic style and feel.
        img(src='images/loading-bars.svg', width='64', height='64')
    //if lt IE 7
      p.alert.alert-danger
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(aria-controls='navbar', aria-expanded='false', data-target='#navbar', data-toggle='collapse', type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/login') HOMER
          .brand-desc
            | Landing page for Homer app
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a.page-scroll(href='#page-top') Home
            li
              a.page-scroll(page-scroll='', href='#components') UI
            li
              a.page-scroll(page-scroll='', href='#features') Features
            li
              a.page-scroll(page-scroll='', href='#team') Team
            li
              a.page-scroll(page-scroll='', href='#pricing') Pricing 
            li
              a.page-scroll(page-scroll='', href='#clients') Clients 
            li
              a.page-scroll(page-scroll='', href='#contact') Contact
    header#page-top
      .container
        .heading
          h1
            | Welcome to Homer landing page
          span
            | Contrary to popular belief, Lorem Ipsum is not
            br
            |  simply random text for print.
          p.small
            | Lorem Ipsum is simply dummy text of the printing and tLorem Ipsum is  Lorem Ipsum is simply dummy of the simply dummy text of the ypesetting.
          a.btn.btn-success.btn-sm(href='#') Learn more
        .heading-image.animate-panel(data-child='img-animate', data-effect='fadeInRight')
          p.small Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          img.img-animate(src='images/landing/c1.jpg')
          img.img-animate(src='images/landing/c2.jpg')
          img.img-animate(src='images/landing/c3.jpg')
          img.img-animate(src='images/landing/c4.jpg')
          br
          img.img-animate(src='images/landing/c5.jpg')
          img.img-animate(src='images/landing/c6.jpg')
          img.img-animate(src='images/landing/c7.jpg')
          img.img-animate(src='images/landing/c8.jpg')
    section
      .container
        .row
          .col-md-4
            h4 HTML5 & CSS3
            p
              | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
            p
              a.navy-link.btn.btn-sm(href='#', role='button') Learn more
          .col-md-4
            h4 Staggering Animations
            p
              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of.
            p
              a.navy-link.btn.btn-sm(href='#', role='button') Learn more
          .col-md-4
            h4 Unique Dashboard
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
            p
              a.navy-link.btn.btn-sm(href='#', role='button') Learn more
    section#components.bg-light
      .container
        .row
          .col-lg-12
            h2
              span.text-success UI components 
              | for your app
            p Lorem Ipsum available, but the majority have suffered alteration euismod. 
        .row.m-t-md
          .col-md-6
            h4.m-t-xxxl Special contacts view
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.
          .col-md-6
            img.img-responsive(src='images/landing/s2.png')
        .row.m-t-xl
          .col-md-6
            img.img-responsive(src='images/landing/s4.png')
          .col-md-6
            h4.m-t-xxl Additional analytical components
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.
        .row.m-t-xl
          .col-md-6
            h4.m-t-xxl Special designed project view
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.
          .col-md-6
            img.img-responsive(src='images/landing/s1.png')
        .row.m-t-xl
          .col-md-6
            img.img-responsive(src='images/landing/s3.png')
          .col-md-6
            h4.m-t-xxl Many widets components
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.
    section#features
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            h2
              span.text-success Many features to 
              | discover with Homer
            p
              | Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
        .row.m-t-lg
          .col-md-4.col-md-offset-2
            strong Donec sed odio dui.
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
            a.btn.btn-success.btn-sm Learn more
          .col-md-4
            strong Lorem Ipsum as their.
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
            a.btn.btn-success.btn-sm Learn more
        .row.m-t-lg
          .col-md-4.col-md-offset-2
            strong Donec sed odio dui.
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
            a.btn.btn-success.btn-sm Learn more
          .col-md-4
            strong Lorem Ipsum as their.
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
            a.btn.btn-success.btn-sm Learn more
    section#features2.bg-light
      .container
        .row.text-center
          .col-lg-12
            h2
              span.text-success Special icons 
              | for your app
            p Lorem Ipsum available, but the majority have suffered alteration euismod. 
        .row.text-center
          .col-md-3
            h4.m-t-lg
              i.pe-7s-airplay.text-success.icon-big
            strong Lorem Ipsum available
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
          .col-md-3
            h4.m-t-lg
              i.pe-7s-science.text-success.icon-big
            strong Lorem Ipsum available
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
          .col-md-3
            h4.m-t-lg
              i.pe-7s-display1.text-success.icon-big
            strong Lorem Ipsum available
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
          .col-md-3
            h4.m-t-lg
              i.pe-7s-cloud-upload.text-success.icon-big
            strong Lorem Ipsum available
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
        .row.text-center
          .col-md-3
            h4.m-t-lg
              i.pe-7s-global.text-success.icon-big
            strong Lorem Ipsum available
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
          .col-md-3
            h4.m-t-lg
              i.pe-7s-battery.text-success.icon-big
            strong Lorem Ipsum available
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
          .col-md-3
            h4.m-t-lg
              i.pe-7s-users.text-success.icon-big
            strong Lorem Ipsum available
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
          .col-md-3
            h4.m-t-lg
              i.pe-7s-ticket.text-success.icon-big
            strong Lorem Ipsum available
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
    section#team
      .container
        .row.text-center
          .col-md-6.col-md-offset-3
            h2
              span.text-success Our team 
              | support you
            p
              | Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
        .row.m-t-lg.text-center
          .col-sm-4
            .team-member
              img.img-circle.img-small(src='images/a2.jpg', alt='')
              h4
                span User
                |  name
              p
                | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
          .col-sm-4
            .team-member
              img.img-circle(src='images/a5.jpg', alt='')
              h4
                span User
                |  name
              p
                | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
          .col-sm-4
            .team-member
              img.img-circle.img-small(src='images/a3.jpg', alt='')
              h4
                span User
                |  name
              p
                | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
        .row.m-t-lg.text-center
          .col-sm-4
            .team-member
              img.img-circle.img-small(src='images/a7.jpg', alt='')
              h4
                span User
                |  name
              p
                | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
          .col-sm-4
            .team-member
              img.img-circle(src='images/a8.jpg', alt='')
              h4
                span User
                |  name
              p
                | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
          .col-sm-4
            .team-member
              img.img-circle.img-small(src='images/a9.jpg', alt='')
              h4
                span User
                |  name
              p
                | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
    section#pricing.bg-light
      .container
        .row.text-center
          .col-lg-12
            h2
              span.text-success Best pricing 
              | for your app
            p Lorem Ipsum available, but the majority have suffered alteration euismod. 
        .row.m-t-lg
          .col-lg-3
            ul.pricing-plan.list-unstyled
              li.pricing-title
                | Basic
              li.pricing-desc
                | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
              li.pricing-price
                span $16
              li
                | Dashboards
              li
                | Projects view
              li
                | Contacts
              li
                | Calendar
              li
                | AngularJs
              li
                a.btn.btn-primary.btn-sm(href='#') Signup today
          .col-lg-3
            ul.pricing-plan.list-unstyled.selected
              li.pricing-title
                | Standard
              li.pricing-desc
                | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
              li.pricing-price
                span $22
              li
                | Dashboards
              li
                | Projects view
              li
                | Contacts
              li
                | Calendar
              li
                | AngularJs
              li.plan-action
                a.btn.btn-primary.btn-sm(href='#') Signup today
          .col-lg-3
            ul.pricing-plan.list-unstyled
              li.pricing-title
                | Premium
              li.pricing-desc
                | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
              li.pricing-price
                span $160
              li
                | Dashboards
              li
                | Projects view
              li
                | Contacts
              li
                | Calendar
              li
                | AngularJs
              li
                a.btn.btn-primary.btn-sm(href='#') Signup today
          .col-lg-3
            ul.pricing-plan.list-unstyled
              li.pricing-title
                | Prestige
              li.pricing-desc
                | Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
              li.pricing-price
                span $260
              li
                | Dashboards
              li
                | Projects view
              li
                | Contacts
              li
                | Calendar
              li
                | AngularJs
              li
                a.btn.btn-primary.btn-sm(href='#') Signup today
    section#clients
      .container
        .row.text-center
          .col-md-6.col-md-offset-3
            h2
              span.text-success Our best
              |  clients
            p
              | Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
        .row.text-center.m-t-lg
          .col-md-6.col-md-offset-3
            .row
              .col-md-6
                .client Company logo
              .col-md-6
                .client Company logo
              .col-md-6
                .client Company logo
              .col-md-6
                .client Company logo
              .col-md-6
                .client Company logo
              .col-md-6
                .client Company logo
    section#contact.bg-light
      .container
        .row.text-center
          .col-md-6.col-md-offset-3
            h2
              span.text-success Contact with us
              |  anytime
            p
              | Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
        .row.text-center.m-t-lg
          .col-md-4.col-md-offset-3
            form.form-horizontal(role='form', method='post', action='#')
              .form-group
                label.col-sm-2.control-label(for='name') Name
                .col-sm-10
                  input#name.form-control(type='text', name='name', placeholder='Your full name', value='')
              .form-group
                label.col-sm-2.control-label(for='email') Email
                .col-sm-10
                  input#email.form-control(type='email', name='email', placeholder='user@example.com', value='')
              .form-group
                label.col-sm-2.control-label(for='message') Message
                .col-sm-10
                  textarea.form-control(rows='3', name='message', placeholder='Your message here...')
              .form-group
                .col-sm-12
                  input#submit.btn.btn-success(name='submit', type='submit', value='Send us a message')
          .col-md-3.text-left
            address
              strong
                span.navy Company name, Inc.
              br
              |                     601 Street name, 123
              br
              |                     New York, De 34101
              br
              abbr(title='Phone') P:
              |  (123) 678-8674
            p.text-color
              | Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
    // Vendor scripts
    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/jquery-ui/jquery-ui.min.js')
    script(src='vendor/slimScroll/jquery.slimscroll.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='vendor/metisMenu/dist/metisMenu.min.js')
    script(src='vendor/iCheck/icheck.min.js')
    script(src='vendor/sparkline/index.js')
    // App scripts
    script(src='scripts/homer.js')
    // Local script for menu handle
    // It can be also directive
    script.
      $(document).ready(function () {
      // Page scrolling feature
      $('a.page-scroll').bind('click', function(event) {
      var link = $(this);
      $('html, body').stop().animate({
      scrollTop: $(link.attr('href')).offset().top - 50
      }, 500);
      event.preventDefault();
      });
      $('body').scrollspy({
      target: '.navbar-fixed-top',
      offset: 80
      });
      });
