doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Page title
    title HOMER | WebApp admin theme
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    // Vendor styles
    link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.css')
    link(rel='stylesheet', href='/vendor/animate.css/animate.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    // App styles
  body(style="background-color:lightgrey")
    br
    br
    br
    br
    br
    .container.text-center
      center
        .row
          img.img-responsive(src="/logo.png")
        h2(style="color:green;") Turtle Sites   
          small(style="color:red") BETA
        .row
          p Turtlesites.com is currently a closed community.
            br
            | We should be opened to the public by early 2017.
        .row
          a.btn.btn-default(href="/app/dashboard") Log In
  
    // Vendor scripts
    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/jquery-ui/jquery-ui.min.js')
    script(src='vendor/slimScroll/jquery.slimscroll.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
    