extends ../layout

block styles

block scripts
  script(type="text/javascript" src="../../../../vendor/angular-1.4.9/angular.min.js")
  script(type="text/javascript" src="../../../../vendor/angular-1.4.9/angular-route.min.js")
  script(type="text/javascript" src="../../../../vendor/angular-1.4.9/ui-bootstrap-tpls-1.1.0.min.js")
  script(type="text/javascript" src="../../../../scripts/projects/angular/app.js")
  script(type="text/javascript" src="../../../../scripts/projects/angular/form-obj.js")
  script(type="text/javascript" src="../../../../scripts/projects/angular/directives.js")
  script(type="text/javascript" src="../../../../scripts/projects/angular/filters.js")
  script(type="text/javascript" src="../../../../scripts/projects/angular/services.js")
  script(type="text/javascript" src="../../../../scripts/projects/angular/controllers.js")

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/app/index') App
            li.active
              a(href='/app/projects') Projects
            li.active
              span Create New Project
        h2.font-light.m-b-xs
          | Create New Project
        //small Select a user.
  .content.animate-panel(ng-app="myApp")
    .row(ng-controller="main")
      .col-lg-12
        .hpanel.hgreen
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
            |                     Create New Project
          .panel-body
            .form-horizontal
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                label.col-sm-3.control-label Project Name
                .col-sm-7
                  input.form-control(type='text' ng-model="projectName" ng-disabled="projectNameDisabled")
              .form-group
                label.col-sm-3.control-label Project Purpose
                .col-sm-7
                  textarea.form-control(type='text' ng-model='projectPurpose' ng-disabled="projectPurposeDisabled" rows='4')
               
              .col-sm-12
                .hpanel
                  .panel-heading.hbuilt
                    .panel-tools
                    |                     Pages
                    //.alert.alert-warning
                  .panel-body
                    ul.nav.nav-tabs
                      
                      li(style="padding:15px;")
                        .btn.btn-success(ng-click="createModal()") 
                          strong
                            i.pe-7s-plus.fa-2x
                      li(ng-show="pages.length > 0" ng-repeat="page in pages" ng-class="page.pageName == PageName() ? 'active' : ''" ng-click="changeSelectedNumber($index)")
                        a(data-toggle='tab', aria-expanded='false')
                          strong {{ page.pageName }} &nbsp; &nbsp;
                          button.btn.btn-danger(type='button' ng-click="deleteModal()")
                            strong
                              i.pe-7s-close.fa-2x

                    
                    
                    .tab-content.tab-pane(ng-show="pages.length > 0")
                        br
                        #main.row
                          .form-group
                            label.col-sm-3.control-label Page Name
                            .col-sm-7
                              strong  {{ pages[selectedNumber].pageName }}
                              //input#scaffoldingName.form-control(name='scaffoldingName' ng-model="PageName()" disabled='disabled')
                          .form-group
                            label.col-sm-3.control-label Page Purpose
                            .col-sm-7
                              input.form-control(ng-model="pages[selectedNumber].pagePurpose")
                        
                        .hpanel.hgreen
                          .panel-heading
                            | Scaffolding
                          .panel-body
                            .form-group
                              label.col-sm-3.control-label(for='ResponseOption') Response
                              .col-sm-7
                                select#ResponseOption.form-control.m-b(ng-model="response")
                                  option Page
                                  option Data
                            .form-group
                              label.col-sm-3.control-label(for='VerbOption') Verb
                              .col-sm-7
                                select#VerbOption.form-control.m-b(ng-model="verb")
                                  option Get
                                  option Post
                            .form-group
                              label.col-sm-3.control-label
                              .col-sm-7
                                .btn.btn-primary(ng-click="scaffoldingTile()")
                                  | Generate Scaffolding Tile
                        .hr-line-dashed
                        ///////////////////////////////////////////////////////////////////////////////////////
                        ///////////////////////////////////////////////////////////////////////////////////////
                        ///////////////   GET    PAGE                   ///////////////////////////////////////
                        ///////////////////////////////////////////////////////////////////////////////////////
                        ///////////////////////////////////////////////////////////////////////////////////////
                        
                        .row.bg-info(ng-show="pages[selectedNumber].isGetPage")
                          br
                          .pull-right
                            .btn.btn-danger(style="right:10px !important;" ng-click="removeGetPage()")
                              strong X
                            | &nbsp; &nbsp; &nbsp;  
                            
                          .col-md-4
                            p Response:
                              strong &nbsp; &nbsp; Page
                            p verb:
                              strong &nbsp; &nbsp; Get
                           
                          .col-md-12
                            .hr-line-dashed
                            .form-group
                              label.col-sm-3.control-label Url
                              .col-sm-7
                                input#url.form-control(ng-model="pages[selectedNumber].getPage.url")
                            .form-group
                              label.col-sm-3.control-label Controller Action Method
                              .col-sm-7
                                input#url.form-control(ng-model="pages[selectedNumber].getPage.action")
                            .form-group
                              label.col-sm-3.control-label OAuth
                              .col-sm-7
                                input.form-inline.pull-left(type='checkbox' ng-model="pages[selectedNumber].getPage.isOAuth")
                            div(ng-show="pages[selectedNumber].getPage.isOAuth")
                              .form-group
                                label.col-sm-4.control-label(for='roles') Roles
                                .col-sm-7
                                  select#roles.form-control.m-b(ng-model="pages[selectedNumber].getPage.role")
                                    option Webmaster
                                    option Admin
                                    option Manager
                                    option Worker
                                    option User
                              .form-group
                                label.col-sm-4.control-label Keys
                                .col-sm-6
                                  select#roles.form-control.m-b(ng-model="getPageKeySelect" ng-options="key as key.name for key in keyChain")
                                .col-sm-2
                                  .btn.btn-success(ng-click="getPageKeyAdd()")
                                    i.pe-7s-plus
                              .form-group(ng-repeat="pageKey in pages[selectedNumber].getPage.keys")
                                    label.col-sm-4.control-label
                                    .col-sm-6.well
                                      | {{ pageKey.name }}
                                      .btn.btn-danger.pull-right(ng-click="getPageKeyRemove($index)")
                                        strong X
                                    .col-sm-2  
                            .hr-line-dashed
                            .col-md-12
                            .form-group
                              label.col-sm-3.control-label(for='jadeName') View File
                              .col-sm-6
                                input#jadeName.form-control(type='text')
                              .col-sm-3
                                strong .jade
                            .form-group
                              label.col-sm-3.control-label(for='controllerName') Choose layout
                              .col-sm-7
                                select#roles.form-control.m-b(name='roles')
                                  option Default
                                  option Empty
                                  option Exampleapp/Alerts
                                  option Exampleapp/Blah
                                  option Exampleapp/Text
                            .hr-line-dashed
                            .form-group
                              label.col-sm-3.control-label Create Javascript Files
                              .col-sm-7
                                .btn.btn-success(ng-click="AddJSFile()") Add File
                            
                            .form-group(ng-repeat="jsFile in pages[selectedNumber].getPage.jsFiles track by $index")
                              label.col-sm-3.control-label
                              .col-sm-1
                                .btn.btn-danger.pull-right(ng-click="removeJSFile($index)") 
                                  strong X
                              .col-sm-4
                                input.form-control(type='text' ng-model="jsFile")
                              .col-sm-2
                                strong .js
                              
                            .hr-line-dashed
                            .form-group
                              label.col-sm-3.control-label Create CSS Files
                              .col-sm-7
                                .btn.btn-success(ng-click="AddCSSFile()") Add File
                            .form-group(ng-repeat="cssFile in pages[selectedNumber].getPage.cssFiles track by $index")
                              label.col-sm-3.control-label
                              .col-sm-1
                                .btn.btn-danger.pull-right(ng-click="removeCSSFile($index)")
                                  strong X
                              .col-sm-5
                                input.form-control(type='text' ng-model="cssFile")
                              .col-sm-2
                                strong .css
                                
                          // div
                          //   .form-group
                          //     label.col-sm-4.control-label(for='jadeName') JS File
                          //     .col-sm-7
                          //       .col-sm-5
                          //         input.form-control(type='text', disabled='true')
                          //       .col-sm-5
                          //         input#jadeName.form-control(type='text')
                          //       .col-sm-2
                          //         input.form-control(type='text', value='.js', disabled='true')
                        br
                        ///////////////////////////////////////////////////////////////////////////////////////
                        ///////////////////////////////////////////////////////////////////////////////////////
                        ///////////////   GET    DATA                   ///////////////////////////////////////
                        ///////////////////////////////////////////////////////////////////////////////////////
                        ///////////////////////////////////////////////////////////////////////////////////////
                        
                        .row.bg-info(ng-show="pages[selectedNumber].isGetData")
                          br
                          .pull-right
                            .btn.btn-danger(ng-click="removeGetData($index)") 
                              // ng-click="removePostData()")
                              strong X
                            | &nbsp; &nbsp; &nbsp;  
                            
                          .col-md-4
                            p Response:
                              strong &nbsp; &nbsp; Data
                            p verb:
                              strong &nbsp; &nbsp; Get
                          
                          .col-md-12
                            .hr-line-dashed
                            .form-group
                              label.col-sm-3.control-label Url
                              .col-sm-7
                                input#url.form-control(ng-model="pages[selectedNumber].getData.url")
                            .form-group
                              label.col-sm-3.control-label Controller Action Method
                              .col-sm-7
                                input#url.form-control(ng-model="pages[selectedNumber].getData.action")
                            .form-group
                              label.col-sm-3.control-label OAuth
                              .col-sm-7
                                input.form-inline.pull-left(type='checkbox' ng-model="pages[selectedNumber].getData.isOAuth")
                            div(ng-show="pages[selectedNumber].getData.isOAuth")
                              .form-group
                                label.col-sm-4.control-label(for='roles') Roles
                                .col-sm-7
                                  select#roles.form-control.m-b(ng-model="pages[selectedNumber].getData.role")
                                    option Webmaster
                                    option Admin
                                    option Manager
                                    option Worker
                                    option User
                              .form-group
                                label.col-sm-4.control-label Keys
                                .col-sm-6
                                  select#roles.form-control.m-b(ng-model="getDataKeySelect" ng-options="key as key.name for key in keyChain")
                                .col-sm-2
                                  .btn.btn-success(ng-click="getDataKeyAdd()")
                                    i.pe-7s-plus
                              .form-group(ng-repeat="pageKey in pages[selectedNumber].getData.keys")
                                    label.col-sm-4.control-label
                                    .col-sm-6.well
                                      | {{ pageKey.name }}
                                      .btn.btn-danger.pull-right(ng-click="getDataKeyRemove($index)")
                                        strong X
                                    .col-sm-2
                                
                              
                        ///////////////////////////////////////////////////////////////////////////////////////
                        ///////////////////////////////////////////////////////////////////////////////////////
                        ///////////////   POST    PAGE                 ///////////////////////////////////////
                        ///////////////////////////////////////////////////////////////////////////////////////
                        ///////////////////////////////////////////////////////////////////////////////////////
                        
                        div(ng-show="pages[selectedNumber].postPage.length > 0")
                          div(ng-repeat="postPage in pages[selectedNumber].postPage")
                            br
                            .row.bg-warning
                              br
                              .pull-right
                                .btn.btn-danger(ng-click="removePostPage($index)") 
                                  //ng-click="removePostPage()")
                                  strong X
                                | &nbsp; &nbsp; &nbsp;  
                                
                              .col-md-4
                                p Response:
                                  strong &nbsp; &nbsp; Page
                                p verb:
                                  strong &nbsp; &nbsp; Post
                              
                              .col-md-12
                                .hr-line-dashed
                                .form-group
                                  label.col-sm-3.control-label Url
                                  .col-sm-7
                                    input#url.form-control(ng-model="postPage.url")
                                .form-group
                                  label.col-sm-3.control-label(for='url') Controller Action Method
                                  .col-sm-7
                                    input#url.form-control(ng-model="postPage.action")
                                .form-group
                                  label.col-sm-3.control-label Redirect Url:
                                  .col-sm-7
                                    input.form-control(ng-model="postPage.redirectTo")
                                .form-group
                                  label.col-sm-3.control-label OAuth
                                  .col-sm-7
                                    input.form-inline.pull-left(type='checkbox' ng-model="postPage.isOAuth")
                                div(ng-show="postPage.isOAuth")
                                  .form-group
                                    label.col-sm-4.control-label(for='roles') Roles
                                    .col-sm-7
                                      select#roles.form-control.m-b(ng-model="postPage.role")
                                        option Webmaster
                                        option Admin
                                        option Manager
                                        option Worker
                                        option User
                                  .form-group
                                    label.col-sm-4.control-label Keys
                                    .col-sm-6
                                      select.form-control.m-b(ng-model="$parent.postPageKeySelect" ng-options="key as key.name for key in keyChain")
                                    .col-sm-2
                                      .btn.btn-success(ng-click="postPageKeyAdd($index)")
                                        i.pe-7s-plus
                                  .form-group(ng-repeat="pageKey in postPage.keys")
                                    label.col-sm-4.control-label
                                    .col-sm-6.well
                                      | {{ pageKey.name }}
                                      .btn.btn-danger.pull-right(ng-click="postPageKeyRemove($parent.$index, $index)")
                                        strong X
                                    .col-sm-2
                                  
                        ///////////////////////////////////////////////////////////////////////////////////////
                        ///////////////////////////////////////////////////////////////////////////////////////
                        ///////////////   POST   DATA                   ///////////////////////////////////////
                        ///////////////////////////////////////////////////////////////////////////////////////
                        ///////////////////////////////////////////////////////////////////////////////////////
                        
                        div(ng-show="pages[selectedNumber].postData.length > 0")
                          div(ng-repeat="postData in pages[selectedNumber].postData")
                            br
                            .row.bg-warning
                              br
                              .pull-right
                                .btn.btn-danger(ng-click="removePostData($index)") 
                                  // ng-click="removePostData()")
                                  strong X
                                | &nbsp; &nbsp; &nbsp;  
                                
                              .col-md-4
                                p Response:
                                  strong &nbsp; &nbsp; Data
                                p verb:
                                  strong &nbsp; &nbsp; Post
                              
                              .col-md-12
                                .hr-line-dashed
                                .form-group
                                  label.col-sm-3.control-label Url
                                  .col-sm-7
                                    input#url.form-control(ng-model="postData.url")
                                .form-group
                                  label.col-sm-3.control-label Controller Action Method
                                  .col-sm-7
                                    input#url.form-control(ng-model="postData.action")
                                .form-group
                                  label.col-sm-3.control-label OAuth
                                  .col-sm-7
                                    input.form-inline.pull-left(type='checkbox' ng-model="postData.isOAuth")
                                div(ng-show="postData.isOAuth")
                                  .form-group
                                    label.col-sm-4.control-label(for='roles') Roles
                                    .col-sm-7
                                      select#roles.form-control.m-b(ng-model="postData.role")
                                        option Webmaster
                                        option Admin
                                        option Manager
                                        option Worker
                                        option User
                                  .form-group
                                    label.col-sm-4.control-label Keys
                                    .col-sm-6
                                      select#roles.form-control.m-b(ng-model="$parent.postDataKeySelect" ng-options="key as key.name for key in keyChain")
                                    .col-sm-2
                                      .btn.btn-success(ng-click="postDataKeyAdd($index)")
                                        i.pe-7s-plus
                                  .form-group(ng-repeat="pageKey in postData.keys")
                                    label.col-sm-4.control-label
                                    .col-sm-6.well
                                      | {{ pageKey.name }}
                                      .btn.btn-danger.pull-right(ng-click="postDataKeyRemove($parent.$index, $index)")
                                        strong X
                                    .col-sm-2
                                
                              
                          

              .form-group
                .col-sm-offset-3.col-sm-4
                  button.btn.btn.btn-success(ng-click="submit()")
                    i.fa.fa-pencilr
                    | Ready, Set, Create Awesomeness
                    
    div(ng-controller='createProjectCtrl')
      script(type='text/ng-template', id='createProjectNoInfoError.html').
        <div class="color-line"></div>
        <div class="modal-header">
         <h3 class="modal-title">Error!</h3>
        </div>
        <div class="modal-body">
          <h4>Please complete the "Project Name" And "Project Purpose" before scaffolding</h4>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" type="button" ng-click="cancel()">OK</button>
        </div> 
        
      script(type='text/ng-template', id='createProjectModal.html').
        <div class="color-line"></div>
        <div class="modal-header">
         <h3 class="modal-title">Name of Page</h3>
        </div>
        <div class="modal-body">
          <h4>What is the name of your new page?</h4>
          <input type="text" class="form-control" ng-model="newPageInput" />
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
          <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
        </div>
        
      script(type='text/ng-template', id='DeleteModal.html').
        <div class="color-line"></div>
        <div class="modal-header">
         <h3 class="modal-title">Warning!
           <br>
           <small>You want to delete this page scaffolding</small>
         </h3>
        </div>
        <div class="modal-body">
          <h4>Please type "{{pages[selectedNumber].pageName}}" to delete.</h4>
          <input type="text" class="form-control" ng-model="deletePageInput" />
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
          <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
        </div>
      
  