extends ../../../layouts/dashboard_layout

block scripts
  script(src="../../../this/projects/app/payment/scripts/payment_home.js")

block content
  //boiler plate.. default for scaffolding blank layout.
  .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='/app/dashboard') App
              li
                a(href='/app/payment_center') Payment Center
              li.active
                span Thank You
          h2.font-light.m-b-xs
            | Thank You
    .content.animate-panel
      .row
        .col-lg-12
            include ../../../layouts/partials/dashboard/flash
      .row
        .col-lg-12
          .hpanel.hgreen
            .panel-body
              .container-fluid.container-max
                if company.stripe.plan == 'free' 
                  .panel.panel-default
                    .panel-heading Free Plan
                    .panel-body
                      p Thanks for subscribing to the free plan! Enjoy this free content!
                else 
                  .panel.panel-default
                    .panel-heading
                      | Free Plan (
                      a(href='/billing') Change to this plan
                      | )
                  
                
                if company.stripe.plan == 'autoPay' 
                  .panel.panel-default
                    .panel-heading Auto-Pay Plan
                    .panel-body
                      p Thanks for subscribing to the silver plan!
                else
                  .panel.panel-default
                    .panel-heading
                      | Silver Plan (
                      a(href='/billing') Change to this plan
                      | )
                .well
                  p Debug Info:
                  ul
                    li
                      | Does this user have a plan? 
                      if _.has(plans, company.stripe.plan) 
                        | YES
                      else 
                        | NOPE
                    li
                      | Does this user have paid plan?
                      if _.contains(['autoPay'], company.stripe.plan)
                        | YES
                      else
                        | NOPE
