extends ../../../layouts/dashboard_layout
block scripts
  script(src="../../../this/projects/app/notifications/scripts/view.js")
  -function prettyDate(dateString){
    -var date = new Date(dateString);
    -var d = date.getDate();
    -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -return d+' '+m+' '+y;
  -}

block content
  //boiler plate.. default for scaffolding blank layout.
  .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='/app/dashboard') App
              li
                a(href='/app/payment_center') Payment Center
              li.active
                span Report Invoice Issue
          h2.font-light.m-b-xs
            | Report Invoice Issue
    .content.animate-panel
      .row
        .col-lg-12
            include ../../../layouts/partials/dashboard/flash
      .row
        .col-lg-12
          .hpanel.hred                     
            .panel-body
              if !invoiceIssue
                form.form-horizontal(method="POST" action="../../../../app/payment_issue")
                  h4 Found something wrong with your currenct invoice? Lets fix this.
                  textarea.form-control(name="message")
                  br
                  input(type="hidden" name="_csrf" value="#{_csrf}")
                  input(type="hidden" name="invoiceIssueId" value="#{invoiceIssueId}")
                  input(type="hidden" name="invoiceId" value="#{invoiceId}")
                  
                  button.btn.btn-danger Report Issue
              else
                .social-talk
                  .media.social-profile.clearfix
                    a.pull-left
                      img.img-circle.img-responsive.m-b(src='/app/images?id=#{invoiceIssue.mainMessage.user && invoiceIssue.mainMessage.user.profile.picture ? invoiceIssue.mainMessage.user.profile.picture : "default.png"}' alt='logo' style="width: 32px; height: 32px; ")
                    .media-body
                      h5 #{invoiceIssue.mainMessage.user ? invoiceIssue.mainMessage.user.profile.name : "Anonymous"}
                      small.text-muted #{prettyDate(invoiceIssue.mainMessage.timestamp)}
                .social-content.m-t-md
                  |  #{invoiceIssue.mainMessage.message}
                  br
                  br
                .panel-footer
                  each convo in invoiceIssue.messages
                    .social-talk
                      .media.social-profile.clearfix
                        a.pull-left
                          img.img-circle.img-responsive.m-b(src='/app/images?id=#{convo.user && convo.user.profile.picture ? convo.user.profile.picture : "default.png"}' alt='logo' style="width: 32px; height: 32px; ")
    
                        .media-body
                          span.font-bold #{convo.user ? convo.user.profile.name : "Anonymous"}
                          small.text-muted  #{ prettyDate(convo.timestamp)}
                          .social-content
                            | #{convo.message}
                  form.social-form(method="POST" action="../../../../app/payment_issue")
                    input(type="hidden" name="invoiceIssueId" value="#{invoiceIssueId}")
                    input(type="hidden" name="companyId" value="#{user.selectedCompanyId}")
                    input(type="hidden" name="invoiceId" value="#{invoiceId}")
                    input(type='hidden' name='_csrf' value='#{_csrf}')
                    input.form-control(placeholder='Your comment' name="message")
      
                