extends ../../../layouts/dashboard_layout
    
    
block content
  //boiler plate.. default for scaffolding blank layout.
  .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='/app/dashboard') App
              li
                a(href='/app/payment_center') Payment Center
              li.active
                span Thank You
          h2.font-light.m-b-xs
            | Thank You
    .content.animate-panel
      .row
        .col-lg-12
            include ../../../layouts/partials/dashboard/flash
      .row
        .col-lg-12
          .hpanel.hgreen
            .panel-body
              h4
                | Dear #{user.profile.name}: 
              p
                | I just wanted you to know that we truly enjoy working with you and feel honored to be your chosen website provider.
              p
                | Your business is much appreciated, and we will do our very best to continue to meet your technology needs.
              p
                | Your continued patronage and suggestions are a vital part of our growth. And for that, we are most grateful.
              p
                | Thanks again! We look forward to serving you for many years to come.
              p
                | Best regards,
              p 
                | Mike
              br
              a.btn.btn-default(href="#") View Reciept
