extends ../../../layouts/dashboard_layout
block styles
  link(rel="stylesheet" href="../../../this/projects/app/payment/css/payment_home.css")
  -function prettyMoney(number){
      -return (number.toFixed(2) + "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  -}
  -function totalAmount(money){
      -return parseInt(money.toFixed(2).toString().split(".").join(""));
  -}
  -function prettyDateFormat(date){
    -return date.getMonth() + '/' + date.getDate() + '/' + date.getFullYear();
  -}
  
  
block scripts
  script(src="../../../this/projects/app/payment/scripts/responsive-tabs.js")
  script(type="text/javascript").
    $(".tabbable.responsive").resptabs({
      maxSmallWidth: 479,
      slideTime: 300
    });
    
    
    
block content
  //boiler plate.. default for scaffolding blank layout.
  .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='/app/dashboard') App
              li.active
                span Payment Center
          h2.font-light.m-b-xs
            | Payment Center
    .content.animate-panel
      .row
        .col-lg-12
            include ../../../layouts/partials/dashboard/flash
      .row
        .col-lg-12
          .hpanel.hgreen
            .panel-body
                if invoice
                  if !invoice.invoiceIssue_allMessagesRead && invoice.invoiceIssueId
                    .row
                      .panel-footer.col-md-12
                        if invoice.invoiceIssueId
                          a.btn.btn-danger.pull-right(style="margin:10px;" href="/app/payment_issue?id="+invoice.invoiceIssueId + "&invoiceId="+ invoice.id) View
                        else
                          a.btn.btn-danger.btn-outline.pull-right(style="margin:10px;" href="/app/payment_issue?invoiceId="+invoice.id) View
                        h5 We have replied to your payment issue.
                    br
                    br
                  else if invoice.invoiceIssue_allMessagesRead && invoice.invoiceIssueId
                    .row
                      .panel-footer.col-md-12
                        if invoice.invoiceIssueId
                          a.btn.btn-danger.pull-right(style="margin:10px;" href="/app/payment_issue?id="+invoice.invoiceIssueId + "&invoiceId="+ invoice.id) View
                        else
                          a.btn.btn-danger.btn-outline.pull-right(style="margin:10px;" href="/app/payment_issue?invoiceId="+invoice.id) View
                        h5 Please allow us 1-2 business days to respond to the issue you reported.
                    br
                    br
                .row
                  .tabbable.responsive
                    ul.nav.nav-tabs(style="margin-bottom: 0px; padding-bottom: 10px;")
                      li.active
                        a(href='#invoice', data-toggle='tab') Current Invoice
                      li
                        a(href='#transactions', data-toggle='tab') Previous Invoices
                      li
                        a(href='#paymentMethod', data-toggle='tab') Account
                .row
                  .tab-content
                    #invoice.panel-body.tab-pane.fade.active.in
                      if company.stripe.plan == "free"
                        h4 Your account has been de-activated.
                        
                        button.btn.btn-success(type="button", data-toggle="modal", data-target="#myModal") Active Account
                      else
                        if !invoice && company.currentRecieptId
                          if company.sendInvoiceDate
                            p Next invoice will be ready on the #{company.sendInvoiceDate}
                            .hr-line-dashed
                          h4
                            | Dear #{company.company_name},
                          p
                            | I just wanted you to know that we truly enjoy working with you and feel honored to be your chosen website provider.
                          p
                            | Your business is much appreciated, and we will do our very best to continue to meet your technology needs.
                          p
                            | Your continued patronage and suggestions are a vital part of our growth. And for that, we are most grateful.
                          p
                            | Thanks again! We look forward to serving you for many years to come.
                          p
                            | Best regards,
                          p 
                            | #{appSetting.app_url}
                            
                        else if !invoice
                          h4
                            | blah
                        else if invoice
                          .row
                            
                            if invoice.invoiceIssueId
                              a.btn.btn-danger.pull-right(style="margin:10px;" href="/app/payment_issue?id="+invoice.invoiceIssueId + "&invoiceId="+ invoice.id) Report issue
                            else
                              a.btn.btn-danger.pull-right(style="margin:10px;" href="/app/payment_issue?invoiceId="+invoice.id) Report issue
                          .hr-line-dashed
                         
                          .row
                            .col-md-12
                                  h3.text-center
                                    strong Order summary
                                      br
                                      small Due on: #{invoice.dueDate}
                                        br
                                        a(href="/app/payment_view_invoice?id=#{company.currentInvoiceId}" style="text-decoration:underline;") Full Invoice
                                
                                  .table-responsive
                                    table.table.table-condensed
                                      thead
                                        tr
                                          td
                                            strong Item Name
                                          td.text-center
                                            strong Item Price
                                          td.text-center
                                            strong Item Quantity
                                          td.text-right
                                            strong Total
                                            
                                      tbody
                                        if invoice
                                          each item in invoice.items
                                            tr
                                              td #{item.name}
                                              td.text-center $#{prettyMoney(item.price)}
                                              td.text-center #{item.quantity}
                                              td.text-right $#{prettyMoney(item.total)}
                                        
                                        tr
                                          td.highrow
                                          td.highrow
                                          td.highrow.text-center
                                            strong Subtotal
                                          td.highrow.text-right $#{prettyMoney(invoice.subtotal)}
                                        tr
                                          td.highrow
                                          td.highrow
                                          td.highrow.text-center
                                            strong Tax
                                          td.highrow.text-right $#{prettyMoney(invoice.taxTotal)}
                                        tr
                                          td.emptyrow
                                          td.emptyrow
                                          td.emptyrow.text-center
                                            strong Total
                                          td.emptyrow.text-right $#{prettyMoney(invoice.total)}
    
                    #transactions.panel-body.tab-pane.fade
                      if company.pastInvoices && company.pastInvoices.length > 0
                        .table-responsive
                          table.table.table-striped
                            thead
                              tr
                                th Invoice 
                                  //th Reciept
                                th Status
                                th Payed On
                                th Service Start Date
                                th Service End Date
                                th Invoice #
                            tbody
                              each pastInvoice in company.pastInvoices
                                tr
                                  th
                                    a(href="/app/payment_view_invoice?id=#{pastInvoice.invoiceId}" style="color:blue; text-decoration:underline;") Invoice
                                    // th 
                                    //   a(href="#" style="color:blue; text-decoration:underline;") Reciept
                                  th #{pastInvoice.invoiceStatus}
                                  if pastInvoice.payedOnDate
                                    th #{prettyDateFormat(pastInvoice.payedOnDate)}
                                  th #{pastInvoice.service_period_start}
                                  th #{pastInvoice.service_period_end}
                                  th #{pastInvoice.invoiceId}
                    #paymentMethod.panel-body.tab-pane.fade.form-horizontal
                      .row
                        button.btn.btn-success.pull-right(type="button", data-toggle="modal", data-target="#myModal")
                          | Manage Account
                      .hr-line-dashed
                      .form-group
                        label.col-sm-3.control-label Status:
                        .col-sm-9
                          .control-label.pull-left 
                            if company.stripe && company.stripe.plan == 'autopay'
                              span(style="color: green;") Active
                            else
                              span(style="color: red;") Not Active
                      if company.stripe && company.stripe.plan == "autopay"
                        if company.stripe && company.stripe.last4
                          .form-group
                            label.col-sm-3.control-label Current card last 4:
                            .col-sm-9
                              .control-label.pull-left #{company.stripe.last4}
                        if company.chargeDate
                          .form-group
                            label.col-sm-3.control-label Day of month changed:
                            .col-sm-9
                              .control-label.pull-left #{company.chargeDate}
                        if company.sendInvoiceDate 
                          .form-group
                            label.col-sm-3.control-label Day of month invoice is sent:
                            .col-sm-9
                              .control-label.pull-left #{company.sendInvoiceDate}
                        
                      
                      #myModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
                        form.form-horizontal(id="#{!company.stripe.last4 ? 'cardForm': ''}", action='/app/plan', method='POST')
                
                          .modal-dialog
                            .modal-content
                              .color-line
                              .modal-header.text-center
                                h4.modal-title Manage Account
                              .modal-body
                                .row
                                  
                                  input(type='radio' checked=true style="display:none;" name='plan' value='autopay' data-toggle='radio')
                                  #cardWrapper.form-horizontal
                                    .form-group
                                      label.col-sm-3.control-label(for='plan') Status
                                      .col-sm-8
                                        each plan in plans
                                            .radio
                                              label
                                                input(type='radio', checked=plan.name == company.stripe.plan, name='plan', value='#{plan.name}', data-toggle='radio')
                                                span(style="color:#{plan.name == 'free' ? 'red' : 'green'}") #{plan.name == "free" ? "Deactive" : "Active"} - $#{prettyMoney(plan.price)} a month
                                          
                                    .form-group
                                      label.col-sm-3.control-label Card Number
                                      .col-sm-8
                                        input#card-num.form-control(type='text', placeholder="#{company.stripe.last4 ? 'XXXX-XXXX-XXXX-' + company.stripe.last4:''}")
                                    .form-group
                                      label.col-sm-3.control-label Card Details
                                      .col-sm-8
                                        .row
                                          .col-xs-4
                                            input#card-month.form-control(type='text', size='2', maxlength='2', placeholder='MM')
                                          .col-xs-4
                                            input#card-year.form-control(type='text', size='2', maxlength='2', placeholder='YY')
                                          .col-xs-4
                                            input#card-cvc.form-control(type='text', size='3', maxlength='3', placeholder='CVC')
                                    .form-group
                                      .col-sm-6
                                        #cardFormError.alert.alert-danger.hidden(role='alert')
                                          p #{error}
                                    .hr-line-dashed
                                    h6 By clicking update, you are agreeing to the terms and condition
                                .form-group
                                  .col-sm-offset-3.col-sm-4
                                    input(type='hidden', name='_csrf', value=_csrf)
                                             
                                                  
                                
                              .modal-footer
                                button.btn.btn-default(type="button", data-dismiss="modal") Close
                                button.btn.btn-primary(type="submit") Update
                                 
                                      
                                      