extends ../../../layouts/example-app_layout

block scripts
  script(src='../vendor/jquery-flot/jquery.flot.js')
  script(src='../vendor/jquery-flot/jquery.flot.resize.js')
  script(src='../vendor/jquery-flot/jquery.flot.pie.js')
  script(src='../vendor/flot.curvedlines/curvedLines.js')
  script(src='../vendor/jquery.flot.spline/index.js')
  script(src='../vendor/peity/jquery.peity.min.js')
  script(src='../scripts/charts.js')
  script(src='../scripts/exampleapp/analytics.js')

block content
  .content.animate-panel
    .row
      .col-lg-3
        .hpanel
          .panel-body.text-center.h-200
            i.pe-7s-graph1.fa-4x
            h1.m-xs $1 206,90
            h3.font-extra-bold.no-margins.text-success
              | All Income
            small Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Users Activity
            .stats-icon.pull-right
              i.pe-7s-share.fa-4x
            .m-t-xl
              h3.m-b-xs 4 210,160
              span.font-bold.no-margins
                | Social users
              .progress.m-t-xs.full.progress-small
                .progress-bar.progress-bar-success(style='width: 55%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='55', role='progressbar')
                  span.sr-only 35% Complete (success)
              .row
                .col-xs-6
                  small.stats-label Pages / Visit
                  h4 7.80
                .col-xs-6
                  small.stats-label % New Visits
                  h4 76.43%
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Page Views
            .stats-icon.pull-right
              i.pe-7s-monitor.fa-4x
            .m-t-xl
              h1.text-success 860k+
              span.font-bold.no-margins
                | Social users
              br
              small
                | Lorem Ipsum is simply dummy text of the printing and 
                strong typesetting industry
                | . Lorem Ipsum has been.
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Today income
            .stats-icon.pull-right
              i.pe-7s-cash.fa-4x
            .clearfix
            .flot-chart
              #flot-income-chart.flot-chart-content
            .m-t-xs
              .row
                .col-xs-5
                  small.stat-label Today
                  h4 $230,00 
                .col-xs-7
                  small.stat-label Last week
                  h4
                    | $7 980,60 
                    i.fa.fa-level-up.text-success
          .panel-footer
            | This is standard panel footer
    .row
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Page Views
            .stats-icon.pull-right
              i.pe-7s-credit.fa-4x
            .clearfix
            .flot-chart
              #flot-bar-chart.flot-chart-content
            .m-t-xs
              .row
                .col-xs-5
                  small.stat-label Today
                  h4 $230,00 
                .col-xs-7
                  small.stat-label Last week
                  h4
                    | $7 980,60 
                    i.fa.fa-level-up.text-success
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200.list
            .stats-title.pull-left
              h4 Users Activity
            .stats-icon.pull-right
              i.pe-7s-science.fa-4x
            .m-t-xl
              span.font-bold.no-margins
                | Social users
              br
              small
                | Lorem Ipsum is simply dummy text of the printing simply all dummy text.
            .row.m-t-sm
              .col-lg-6
                h3.no-margins.font-extra-bold.text-success 300,102
                .font-bold
                  | 98% 
                  i.fa.fa-level-up.text-success
              .col-lg-6
                h3.no-margins.font-extra-bold.text-success 280,200
                .font-bold
                  | 98% 
                  i.fa.fa-level-up.text-success
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel
          .panel-body.text-center.h-200
            i.pe-7s-graph2.fa-4x
            h1.m-xs $802,40
            small
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum consectetur adipiscing elit.
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Today income
            .stats-icon.pull-right
              i.pe-7s-shuffle.fa-4x
            .clearfix
            .flot-chart
              #flot-pie-chart.flot-chart-content(style='height: 112px')
          .panel-footer
            | This is standard panel footer
    .row
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Page Views
            .stats-icon.pull-right
              i.pe-7s-battery.fa-4x
            .clearfix
            .m-t-xs
              .row
                .col-xs-6
                  small.stat-label Today
                  h4
                    | $170,20 
                    i.fa.fa-level-up.text-success
                .col-xs-6
                  small.stat-label Last week
                  h4
                    | $580,90 
                    i.fa.fa-level-up.text-success
              .row
                .col-xs-6
                  small.stat-label Today
                  h4
                    | $620,20 
                    i.fa.fa-level-up.text-success
                .col-xs-6
                  small.stat-label Last week
                  h4
                    | $140,70 
                    i.fa.fa-level-up.text-success
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Today income
            .stats-icon.pull-right
              i.pe-7s-gleam.fa-4x
            .clearfix
            .flot-chart
              #flot-line-chart.flot-chart-content(style='height: 125px')
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200.list
            .stats-title.pull-left
              h4 Users Activity
            .stats-icon.pull-right
              i.pe-7s-display1.fa-4x
            .m-t-xl
              small
                | Lorem Ipsum is simply dummy text of the printing..
            .progress.m-t-xs.full.progress-small
              .progress-bar.progress-bar-success(style='width: 25%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='25', role='progressbar')
                span.sr-only 35% Complete (success)
            .progress.m-t-xs.full.progress-small
              .progress-bar.progress-bar-success(style='width: 35%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='35', role='progressbar')
                span.sr-only 35% Complete (success)
            .progress.m-t-xs.full.progress-small
              .progress-bar.progress-bar-success(style='width: 55%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='55', role='progressbar')
                span.sr-only 35% Complete (success)
            .progress.m-t-xs.full.progress-small
              .progress-bar.progress-bar-success(style='width: 95%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='95', role='progressbar')
                span.sr-only 35% Complete (success)
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel
          .panel-body.text-center.h-200
            i.pe-7s-global.fa-4x
            h1.m-xs.text-success $1 208,20
            small
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum consectetur adipiscing elit.
          .panel-footer
            | This is standard panel footer
