extends ../../../layouts/example-app_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index') Dashboard
            li
              span App views
            li.active
              span Blog
        h2.font-light.m-b-xs
          | Blog
        small Article board for blog page.
  .content.animate-panel
    .row
      .col-md-3
        .hpanel.blog-box
          .panel-heading
            .media.clearfix
              a.pull-left
                img(src='images/a3.jpg', alt='profile-picture')
              .media-body
                small
                  | Created by: 
                  span.font-bold Mike Smith
                br
                small.text-muted 21.03.2015, 06:45 pm
          .panel-body
            a(href='blog_details')
              h4 Article about new design
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum...
            p
              | Praesent eget euismod nibh. Fusce ac tellus eu nisl lobortis maximus ac eget sapien. Nulla malesuada mauris non nulla imperdiet ullamcorper.
          .panel-footer
            span.pull-right
              i.fa.fa-comments-o  
              |  22 comments
            i.fa.fa-eye  
            |  142 views
        .hpanel.blog-box
          .panel-heading
            .media.clearfix
              a.pull-left
                img(src='images/a5.jpg', alt='profile-picture')
              .media-body
                small
                  | Created by: 
                  span.font-bold John Wilkins
                br
                small.text-muted 17.05.2015, 10:25 pm
          .panel-body
            a(href='blog_details.html')
              h4 Cras eleifend
            p
              | Donec malesuada diam sit amet arcu suscipit, nec lacinia nulla aliquet. Nullam non pellentesque ligula. Integer semper nulla ut nulla tristique, nec rhoncus sem mollis.
            p
              | Praesent eget euismod nibh. Fusce ac tellus eu nisl lobortis maximus ac eget sapien. Nulla malesuada mauris non nulla imperdiet ullamcorper.
            a.btn.btn-primary.btn-xs(href='blog_details.html') Read more
          .panel-footer
            span.pull-right
              i.fa.fa-comments-o  
              |  8 comments
            i.fa.fa-eye  
            |  22 views
        .hpanel.blog-box
          .panel-heading
            .media.clearfix
              a.pull-left
                img(src='images/a6.jpg', alt='profile-picture')
              .media-body
                small
                  | Created by: 
                  span.font-bold John Wilkins
                br
                small.text-muted 22.12.2015, 04:17 pm
          .panel-body
            a(href='blog_details.html')
              h4 Vivamus eu rutrum metus
            p
              | Duis ut iaculis ipsum, et viverra risus. Sed et risus fermentum, tempor ante vitae, faucibus libero. Curabitur ut cursus diam, at accumsan nibh. Cras feugiat iaculis massa vitae facilisis. Phasellus vestibulum nulla sed leo facilisis, sit amet sollicitudin
              | leo porta.
            p
              | Aenean aliquet, nibh vitae auctor commodo, justo odio rutrum lorem, a suscipit massa justo at purus. Suspendisse ullamcorper eros est, in finibus justo dignissim nec.
            a.btn.btn-primary.btn-xs(href='blog_details') Read more
          .panel-footer
            span.pull-right
              i.fa.fa-comments-o  
              |  59 comments
            i.fa.fa-eye  
            |  167 views
      .col-md-3
        .hpanel.blog-box
          .panel-heading
            .media.clearfix
              a.pull-left
                img(src='images/a1.jpg', alt='profile-picture')
              .media-body
                small
                  | Created by: 
                  span.font-bold Mark Word
                br
                small.text-muted 22.04.2015, 10:15 pm
          .panel-body
            a(href='blog_details')
              h4 Many desktop publishing packages
            p
              | Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            p
              | Aenean aliquet, nibh vitae auctor commodo, justo odio rutrum lorem, a suscipit massa justo at purus. Suspendisse ullamcorper eros est, in finibus justo dignissim nec.
            a.btn.btn-primary.btn-xs(href='blog_details') Read more
          .panel-footer
            span.pull-right
              i.fa.fa-comments-o  
              |  56 comments
            i.fa.fa-eye  
            |  144 views
        .hpanel.blog-box
          .panel-heading
            .media.clearfix
              a.pull-left
                img(src='images/a7.jpg', alt='profile-picture')
              .media-body
                small
                  | Created by: 
                  span.font-bold Selena Jackson
                br
                small.text-muted 01.02.2015, 10:40 pm
          .panel-body
            a(href='blog_details')
              h4 Cras eleifend quam ipsum
            p
              | Donec nec nunc tempor, pulvinar lacus id, molestie nulla. Nam accumsan accumsan ex, non porta orci cursus ac. Pellentesque et pharetra libero.
            p
              | Nam sollicitudin ornare tincidunt. Nulla sit amet urna vitae lectus scelerisque sodales. Sed semper condimentum egestas.
          .panel-footer
            span.pull-right
              i.fa.fa-comments-o  
              |  32 comments
            i.fa.fa-eye  
            |  98 views
        .hpanel.blog-box
          .panel-heading
            .media.clearfix
              a.pull-left
                img(src='images/a4.jpg', alt='profile-picture')
              .media-body
                small
                  | Created by: 
                  span.font-bold Anna Smith
                br
                small.text-muted 10.07.2015, 02:12 am
          .panel-image
            img.img-responsive(src='images/p1.jpg', alt='')
            .title
              a(href='blog_details')
                h4 Standard chunk of Lorem Ipsum
              small Even slightly believable
          .panel-body
            p
              | Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            p
              | Nam sollicitudin ornare tincidunt. Nulla sit amet urna vitae lectus scelerisque sodales. Sed semper condimentum egestas.
          .panel-footer
            span.pull-right
              i.fa.fa-comments-o  
              |  10 comments
            i.fa.fa-eye  
            |  62 views
      .col-md-3
        .hpanel.blog-box
          .panel-heading
            .media.clearfix
              a.pull-left
                img(src='images/a2.jpg', alt='profile-picture')
              .media-body
                small
                  | Created by: 
                  span.font-bold John Jackson
                br
                small.text-muted 11.10.2015, 11:46 pm
          .panel-body
            a(href='blog_details')
              h4 Latin professor at Hampden-Sydney College
            p
              | Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
              | comes from sections
            p
              | Duis diam ipsum, ullamcorper in imperdiet eu, venenatis ac felis. Phasellus interdum tellus sed leo fringilla, id ornare nulla mollis.
          .panel-footer
            span.pull-right
              i.fa.fa-comments-o  
              |  66 comments
            i.fa.fa-eye  
            |  250 views
        .hpanel.blog-box
          .panel-heading
            .media.clearfix
              a.pull-left
                img(src='images/a8.jpg', alt='profile-picture')
              .media-body
                small
                  | Created by: 
                  span.font-bold Selena Jackson
                br
                small.text-muted 16.02.2015, 08:34 pm
          .panel-body
            a(href='blog_details')
              h4 Sed laoreet pulvinar mauris
            p
              | Aliquam varius, odio nec facilisis convallis, nulla augue efficitur enim, eu iaculis urna nisi id erat. Sed iaculis orci id diam porttitor, nec sagittis dui sodales. Quisque in libero erat. Etiam luctus
            p
              | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce ullamcorper nisl risus, a scelerisque dui hendrerit nec.
            a.btn.btn-primary.btn-xs(href='blog_details') Read more
          .panel-footer
            span.pull-right
              i.fa.fa-comments-o  
              |  10 comments
            i.fa.fa-eye  
            |  183 views
        .hpanel.blog-box
          .panel-heading
            .media.clearfix
              a.pull-left
                img(src='images/a5.jpg', alt='profile-picture')
              .media-body
                small
                  | Created by: 
                  span.font-bold John Wilkins
                br
                small.text-muted 17.05.2015, 10:25 pm
          .panel-body
            a(href='blog_details')
              h4 Cras eleifend
            p
              | Donec malesuada diam sit amet arcu suscipit, nec lacinia nulla aliquet. Nullam non pellentesque ligula. Integer semper nulla ut nulla tristique, nec rhoncus sem mollis.
            p
              | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce ullamcorper nisl risus, a scelerisque dui hendrerit nec.
          .panel-footer
            span.pull-right
              i.fa.fa-comments-o  
              |  8 comments
            i.fa.fa-eye  
            |  22 views
      .col-md-3
        .hpanel.blog-box
          .panel-heading
            .media.clearfix
              a.pull-left
                img(src='images/a4.jpg', alt='profile-picture')
              .media-body
                small
                  | Created by: 
                  span.font-bold Anna Smith
                br
                small.text-muted 10.07.2015, 02:12 am
          .panel-image
            img.img-responsive(src='images/p1.jpg', alt='')
            .title
              a(href='blog_details')
                h4 Standard chunk of Lorem Ipsum
              small Even slightly believable
          .panel-body
            p
              | Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            p
              | Etiam aliquam elit vestibulum, convallis risus at, rutrum ex. Aliquam erat volutpat. Morbi blandit nisi a magna vestibulum, eget volutpat risus sodales.
            a.btn.btn-primary.btn-xs(href='blog_details') Read more
          .panel-footer
            span.pull-right
              i.fa.fa-comments-o  
              |  10 comments
            i.fa.fa-eye  
            |  62 views
        .hpanel.blog-box
          .panel-heading
            .media.clearfix
              a.pull-left
                img(src='images/a3.jpg', alt='profile-picture')
              .media-body
                small
                  | Created by: 
                  span.font-bold Mike Smith
                br
                small.text-muted 21.03.2015, 06:45 pm
          .panel-body
            a(href='blog_details')
              h4 Article about new design
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum...
            p
              | Praesent at sodales lectus. Donec et viverra est. Sed eu est fermentum felis placerat pretium sit amet sed ligula. Morbi nec faucibus odio.
            a.btn.btn-primary.btn-xs(href='blog_details') Read more
          .panel-footer
            span.pull-right
              i.fa.fa-comments-o  
              |  22 comments
            i.fa.fa-eye  
            |  142 views
        .hpanel.blog-box
          .panel-heading
            .media.clearfix
              a.pull-left
                img(src='images/a1.jpg', alt='profile-picture')
              .media-body
                small
                  | Created by: 
                  span.font-bold Mark Word
                br
                small.text-muted 22.04.2015, 10:15 pm
          .panel-body
            a(href='blog_details')
              h4 Many desktop publishing packages
            p
              | Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            p
              | Nunc pellentesque dui nisi, vel convallis quam malesuada ornare. Nunc ac purus velit. Cras aliquet porta sodales. Proin blandit ornare bibendum.
            a.btn.btn-primary.btn-xs(href='blog_details') Read more
          .panel-footer
            span.pull-right
              i.fa.fa-comments-o  
              |  56 comments
            i.fa.fa-eye  
            |  144 views
