extends ../../../layouts/example-app_layout

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span Interface
              li.active
                span Colors and Buttons 
          h2.font-light.m-b-xs
            | Colors and Buttons
          small The basic color palette
    .content.animate-panel
      .row
        .col-lg-12
          .hpanel
            .panel-body.float-e-margins
              .wrapper
                .row.color-demo
                  .header-line.h-bg-navy-blue.extreme-color
                    div
                      | Primary
                      span Navy Blue
                  .header-line.h-bg-violet
                    div
                      | Primary 2
                      span Violet
                  .header-line.h-bg-blue
                    div
                      | Info
                      span Blue
                  .header-line.h-bg-green
                    div
                      | Success
                      span Green
                  .header-line.h-bg-yellow
                    div
                      | Warning
                      span Yellow
                  .header-line.h-bg-orange
                    div
                      | Warning 2
                      span Orange
                  .header-line.h-bg-red
                    div
                      | Danger
                      span Red
                  .header-line.h-bg-red-deep.extreme-color
                    div
                      | Danger 2
                      span Deep red
      .row
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Buttons - primary colors
            .panel-body.float-e-margins
              p
                | Use any of the available button classes to quickly create a styled button.
              p
                button.btn.w-xs.btn-default(type='button') Default
                button.btn.w-xs.btn-primary(type='button') Primary
                button.btn.w-xs.btn-primary2(type='button') Primary2
                button.btn.w-xs.btn-info(type='button') Info
                button.btn.w-xs.btn-success(type='button') Success
                button.btn.w-xs.btn-warning(type='button') Warning
                button.btn.w-xs.btn-warning2(type='button') Warning2
                button.btn.w-xs.btn-danger(type='button') Danger
                button.btn.w-xs.btn-danger2(type='button') Danger2
                button.btn.w-xs.btn-link(type='button') Simple link
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Diferent size
            .panel-body.float-e-margins
              p
                | If You want larger or smaller buttons You can add 
                code .btn-lg
                | , 
                code .btn-sm
                | , or 
                code .btn-xs
                |  class.
              p
                button.btn.btn-primary.btn-lg(type='button') Large button
                button.btn.btn-default.btn-lg(type='button') Large button
                br
                button.btn.btn-primary(type='button') Default button
                button.btn.btn-default(type='button') Default button
                br
                button.btn.btn-primary.btn-sm(type='button') Small button
                button.btn.btn-default.btn-sm(type='button') Small button
                br
                button.btn.btn-primary.btn-xs(type='button') Mini button
                button.btn.btn-default.btn-xs(type='button') Mini button
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Outline buttons
            .panel-body.float-e-margins
              p
                | Create block level buttons or outline buttons, by adding 
                code .btn-block
                |  or 
                code .btn-outline
                | .
              p
                button.btn.btn-outline.btn-default(type='button') Default
                button.btn.btn-outline.btn-primary(type='button') Primary
                button.btn.btn-outline.btn-primary2(type='button') Primary2
                button.btn.btn-outline.btn-info(type='button') Info
                button.btn.btn-outline.btn-success(type='button') Success
                button.btn.btn-outline.btn-warning(type='button') Warning
                button.btn.btn-outline.btn-warning2(type='button') Warning2
                button.btn.btn-outline.btn-danger(type='button') Danger
                button.btn.btn-outline.btn-danger2(type='button') Danger2
              p
                button.btn.btn-block.btn-outline.btn-default(type='button') Block button
      .row
        .col-lg-6
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Dropdown buttons
            .panel-body.float-e-margins
              p
                | Droppdowns buttons are avalible with any color and any size.
              .btn-group
                button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown')
                  | Action 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a.font-bold(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
              .btn-group
                button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
                  | Action 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
              .btn-group
                button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
                  | Action 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
              br
              .btn-group
                button.btn.btn-primary.btn-sm.dropdown-toggle(data-toggle='dropdown')
                  | Action 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
              .btn-group
                button.btn.btn-info.btn-sm.dropdown-toggle(data-toggle='dropdown')
                  | Action 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
              .btn-group
                button.btn.btn-default.btn-sm.dropdown-toggle(data-toggle='dropdown')
                  | Action 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
              br
              .btn-group
                button.btn.btn-primary.btn-xs.dropdown-toggle(data-toggle='dropdown')
                  | Action 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
              .btn-group
                button.btn.btn-info.btn-xs.dropdown-toggle(data-toggle='dropdown')
                  | Action 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
              .btn-group
                button.btn.btn-default.btn-xs.dropdown-toggle(data-toggle='dropdown')
                  | Action 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
        .col-lg-6
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Button gruped
            .panel-body.float-e-margins
              p
                | This is a group of buttons, ideal for sytuation where many actions are related to same element.
              .btn-group
                button.btn.btn-default(type='button') Left
                button.btn.btn-primary(type='button') Middle
                button.btn.btn-default(type='button') Right
              br
              br
              .btn-group
                button.btn.btn-default(type='button')
                  i.fa.fa-chevron-left
                button.btn.btn-default 1
                button.btn.btn-default.active 2
                button.btn.btn-default 3
                button.btn.btn-default 4
                button.btn.btn-default 5
                button.btn.btn-default 6
                button.btn.btn-default 7
                button.btn.btn-default 8
                button.btn.btn-default(type='button')
                  i.fa.fa-chevron-right
      .row
        .col-lg-6
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Icon Buttons
            .panel-body.float-e-margins
              p
                | To buttons with any color or any size you can add extra icon on the left or the right side.
              button.btn.btn-primary(type='button')
                i.fa.fa-check
                |  Submit
              button.btn.btn-success(type='button')
                i.fa.fa-upload
                span.bold Upload
              button.btn.btn-info(type='button')
                i.fa.fa-paste
                |  Edit
              button.btn.btn-danger(type='button')
                i.fa.fa-trash-o
                span.bold Delete
              button.btn.btn-default(type='button')
                i.fa.fa-map-marker
                |  Map
              a.btn.btn-default
                i.fa.fa-user-md
              a.btn.btn-default
                i.fa.fa-group
              a.btn.btn-default
                i.fa.fa-wrench
              a.btn.btn-default
                i.fa.fa-exchange
              a.btn.btn-default
                i.fa.fa-check-circle-o
              a.btn.btn-default
                i.fa.fa-road
              a.btn.btn-default
                i.fa.fa-ambulance
              a.btn.btn-default
                i.fa.fa-star
                |  Stared
        .col-lg-6
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Icon Buttons with custom size
            .panel-body.float-e-margins
              p
                | Buttons with icons are avalible wih custom size.
              button.btn.btn-primary(type='button')
                i.fa.fa-group
                br
                | Users
              button.btn.btn-primary2(type='button')
                i.fa.fa-volume-up
                br
                | Volume
              button.btn.btn-info(type='button')
                i.fa.fa-print
                br
                | Print
              button.btn.btn-success(type='button')
                i.fa.fa-recycle
                br
                | Recycle
              button.btn.btn-warning(type='button')
                i.fa.fa-music
                br
                | Music
              button.btn.btn-warning2(type='button')
                i.fa.fa-star
                br
                | Stars
              button.btn.btn-danger2(type='button')
                i.fa.fa-medkit
                br
                | Medkit
              br
              button.btn.btn-primary.btn-xs(type='button')
                i.fa.fa-group
              button.btn.btn-primary2.btn-xs(type='button')
                i.fa.fa-volume-up
              button.btn.btn-info.btn-xs(type='button')
                i.fa.fa-print
              button.btn.btn-success.btn-xs(type='button')
                i.fa.fa-recycle
              button.btn.btn-warning.btn-xs(type='button')
                i.fa.fa-music
              button.btn.btn-warning2.btn-xs(type='button')
                i.fa.fa-star
              button.btn.btn-danger2.btn-xs(type='button')
                i.fa.fa-medkit
      .row
        .col-lg-12
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Buttons miscellaneous
            .panel-body.float-e-margins
              .row
                .col-lg-3
                  p
                    | Circle buttons
                  button.btn.btn-primary.btn-circle(type='button')
                    i.fa.fa-list
                  button.btn.btn-success.btn-circle(type='button')
                    i.fa.fa-link
                  button.btn.btn-info.btn-circle(type='button')
                    i.fa.fa-check
                  button.btn.btn-warning.btn-circle(type='button')
                    i.fa.fa-times
                  button.btn.btn-danger.btn-circle(type='button')
                    i.fa.fa-heart
                .col-lg-3
                  p
                    | Single toggle button
                  button.btn.btn-warning(data-toggle='button', type='button') Single toggle
                .col-lg-3
                  p
                    | Checkbox buttons
                  .btn-group(data-toggle='buttons')
                    label.btn.btn-info.active
                      input(type='checkbox')
                      |  Option 1
                    label.btn.btn-info
                      input(type='checkbox')
                      |  Option 2
                    label.btn.btn-info
                      input(type='checkbox')
                      |  Option 3
                .col-lg-3
                  p
                    | Radio buttons
                  .btn-group(data-toggle='buttons')
                    label.btn.btn-success.active
                      input#option1(type='radio', name='options')
                      |  Option 1
                    label.btn.btn-success
                      input#option2(type='radio', name='options')
                      |  Option 2
                    label.btn.btn-success
                      input#option3(type='radio', name='options')
                      |  Option 3
              .row
                .col-lg-3
                  button.btn.btn-xs.btn-primary.btn-circle(type='button')
                    i.fa.fa-list
                  button.btn.btn-xs.btn-success.btn-circle(type='button')
                    i.fa.fa-link
                  button.btn.btn-xs.btn-info.btn-circle(type='button')
                    i.fa.fa-check
                  button.btn.btn-xs.btn-warning.btn-circle(type='button')
                    i.fa.fa-times
                  button.btn.btn-xs.btn-danger.btn-circle(type='button')
                    i.fa.fa-heart
                .col-lg-3
                  button.btn.btn-xs.btn-warning(data-toggle='button', type='button') Single toggle
                .col-lg-3
                  .btn-group(data-toggle='buttons')
                    label.btn.btn-info.active.btn-xs
                      input(type='checkbox')
                      |  Option 1
                    label.btn.btn-info.btn-xs
                      input(type='checkbox')
                      |  Option 2
                    label.btn.btn-info.btn-xs
                      input(type='checkbox')
                      |  Option 3
                .col-lg-3
                  .btn-group(data-toggle='buttons')
                    label.btn.btn-success.active.btn-xs
                      input#option1(type='radio', name='options')
                      |  Option 1
                    label.btn.btn-success.btn-xs
                      input#option2(type='radio', name='options')
                      |  Option 2
                    label.btn.btn-success.btn-xs
                      input#option3(type='radio', name='options')
                      |  Option 3
