extends ../../../layouts/example-app_layout

block scripts
    script(src='../vendor/moment/min/moment.min.js')
    script(src='../vendor/fullcalendar/dist/fullcalendar.min.js')
    script(src='../scripts/exampleapp/calendar.js')

block styles
    link(rel='stylesheet', href='../vendor/fullcalendar/dist/fullcalendar.print.css', media='print')
    link(rel='stylesheet', href='../vendor/fullcalendar/dist/fullcalendar.min.css')

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span App views
              li.active
                span Calendar
          h2.font-light.m-b-xs
            | Calendar
          small Full-sized, drag & drop event calendar.
    .content
      .row
        .col-lg-12
          .row
            .col-md-6
              .hpanel
                .panel-body
                  #external-events
                    h2 FullCalendar
                    |  is a jQuery plugin that provides a full-sized, drag & drop calendar like the one below. It uses AJAX to fetch events on-the-fly for each month and is easily configured to use your own feed format (an extension is provided
                    |                                 for Google Calendar).
                    p
                      a(href='http://arshaw.com/fullcalendar/', target='_blank') FullCalendar documentation
            .col-md-6
              .hpanel
                .panel-body
                  #external-events
                    strong Click, Drop or Resize event on calendar!
                    p
                      | Message from functions:
                      br
                      #external-events
                        p Drag a event and drop into callendar.
                        .external-event.h-bg-green.text-white Go to shop and buy some products.
                        .external-event.h-bg-green.text-white Check the new CI from Corporation.
                        p.m-t
                          input#drop-remove.i-checks(type='checkbox', checked='')
                          label(for='drop-remove') remove after drop
        .col-lg-12
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Calendar
            .panel-body
              #calendar
