extends ../../../layouts/example-app_layout

block scripts
    script(src='../vendor/chartist/dist/chartist.min.js')
    script(src='../scripts/exampleapp/chartist.js')

block styles
    link(rel='stylesheet', href='../vendor/chartist/custom/chartist.css')

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span Charts
              li.active
                span Chartist 
          h2.font-light.m-b-xs
            | Chartist
          small Chartist.js is a simple responsive charting library built with SVG.
    .content.animate-panel
      .row
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Basic line chart
            .panel-body
              div
                #ct-chart1.ct-perfect-fourth
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Basic pie chart
            .panel-body
              div
                #ct-chart5.ct-perfect-fourth
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Gauge chart
            .panel-body
              div
                #ct-chart6.ct-perfect-fourth
      .row
        .col-lg-6
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Horizontal bar chart
            .panel-body
              div
                #ct-chart4.ct-perfect-fourth
        .col-lg-6
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Stacked bar chart
            .panel-body
              div
                #ct-chart3.ct-perfect-fourth
      .row
        .col-lg-12
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Line chart with area
            .panel-body
              div
                #ct-chart7.ct-major-twelfth
