extends ../../../layouts/example-app_layout

block scripts
    script(src='../vendor/jquery-flot/jquery.flot.js')
    script(src='../vendor/jquery-flot/jquery.flot.resize.js')
    script(src='../vendor/jquery-flot/jquery.flot.pie.js')
    script(src='../vendor/flot.curvedlines/curvedLines.js')
    script(src='../vendor/jquery.flot.spline/index.js')
    script(src='../scripts/exampleapp/flot.js')

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span Charts
              li.active
                span Flot chart 
          h2.font-light.m-b-xs
            | Flot chart
          small
            | Flot is a pure JavaScript plotting library for jQuery, with a focus on simple usage, attractive looks and interactive features.
    .content.animate-panel
      .row
        .col-lg-8
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Line type chart with tension
            .panel-body
              .flot-chart
                #flot-line-chart.flot-chart-content
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Bar type chart
            .panel-body
              .flot-chart
                #flot-bar-chart.flot-chart-content
      .row
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Pie type chart
            .panel-body
              .flot-pie-chart
                #flot-pie-chart.flot-chart-pie-content
        .col-lg-8
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Area type chart
            .panel-body
              .flot-chart
                #flot-area-chart.flot-chart-content
      .row
        .col-lg-12
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Line with points
            .panel-body
              .flot-chart
                #flot-sin-chart.flot-chart-content
      style.
        .flot-chart-pie-content {
        width: 200px;
        height: 200px;
        margin: auto;
        }
        .flot-pie-chart {
        display: block;
        padding-top: 50px;
        height: 300px;
        }
