extends ../../../layouts/example-app_layout

block scripts
    script(src='../vendor/moment/moment.js')
    script(src='../vendor/xeditable/bootstrap3-editable/js/bootstrap-editable.min.js')
    script(src='../vendor/select2-3.5.2/select2.min.js')
    script(src='../vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js')
    script(src='../vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js')
    script(src='../scripts/exampleapp/forms_extended.js')

block styles
    link(rel='stylesheet', href='../vendor/xeditable/bootstrap3-editable/css/bootstrap-editable.css')
    link(rel='stylesheet', href='../vendor/select2-3.5.2/select2.css')
    link(rel='stylesheet', href='../vendor/select2-bootstrap/select2-bootstrap.css')
    link(rel='stylesheet', href='../vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css')
    link(rel='stylesheet', href='../vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css')
    link(rel='stylesheet', href='../vendor/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')

block content
    .small-header.transition.animated.fadeIn
      .hpanel
        .panel-body
          #hbreadcrumb.pull-right
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span Forms
              li.active
                span Forms extended 
          h2.font-light.m-b-xs
            | Forms extended
          small Examples of various extended form controls.
    .content.animate-panel
      .row
        .col-lg-12
          .hpanel
            .panel-body
              h3 Forms extended
              p
                | Extra from controls for select, date, multiselect, inline edit and spin. All form controls automatically receive some global styling.
      .row
        .col-lg-6
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     X-editable
            .panel-body
              p
                strong X-editable
                |  library allows you to create editable elements on your page. It includes both popup and inline modes. Please try out demo below to see how it works.
              .text-center
                i.fa.fa-angle-down.fa-2x
              div
                h5 How to use
                p
                  | Markup elements that should be editable. Usually it is 
                  code <A>
                  |  element with additional 
                  code data-*
                  |  attributes
                table#user.table.table-bordered.table-striped(style='clear: both')
                  tbody
                    tr
                      td(width='35%') Simple text field
                      td(width='65%')
                        a#username.editable.editable-click(href='#', data-type='text', data-pk='1', data-title='Enter username') superuser
                    tr
                      td Empty text field, required
                      td
                        a#firstname.editable.editable-click.editable-empty(href='#', data-type='text', data-pk='1', data-placement='right', data-placeholder='Required', data-title='Enter your firstname') Empty
                    tr
                      td Select, local array, custom display
                      td
                        a#sex.editable.editable-click(href='#', data-type='select', data-pk='1', data-value='', data-title='Select sex', style='color: gray;') not selected
                    tr
                      td Combodate (date)
                      td
                        a#dob.editable.editable-click(href='#', data-type='combodate', data-value='1984-05-15', data-format='YYYY-MM-DD', data-viewformat='DD/MM/YYYY', data-template='D / MMM / YYYY', data-pk='1', data-title='Select Date of birth') 15/05/1984
                    tr
                      td Combodate (datetime)
                      td
                        a#event.editable.editable-click.editable-empty(href='#', data-type='combodate', data-template='D MMM YYYY  HH:mm', data-format='YYYY-MM-DD HH:mm', data-viewformat='MMM D, YYYY, HH:mm', data-pk='1', data-title='Setup event date and time') Empty
                    tr
                      td
                        | Textarea, buttons below. Submit by 
                        i ctrl+enter
                      td
                        a#comments.editable.editable-pre-wrapped.editable-click(href='#', data-type='textarea', data-pk='1', data-placeholder='Your comments here...', data-title='Enter comments') awesome user!
                    tr
                      td Checklist
                      td
                        a#fruits.editable.editable-click(href='#', data-type='checklist', data-value='2,3', data-title='Select fruits')
                          | peach
                          br
                          | apple
                p.m-t-lg
                  | All examples and documentation you can find at: 
                  a(href='http://vitalets.github.io/x-editable/', target='_blank') http://vitalets.github.io/x-editable/
        .col-lg-6
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Select2
            .panel-body
              p
                strong Select2
                |  Select2 gives you a customizable select box with support for searching, tagging, remote data sets, infinite scrolling, and many other highly used options.
              h5 Bootstrap theme with Select 2 - basic example
              select.js-source-states(style='width: 100%')
                optgroup(label='Alaskan/Hawaiian Time Zone')
                  option(value='AK') Alaska
                  option(value='HI') Hawaii
                optgroup(label='Pacific Time Zone')
                  option(value='CA') California
                  option(value='NV') Nevada
                  option(value='OR') Oregon
                  option(value='WA') Washington
                optgroup(label='Mountain Time Zone')
                  option(value='AZ') Arizona
                  option(value='CO') Colorado
                  option(value='ID') Idaho
                  option(value='MT') Montana
                  option(value='NE') Nebraska
                  option(value='NM') New Mexico
                  option(value='ND') North Dakota
                  option(value='UT') Utah
                  option(value='WY') Wyoming
                optgroup(label='Central Time Zone')
                  option(value='AL') Alabama
                  option(value='AR') Arkansas
                  option(value='IL') Illinois
                  option(value='IA') Iowa
                  option(value='KS') Kansas
                  option(value='KY') Kentucky
                  option(value='LA') Louisiana
                  option(value='MN') Minnesota
                  option(value='MS') Mississippi
                  option(value='MO') Missouri
                  option(value='OK') Oklahoma
                  option(value='SD') South Dakota
                  option(value='TX') Texas
                  option(value='TN') Tennessee
                  option(value='WI') Wisconsin
                optgroup(label='Eastern Time Zone')
                  option(value='CT') Connecticut
                  option(value='DE') Delaware
                  option(value='FL') Florida
                  option(value='GA') Georgia
                  option(value='IN') Indiana
                  option(value='ME') Maine
                  option(value='MD') Maryland
                  option(value='MA') Massachusetts
                  option(value='MI') Michigan
                  option(value='NH') New Hampshire
                  option(value='NJ') New Jersey
                  option(value='NY') New York
                  option(value='NC') North Carolina
                  option(value='OH') Ohio
                  option(value='PA') Pennsylvania
                  option(value='RI') Rhode Island
                  option(value='SC') South Carolina
                  option(value='VT') Vermont
                  option(value='VA') Virginia
                  option(value='WV') West Virginia
              h5.m-t-md Multi Selection example
              select.js-source-states-2(multiple='multiple', style='width: 100%')
                option(value='Blue') Blue
                option(value='Red') Red
                option(value='Green') Green
                option(value='Maroon') Maroon
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Bootstrap TouchSpin
            .panel-body
              p
                strong TouchSpin
                |  A mobile and touch friendly input spinner component for Bootstrap 3. It supports the mousewheel and the up/down keys.
              div
                h5 Basci example
                input#demo1(type='text', name='demo1', value='50')
              .m-t-md
                h5 Vertical button alignment:
                input#demo2(type='text', name='demo2', value='50')
              .m-t-md
                h5 Example with postfix 
                input#demo3(type='text', name='demo3', value='50')
              .m-t-md
                h5 Basci with button postfix 
                input#demo4(type='text', name='demo4', value='50')
      .row
        .col-lg-12
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                 Bootstrap datepicker
            .panel-body
              p
                | Bootstrap-datepicker provides a flexible datepicker widget in the Twitter bootstrap style.
                | http://bootstrap-datepicker.readthedocs.org/en/latest/index.html
              .row
                .col-lg-3
                  strong
                    | Inline version
                  #datepicker(data-date='12/03/2012')
                  input#my_hidden_input(type='hidden')
                .col-lg-9
                  .row
                    .col-md-6
                      h5
                        | Input
                      p
                        | The simplest case: focusing the input (clicking or tabbing into it) will show the picker.
                      input#datapicker2.form-control(type='text', value='02-16-2012')
                      h5 Component
                      p
                        | Adding the date class to an input-group bootstrap component will allow the input-group-addon elements to trigger the picker.
                      .input-group.date
                        input.form-control(type='text')
                        span.input-group-addon
                          i.glyphicon.glyphicon-th
                    .col-md-6
                      h5
                        | Range
                      p
                        | Using the input-daterange construct with multiple child inputs will instantiate one picker per input and link them together to allow selecting ranges.
                      #datepicker.input-daterange.input-group
                        input.input-sm.form-control(type='text', name='start')
                        span.input-group-addon to
                        input.input-sm.form-control(type='text', name='end')
                      h5 Options
                      p
                        | There are many avalible options to datapicker, check: 
                        a(href='https://bootstrap-datepicker.readthedocs.org/en/latest/options.html', target='_blank') https://bootstrap-datepicker.readthedocs.org/en/latest/options.html
      .row
        .col-lg-12
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Awesome bootstrap checkbox
            .panel-body
              p
                | Font Awesome Bootstrap Checkboxes & Radios. Pure css way to make inputs look prettier.
                | https://github.com/flatlogic/awesome-bootstrap-checkbox
              .row
                .col-md-4
                  fieldset
                    legend
                      | Basic
                    p
                      | Supports bootstrap brand colors: 
                      code .checkbox-primary
                      | , 
                      code .checkbox-info
                      |  etc.
                    .checkbox
                      input#checkbox1(type='checkbox')
                      label(for='checkbox1')
                        | Default
                    .checkbox.checkbox-primary
                      input#checkbox2(type='checkbox', checked='')
                      label(for='checkbox2')
                        | Primary
                    .checkbox.checkbox-success
                      input#checkbox3(type='checkbox')
                      label(for='checkbox3')
                        | Success
                    .checkbox.checkbox-info
                      input#checkbox4(type='checkbox')
                      label(for='checkbox4')
                        | Info
                    .checkbox.checkbox-warning
                      input#checkbox5(type='checkbox', checked='')
                      label(for='checkbox5')
                        | Warning
                    .checkbox.checkbox-danger
                      input#checkbox6(type='checkbox', checked='')
                      label(for='checkbox6')
                        | Check me out
                    p Checkboxes without label text
                    .checkbox
                      input#singleCheckbox1(type='checkbox', value='option1', aria-label='Single checkbox One')
                      label
                    .checkbox.checkbox-primary
                      input#singleCheckbox2(type='checkbox', value='option2', checked='', aria-label='Single checkbox Two')
                      label
                    p Inline checkboxes
                    .checkbox.checkbox-inline
                      input#inlineCheckbox1(type='checkbox', value='option1')
                      label(for='inlineCheckbox1')  Inline One 
                    .checkbox.checkbox-success.checkbox-inline
                      input#inlineCheckbox2(type='checkbox', value='option1', checked='')
                      label(for='inlineCheckbox2')  Inline Two 
                    .checkbox.checkbox-inline
                      input#inlineCheckbox3(type='checkbox', value='option1')
                      label(for='inlineCheckbox3')  Inline Three 
                .col-md-4
                  fieldset
                    legend
                      | Circled
                    p
                      code .checkbox-circle
                      |  for roundness.
                    .checkbox.checkbox-circle
                      input#checkbox7(type='checkbox')
                      label(for='checkbox7')
                        | Simply Rounded
                    .checkbox.checkbox-info.checkbox-circle
                      input#checkbox8(type='checkbox', checked='')
                      label(for='checkbox8')
                        | Me too
                .col-md-4
                  fieldset
                    legend
                      | Radio
                    p
                      | Supports bootstrap brand colors: 
                      code .radio-primary
                      | , 
                      code .radio-danger
                      |  etc.
                    .row
                      .col-sm-6
                        .radio
                          input#radio1(type='radio', name='radio1', value='option1', checked='')
                          label(for='radio1')
                            | Small
                        .radio
                          input#radio2(type='radio', name='radio1', value='option2')
                          label(for='radio2')
                            | Big
                      .col-sm-6
                        .radio.radio-danger
                          input#radio3(type='radio', name='radio2', value='option1')
                          label(for='radio3')
                            | Next
                        .radio.radio-danger
                          input#radio4(type='radio', name='radio2', value='option2', checked='')
                          label(for='radio4')
                            | One
                    p Radios without label text
                    .radio
                      input#singleRadio1(type='radio', value='option1', name='radioSingle1', aria-label='Single radio One')
                      label
                    .radio.radio-success
                      input#singleRadio2(type='radio', value='option2', name='radioSingle1', checked='', aria-label='Single radio Two')
                      label
                    p Inline radios
                    .radio.radio-info.radio-inline
                      input#inlineRadio1(type='radio', value='option1', name='radioInline', checked='')
                      label(for='inlineRadio1')  Inline One 
                    .radio.radio-inline
                      input#inlineRadio2(type='radio', value='option2', name='radioInline')
                      label(for='inlineRadio2')  Inline Two 
    
