extends ../../../layouts/example-app_layout

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span App views
              li.active
                span Topic
          h2.font-light.m-b-xs
            | Topic
          small Topic for forum page.
    .content.animate-panel
      .row
        .col-lg-12
          .hpanel.forum-box
            .panel-heading
              span.pull-right
                i.fa.fa-clock-o  
                |  Last modification: 10.12.2015, 10:22 am
              span.f
                | General topics > Announcements > 
                span.text-success Free talks
            .panel-body
              .media
                .media-image.pull-left
                  img(src='images/a4.jpg', alt='profile-picture')
                  .author-info
                    strong Anna Smith
                    br
                    |  April 11.2015
                    .badges
                      i.fa.fa-star.text-warning
                      i.fa.fa-shield.text-success
                .media-body
                  h5 Vivamus luctus diam et magna
                  |  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Ut mollis mauris in
                  |                             quam scelerisque, nec euismod nulla rutrum. Vestibulum elementum porta pharetra. Praesent volutpat, mi sed laoreet facilisis, turpis erat ornare orci, a faucibus sapien eros quis nibh.
                  br
                  br
                  |  Praesent tempus nunc in libero lacinia, nec auctor arcu commodo. Sed sagittis interdum varius. Cras quis ex dictum, laoreet enim quis, aliquam odio. Nunc ac risus ex. Nunc tempor a ex nec malesuada. Suspendisse efficitur varius
                  |                             mollis.
                  br
                  br
                  |  Mauris tellus eros, faucibus vel fringilla sit amet, volutpat commodo erat. Nam fermentum tellus facilisis consectetur varius. Mauris et molestie leo. Cras mattis pellentesque massa, convallis accumsan dui sagittis vel.
                  br
                  br
                  i
                    | - Best regards, Anna Smith
            .panel-body
              .media
                .media-image.pull-left
                  img(src='images/a2.jpg', alt='profile-picture')
                  .author-info
                    strong Robert Jackson
                    br
                    |  May 01.2015
                    .badges
                      i.fa.fa-star.text-warning
                      i.fa.fa-star.text-warning
                      i.fa.fa-star.text-warning
                .media-body
                  h5 Nam fermentum tellus
                  |  Vivamus luctus diam et magna bibendum, quis tristique urna cursus. In dignissim tellus eu metus pharetra vulputate. Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus. Ut finibus, orci ut euismod gravida,
                  |                             felis elit lobortis purus, eget bibendum tortor sapien sit amet turpis. Integer porttitor ligula ac felis imperdiet volutpat. Praesent sit amet libero id eros convallis fringilla tempus vitae est.
                  br
                  br
                  |  Sed venenatis dui non blandit semper. Proin sed ullamcorper arcu, et ullamcorper mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam vitae efficitur urna. Integer vitae mi
                  |                             commodo, porttitor nulla vitae, sollicitudin eros.
                  br
                  br
                  i
                    | - Best regards, Robert Jackson
            .panel-body
              .media
                .media-image.pull-left
                  img(src='images/a1.jpg', alt='profile-picture')
                  .author-info
                    strong Mark Smith
                    br
                    |  May 01.2015
                    .badges
                      i.fa.fa-shield.text-success
                .media-body
                  h5 Aenean molestie lorem ut sem
                  |  Nam fermentum tellus facilisis consectetur varius. Mauris et molestie leo. Cras mattis pellentesque massa, convallis accumsan dui sagittis vel. Ut mollis mauris in quam scelerisque, nec euismod nulla rutrum. Vestibulum elementum
                  |                             porta pharetra. Praesent volutpat, mi sed laoreet facilisis, turpis erat ornare orci, a faucibus sapien eros quis nibh. Praesent tempus nunc in libero lacinia, nec auctor arcu commodo. Sed sagittis interdum varius. Cras quis
                  |                             ex dictum, laoreet enim quis, aliquam odio. Nunc ac risus ex. Nunc tempor a ex nec malesuada. Suspendisse efficitur varius mollis.
                  br
                  br
                  |  Sed venenatis dui non blandit semper. Proin sed ullamcorper arcu, et ullamcorper mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam vitae efficitur urna. Integer vitae mi
                  |                             commodo, porttitor nulla vitae, sollicitudin eros.
                  br
                  br
                  i
                    | - Best regards, Mark Smith
            .panel-body
              .media
                .media-image.pull-left
                  img(src='images/a6.jpg', alt='profile-picture')
                  .author-info
                    strong John Jackson
                    br
                    |  Oct 21.2015
                    .badges
                      i.fa.fa-shield.text-success
                      i.fa.fa-shield.text-success
                      i.fa.fa-star.text-warning
                .media-body
                  h5 Fusce tristique massa turpis
                  |  Sed venenatis dui non blandit semper. Proin sed ullamcorper arcu, et ullamcorper mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam vitae efficitur urna. Integer vitae mi
                  |                             commodo, porttitor nulla vitae, sollicitudin eros.
                  br
                  br
                  |  Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus. Ut finibus, orci ut euismod gravida, felis elit lobortis purus, eget bibendum tortor sapien sit amet turpis. Integer porttitor ligula ac felis imperdiet
                  |                             volutpat. Praesent sit amet libero id eros convallis fringilla tempus vitae est.
                  br
                  br
                  |  Quisque gravida maximus rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget felis dictum, aliquam nunc vitae, pharetra dolor. Aenean sapien erat, molestie sit amet faucibus non, pharetra a dui. Aenean
                  |                             ut venenatis dolor, et volutpat odio. Nam ultrices gravida ligula sed porta.
                  br
                  br
                  i
                    | - Best regards, John Jackson
                  // Comments
                  .forum-comments
                    .media
                      a.pull-left
                        img(src='images/a1.jpg', alt='profile-picture')
                      .media-body
                        span.font-bold John Novak
                        small.text-muted 21.03.2015
                        .social-content
                          | Injected humour, or randomised words which don't look even slightly believable. Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus.
                    .media
                      a.pull-left
                        img(src='images/a3.jpg', alt='profile-picture')
                      .media-body
                        span.font-bold Mark Smith
                        small.text-muted 14.04.2015
                        .social-content
                          | Many desktop publishing packages and web page editors.Morbi imperdiet sem non dignissim vulputate. Cras maximus porttitor dui sed placerat. Integer eleifend pulvinar arcu at mattis. Ut porta tellus id enim volutpat, non pharetra elit vestibulum.
                    .media
                      a.pull-left
                        img(src='images/a9.jpg', alt='profile-picture')
                      .media-body
                        span.font-bold John Smith
                        small.text-muted 22.11.2015
                        .social-content
                          | Nunc egestas eu odio ut pellentesque. Fusce sagittis quam et lobortis scelerisque. Nulla in libero lacinia, fringilla magna in, congue diam. Vivamus fermentum eget erat hendrerit mattis. Nulla facilisi.
                    form
                      input.form-control(placeholder='Your comment')
            .panel-body
              .media
                .media-image.pull-left
                  img(src='images/a2.jpg', alt='profile-picture')
                  .author-info
                    strong Robert Jackson
                    br
                    |  May 01.2015
                    .badges
                      i.fa.fa-star.text-warning
                      i.fa.fa-star.text-warning
                      i.fa.fa-star.text-warning
                .media-body
                  h5 Nam fermentum tellus
                  |  Vivamus luctus diam et magna bibendum, quis tristique urna cursus. In dignissim tellus eu metus pharetra vulputate. Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus. Ut finibus, orci ut euismod gravida,
                  |                             felis elit lobortis purus, eget bibendum tortor sapien sit amet turpis. Integer porttitor ligula ac felis imperdiet volutpat. Praesent sit amet libero id eros convallis fringilla tempus vitae est.
                  br
                  br
                  |  Sed venenatis dui non blandit semper. Proin sed ullamcorper arcu, et ullamcorper mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam vitae efficitur urna. Integer vitae mi
                  |                             commodo, porttitor nulla vitae, sollicitudin eros.
                  br
                  br
                  i
                    | - Best regards, Robert Jackson
            .panel-body
              .media
                .media-image.pull-left
                  img(src='images/a4.jpg', alt='profile-picture')
                  .author-info
                    strong Anna Smith
                    br
                    |  April 11.2015
                    .badges
                      i.fa.fa-star.text-warning
                      i.fa.fa-shield.text-success
                .media-body
                  h5 Vivamus luctus diam et magna
                  |  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Ut mollis mauris in
                  |                             quam scelerisque, nec euismod nulla rutrum. Vestibulum elementum porta pharetra. Praesent volutpat, mi sed laoreet facilisis, turpis erat ornare orci, a faucibus sapien eros quis nibh.
                  br
                  br
                  |  Praesent tempus nunc in libero lacinia, nec auctor arcu commodo. Sed sagittis interdum varius. Cras quis ex dictum, laoreet enim quis, aliquam odio. Nunc ac risus ex. Nunc tempor a ex nec malesuada. Suspendisse efficitur varius
                  |                             mollis.
                  br
                  br
                  |  Mauris tellus eros, faucibus vel fringilla sit amet, volutpat commodo erat. Nam fermentum tellus facilisis consectetur varius. Mauris et molestie leo. Cras mattis pellentesque massa, convallis accumsan dui sagittis vel.
                  br
                  br
                  i
                    | - Best regards, Anna Smith
            .panel-body
              .media
                .media-image.pull-left
                  img(src='images/a6.jpg', alt='profile-picture')
                  .author-info
                    strong John Jackson
                    br
                    |  Oct 21.2015
                    .badges
                      i.fa.fa-shield.text-success
                      i.fa.fa-shield.text-success
                      i.fa.fa-star.text-warning
                .media-body
                  h5 Fusce tristique massa turpis
                  |  Sed venenatis dui non blandit semper. Proin sed ullamcorper arcu, et ullamcorper mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam vitae efficitur urna. Integer vitae mi
                  |                             commodo, porttitor nulla vitae, sollicitudin eros.
                  br
                  br
                  |  Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus. Ut finibus, orci ut euismod gravida, felis elit lobortis purus, eget bibendum tortor sapien sit amet turpis. Integer porttitor ligula ac felis imperdiet
                  |                             volutpat. Praesent sit amet libero id eros convallis fringilla tempus vitae est.
                  br
                  br
                  |  Quisque gravida maximus rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget felis dictum, aliquam nunc vitae, pharetra dolor. Aenean sapien erat, molestie sit amet faucibus non, pharetra a dui. Aenean
                  |                             ut venenatis dolor, et volutpat odio. Nam ultrices gravida ligula sed porta.
                  br
                  br
                  i
                    | - Best regards, John Jackson
                  // Comments
                  .forum-comments
                    .media
                      a.pull-left
                        img(src='images/a1.jpg', alt='profile-picture')
                      .media-body
                        span.font-bold John Novak
                        small.text-muted 21.03.2015
                        .social-content
                          | Injected humour, or randomised words which don't look even slightly believable. Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus.
                    .media
                      a.pull-left
                        img(src='images/a3.jpg', alt='profile-picture')
                      .media-body
                        span.font-bold Mark Smith
                        small.text-muted 14.04.2015
                        .social-content
                          | Many desktop publishing packages and web page editors.Morbi imperdiet sem non dignissim vulputate. Cras maximus porttitor dui sed placerat. Integer eleifend pulvinar arcu at mattis. Ut porta tellus id enim volutpat, non pharetra elit vestibulum.
                    form
                      input.form-control(placeholder='Your comment')
