extends ../../../layouts/example-app_layout

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span App views
              li.active
                span Forum
          h2.font-light.m-b-xs
            | Forum
          small Topics board for forum page.
    .content.animate-panel
      .row
        .col-lg-12
          .hpanel
            .panel-body
              .text-muted.small.pull-right.text-right
                | Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus
                br
                |  Last modyfication by: 
                span.font-bold Mike Smith
                |  21.03.2015, 06:45 pm
              .form-inline
                | Search topic:
                input.form-control(type='text')
          .hpanel.forum-box
            .panel-heading
              span.pull-right
                i.fa.fa-clock-o  
                |  Last modification: 10.12.2015, 10:22 am
              |  General topics
            .panel-body
              .row
                .col-md-10.forum-heading
                  span.label.label-success.pull-left Special
                  a(href='forum_details.html')
                    h4  General Discussion
                  .desc
                    | Suspendisse egestas risus quis sem ultricies venenatis. Phasellus maximus tortor ut augue accumsan, sed posuere dolor tincidunt. In hac habitasse platea dictumst.
                .col-md-1.forum-info
                  span.number  4780 
                  small Views
                .col-md-1.forum-info
                  span.number  150 
                  small Posts
            .panel-body
              .row
                .col-md-10.forum-heading
                  a(href='forum_details.html')
                    h4 Introductions
                  .desc
                    | Mauris feugiat ante vitae euismod vestibulum. Suspendisse id ullamcorper odio, ut tristique ante. In scelerisque dolor in mi condimentum consequat.
                .col-md-1.forum-info
                  span.number  260 
                  small Views
                .col-md-1.forum-info
                  span.number  149 
                  small Posts
          .hpanel.forum-box
            .panel-heading
              span.pull-right
                i.fa.fa-clock-o  
                |  Last modification: 11.10.2015, 08:10 am
              |  Nunc eu luctus neque.
            .panel-body
              .row
                .col-md-10.forum-heading
                  span.label.label-warning.pull-left New
                  a(href='forum_details.html')
                    h4 Morbi aliquam aliquam
                  .desc
                    | Morbi aliquam aliquam erat, id iaculis dui maximus vel. Curabitur dolor leo, tempus sit amet rutrum nec, luctus vel nisl. Nam sollicitudin quam non arcu faucibus, id mattis lacus interdum. Nam eleifend sodales ante sed pharetra.
                    | Integer cursus dapibus fringilla.
                .col-md-1.forum-info
                  span.number  2451 
                  small Views
                .col-md-1.forum-info
                  span.number  100 
                  small Posts
            .panel-body
              .row
                .col-md-10.forum-heading
                  span.label.label-warning.pull-left New
                  a(href='forum_details.html')
                    h4 Quisque ultrices 
                  .desc
                    | Vestibulum scelerisque semper ligula ac consectetur. Proin tincidunt dui ac quam mollis eleifend.
                .col-md-1.forum-info
                  span.number  5699 
                  small Views
                .col-md-1.forum-info
                  span.number  114 
                  small Posts
          .hpanel.forum-box
            .panel-heading
              span.pull-right
                i.fa.fa-clock-o  
                |  Last modification: 01.03.2015, 11:10 am
              |  Aenean vitae
            .panel-body
              .row
                .col-md-10.forum-heading
                  a(href='forum_details.html')
                    h4 Pellentesque rhoncus 
                  .desc
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                .col-md-1.forum-info
                  span.number  1200 
                  small Views
                .col-md-1.forum-info
                  span.number  457 
                  small Posts
            .panel-body
              .row
                .col-md-10.forum-heading
                  a(href='forum_details.html ')
                    h4 Sed iaculis vel libero
                  .desc
                    | Nam sollicitudin quam non arcu faucibus, id mattis lacus interdum. Nam eleifend sodales ante sed pharetra. Integer cursus dapibus fringilla. Maecenas volutpat dapibus vestibulum. Mauris ullamcorper nibh nec consectetur fermentum.
                .col-md-1.forum-info
                  span.number  460 
                  small Views
                .col-md-1.forum-info
                  span.number  280 
                  small Posts
            .panel-body
              .row
                .col-md-10.forum-heading
                  span.label.label-info.pull-left Latest
                  a(href='forum_details.html ')
                    h4 Mauris fermentum 
                  .desc
                    | Aenean ornare lacus quis blandit posuere. Nulla porta lectus facilisis justo pharetra, nec varius felis sollicitudin.
                .col-md-1.forum-info
                  span.number  870 
                  small Views
                .col-md-1.forum-info
                  span.number  621 
                  small Posts
            .panel-body
              .row
                .col-md-10.forum-heading
                  a(href='forum_details.html ')
                    h4 Vivamus non lacus diam.
                  .desc
                    | Aenean quis nulla finibus, lobortis nunc sit amet, tempor ligula. Nunc pharetra, mauris aliquet mollis semper, libero eros mattis eros, sit amet semper elit libero in leo. In porttitor quam sit amet felis congue aliquam. Ut
                    | commodo aliquam consectetur. In hac habitasse platea dictumst.
                .col-md-1.forum-info
                  span.number  278 
                  small Views
                .col-md-1.forum-info
                  span.number  455 
                  small Posts
            .panel-body
              .row
                .col-md-10.forum-heading
                  a(href='forum_details.html ')
                    h4 Donec lacus dolor
                  .desc
                    | Nullam ipsum diam, tempus at pretium id, posuere rutrum urna. Sed et eros vitae magna condimentum semper sed vel enim.
                .col-md-1.forum-info
                  span.number  780 
                  small Views
                .col-md-1.forum-info
                  span.number  120 
                  small Posts
            .panel-body
              .row
                .col-md-10.forum-heading
                  a(href='forum_details.html ')
                    h4 Fusce sagittis
                  .desc
                    | Duis sed enim velit. In auctor porta lorem, nec viverra risus faucibus at. Nulla sagittis eros id nibh vulputate, id malesuada nunc ultrices.
                .col-md-1.forum-info
                  span.number  824 
                  small Views
                .col-md-1.forum-info
                  span.number  266 
                  small Posts
