extends ../../../layouts/example-app_layout

block content
  .content.animate-panel
    .row
      .col-md-12
        .hpanel
          .panel-body
            h1 Grid system
            p.lead
              | Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases. It includes predefined classesfor easy layout options, as well as powerfulmixins for
              | generating more semantic layouts.
            h3#grid-intro Introduction
            p
              | Grid systems are used for creating page layouts through a series of rows and columns that house your content. Here's how the Bootstrap grid system works:
            ul
              li
                | Rows must be placed within a 
                code .container
                |  (fixed-width) or 
                code .container-fluid
                |  (full-width) for proper alignment and padding.
              li Use rows to create horizontal groups of columns.
              li
                | Content should be placed within columns, and only columns may be immediate children of rows.
              li
                | Predefined grid classes like 
                code .row
                |  and 
                code .col-xs-4
                |  are available for quickly making grid layouts. Less mixins can also be used for more semantic layouts.
              li
                | Columns create gutters (gaps between column content) via 
                code padding
                | . That padding is offset in rows for the first and last column via negative margin on
                code .row
                | s.
              li
                | The negative margin is why the examples below are outdented. It's so that content within grid columns is lined up with non-grid content.
              li
                | Grid columns are created by specifying the number of twelve available columns you wish to span. For example, three equal columns would use three 
                code .col-xs-4
                | .
              li
                | If more than 12 columns are placed within a single row, each group of extra columns will, as one unit, wrap onto a new line.
              li
                | Grid classes apply to devices with screen widths greater than or equal to the breakpoint sizes, and override grid classes targeted at smaller devices. Therefore, e.g. applying any 
                code .col-md-*
                |  class to an element will
                |                             not only affect its styling on medium devices but also on large devices if a 
                code .col-lg-*
                |  class is not present.
    .row
      .col-lg-12
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Grid options
          .panel-body
            p
              | See how aspects of the Bootstrap grid system work across multiple devices with a handy table.
            .table-responsive
              table.table.table-bordered.table-striped
                thead
                  tr
                    th
                    th
                      | Extra small devices
                      small Phones (<768px)
                    th
                      | Small devices
                      small Tablets (≥768px)
                    th
                      | Medium devices
                      small Desktops (≥992px)
                    th
                      | Large devices
                      small Desktops (≥1200px)
                tbody
                  tr
                    th Grid behavior
                    td Horizontal at all times
                    td(colspan='3') Collapsed to start, horizontal above breakpoints
                  tr
                    th Max container width
                    td None (auto)
                    td 750px
                    td 970px
                    td 1170px
                  tr
                    th Class prefix
                    td
                      code .col-xs-
                    td
                      code .col-sm-
                    td
                      code .col-md-
                    td
                      code .col-lg-
                  tr
                    th # of columns
                    td(colspan='4') 12
                  tr
                    th Max column width
                    td.text-muted Auto
                    td 60px
                    td 78px
                    td 95px
                  tr
                    th Gutter width
                    td(colspan='4') 30px (15px on each side of a column)
                  tr
                    th Nestable
                    td(colspan='4') Yes
                  tr
                    th Offsets
                    td(colspan='4') Yes
                  tr
                    th Column ordering
                    td(colspan='4') Yes
            p
              | Grid classes apply to devices with screen widths greater than or equal to the breakpoint sizes, and override grid classes targeted at smaller devices. Therefore, applying any
              code .col-md-
              |  class to an element will not only affect its styling on medium devices but also on large devices if a
              code .col-lg-
              |  class is not present.
    .row
      .col-lg-12
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Stacked-to-horizontal
          .panel-body
            p
              | Using a single set of
              code .col-md-*
              |  grid classes, you can create a default grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices. Place
              |                         grid columns in any
              code .row
              | .
            .row.show-grid
              .col-md-1 .col-md-1
              .col-md-1 .col-md-1
              .col-md-1 .col-md-1
              .col-md-1 .col-md-1
              .col-md-1 .col-md-1
              .col-md-1 .col-md-1
              .col-md-1 .col-md-1
              .col-md-1 .col-md-1
              .col-md-1 .col-md-1
              .col-md-1 .col-md-1
              .col-md-1 .col-md-1
              .col-md-1 .col-md-1
            .row.show-grid
              .col-md-8 .col-md-8
              .col-md-4 .col-md-4
            .row.show-grid
              .col-md-4 .col-md-4
              .col-md-4 .col-md-4
              .col-md-4 .col-md-4
            .row.show-grid
              .col-md-6 .col-md-6
              .col-md-6 .col-md-6
    .row
      .col-lg-12
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Mobile and desktop
          .panel-body
            p
              | Don't want your columns to simply stack in smaller devices? Use the extra small and medium device grid classes by adding
              code .col-xs-*
              code .col-md-*
              |  to your columns. See the example below for a better idea of how it all works.
            .row.show-grid
              .col-xs-12.col-md-8 .col-xs-12 .col-md-8
              .col-xs-6.col-md-4 .col-xs-6 .col-md-4
            .row.show-grid
              .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              .col-xs-6.col-md-4 .col-xs-6 .col-md-4
              .col-xs-6.col-md-4 .col-xs-6 .col-md-4
            .row.show-grid
              .col-xs-6 .col-xs-6
              .col-xs-6 .col-xs-6
    .row
      .col-lg-12
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Mobile, tablet, desktops
          .panel-body
            p
              | Build on the previous example by creating even more dynamic and powerful layouts with tablet
              code .col-sm-*
              |  classes.
            .row.show-grid
              .col-xs-12.col-sm-6.col-md-8 .col-xs-12 .col-sm-6 .col-md-8
              .col-xs-6.col-md-4 .col-xs-6 .col-md-4
            .row.show-grid
              .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
              .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
              // Optional: clear the XS cols if their content doesn't match in height
              .clearfix.visible-xs
              .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
    .row
      .col-lg-12
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Responsive column resets
          .panel-body
            p
              | With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a
              code .clearfix
              |  and our 
              a(href='#responsive-utilities') responsive utility classes
              | .
            .row.show-grid
              .col-xs-6.col-sm-3
                | .col-xs-6 .col-sm-3
                br
                | Resize your viewport or check it out on your phone for an example.
              .col-xs-6.col-sm-3 .col-xs-6 .col-sm-3
              // Add the extra clearfix for only the required viewport
              .clearfix.visible-xs
              .col-xs-6.col-sm-3 .col-xs-6 .col-sm-3
              .col-xs-6.col-sm-3 .col-xs-6 .col-sm-3
    .row
      .col-lg-12
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Offsetting columns
          .panel-body
            p
              | Move columns to the right using
              code .col-md-offset-*
              |  classes. These classes increase the left margin of a column by
              code *
              |  columns. For example,
              code .col-md-offset-4
              |  moves
              code .col-md-4
              |  over four columns.
            .row.show-grid
              .col-md-4 .col-md-4
              .col-md-4.col-md-offset-4 .col-md-4 .col-md-offset-4
            .row.show-grid
              .col-md-3.col-md-offset-3 .col-md-3 .col-md-offset-3
              .col-md-3.col-md-offset-3 .col-md-3 .col-md-offset-3
            .row.show-grid
              .col-md-6.col-md-offset-3 .col-md-6 .col-md-offset-3
    .row
      .col-lg-12
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Nesting columns
          .panel-body
            p
              | To nest your content with the default grid, add a new
              code .row
              |  and set of
              code .col-md-*
              |  columns within an existing
              code .col-md-*
              |  column. Nested rows should include a set of columns that add up to 12.
            .row.show-grid
              .col-md-9
                | Level 1: .col-md-9
                .row.show-grid
                  .col-md-6
                    | Level 2: .col-md-6
                  .col-md-6
                    | Level 2: .col-md-6
    .row
      .col-lg-12
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Column ordering
          .panel-body
            p
              | Easily change the order of our built-in grid columns with
              code .col-md-push-*
              |  and
              code .col-md-pull-*
              |  modifier classes.
            .row.show-grid
              .col-md-9.col-md-push-3 .col-md-9 .col-md-push-3
              .col-md-3.col-md-pull-9 .col-md-3 .col-md-pull-9
