doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    // Page title
    title HOMER | WebApp admin theme
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    // Vendor styles
    link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.css")
    link(rel="stylesheet", href="/vendor/metisMenu/dist/metisMenu.css")
    link(rel="stylesheet", href="/vendor/animate.css/animate.css")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    // App styles
    link(rel="stylesheet", href="/exampleapp/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css")
    link(rel="stylesheet", href="/exampleapp/fonts/pe-icon-7-stroke/css/helper.css")
    link(rel="stylesheet", href="/exampleapp/css/style.css")
  body.blank
    // Simple splash screen
    .splash
      .color-line
      .splash-title
        h1 Homer - Responsive Admin Theme
        p
          | Special AngularJS Admin Theme for small and medium webapp with very clean and aesthetic style and feel.
        img(src="images/loading-bars.svg", width="64", height="64")
    //if lt IE 7
      p.alert.alert-danger
        | You are using an
        strong outdated
        | browser. Please
        a(href="http://browsehappy.com/") upgrade your browser
        | to improve your experience.
    .back-link
      a.btn.btn-primary(href="index.html") Back to Dashboard
    .lock-container
      div
        .hpanel
          .panel-body.text-center
            i.pe-7s-lock.big-icon.text-success
            br
            h4
              span.text-success 3:43:15 PM 
              strong Friday, February 27, 2015
            p
              | Your are in lock screen. Main app was shut down and you need to enter your passwor to go back to app.
            form.m-t(action="#", role="form")
              .form-group
                input.form-control(type="password", required="", placeholder="******")
              button.btn.btn-primary.block.full-width(type="submit") Unlock
    // Vendor scripts
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/jquery-ui/jquery-ui.min.js")
    script(src="/vendor/slimScroll/jquery.slimscroll.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/vendor/metisMenu/dist/metisMenu.min.js")
    script(src="/vendor/iCheck/icheck.min.js")
    script(src="/vendor/sparkline/index.js")
    // App scripts
    script(src="/exampleapp/scripts/homer.js")
