extends ../../../layouts/example-app_layout

block styles
  link(rel='stylesheet', href='/exampleapp/css/static_custom.css')

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/exampleapp/index') Dashboard
            li
              span App views
            li.active
              span Mailbox
        h2.font-light.m-b-xs
          | Mailbox
        small Mailbox - Email list.
  .content.animate-panel
    .row
      .col-md-3
        .hpanel
          .panel-body
            ul.mailbox-list
              li.active
                a(href='#')
                  span.pull-right 12
                  i.fa.fa-envelope
                  |  Inbox
              li
                a(href='#')
                  i.fa.fa-paper-plane
                  |  Sent
              li
                a(href='#')
                  i.fa.fa-pencil
                  |  Draft
              li
                a(href='#')
                  i.fa.fa-trash
                  |  Trash
            hr
            ul.mailbox-list
              li
                a(href='#')
                  i.fa.fa-plane.text-danger
                  |  Travel
              li
                a(href='#')
                  i.fa.fa-bar-chart.text-warning
                  |  Finance
              li
                a(href='#')
                  i.fa.fa-users.text-info
                  |  Social
              li
                a(href='#')
                  i.fa.fa-tag.text-success
                  |  Promos
              li
                a(href='#')
                  i.fa.fa-flag.text-primary
                  |  Updates
            hr
            ul.mailbox-list
              li
                a(href='#')
                  i.fa.fa-gears
                  |  Settings
              li
                a(href='#')
                  i.fa.fa-info-circle
                  |  Support
      .col-md-9
        .hpanel
          .panel-heading.hbuilt
            .text-center.p-xs.font-normal
              .input-group
                input.form-control.input-sm(type='text', placeholder='Search email in your inbox...')
                span.input-group-btn
                  button.btn.btn-sm.btn-default(type='button')
                    | Search
          .panel-body
            .row
              .col-md-6.m-b-md
                .btn-group
                  button.btn.btn-default.btn-sm
                    i.fa.fa-refresh
                    |  Refresh
                  button.btn.btn-default.btn-sm
                    i.fa.fa-eye
                  button.btn.btn-default.btn-sm
                    i.fa.fa-exclamation
                  button.btn.btn-default.btn-sm
                    i.fa.fa-trash-o
                  button.btn.btn-default.btn-sm
                    i.fa.fa-check
                  button.btn.btn-default.btn-sm
                    i.fa.fa-tag
              .col-md-6.mailbox-pagination.m-b-md
                .btn-group
                  button.btn.btn-default.btn-sm
                    i.fa.fa-arrow-left
                  button.btn.btn-default.btn-sm
                    i.fa.fa-arrow-right
            .table-responsive
              table.table.table-hover.table-mailbox
                tbody
                  tr.unread
                    td
                      .checkbox.checkbox-single.checkbox-success
                        input(type='checkbox', checked='')
                        label
                    td
                      a(href='#') Jeremy Massey
                    td
                      a(href='#') Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    td
                      i.fa.fa-paperclip
                    td.text-right.mail-date Tue, Nov 25
                  tr
                    td
                      .checkbox
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Marshall Horne
                    td
                      a(href='#') Praesent nec nisl sed neque ornare maximus at ac enim.
                    td
                    td.text-right.mail-date Wed, Jan 13
                  tr.active
                    td
                      .checkbox
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Grant Franco
                      span.label.label-warning Finance
                    td
                      a(href='#') Etiam maximus tellus a turpis tempor mollis.
                    td
                    td.text-right.mail-date Mon, Oct 19
                  tr.unread.active
                    td
                      .checkbox.checkbox-single
                        input(type='checkbox', checked='')
                        label
                    td
                      a(href='#') Ferdinand Meadows
                    td
                      a(href='#') Aenean hendrerit ligula eget augue gravida semper.
                    td
                      i.fa.fa-paperclip
                    td.text-right.mail-date Sat, Aug 29
                  tr
                    td
                      .checkbox.checkbox-single
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Ivor Rios
                      span.label.label-info Social
                    td
                      a(href='#') Sed quis augue in nunc venenatis finibus.
                    td
                      i.fa.fa-paperclip
                    td.text-right.mail-date Sat, Dec 12
                  tr
                    td
                      .checkbox
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Maxwell Murphy
                    td
                      a(href='#') Quisque eu tortor quis justo viverra cursus.
                    td
                    td.text-right.mail-date Sun, May 17
                  tr
                    td
                      .checkbox
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Henry Patterson
                    td
                      a(href='#')
                        | Aliquam nec justo interdum, ornare mi non, elementum
                        | lacus.
                    td
                      i.fa.fa-paperclip
                    td.text-right.mail-date Thu, Aug 06
                  tr
                    td
                      .checkbox
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Brent Rasmussen
                    td
                      a(href='#') Nam nec turpis sed quam tristique sodales.
                    td
                    td.text-right.mail-date Sun, Nov 15
                  tr.unread
                    td
                      .checkbox.checkbox-single.checkbox-success
                        input(type='checkbox', checked='')
                        label
                    td
                      a(href='#') Joseph Hurley
                    td
                      a(href='#') Nullam tempus leo id urna sagittis blandit.
                    td
                      i.fa.fa-paperclip
                    td.text-right.mail-date Sun, Aug 10
                  tr
                    td
                      .checkbox
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Alan Matthews
                    td
                      a(href='#')
                        | Quisque quis turpis ac quam sagittis scelerisque vel ut
                        | urna.
                    td
                    td.text-right.mail-date Sun, Mar 27
                  tr.active
                    td
                      .checkbox
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Colby Lynch
                      span.label.label-danger Travel
                    td
                      a(href='#')
                        | Donec non enim pulvinar, ultrices metus eget, condimentum
                        | mi.
                    td
                    td.text-right.mail-date Thu, Dec 31
                  tr.unread
                    td
                      .checkbox.checkbox-single.checkbox-success
                        input(type='checkbox', checked='')
                        label
                    td
                      a(href='#') Jeremy Massey
                    td
                      a(href='#') Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    td
                      i.fa.fa-paperclip
                    td.text-right.mail-date Tue, Nov 25
                  tr
                    td
                      .checkbox
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Marshall Horne
                    td
                      a(href='#') Praesent nec nisl sed neque ornare maximus at ac enim.
                    td
                    td.text-right.mail-date Wed, Jan 13
                  tr.active
                    td
                      .checkbox
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Grant Franco
                      span.label.label-warning Finance
                    td
                      a(href='#') Etiam maximus tellus a turpis tempor mollis.
                    td
                    td.text-right.mail-date Mon, Oct 19
                  tr.unread.active
                    td
                      .checkbox.checkbox-single
                        input(type='checkbox', checked='')
                        label
                    td
                      a(href='#') Ferdinand Meadows
                    td
                      a(href='#') Aenean hendrerit ligula eget augue gravida semper.
                    td
                      i.fa.fa-paperclip
                    td.text-right.mail-date Sat, Aug 29
                  tr
                    td
                      .checkbox.checkbox-single
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Ivor Rios
                      span.label.label-info Social
                    td
                      a(href='#') Sed quis augue in nunc venenatis finibus.
                    td
                      i.fa.fa-paperclip
                    td.text-right.mail-date Sat, Dec 12
                  tr
                    td
                      .checkbox
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Maxwell Murphy
                    td
                      a(href='#') Quisque eu tortor quis justo viverra cursus.
                    td
                    td.text-right.mail-date Sun, May 17
                  tr
                    td
                      .checkbox
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Henry Patterson
                    td
                      a(href='#')
                        | Aliquam nec justo interdum, ornare mi non, elementum
                        | lacus.
                    td
                      i.fa.fa-paperclip
                    td.text-right.mail-date Thu, Aug 06
                  tr
                    td
                      .checkbox
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Brent Rasmussen
                    td
                      a(href='#') Nam nec turpis sed quam tristique sodales.
                    td
                    td.text-right.mail-date Sun, Nov 15
                  tr.unread
                    td
                      .checkbox.checkbox-single.checkbox-success
                        input(type='checkbox', checked='')
                        label
                    td
                      a(href='#') Joseph Hurley
                    td
                      a(href='#') Nullam tempus leo id urna sagittis blandit.
                    td
                      i.fa.fa-paperclip
                    td.text-right.mail-date Sun, Aug 10
                  tr
                    td
                      .checkbox
                        input(type='checkbox')
                        label
                    td
                      a(href='#') Alan Matthews
                    td
                      a(href='#')
                        | Quisque quis turpis ac quam sagittis scelerisque vel ut
                        | urna.
                    td
                    td.text-right.mail-date Sun, Mar 27
          .panel-footer
            i.fa.fa-eye  
            |  6 unread
