extends ../../../layouts/example-app_layout

block styles
  link(rel='stylesheet', href='/exampleapp/css/static_custom.css')

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span App views
            li.active
              span Mailbox
        h2.font-light.m-b-xs
          | Mailbox
        small Mailbox - Email list.
  .content.animate-panel
    .row
      .col-md-3
        .hpanel
          .panel-body
            a.btn.btn-success.btn-block.m-b-md(href='mailbox_compose.html') Compose
            ul.mailbox-list
              li
                a(href='#')
                  span.pull-right 12
                  i.fa.fa-envelope
                  |  Inbox
              li
                a(href='#')
                  i.fa.fa-paper-plane
                  |  Sent
              li
                a(href='#')
                  i.fa.fa-pencil
                  |  Draft
              li
                a(href='#')
                  i.fa.fa-trash
                  |  Trash
            hr
            ul.mailbox-list
              li
                a(href='#')
                  i.fa.fa-plane.text-danger
                  |  Travel
              li
                a(href='#')
                  i.fa.fa-bar-chart.text-warning
                  |  Finance
              li
                a(href='#')
                  i.fa.fa-users.text-info
                  |  Social
              li
                a(href='#')
                  i.fa.fa-tag.text-success
                  |  Promos
              li
                a(href='#')
                  i.fa.fa-flag.text-primary
                  |  Updates
            hr
            ul.mailbox-list
              li
                a(href='#')
                  i.fa.fa-gears
                  |  Settings
              li
                a(href='#')
                  i.fa.fa-info-circle
                  |  Support
      .col-md-9
        .hpanel.email-compose
          .panel-heading.hbuilt
            .p-xs.h4
              small.pull-right
                | 08:26 PM (16 hours ago)
              |  Email view
          .border-top.border-left.border-right.bg-light
            .p-m
              div
                span.font-extra-bold Subject: 
                |  Lorem Ipsum has been the industry's standard dummy text ever
              div
                span.font-extra-bold From: 
                a(href='#') example.@email.com
              div
                span.font-extra-bold Date: 
                |  14.10.2016
          .panel-body
            div
              h4 Hello Jonathan! 
              p
                | dummy text of the printing and typesetting industry. 
                strong Lorem Ipsum has been the dustrys
                |  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                |                             book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                |                             and more
                br
                br
                | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
                |                             sentence structures, to generate Lorem Ipsum which looks reasonable. recently with.
              p
                | Mark Smith
          .border-bottom.border-left.border-right.bg-white.p-m
            p.m-b-md
              span
                i.fa.fa-paperclip
                |  3 attachments -
              a.btn.btn-default.btn-xs(href='#')
                | Download all in zip format 
                i.fa.fa-file-zip-o
            div
              .row
                .col-sm-3
                  .hpanel
                    .panel-body.file-body
                      i.fa.fa-file-pdf-o.text-info
                    .panel-footer
                      a(href='#') Document_2016.doc
                .col-sm-3
                  .hpanel
                    .panel-body.file-body
                      i.fa.fa-file-audio-o.text-warning
                    .panel-footer
                      a(href='#') Audio_2016.doc
                .col-sm-3
                  .hpanel
                    .panel-body.file-body
                      i.fa.fa-file-excel-o.text-success
                    .panel-footer
                      a(href='#') Sheets_2016.doc
          .panel-footer.text-right
            .btn-group
              button.btn.btn-default
                i.fa.fa-reply
                |  Reply
              button.btn.btn-default
                i.fa.fa-arrow-right
                |  Forward
              button.btn.btn-default
                i.fa.fa-print
                |  Print
              button.btn.btn-default
                i.fa.fa-trash-o
                |  Remove
