extends ../../../layouts/example-app_layout

block scripts
  style.
    body.modal-open {
    padding-right: 0 !important;
    }

block styles

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href="")
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href="/exampleapp/index") Dashboard
            li
              span Interface
            li.active
              span Modals 
        h2.font-light.m-b-xs
          | Modals
        small Modal window examples
  .content.animate-panel
    .row
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            | Homer modal windows
          .panel-body
            p
              | Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.
            p
              | Modal contains title, content and footer
            .text-center
              button.btn.btn-success(type="button", data-toggle="modal", data-target="#myModal")
                | Launch demo modal
              #myModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
                .modal-dialog
                  .modal-content
                    .color-line
                    .modal-header.text-center
                      h4.modal-title Modal title
                      small.font-bold Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .modal-body
                      p
                        strong Lorem Ipsum is simply dummy
                        | text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        | type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    .modal-footer
                      button.btn.btn-default(type="button", data-dismiss="modal") Close
                      button.btn.btn-primary(type="button") Save changes
            .m-t-md
              pre.
                \n
                <button type="button" class="btn btn-success"
                        data-toggle="modal" data-target="#myModal">
                        Launch demo modal
                </button>
                                                      
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            | Optional size and colors
          .panel-body
            p
              | Modals have two optional sizes, available via modifier classes to be placed on a .modal-dialog
            .text-center.m-b-md
              button.btn.btn-primary(type="button", data-toggle="modal", data-target="#myModal5")
                | Large Modal
              button.btn.btn-primary(type="button", data-toggle="modal", data-target="#myModal6")
                | Small Modal
              #myModal5.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
                .modal-dialog.modal-lg
                  .modal-content
                    .color-line
                    .modal-header
                      h4.modal-title Modal title
                      small.font-bold Lorem Ipsum is simply dummy text.
                    .modal-body
                      p
                        strong Lorem Ipsum is simply dummy
                        | text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        | type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    .modal-footer
                      button.btn.btn-default(type="button", data-dismiss="modal") Close
                      button.btn.btn-primary(type="button") Save changes
              #myModal6.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
                .modal-dialog.modal-sm
                  .modal-content
                    .color-line
                    .modal-header
                      h4.modal-title Modal title
                      small.font-bold Lorem Ipsum is simply dummy text.
                    .modal-body
                      p
                        strong Lorem Ipsum is simply dummy
                        | text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        | type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    .modal-footer
                      button.btn.btn-default(type="button", data-dismiss="modal") Close
                      button.btn.btn-primary(type="button") Save changes
            p
              | You can add extra class to color your modal window avalible class (
              code hmodal-info
              | ,
              code hmodal-warning
              | ,
              code hmodal-success
              | ,
              code hmodal-danger
              | )
            .text-center.m-t-md
              button.btn.btn-success(type="button", data-toggle="modal", data-target="#myModal7") Success
              button.btn.btn-info(type="button", data-toggle="modal", data-target="#myModal8") Info
              button.btn.btn-warning(type="button", data-toggle="modal", data-target="#myModal9") Warning
              button.btn.btn-danger(type="button", data-toggle="modal", data-target="#myModal10") Danger
            #myModal7.modal.fade.hmodal-success(tabindex="-1", role="dialog", aria-hidden="true")
              .modal-dialog
                .modal-content
                  .color-line
                  .modal-header
                    h4.modal-title Modal title
                    small.font-bold Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  .modal-body
                    p
                      strong Lorem Ipsum is simply dummy
                      | text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                      | and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                  .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Close
                    button.btn.btn-primary(type="button") Save changes
            #myModal8.modal.fade.hmodal-info(tabindex="-1", role="dialog", aria-hidden="true")
              .modal-dialog
                .modal-content
                  .color-line
                  .modal-header
                    h4.modal-title Modal title
                    small.font-bold Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  .modal-body
                    p
                      strong Lorem Ipsum is simply dummy
                      | text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                      | and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                  .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Close
                    button.btn.btn-primary(type="button") Save changes
            #myModal9.modal.fade.hmodal-warning(tabindex="-1", role="dialog", aria-hidden="true")
              .modal-dialog
                .modal-content
                  .color-line
                  .modal-header
                    h4.modal-title Modal title
                    small.font-bold Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  .modal-body
                    p
                      strong Lorem Ipsum is simply dummy
                      | text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                      | and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                  .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Close
                    button.btn.btn-primary(type="button") Save changes
            #myModal10.modal.fade.hmodal-danger(tabindex="-1", role="dialog", aria-hidden="true")
              .modal-dialog
                .modal-content
                  .color-line
                  .modal-header
                    h4.modal-title Modal title
                    small.font-bold Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  .modal-body
                    p
                      strong Lorem Ipsum is simply dummy
                      | text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                      | and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                  .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Close
                    button.btn.btn-primary(type="button") Save changes
            .m-t-md
              pre.
                \nvar modalInstance = $modal.open({
                       templateUrl: 'views/modal/modal_example2.html',
                       controller: ModalInstanceCtrl,
                       windowClass: "hmodal-success"
                });                   
    .row
      .col-lg-12
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            | Options
          .panel-body
            p
              | Options can be passed via data attributes or JavaScript. For data attributes, append the option name to
              code data-
              | , as in
              code data-backdrop=""
              | .
            .table-responsive
              table.table.table-bordered.table-striped
                thead
                  tr
                    th(style="width: 100px;") Name
                    th(style="width: 50px;") type
                    th(style="width: 50px;") default
                    th description
                tbody
                  tr
                    td backdrop
                    td
                      | boolean or the string
                      code "static"
                    td true
                    td
                      | Includes a modal-backdrop element. Alternatively, specify
                      code static
                      | for a backdrop which doesn"t close the modal on click.
                  tr
                    td keyboard
                    td boolean
                    td true
                    td Closes the modal when escape key is pressed
                  tr
                    td show
                    td boolean
                    td true
                    td Shows the modal when initialized.
                  tr
                    td remote
                    td path
                    td false
                    td
                      p
                        strong.text-danger This option is deprecated since v3.3.0 and will be removed in v4.
                        | We recommend instead using client-side templating or a data binding framework, or calling
                        a(href="http://api.jquery.com/load/") jQuery.load
                        | yourself.
                      p
                        | If a remote URL is provided,
                        strong content will be loaded one time
                        | via jQuery"s
                        code load
                        | method and injected into the
                        code .modal-content
                        | div. If you"re using the data-api, you may alternatively
                        | use the
                        code href
                        | attribute to specify the remote source. An example of this is shown below:
                      .zero-clipboard
                        span.btn-clipboard Copy
                      .highlight
                        pre.
                          
