extends ../../../layouts/example-app_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span Interface
            li.active
              span Panels design
        h2.font-light.m-b-xs
          | Panels design
        small Many panels design give you many possibilities.
  .content.animate-panel
    .row
      .col-lg-12
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     This is a standard panel (header, content, footer)
          .panel-body
            p
              | Lorem Ipsum is simply dummy text of the 
              strong printing and typesetting
              |  industry. Lorem Ipsum has been the industry's standard dummy text ever since the
              abbr(title='', data-original-title='Sample abbreviation') scrambled it to make
              |  a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              |                         dummy text ever since the scrambled it to make a type specimen book.
          .panel-footer
            | This is standard panel footer
    .row
      .col-lg-4
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Default Panel
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
          .panel-footer
            | This is standard panel footer
      .col-lg-4
        .hpanel
          .panel-heading.hbuilt
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Built panel
          .panel-body
            .row
              .col-lg-6.border-right
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus
              .col-lg-6
                p
                  | posuere lectus et, fringilla augue. ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae accumsan.
          .panel-footer
            | This is standard panel footer
      .col-lg-4
        .hpanel.hblue
          .panel-heading.hbuilt
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Built panel colored (blue)
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
          .panel-footer
            | This is standard panel footer
    .row
      .col-lg-4
        .hpanel.hgreen
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Default green
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
      .col-lg-4
        .hpanel.horange
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Panel orange
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
      .col-lg-4
        .hpanel.hred
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Panel red
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
    .row
      .col-lg-4
        .hpanel.hyellow
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Default yellow
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
          .panel-footer
            | This is standard panel footer
      .col-lg-4
        .hpanel.hblue
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Panel Blue
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
          .panel-footer
            | This is standard panel footer
      .col-lg-4
        .hpanel.hviolet
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Panel violet
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
          .panel-footer
            | This is standard panel footer
    .row
      .col-lg-4
        .hpanel.collapsed
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Initial collapsed basic
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
          .panel-footer
            | This is standard panel footer
      .col-lg-4
        .hpanel.collapsed
          .panel-heading.hbuilt
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Initial collapsed built
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
          .panel-footer
            | This is standard panel footer
      .col-lg-4
        .hpanel
          .panel-heading.hbuilt
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.fullscreen
                i.fa.fa-expand
              a.closebox
                i.fa.fa-times
            |                     With additional full screen button
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
          .panel-footer
            | This is standard panel footer
    .row
      .col-lg-6
        .hpanel
          .panel-heading.hbuilt
            .pull-right
              a.btn.btn-default.btn-xs Action 1
              a.btn.btn-default.btn-xs Action 2
            |                     Pannel with custom buttons
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
          .panel-footer
            | This is standard panel footer
      .col-lg-6
        .hpanel
          .panel-heading.hbuilt
            .row
              .col-md-6
                | Panel with search form
              .col-md-6
                form(action='')
                  .input-group
                    input.form-control.input-xs(type='text', placeholder='Search something...', name='s')
                    span.input-group-btn
                      button.btn.btn-xs.btn-default(type='submit')
                        span.fa.fa-search
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
          .panel-footer
            | This is standard panel footer
    .row
      .col-lg-6
        .hpanel
          .panel-heading.hbuilt
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Pannel with list group
          .panel-body.no-padding
            ul.list-group
              li.list-group-item
                span.badge.badge-primary 16
                |  Lorem ipsum
              li.list-group-item
                span.badge.badge-info 12
                |  Consectetur adipiscing
              li.list-group-item
                span.badge.badge-danger 10
                |  Aliquam ornare
              li.list-group-item
                span.badge.badge-success 10
                |  Vestibulum tincidunt
              li.list-group-item
                span.badge.badge-warning 7
                |  Posuere lectus
          .panel-footer
            | This is standard panel footer
      .col-lg-6
        .hpanel
          .panel-heading.hbuilt
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Panel with alert
          .alert.alert-success
            i.fa.fa-bolt
            |  Adding action was successful
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
              | est vitae ultrices accumsan.
          .panel-footer
            | This is standard panel footer
