extends ../../../layouts/example-app_layout

block scripts
  script(src='/vendor/peity/jquery.peity.min.js')
  script(src='/exampleapp/scripts/charts.js')
  //
    You need to include this script on any page that has a Google Map.
    When using Google Maps on your own site you MUST signup for your own API key at:
    https://developers.google.com/maps/documentation/javascript/tutorial#api_key
    After your sign up replace the key in the URL below..
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70')
  script(scr='/exampleapp/scripts/profile.js')
  //
    I really think this code is good, but the maps don't work. I would try to change this apikey before changing the code.
  
block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/exampleapp/index') Dashboard
            li
              span App views
            li.active
              span Profile 
        h2.font-light.m-b-xs
          | Profile
        small Show user data in clear profile design
  .content.animate-panel
    .row
      .col-lg-4
        .hpanel.hgreen
          .panel-body
            .pull-right.text-right
              .btn-group
                i.fa.fa-facebook.btn.btn-default.btn-xs
                i.fa.fa-twitter.btn.btn-default.btn-xs
                i.fa.fa-linkedin.btn.btn-default.btn-xs
            img.img-circle.m-b.m-t-md(alt='logo', src='images/profile.jpg')
            h3
              a(href='') Max Simson
            .text-muted.font-bold.m-b-xs California, LA
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .progress.m-t-xs.full.progress-small
              .progress-bar.progress-bar-success(style='width: 65%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='65', role='progressbar')
                span.sr-only 35% Complete (success)
          .border-right.border-left
            section#map
              #map1(style='height: 200px')
          .panel-body
            dl
              dt Description lists
              dd A description list is perfect for defining terms.
              dt Euismod
              dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
              dd Donec id elit non mi porta gravida at eget metus.
              dt Malesuada porta
              dd Etiam porta sem malesuada magna mollis euismod.
          .panel-footer.contact-footer
            .row
              .col-md-4.border-right
                .contact-stat
                  span Projects: 
                  strong 200
              .col-md-4.border-right
                .contact-stat
                  span Messages: 
                  strong 300
              .col-md-4
                .contact-stat
                  span Views: 
                  strong 400
      .col-lg-8
        .hpanel
          .hpanel
            ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#tab-1') Project
              li
                a(data-toggle='tab', href='#tab-2') Messages
            .tab-content
              #tab-1.tab-pane.active
                .panel-body
                  strong Lorem ipsum dolor sit amet, consectetuer adipiscing
                  p
                    | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                    | existence in this spot, which was created for the bliss of souls like mine.
                  .table-responsive
                    table.table.table-striped
                      thead
                        tr
                          th #
                          th Project 
                          th Name 
                          th Phone 
                          th Company 
                          th Completed 
                          th Task
                          th Date
                          th Action
                      tbody
                        tr
                          td 1
                          td
                            | Project 
                            small This is example of project
                          td Patrick Smith
                          td 0800 051213
                          td Inceptos Hymenaeos Ltd
                          td
                            span.pie 2/45
                          td 20%
                          td Jul 14, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 2
                          td Alpha project
                          td Alice Jackson
                          td 0500 780909
                          td Nec Euismod In Company
                          td
                            span.pie 1/5
                          td 40%
                          td Jul 16, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 3
                          td Betha project
                          td John Smith
                          td 0800 1111
                          td Erat Volutpat
                          td
                            span.pie 4/7
                          td 75%
                          td Jul 18, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 4
                          td Gamma project
                          td Anna Jordan
                          td (016977) 0648
                          td Tellus Ltd
                          td
                            span.pie 12/3
                          td 18%
                          td Jul 22, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 2
                          td Alpha project
                          td Alice Jackson
                          td 0500 780909
                          td Nec Euismod In Company
                          td
                            span.pie 2/5
                          td 40%
                          td Jul 16, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 1
                          td
                            | Project 
                            small This is example of project
                          td Patrick Smith
                          td 0800 051213
                          td Inceptos Hymenaeos Ltd
                          td
                            span.pie 1/5
                          td 20%
                          td Jul 14, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 4
                          td Gamma project
                          td Anna Jordan
                          td (016977) 0648
                          td Tellus Ltd
                          td
                            span.pie 2/8
                          td 18%
                          td Jul 22, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 1
                          td
                            | Project 
                            small This is example of project
                          td Patrick Smith
                          td 0800 051213
                          td Inceptos Hymenaeos Ltd
                          td
                            span.pie 15/5
                          td 20%
                          td Jul 14, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 2
                          td Alpha project
                          td Alice Jackson
                          td 0500 780909
                          td Nec Euismod In Company
                          td
                            span.pie 2/3
                          td 40%
                          td Jul 16, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 3
                          td Betha project
                          td John Smith
                          td 0800 1111
                          td Erat Volutpat
                          td
                            span.pie 4/5
                          td 75%
                          td Jul 18, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 4
                          td Gamma project
                          td Anna Jordan
                          td (016977) 0648
                          td Tellus Ltd
                          td
                            span.pie 2/12
                          td 18%
                          td Jul 22, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 2
                          td Alpha project
                          td Alice Jackson
                          td 0500 780909
                          td Nec Euismod In Company
                          td
                            span.pie 2/3
                          td 40%
                          td Jul 16, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 1
                          td
                            | Project 
                            small This is example of project
                          td Patrick Smith
                          td 0800 051213
                          td Inceptos Hymenaeos Ltd
                          td
                            span.pie 1/5
                          td 20%
                          td Jul 14, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 4
                          td Gamma project
                          td Anna Jordan
                          td (016977) 0648
                          td Tellus Ltd
                          td
                            span.pie 10/50
                          td 18%
                          td Jul 22, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
              #tab-2.tab-pane
                .panel-body.no-padding
                  .chat-discussion(style='height: auto')
                    .chat-message
                      img.message-avatar(src='images/a1.jpg', alt='')
                      .message
                        a.message-author(href='#')  Michael Smith 
                        span.message-date  Mon Jan 26 2015 - 18:39:23 
                        span.message-content
                          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        .m-t-md
                          a.btn.btn-xs.btn-default
                            i.fa.fa-thumbs-up
                            |  Like
                          a.btn.btn-xs.btn-success
                            i.fa.fa-heart
                            |  Love
                    .chat-message
                      img.message-avatar(src='images/a4.jpg', alt='')
                      .message
                        a.message-author(href='#')  Karl Jordan 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                        .m-t-md
                          a.btn.btn-xs.btn-default
                            i.fa.fa-thumbs-up
                            |  Like
                          a.btn.btn-xs.btn-default
                            i.fa.fa-heart
                            |  Love
                          a.btn.btn-xs.btn-primary
                            i.fa.fa-pencil
                            |  Message
                    .chat-message
                      img.message-avatar(src='images/a2.jpg', alt='')
                      .message
                        a.message-author(href='#')  Michael Smith 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                    .chat-message
                      img.message-avatar(src='images/a5.jpg', alt='')
                      .message
                        a.message-author(href='#')  Alice Jordan 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                          | It uses a dictionary of over 200 Latin words.
                        .m-t-md
                          a.btn.btn-xs.btn-default
                            i.fa.fa-thumbs-up
                            |  Like
                          a.btn.btn-xs.btn-warning
                            i.fa.fa-eye
                            |  Nudge
                    .chat-message
                      img.message-avatar(src='images/a6.jpg', alt='')
                      .message
                        a.message-author(href='#')  Mark Smith 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                          | It uses a dictionary of over 200 Latin words.
                        .m-t-md
                          a.btn.btn-xs.btn-default
                            i.fa.fa-thumbs-up
                            |  Like
                          a.btn.btn-xs.btn-success
                            i.fa.fa-heart
                            |  Love
                    .chat-message
                      img.message-avatar(src='images/a4.jpg', alt='')
                      .message
                        a.message-author(href='#')  Karl Jordan 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                        .m-t-md
                          a.btn.btn-xs.btn-default
                            i.fa.fa-thumbs-up
                            |  Like
                          a.btn.btn-xs.btn-default
                            i.fa.fa-heart
                            |  Love
                          a.btn.btn-xs.btn-primary
                            i.fa.fa-pencil
                            |  Message
                    .chat-message
                      img.message-avatar(src='images/a2.jpg', alt='')
                      .message
                        a.message-author(href='#')  Michael Smith 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                    .chat-message
                      img.message-avatar(src='images/a5.jpg', alt='')
                      .message
                        a.message-author(href='#')  Alice Jordan 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                          | It uses a dictionary of over 200 Latin words.
                        .m-t-md
                          a.btn.btn-xs.btn-default
                            i.fa.fa-thumbs-up
                            |  Like
                          a.btn.btn-xs.btn-default
                            i.fa.fa-heart
                            |  Love
