extends ../../../layouts/example-app_layout

block scripts
  script(src='/vendor/chartjs/Chart.min.js')
  script(src='/exampleapp/scripts/project.js')

block styles
  link(rel='stylesheet', href='/vendor/jquery-ui/themes/base/all.css')

block content
  .normalheader.transition
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span Tables
            li.active
              span Project detail
        h2.font-light.m-b-xs
          | Project detail
        small Special page for project detail.
  .content.animate-panel
    .row
      .col-md-8
        .font-bold.m-b-sm
          | Project details
        .hpanel
          .panel-body
            .pull-right
              button.btn.btn-success.btn-xs  Active
              button.btn.btn-default.btn-xs
                i.fa.fa-pencil
                |  Edit
            h2.m-t-none Common project 
            small
              | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
              | spring which I enjoy with my whole heart.
              | I am alone, and feel the charm of existence in this spot, which was created for the bliss of
              | souls like mine.
            .small.m-t-xs
              strong Create by:
              |  Anthony Novic
              br
              strong Client:
              |  Nordic Company Walking
            .m-t-md
              canvas#lineOptions(height='60')
        .hpanel
          .panel-body
            p
              strong These sweet mornings of spring
              |  which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
            .table-responsive
              table.table.table-hover.table-bordered.table-striped
                tbody
                  tr
                    td
                      span.label.label-success Added
                    td.issue-info
                      a(href='#')
                        | Message
                      br
                      small
                        | This is issue with the coresponding note
                    td
                      | Adrian Novak
                    td
                      | 12.02.2015
                    td.text-right
                      button.btn.btn-default.btn-xs  Action
                  tr
                    td
                      span.label.label-info Added
                    td.issue-info
                      a(href='#')
                        | Call
                      br
                      small
                        | Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
                    td
                      | Anna Smith
                    td
                      | 10.02.2015
                    td.text-right
                      button.btn.btn-default.btn-xs  Action
                  tr
                    td
                      span.label.label-success Added
                    td.issue-info
                      a(href='#')
                        | Message
                      br
                      small
                        | It is a long established fact that a reader will be
                    td
                      | Anthony Jackson
                    td
                      | 02.03.2015
                    td.text-right
                      button.btn.btn-default.btn-xs  Action
                  tr
                    td
                      span.label.label-info Added
                    td.issue-info
                      a(href='#')
                        | Message
                      br
                      small
                        | There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    td
                      | Monica Proven
                    td
                      | 01.10.2015
                    td.text-right
                      button.btn.btn-default.btn-xs  Action
                  tr
                    td
                      span.label.label-info Fixed
                    td.issue-info
                      a(href='#')
                        | Meeting
                      br
                      small
                        | Always free from repetition, injected humour, or non-characteristic words etc.
                    td
                      | Alex Ferguson
                    td
                      | 28.11.2015
                    td.text-right
                      button.btn.btn-default.btn-xs  Action
                  tr
                    td
                      span.label.label-success Fixed
                    td.issue-info
                      a(href='#')
                        | Message
                      br
                      small
                        | Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                    td
                      | Mark Conor
                    td
                      | 18.09.2015
                    td.text-right
                      button.btn.btn-default.btn-xs  Action
                  tr
                    td
                      span.label.label-success Fixed
                    td.issue-info
                      a(href='#')
                        | Call
                      br
                      small
                        | Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                    td
                      | Carol Jackson
                    td
                      | 11.03.2015
                    td.text-right
                      button.btn.btn-default.btn-xs  Action
                  tr
                    td
                      span.label.label-success Fixed
                    td.issue-info
                      a(href='#')
                        | Message
                      br
                      small
                        | Content here, content here', making it look like readable English. Many desktop
                    td
                      | Carol Jackson
                    td
                      | 05.04.2015
                    td.text-right
                      button.btn.btn-default.btn-xs  Action
                  tr
                    td
                      span.label.label-info Fixed
                    td.issue-info
                      a(href='#')
                        | Meeting
                      br
                      small
                        | Virginia, looked up one of the more obscure Latin words, consectetur
                    td
                      | Monica Smith
                    td
                      | 10.06.2014
                    td.text-right
                      button.btn.btn-default.btn-xs  Action
                  tr
                    td
                      span.label.label-success Fixed
                    td.issue-info
                      a(href='#')
                        | Meeting
                      br
                      small
                        | Injected humour, or randomised words which don't l
                    td
                      | Anna Johnson
                    td
                      | 13.05.2014
                    td.text-right
                      button.btn.btn-default.btn-xs  Action
      .col-md-4
        .font-bold.m-b-sm
          | Project statistics
        .hpanel.stats
          .panel-body
            div
              i.pe-7s-cash.fa-4x
              h1.m-xs.text-success $1 208,20
            p
              strong Existence of spring
              |  and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
            .row
              .col-xs-6
                small.stat-label Today
                h4
                  | $170,20 
                  i.fa.fa-level-up.text-success
              .col-xs-6
                small.stat-label Last week
                h4
                  | $580,90 
                  i.fa.fa-level-up.text-success
            .row
              .col-xs-6
                small.stat-label Today
                h4
                  | $620,20 
                  i.fa.fa-level-up.text-success
              .col-xs-6
                small.stat-label Last week
                h4
                  | $140,70 
                  i.fa.fa-level-up.text-success
        .font-bold.m-b-sm
          | Project participants
        .row
          .col-md-6
            .hpanel
              .panel-body.text-center
                img.img-circle.img-small(alt='logo', src='images/a1.jpg')
                .m-t-sm
                  strong Mark Newon
                  p.small UI Designer
            .hpanel
              .panel-body.text-center
                img.img-circle.img-small(alt='logo', src='images/a2.jpg')
                .m-t-sm
                  strong Anna Smith
                  p.small JS Developer
            .hpanel
              .panel-body.text-center
                img.img-circle.img-small(alt='logo', src='images/a3.jpg')
                .m-t-sm
                  strong John Smith
                  p.small CEO X company
            .hpanel
              .panel-body.text-center
                img.img-circle.img-small(alt='logo', src='images/a1.jpg')
                .m-t-sm
                  strong Max Simson
                  p.small UI Designer
          .col-md-6
            .hpanel
              .panel-body.text-center
                img.img-circle.img-small(alt='logo', src='images/a4.jpg')
                .m-t-sm
                  strong Anna Novak
                  p.small UX Designer
            .hpanel
              .panel-body.text-center
                img.img-circle.img-small(alt='logo', src='images/a5.jpg')
                .m-t-sm
                  strong Michael Smith
                  p.small JAVA Developer
            .hpanel
              .panel-body.text-center
                img.img-circle.img-small(alt='logo', src='images/a6.jpg')
                .m-t-sm
                  strong Max Simson
                  p.small UI Designer
            .hpanel
              .panel-body.text-center
                img.img-circle.img-small(alt='logo', src='images/a7.jpg')
                .m-t-sm
                  strong John Smith
                  p.small CEO X company
