extends ../../../layouts/example-app_layout

block scripts
  script(src='/vendor/moment/moment.js')
  script(src='/vendor/select2-3.5.2/select2.min.js')
  script(src='/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js')
  script(src='/vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js')
  script(src='/exampleapp/scripts/search.js')

block styles
  link(rel='stylesheet', href='/vendor/select2-3.5.2/select2.css')
  link(rel='stylesheet', href='/vendor/select2-bootstrap/select2-bootstrap.css')
  link(rel='stylesheet', href='/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css')
  link(rel='stylesheet', href='/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css')
  link(rel='stylesheet', href='/vendor/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span App views
            li.active
              span Search view
        h2.font-light.m-b-xs
          | Search view
        small Use search view to show search functionality.
  .content.animate-panel
    .row
      .col-md-3
        .hpanel
          .panel-body
            .m-b-md
              h4
                | Filters
              small
                | Filter your project basend on diferent options below.
            .form-group
              label.control-label Project date:
              .input-group.date
                input.form-control(type='text', value='10/06/2016')
                span.input-group-addon
                  i.glyphicon.glyphicon-calendar
            .form-group
              label.control-label Project value:
              .input-group
                input#demo1(type='text', name='demo1', value='50')
            .form-group
              label.control-label Client:
              .input-group
                select.form-control.m-b(name='account')
                  option(selected='') Company and Brothers
                  option Morgan & Morgan Inc.
            .form-group
              label.control-label Employees
              .input-group
                input#demo2(type='text', name='demo2', value='2')
            .form-group
              label.control-label Status:
              .input-group
                .checkbox.checkbox-primary
                  input#checkbox1(checked='', type='checkbox')
                  label(for='checkbox1')
                    | Completed
                .checkbox.checkbox-success
                  input#checkbox2(type='checkbox')
                  label(for='checkbox2')
                    | Pending
                .checkbox.checkbox-success
                  input#checkbox3(type='checkbox')
                  label(for='checkbox3')
                    | Cancel
            .form-group
              label.control-label Tags:
              .input-group
                select.select2(multiple='multiple')
                  option(selected='', value='Branding') Branding
                  option(selected='', value='Website') Website
                  option(selected='', value='Design') Design
                  option(selected='', value='Ilustration') Ilustration
                  option(selected='', value='New') New
                  option(value='Important') Important
                  option(value='External') External
            button.btn.btn-success.btn-block Apply
      .col-md-9
        .row
          .col-lg-12
            .hpanel
              .panel-body
                .input-group
                  input.form-control(type='text', placeholder='Search projects..')
                  .input-group-btn
                    button.btn.btn-default
                      i.fa.fa-search
        .row
          .col-lg-12
            .hpanel.filter-item
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $620,20 
                      i.fa.fa-level-up.text-success
                  h4.m-b-xs Desing project
                  p.small
                    | Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still
            .hpanel.filter-item.active
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $140,70 
                      i.fa.fa-long-arrow-right.text-info
                  h4.m-b-xs Project manager app
                  p.small It is a long established fact that a reader will be distracted by the readable
            .hpanel.filter-item
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $580,90 
                      i.fa.fa-level-down.text-danger
                  h4.m-b-xs New branding
                  p.small There are many variations of passages of Lorem Ipsum available, 
            .hpanel.filter-item
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $170,20 
                      i.fa.fa-level-up.text-warning
                  h4.m-b-xs Website project
                  p.small All the Lorem Ipsum generators on the Internet tend to repeat
            .hpanel.filter-item
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $240,70 
                      i.fa.fa-level-up.text-success
                  h4.m-b-xs Ilustration project
                  p.small
                    | Making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
            .hpanel.filter-item
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $620,20 
                      i.fa.fa-level-up.text-success
                  h4.m-b-xs Desing project
                  p.small
                    | Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still
            .hpanel.filter-item
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $140,70 
                      i.fa.fa-long-arrow-right.text-info
                  h4.m-b-xs Project manager app
                  p.small It is a long established fact that a reader will be distracted by the readable
            .hpanel.filter-item
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $580,90 
                      i.fa.fa-level-down.text-danger
                  h4.m-b-xs New branding
                  p.small There are many variations of passages of Lorem Ipsum available, 
            .hpanel.filter-item
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $170,20 
                      i.fa.fa-level-up.text-warning
                  h4.m-b-xs Website project
                  p.small All the Lorem Ipsum generators on the Internet tend to repeat
            .hpanel.filter-item
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $240,70 
                      i.fa.fa-level-up.text-success
                  h4.m-b-xs Ilustration project
                  p.small
                    | Making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
            .hpanel.filter-item
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $620,20 
                      i.fa.fa-level-up.text-success
                  h4.m-b-xs Desing project
                  p.small
                    | Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still
            .hpanel.filter-item
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $140,70 
                      i.fa.fa-long-arrow-right.text-info
                  h4.m-b-xs Project manager app
                  p.small It is a long established fact that a reader will be distracted by the readable
            .hpanel.filter-item
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $580,90 
                      i.fa.fa-level-down.text-danger
                  h4.m-b-xs New branding
                  p.small There are many variations of passages of Lorem Ipsum available, 
            .hpanel.filter-item
              a(href='#')
                .panel-body
                  .pull-right.text-right
                    small.stat-label Last week
                    h4
                      | $170,20 
                      i.fa.fa-level-up.text-warning
                  h4.m-b-xs Website project
                  p.small All the Lorem Ipsum generators on the Internet tend to repeat
