extends ../../../layouts/example-app_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span Tables
            li.active
              span Tables design
        h2.font-light.m-b-xs
          | Tables design
        small Examples of various designs of tables.
  .content.animate-panel
    .row
      .col-lg-8
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     This is a basic table design
          .panel-body
            .table-responsive
              table.table(cellpadding='1', cellspacing='1')
                thead
                  tr
                    th Name
                    th Phone
                    th Street Address
                    th City
                    th Country
                tbody
                  tr
                    td Abraham
                    td 076 9477 4896
                    td 294-318 Duis Ave
                    td Vosselaar
                    td Belgium
                  tr
                    td Phelan
                    td 0500 034548
                    td 680-1097 Mi Rd.
                    td Lavoir
                    td Pakistan
                  tr
                    td Raya
                    td (01315) 27698
                    td Ap #289-8161 In Avenue
                    td Santomenna
                    td Burkina Faso
                  tr
                    td Azalia
                    td 0500 854198
                    td 226-4861 Augue. St.
                    td Newtown
                    td Christmas Island
                  tr
                    td Garth
                    td (01662) 59083
                    td 3219 Elit Avenue
                    td Ternitz
                    td Saint Martin
                  tr
                    td Selma
                    td 0877 118 6905
                    td P.O. Box 410, 7331 Nec, St.
                    td Glenrothes
                    td Korea, North
          .panel-footer
            | Table - 6 rows
      .col-lg-4
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     This is a condensed basic table
          .panel-body
            .table-responsive
              table.table.table-condensed(cellpadding='1', cellspacing='1')
                thead
                  tr
                    th Name
                    th Phone
                    th Street
                tbody
                  tr
                    td Henry
                    td Purus Gravida Sagittis Limited
                    td 055 1753 4032
                  tr
                    td Shelly
                    td Posuere Enim Inc.
                    td 0313 143 2317
                  tr
                    td Edan
                    td Quisque Imperdiet Company
                    td 076 1743 8649
                  tr
                    td Sophia
                    td Quam Incorporated
                    td 0863 826 7513
                  tr
                    td Griffith
                    td Tempor Erat Corp.
                    td 0845 46 45
          .panel-footer
            | Table - 5 rows
    .row
      .col-lg-4
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     This is a striped table design
          .panel-body
            .table-responsive
              table.table.table-condensed.table-striped(cellpadding='1', cellspacing='1')
                thead
                  tr
                    th Name
                    th Phone
                    th Street
                tbody
                  tr
                    td Henry
                    td Purus Gravida Sagittis Limited
                    td 055 1753 4032
                  tr
                    td Shelly
                    td Posuere Enim Inc.
                    td 0313 143 2317
                  tr
                    td Edan
                    td Quisque Imperdiet Company
                    td 076 1743 8649
                  tr
                    td Sophia
                    td Quam Incorporated
                    td 0863 826 7513
                  tr
                    td Griffith
                    td Tempor Erat Corp.
                    td 0845 46 45
          .panel-footer
            | Table - 5 rows
      .col-lg-8
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     This is a bordered striped basic table
          .panel-body
            .table-responsive
              table.table.table-bordered.table-striped(cellpadding='1', cellspacing='1')
                thead
                  tr
                    th Name
                    th Phone
                    th Street Address
                    th City
                    th Country
                tbody
                  tr
                    td Abraham
                    td 076 9477 4896
                    td 294-318 Duis Ave
                    td Vosselaar
                    td Belgium
                  tr
                    td Phelan
                    td 0500 034548
                    td 680-1097 Mi Rd.
                    td Lavoir
                    td Pakistan
                  tr
                    td Raya
                    td (01315) 27698
                    td Ap #289-8161 In Avenue
                    td Santomenna
                    td Burkina Faso
                  tr
                    td Azalia
                    td 0500 854198
                    td 226-4861 Augue. St.
                    td Newtown
                    td Christmas Island
                  tr
                    td Garth
                    td (01662) 59083
                    td 3219 Elit Avenue
                    td Ternitz
                    td Saint Martin
                  tr
                    td Selma
                    td 0877 118 6905
                    td P.O. Box 410, 7331 Nec, St.
                    td Glenrothes
                    td Korea, North
          .panel-footer
            | Table - 6 rows
    .row
      .col-lg-12
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     This is a bordered striped and responsive table
          .panel-body
            .table-responsive
              table.table.table-bordered.table-striped(cellpadding='1', cellspacing='1')
                thead
                  tr
                    th Name
                    th Phone
                    th Street Address
                    th City
                    th Country
                tbody
                  tr
                    td Abraham
                    td 076 9477 4896
                    td 294-318 Duis Ave
                    td Vosselaar
                    td Belgium
                  tr
                    td Phelan
                    td 0500 034548
                    td 680-1097 Mi Rd.
                    td Lavoir
                    td Pakistan
                  tr
                    td Raya
                    td (01315) 27698
                    td Ap #289-8161 In Avenue
                    td Santomenna
                    td Burkina Faso
                  tr
                    td Azalia
                    td 0500 854198
                    td 226-4861 Augue. St.
                    td Newtown
                    td Christmas Island
                  tr
                    td Garth
                    td (01662) 59083
                    td 3219 Elit Avenue
                    td Ternitz
                    td Saint Martin
                  tr
                    td Selma
                    td 0877 118 6905
                    td P.O. Box 410, 7331 Nec, St.
                    td Glenrothes
                    td Korea, North
          .panel-footer
            | Table - 6 rows
