extends ../../../layouts/example-app_layout

block scripts
  script(src='/vendor/summernote/dist/summernote.min.js')
  script(src='/exampleapp/scripts/text_editor.js')

block styles
  link(rel='stylesheet', href='/vendor/summernote/dist/summernote.css')
  link(rel='stylesheet', href='/vendor/summernote/dist/summernote-bs3.css')


block content
  .small-header.transition.animated.fadeIn
    .hpanel
      .panel-body
        #hbreadcrumb.pull-right
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span Forms
            li.active
              span Text editor 
        h2.font-light.m-b-xs
          | Text editor
        small Lorem Ipsum has been the dustrys
  .content
    div
      .row
        .col-lg-12
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Summernote standard editor
            .panel-body
              .summernote
                h3 Hello Jonathan! 
                p
                  | dummy text of the printing and typesetting industry. 
                  strong Lorem Ipsum has been the dustrys
                  |  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                  |                                 specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                  |                                 Ipsum passages, and more
                  br
                  br
                  | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of
                  |                                 model sentence structures, to generate Lorem Ipsum which looks reasonable. recently with.
                p
                  | Mark Smith
      .row
        .col-lg-6
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Summernote with custom toolbar
            .panel-body
              .summernote1
                h4 It is a long established fact
                p
                  | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy. Various versions have evolved over the
                  | years, sometimes by accident, sometimes on purpose (injected humour and the like)
                p
                  | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy. Various versions have evolved over the
                  | years, sometimes by accident, sometimes on purpose (injected humour and the like)with.
        .col-lg-6
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Summernote airMode
            .panel-body
              .summernote2
                h4 It is a long established fact
                p
                  | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy. Various versions have evolved over the
                  | years, sometimes by accident, sometimes on purpose (injected humour and the like)
                p
                  | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy. Various versions have evolved over the
                  | years, sometimes by accident, sometimes on purpose (injected humour and the like)with.
