extends ../../../layouts/example-app_layout

block scripts
  script(src='/vendor/jquery-flot/jquery.flot.js')
  script(src='/vendor/jquery-flot/jquery.flot.resize.js')
  script(src='/vendor/peity/jquery.peity.min.js')
  script(src='/vendor/bootstrap-tour/build/js/bootstrap-tour.min.js')
  script(src='/exampleapp/scripts/charts.js')
  script(src='/exampleapp/scripts/tour.js')

block styles
  link(rel='stylesheet', href='/vendor/bootstrap-tour/build/css/bootstrap-tour.min.css')

block content
  .normalheader.transition.animated.fadeIn
    .hpanel.tour-1
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span Interface
            li.active
              span Tour
        h2.font-light.m-b-xs
          | Tour
        small The easiest way to show people how to use your website.
  .content.animate-panel
    .row
      .col-lg-12
        .hpanel.tour-2
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Tour - how it works.
          .panel-body
            .row
              .col-lg-4.tour-3
                p
                  strong Start
                  |  tour example!
                button.btn.btn-success.m-b-lg.run-tour Start Tour!
                h5
                  | Example text for tour purpose
                p
                  | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                  | content here', making it look like readable English.
                .flot-chart(style='height: 50px')
                  #flot-income-chart.flot-chart-content
                .m-t-xs
                  .row
                    .col-xs-5
                      small.stat-label Today
                      h4 $230,00 
                    .col-xs-7
                      small.stat-label Last week
                      h4
                        | $7 980,60 
                        i.fa.fa-level-up.text-success
                p
                  | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                  | content here', making it look like readable English.
              .col-lg-8.tour-4
                h5
                  | How to use it
                p
                  | Tour is very easy to use. All you have to do is to define main tour object
                  code var tour = new Tour
                  | . You can add 
                  code backdrop: true,
                  |  to add a gray background. Next you need to define a tour step with array:
                strong  Example:
                pre.
                  \n
                  // Instance the tour
                  var tour = new Tour({
                    steps: [
                    {
                      element: ".my-element",
                      title: "Title of my step",
                      content: "Content of my step"
                    },
                    {
                      element: ".my-other-element",
                      title: "Title of my step",
                      content: "Content of my step"
                    }
                  ]});
                  // Initialize the tour
                  tour.init();
                  // Start the tour
                  tour.start();
            .row
              .col-lg-12
                h5
                  | Configuration
                p
                  strong See full documentation of official tour plugin:
                  a(href='http://bootstraptour.com/', target='_blank') http://bootstraptour.com/
                  | .
