extends ../../../layouts/example-app_layout

block content
  .p-lg
    .content
      .content.animate-panel(data-child='hpanel', data-effect='fadeInDown')
        .row
          .col-lg-4
            .hpanel
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                  a.closebox
                    i.fa.fa-times
                |                             Box example
              .panel-body
                .h-100
            .hpanel
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                  a.closebox
                    i.fa.fa-times
                |                             Box example
              .panel-body
                .h-100
            .hpanel
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                  a.closebox
                    i.fa.fa-times
                |                             Box example
              .panel-body
                .h-100
            .hpanel
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                  a.closebox
                    i.fa.fa-times
                |                             Box example
              .panel-body
                .h-100
          .col-lg-4
            .hpanel
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                  a.closebox
                    i.fa.fa-times
                |                             Box example
              .panel-body
                .h-100
            .hpanel
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                  a.closebox
                    i.fa.fa-times
                |                             Box example
              .panel-body
                .h-100
            .hpanel
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                  a.closebox
                    i.fa.fa-times
                |                             Box example
              .panel-body
                .h-100
            .hpanel
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                  a.closebox
                    i.fa.fa-times
                |                             Box example
              .panel-body
                .h-100
          .col-lg-4
            .hpanel
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                  a.closebox
                    i.fa.fa-times
                |                             Box example
              .panel-body
                .h-100
            .hpanel
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                  a.closebox
                    i.fa.fa-times
                |                             Box example
              .panel-body
                .h-100
            .hpanel
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                  a.closebox
                    i.fa.fa-times
                |                             Box example
              .panel-body
                .h-100
            .hpanel
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                  a.closebox
                    i.fa.fa-times
                |                             Box example
              .panel-body
                .h-100
