extends ../../../layouts/example-app_layout

block content
  .p-lg
    .content.animate-panel(data-child='row', data-effect='fadeInRight')
      .row
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Box example
            .panel-body
              .h-100
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Box example
            .panel-body
              .h-100
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Box example
            .panel-body
              .h-100
      .row
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Box example
            .panel-body
              .h-100
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Box example
            .panel-body
              .h-100
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Box example
            .panel-body
              .h-100
      .row
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Box example
            .panel-body
              .h-100
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Box example
            .panel-body
              .h-100
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Box example
            .panel-body
              .h-100
      .row
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Box example
            .panel-body
              .h-100
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Box example
            .panel-body
              .h-100
        .col-lg-4
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                         Box example
            .panel-body
              .h-100
