extends ../../../layouts/example-app_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span Interface
            li.active
              span Typography
        h2.font-light.m-b-xs
          | Typography
        small The basic elements of typography
  .content.animate-panel
    .row
      .col-lg-4
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Headings
          .panel-body
            div
              h1
                | Heading 1
                small Sub-heading
              h2
                | Heading 2
                small Sub-heading
              h3
                | Heading 3
                small Sub-heading
              h4
                | Heading 4
                small Sub-heading
              h5
                | Heading 5
                small Sub-heading
              h6
                | Heading 6
                small Sub-heading
      .col-lg-8
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Paragraph text
          .panel-body
            .row
              .col-lg-6.border-right
                p
                  | Lorem Ipsum is simply dummy text of the 
                  strong printing and typesetting
                  |  industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                  abbr(title='', data-original-title='Sample abbreviation') scrambled it to make
                  |  a type specimen book.
              .col-lg-6
                p
                  | It has survived not only 
                  em five centuries
                  | , but also the leap into electronic typesetting, remaining essentially unchanged. It was 1960s with the release of Letraset sheets containing 
                  code .loremIpsumClass
            .row.m-t-md
              .col-lg-3.border-right
                p
                  | Lorem Ipsum is simply dummy text of the 
                  strong printing and typesetting
                  |  industry. Lorem Ipsum has been the industry's standard dummy text ever since.
              .col-lg-3.border-right
                p
                  | It has survived not only 
                  em five centuries
                  | , but also the leap into electronic typesetting, remaining 
                  code essentially
                  |  unchanged. .loremIpsumClass, and more recently with
              .col-lg-3.border-right
                p
                  | Lorem Ipsum is simply dummy text of the 
                  em printing and typesetting
                  |  industry. Lorem Ipsum has been the industry's standard dummy text ever since.
              .col-lg-3
                p
                  | It has survived not only 
                  em five centuries
                  | , typesetting, remaining essentially unchanged. the release of Letraset sheets containing loremIpsumClass, and more recently with
    .row
      .col-lg-4
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Unstyled list
          .panel-body
            ul.unstyled
              li But I must explain
              li To you how all this mistaken
              li Idea of denouncing pleasure
              li Great explorer of the truth
              li
                | To take a trivial example
                ul
                  li Or one who avoids a pain
                  li Indignation and dislike men
                  li Nor again is there anyone
                  li But who has any right
              li That they cannot foresee
              li Who avoids a pain that produceg
              li Consequences that are extremely
      .col-lg-4
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Unordered list
          .panel-body
            ul
              li But I must explain
              li To you how all this mistaken
              li Idea of denouncing pleasure
              li Great explorer of the truth
              li
                | To take a trivial example
                ul
                  li Or one who avoids a pain
                  li Indignation and dislike men
                  li Nor again is there anyone
                  li But who has any right
              li That they cannot foresee
              li Who avoids a pain that produceg
              li Consequences that are extremely
      .col-lg-4
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Ordered list
          .panel-body
            ol
              li But I must explain
              li To you how all this mistaken
              li Idea of denouncing pleasure
              li Great explorer of the truth
              li
                | To take a trivial example
                ol
                  li Or one who avoids a pain
                  li Indignation and dislike men
                  li Nor again is there anyone
                  li But who has any right
              li That they cannot foresee
              li Who avoids a pain that produceg
              li Consequences that are extremely
    .row
      .col-lg-4
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Emphasis Classes
          .panel-body
            p.text-muted This is an example of muted text.
            p.text-primary This is an example of primary text.
            p.text-success This is an example of success text.
            p.text-info This is an example of info text.
            p.text-warning This is an example of warning text.
            p.text-danger This is an example of danger text.
      .col-lg-4
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Blockquotes
          .panel-body
            blockquote
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a printing and typesetting ante.
              small
                strong Author name
                |  in 
                cite(title='', data-original-title='') Book name
      .col-lg-4
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Alignment
          .panel-body
            p.text-left
              strong LEFT
              br
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            p.text-center
              strong CENTER
              br
              | It is a long established fact that a reader will be distracted by the readable content.
            p.text-right
              strong RIGHT
              br
              | There are many variations of passages of Lorem Ipsum available, but the majority have.
    .row
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Description
          .panel-body
            dl
              dt Description lists
              dd A description list is perfect for defining terms.
              dt Euismod
              dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
              dd Donec id elit non mi porta gravida at eget metus.
              dt Malesuada porta
              dd Etiam porta sem malesuada magna mollis euismod.
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Horizontal description
          .panel-body
            dl.dl-horizontal
              dt Description lists
              dd A description list is perfect for defining terms.
              dt Euismod
              dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
              dd Donec id elit non mi porta gravida at eget metus.
              dt Malesuada porta
              dd Etiam porta sem malesuada magna mollis euismod.
              dt Felis euismod semper eget lacinia
              dd
                | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .row
      .col-lg-4
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Grouped Lists
          .panel-body.no-padding
            .list-group
              a.list-group-item.active(href='')
                h5.list-group-item-heading A wonderful serenity has taken
                p.list-group-item-text
                  | I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
              a.list-group-item(href='')
                h5.list-group-item-heading Why painful the sixteen how minuter
                p.list-group-item-text
                  | I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed
              a.list-group-item(href='')
                h5.list-group-item-heading Barton waited twenty always repair
                p.list-group-item-text
                  | I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun
      .col-lg-8
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Special css class
          .panel-body
            table.table
              thead
                tr
                  td
                    | Example text
                  td
                    | Class name
              tbody
                tr
                  td
                    span.font-light Light
                  td
                    code .font-light
                tr
                  td
                    span.font-normal Normal
                  td
                    code .font-normal
                tr
                  td
                    span.font-bold Bold
                  td
                    code .font-bold
                tr
                  td
                    span.font-extra-bold Extra bold
                  td
                    code .font-extra-bold
                tr
                  td
                    span.font-uppercase Uppercase
                  td
                    code .font-uppercase
                tr
                  td
                    span.font-trans Transparent
                  td
                    code .font-trans
