extends ../../../layouts/example-app_layout

block scripts
  script(src='/vendor/jquery-validation/jquery.validate.min.js')
  script(src='/exampleapp/scripts/validation.js')

block styles
  link(rel='stylesheet', href='vendor/sweetalert/lib/sweet-alert.css')

block content
  .small-header
    .hpanel
      .panel-body
        #hbreadcrumb.pull-right
          ol.hbreadcrumb.breadcrumb
            li
              a(href='index.html') Dashboard
            li
              span Forms
            li.active
              span Validation 
        h2.font-light.m-b-xs
          | Validation
        small Build a form with validation functionality
  .content
    .row
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     jQuery Validation Plugin
          .panel-body
            p
              | The jQuery Validation Plugin provides drop-in validation for your existing forms, while making all kinds of customizations to fit your application really easy.
            form#form(role='form')
              .form-group
                label Email
                input.form-control(type='email', placeholder='Enter email', required='')
              .form-group
                label Password
                input.form-control(type='password', placeholder='Password', name='password')
              .form-group
                label Url
                input.form-control(type='text', placeholder='Enter email', name='url')
              .form-group
                label Number
                input.form-control(type='text', placeholder='Enter email', name='number')
              .form-group
                label MaxLength
                input.form-control(type='text', placeholder='Enter email', name='max')
              div
                button.btn.btn-sm.btn-primary.m-t-n-xs(type='submit')
                  strong Submit
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     Displaying Errors within Field Labels
          .panel-body
            p
              | With errorPlacement() function you can easily change placement for error. With message properties you can set your own text for error message.
            form#form_2(role='form')
              .form-group
                label(for='name') First name
                input#name.form-control(type='text', name='name', placeholder='Enter your name', required='')
              .form-group
                label(for='last_name') Last name
                input#last_name.form-control(type='text', placeholder='Enter your last name', name='last_name')
              .form-group
                label(for='url') Official website
                input#url.form-control(type='text', placeholder='www.example.com', name='url')
              .form-group
                label(for='number') Phone number
                input#number.form-control(type='text', placeholder='Phone number', name='number')
              .form-group
                label(for='username') Username
                input#username.form-control(type='text', placeholder='Login', name='username')
              div
                button.btn.btn-sm.btn-primary.m-t-n-xs(type='submit')
                  strong Submit
      .col-lg-12
        .hpanel
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
              a.closebox
                i.fa.fa-times
            |                     jQuery Validation Plugin
          .panel-body.no-padding
            table.table.table-striped
              thead
                tr
                  th Method
                  th Description
              tbody
                tr
                  td remote
                  td Requests a resource to check the element for validity.
                tr
                  td minlength
                  td Makes the element require a given minimum length.
                tr
                  td    maxlength
                  td Makes the element require a given maxmimum length.
                tr
                  td  rangelength
                  td  Makes the element require a given value range.
                tr
                  td   min
                  td   Makes the element require a given minimum.
                tr
                  td    max
                  td  Makes the element require a given maximum.
                tr
                  td  range
                  td  Makes the element require a given value range.
                tr
                  td  email
                  td  Makes the element require a valid email
                tr
                  td   url
                  td   Makes the element require a valid url
                tr
                  td    date
                  td  Makes the element require a date.
                tr
                  td  dateISO
                  td  Makes the element require an ISO date.
                tr
                  td  number
                  td  Makes the element require a decimal number.
                tr
                  td  digits
                  td   Makes the element require digits only.
                tr
                  td  creditcard
                  td  Makes the element require a credit card number.
                tr
                  td  equalTo
                  td  Requires the element to be the same as another one
  
