extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/api') Example APIs
            li.active
              span  Lob API 
        h3
          i.fa.fa-bitcoin
          | BitGo API    
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            .btn-group.btn-group-justified
              a.btn.btn-primary(href='https://test.bitgo.com/', target='_blank')
                i.fa.fa-check-square-o
                | BitGo Test Env
              a.btn.btn-primary(href='https://test.bitgo.com/api', target='_blank')
                i.fa.fa-code
                | API Documentation
              a.btn.btn-primary(href='https://test.bitgo.com/api/#access-tokens', target='_blank')
                i.fa.fa-gear
                | Access Tokens
            br
            h3 Wallet Information
            table.table.table-striped.table-bordered
              thead
                tr
                  th Param
                  th Value
              tbody
                for walletParam in ['id', 'label', 'permissions', 'balance', 'confirmedBalance', 'unconfirmedSends', 'unconfirmedReceives']
                  tr
                    td= walletParam
                    td= wallet[walletParam]
          
            h3 New Receive Address
            p
              = address
              a(href='http://tpfaucet.appspot.com', target='_blank')
                |  (Get coins from TestNet faucet)
          
            h3 Wallet Transactions
            table.table.table-striped.table-bordered
              thead
                tr
                  th Date
                  th Transaction ID / Hash
                  th Confirms
                  th Entries
              tbody
                for transaction in transactions
                  tr
                    td= transaction.date
                    td
                      a(href='http://tbtc.blockr.io/tx/info/'+transaction.id, target='_blank')
                        = transaction.id
                    td= transaction.confirmations
                    td
                      ul
                        for entry in transaction.entries
                          if entry.account == wallet.id
                            b
                              li #{entry.account}: #{entry.value}
                          else
                            li #{entry.account}: #{entry.value}
          
          
            br
            h3 Send coins from wallet
            p
              form(role='form', method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                  label.control-label Bitcoin Address
                  input.form-control(type='text', name='address', autofocus)
                .form-group
                  label.control-label Amount in Satoshis
                  input.form-control(type='text', name='amount')
                button.btn.btn-default(type='submit')
                  i.fa.fa-location-arrow
                  | Send Bitcoin