extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/api') Example APIs
            li.active
              span Clockwork SMS API
        h3
          i.fa.fa-phone
          | Clockwork SMS API
          
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
              
              
          
            .btn-group.btn-group-justified
              a.btn.btn-primary(href='http://github.com/mediaburst/node-clockwork', target='_blank')
                i.fa.fa-check-square-o
                | Clockwork Node
              a.btn.btn-primary(href='http://www.clockworksms.com/doc/clever-stuff/xml-interface/send-sms/', target='_blank')
                i.fa.fa-code-fork
                | XML API
          
            h4 Send a text message
            .row
              .col-sm-6
                form(role='form', method='POST')
                  input(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                    .input-group
                      input.form-control(type='text', name='telephone', placeholder='Phone Number (international format)')
                      span.input-group-btn
                        button.btn.btn-success(type='submit') Send