extends ../../../layouts/dashboard_layout

block content
  .page-header
    h2
      i.fa.fa-foursquare
      | Foursquare API
  
  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://developer.foursquare.com/start', target='_blank')
      i.fa.fa-check-square-o
      | Getting Started
    a.btn.btn-primary(href='https://developer.foursquare.com/docs/explore', target='_blank')
      i.fa.fa-laptop
      | API Console
    a.btn.btn-primary(href='https://developer.foursquare.com/docs/', target='_blank')
      i.fa.fa-code-fork
      | API Endpoints
  h3.text-primary Trending Venues
  table.table.table-striped.table-bordered
    thead
      tr
        th Name
        th.hidden-xs.hidden-sm Category
        th.hidden-xs Checkins
        th Here Now
    tbody
      for venue in trendingVenues.venues
        tr
          td= venue.name
          td.hidden-xs.hidden-sm #{venue.categories[0].name}
          td.hidden-xs #{venue.stats.checkinsCount}
          td= venue.hereNow.count
  br
  h3.text-primary Venue Detail
  p
    img(src='#{venueDetail.venue.photos.groups[0].items[0].prefix}150x150#{venueDetail.venue.photos.groups[0].items[0].suffix}')

  .label.label-primary #{venueDetail.venue.name} (#{venueDetail.venue.categories[0].shortName})
  .label.label-success #{venueDetail.venue.location.address}, #{venueDetail.venue.location.city}, #{venueDetail.venue.location.state}
  .label.label-warning #{venueDetail.venue.likes.count} likes, #{venueDetail.venue.rating} rating

  h3.text-primary User Checkins
  table.table.table-bordered.table-hover
    thead
      tr
        th Name
        th Location
        th Category
        th Checkins
    tbody
      for checkin in userCheckins.checkins.items
        tr
          td= checkin.venue.name
          td #{checkin.venue.location.address}, #{checkin.venue.location.city}, #{checkin.venue.location.state}
          td= checkin.venue.categories[0].shortName
          td= checkin.venue.stats.checkinsCount