extends ../../../layouts/dashboard_layout
block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') App
            li.active
              span Example APIs
        h2.font-light.m-b-xs
          | Example APIs
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            .row
              .col-sm-4
                a(href='/api/github', style='color: #fff !important')
                  .panel.panel-default
                    .panel-body(style='background-color: #000 !important;')
                      img(src='https://i.imgur.com/2AaBlpf.png', height=40)
                      |  GitHub
              .col-sm-4
                a(href='/api/twitter', style='color: #fff !important')
                  .panel
                    .panel-body(style='background-color: #00abf0 !important')
                      img(src='https://i.imgur.com/EYA2FO1.png', height=40)
                      |  Twitter
              .col-sm-4
                a(href='/api/facebook', style='color: #fff')
                  .panel
                    .panel-body(style='background-color: #3b5998 !important')
                      img(src='https://i.imgur.com/jiztYCH.png', height=40)
                      |  Facebook
              .col-sm-4
                a(href='/api/foursquare', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #1cafec')
                      img(src='https://i.imgur.com/PixH9li.png', height=40)
                      |  Foursquare
              .col-sm-4
                a(href='/api/instagram', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #947563')
                      img(src='https://i.imgur.com/aRc6LUJ.png', height=40)
                      |  Instagram
              .col-sm-4
                a(href='/api/lastfm', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #d21309')
                      img(src='https://i.imgur.com/KfZY876.png', height=40)
                      |  Last.fm
              .col-sm-4
                a(href='/api/linkedin', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #007bb6')
                      img(src='https://i.imgur.com/sYmVWAw.png', height=40)
                      |  LinkedIn
              .col-sm-4
                a(href='/api/nyt', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #454442')
                      img(src='https://i.imgur.com/e3sjmYj.png', height=40)
                      |  New York Times
              .col-sm-4
                a(href='/api/steam', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #000')
                      img(src='https://i.imgur.com/1xGmKBX.jpg', height=40)
                      |  Steam
              .col-sm-4
                a(href='/api/stripe', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #3da8e5')
                      img(src='https://i.imgur.com/w3s2RvW.png', height=40)
                      |  Stripe
              .col-sm-4
                a(href='/api/paypal', style='color: #000')
                  .panel.panel-default
                    .panel-body(style='background-color: #f5f5f5')
                      img(src='https://i.imgur.com/JNc0iaX.png', height=40)
                      |  PayPal
              .col-sm-4
                a(href='/api/twilio', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #fd0404')
                      img(src='https://i.imgur.com/mEUd6zM.png', height=40)
                      |  Twilio
              .col-sm-4
                a(href='/api/tumblr', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #304e6c')
                      img(src='https://i.imgur.com/rZGQShS.png', height=40)
                      |  Tumblr
              .col-sm-4
                a(href='/api/scraping', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #ff6500')
                      img(src='https://i.imgur.com/RGCVvyR.png', height=40)
                      |  Web Scraping
              .col-sm-4
                a(href='/api/venmo', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #1f93cf')
                      img(src='https://i.imgur.com/90tl9C8.gif', height=40)
                      |  Venmo
              .col-sm-4
                a(href='/api/yahoo', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #3d048b')
                      img(src='https://i.imgur.com/Cl6WJAu.png', height=40)
                      |  Yahoo
              .col-sm-4
                a(href='/api/clockwork', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #000')
                      img(src='https://i.imgur.com/YcdxZ5F.png', height=40)
                      |  Clockwork SMS
              .col-sm-4
                a(href='/api/aviary', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background: linear-gradient(to bottom, #1f3d95 0%,#04aade 100%)')
                      img(src='https://i.imgur.com/npBRwMI.png', height=40)
                      |  Aviary
              .col-sm-4
                a(href='/api/lob', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #176992')
                      img(src='https://i.imgur.com/bmgfsSg.png', height=40)
                      |  Lob
              .col-sm-4
                a(href='/api/bitgo', style='color: #fff')
                  .panel.panel-default
                    .panel-body(style='background-color: #142834')
                      img(src='https://i.imgur.com/v753soI.png', height=40)
                      |  BitGo