extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/api') Example APIs
            li.active
              span  Lob API 
        h3
          i.fa.fa-envelope
          | Lob API     
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
    
            .btn-group.btn-group-justified
              a.btn.btn-primary(href='https://lob.com/docs')
                i.fa.fa-check-square-o
                | API Documentation 
              a.btn.btn-primary(href='https://github.com/lob/lob-node', target='_blank')
                i.fa.fa-code
                | Lob Node Docs
              a.btn.btn-primary(href='https://dashboard.lob.com/register', target='_blank')
                i.fa.fa-gear
                | Create API Account
            br
            h3 Delivery routes in 10007
            table.table.table-striped.table-bordered
              thead
                tr
                  th Route
                  th # of Residential Addresses
                  th # of Business Addresses
              tbody
                for route in routes
                  tr
                    td= route.route
                    td= route.residential
                    td= route.business
