extends ../../../layouts/dashboard_layout

block content
  .page-header
    h2
      i.fa.fa-steam-square
      | Steam Web API
  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://developer.valvesoftware.com/wiki/Steam_Web_API', target='_blank')
      i.fa.fa-check-square-o
      | API Overview

  br

  .alert.alert-info
    h4 Steam ID
    p Displaying public information for Steam ID: #{playerSummary.steamid}.

  h3 Profile Information
  .row
    .col-sm-2
      img(src='#{playerSummary.avatarfull}', width='92', height='92')
    .col-sm-8
      span.lead #{playerSummary.personaname}
      div Account since: #{new Date(playerSummary.timecreated * 1000)}
      div Last Online: #{new Date(playerSummary.lastlogoff * 1000)}
      div Online Status:
        if playerSummary.personastate == 1
          strong.text-success  Online
        else
          strong.text-danger  Offline

  h3 #{playerAchievemments.gameName} Achievements
  ul.lead.list-unstyled
    for achievement in playerAchievemments.achievements
      if achievement.achieved
        li.text-success= achievement.name

  h3 Owned Games
  for game in ownedGames
    a(href='http://store.steampowered.com/app/#{game.appid}/')
      img.thumbnail(src='http://media.steampowered.com/steamcommunity/public/images/apps/#{game.appid}/#{game.img_logo_url}.jpg' width=92)