#right-sidebar.animated.fadeInRight
        .p-m
          button#sidebar-close.right-sidebar-toggle.sidebar-button.btn.btn-default.m-b-md
            i.pe.pe-7s-close
          div
            span.font-bold.no-margins  Analytics 
            br
            small  Lorem Ipsum is simply dummy text of the printing simply all dummy text.
          .row.m-t-sm.m-b-sm
            .col-lg-6
              h3.no-margins.font-extra-bold.text-success 300,102
              .font-bold
                | 98% 
                i.fa.fa-level-up.text-success
            .col-lg-6
              h3.no-margins.font-extra-bold.text-success 280,200
              .font-bold
                | 98% 
                i.fa.fa-level-up.text-success
          .progress.m-t-xs.full.progress-small
            .progress-bar.progress-bar-success(style='width: 25%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='25', role='progressbar')
              span.sr-only 35% Complete (success)
        .p-m.bg-light.border-bottom.border-top
          span.font-bold.no-margins  Social talks 
          br
          small  Lorem Ipsum is simply dummy text of the printing simply all dummy text.
          .m-t-md
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='/images/a1.jpg', alt='profile-picture')
                .media-body
                  span.font-bold John Novak
                  small.text-muted 21.03.2015
                  .social-content.small
                    | Injected humour, or randomised words which don't look even slightly believable.
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='/images/a3.jpg', alt='profile-picture')
                .media-body
                  span.font-bold Mark Smith
                  small.text-muted 14.04.2015
                  .social-content
                    | Many desktop publishing packages and web page editors.
            .social-talk
              .media.social-profile.clearfix
                a.pull-left
                  img(src='/images/a4.jpg', alt='profile-picture')
                .media-body
                  span.font-bold Marica Morgan
                  small.text-muted 21.03.2015
                  .social-content
                    | There are many variations of passages of Lorem Ipsum available, but the majority have
        .p-m
          span.font-bold.no-margins  Sales in last week 
          .m-t-xs
            .row
              .col-xs-6
                small Today
                h4.m-t-xs
                  | $170,20 
                  i.fa.fa-level-up.text-success
              .col-xs-6
                small Last week
                h4.m-t-xs
                  | $580,90 
                  i.fa.fa-level-up.text-success
            .row
              .col-xs-6
                small Today
                h4.m-t-xs
                  | $620,20 
                  i.fa.fa-level-up.text-success
              .col-xs-6
                small Last week
                h4.m-t-xs
                  | $140,70 
                  i.fa.fa-level-up.text-success
          small
            | Lorem Ipsum is simply dummy text of the printing simply all dummy text.
            | Many desktop publishing packages and web page editors.