.splash
  .color-line
  .splash-title
    h1 Homer - Responsive Admin Theme
    p
      | Special AngularJS Admin Theme for small and medium webapp with very clean and aesthetic style and feel.
    img(src='/images/loading-bars.svg', width='64', height='64')
//if lt IE 7
  p.alert.alert-danger
    | You are using an 
    strong outdated
    |  browser. Please 
    a(href='http://browsehappy.com/') upgrade your browser
    |  to improve your experience.