extends ../../../layouts/dashboard_layout

block styles
  link(rel='stylesheet', href='../vendor/datatables_plugins/integration/bootstrap/3/dataTables.bootstrap.css')

block scripts
  script(type='text/javascript', src='/vendor/datatables/media/js/jquery.dataTables.min.js')
  script(type='text/javascript', src='/vendor/datatables_plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')
  script(type='text/javascript').
    $(function() {
    $('#example2').dataTable();
    });


block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li.active
              span Manage Users
        h2.font-light.m-b-xs
          | Manage Users
        small Select a user.
  .content.animate-panel
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
            |                     Find Users
          .panel-body
            .table-responsive
              table#example2.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th Name
                    th Email
                    th Role
                    th Locked Out
                    th Action
                tbody
                  each existingUser in users
                    tr
                      td #{existingUser.profile.name}
                      td #{existingUser.email}
                      td #{existingUser.role}
                      td #{existingUser.isLockedOut}
                      td 
                        // form(method="post", action="../../../../root/start_impersonation")
                        //   input(type='hidden', name='_csrf', value=_csrf)
                        //   input(type='hidden', name='userId', value=existingUser.id)
                        //   button.btn.btn-default(type="submit", value="Impersonate") Impersonate
                        
                        a.btn.btn-default(href="/root/start_impersonation/#{existingUser.id}")
                          | Impersonate  
                        | &nbsp; &nbsp; 
                        a.btn.btn-primary(href="/root/manage_user/#{existingUser.id}")
                          | Edit  
                    