extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/manage_users') Manage Users
            li.active
              a(href='/root/manage_user/#{theUser.id}') Edit User
            li.active
              span Lock Out User
        h2.font-light.m-b-xs
          | Lock Out User
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
            |                     Current User: #{theUser.profile.name || "n/a" }
          .panel-body
            h3 Please verify that you want lock out the user: #{theUser.email}. Doing so will prevent this user from signing in.
                form.form-horizontal(method='post',action='../../../../root/lock_out')
                  input(type='hidden', name='_csrf', value=_csrf)
                  input(type='hidden', name='id', value=theUser.id)
                  .hr-line-dashed
                  if theUser.role == 'webmaster'
                    p Please enter code to lock out user
                      input.form-control(type='text', name='removeWebmasterCode')
                  .form-group
                    .col-sm-8.col-sm-offset-2
                      a(href="/root/manage_user/#{theUser.id}").btn.btn-default Cancel 
                      &nbsp;&nbsp;
                      button.btn.btn-primary(type='submit') Yes I want to lock out user
    
      
