extends ../../../layouts/dashboard_layout


block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/manage_users') Manage Users
            li.active
              span Edit User
        h2.font-light.m-b-xs
          | Manage User
  .content.animate-panel
    .row
      .col-lg-12
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
            |                     Edit This User: #{theUser.profile.name}
          .panel-body
            .container-fluid
              .row
                .col-md-6
                  div 
                    span Name: &nbsp; &nbsp; #{theUser.profile.name || "n/a" }
                  div 
                    span Email: &nbsp; &nbsp; #{theUser.email}
                .col-md-6
                  div 
                    span Gender: &nbsp; &nbsp; #{theUser.profile.gender || "n/a" }
                  div 
                    span Location: &nbsp; &nbsp; #{theUser.profile.location || "n/a" }
                    
              form(method='post', action="../../../root/manage_user")
                input(type='hidden', name='_csrf', value=_csrf)
                input(type='hidden', name='userId', value=theUser.id)
                .row
                  .col-md-12
                    .hr-line-dashed
                    div 
                      h3 Role:
                    if theUser.role != 'webmaster'
                      select.form-control.m-b(name='role')
                        option(selected=selectedRole == 'Admin') Admin
                        option(selected=selectedRole == 'Manager') Manager
                        option(selected=selectedRole=='Worker') Worker
                        option(selected=selectedRole=='User') User
                    else
                      span You can not change a webmaster role.  
                    .hr-line-dashed
                    h3 keys:
                    .row
                      if keys.length > 0
                        if theUser.role != 'webmaster' || user.role == 'webmaster'
                          each key in keys
                            .col-md-6
                              .checkbox
                                label
                                  input.i-checks(type="checkbox",name="#{key.name}",value="#{key.name}", checked=key.check || false)
                                  | &nbsp; &nbsp; #{key.name}
                        else
                          .col-md-12
                            span You can not change a webmaster keys.
                      else
                        .col-md-12
                          | There are no keys to assign 
                    if user.role == 'webmaster'
                      .hr-line-dashed
                      h3 Webmaster keys:
                      .row
                        if webmaster_keys.length > 0
                            each key in webmaster_keys
                              .col-md-6
                                .checkbox
                                  label
                                    input.i-checks(type="checkbox",name="#{key.name}",value="#{key.name}", checked=key.check || false)
                                    | &nbsp; &nbsp; #{key.name}
                          else
                            .col-md-12
                              | There are no keys to assign 
                    .hr-line-dashed
                    button.btn.btn-primary Save
      if theUser.role != 'webmaster'
        if user.role == 'webmaster'          
          .col-lg-12
            .hpanel.hgreen
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                |                     Make Webmaster: #{theUser.profile.name}
              .panel-body
                .container-fluid
                  .row
                    .col-lg-12
                      h3 Pressing this button will turn this user into a webmaster
                      a.btn.btn-warning(href="/root/make_webmaster/#{theUser.id}") Make This User A Webmaster
      
      if theUser.role != 'webmaster' || user.role == 'webmaster'
        .col-lg-12
          .hpanel.hgreen
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
              |                     Lock Out This User: #{theUser.profile.name}
            .panel-body
              .container-fluid
                .row
                  .col-lg-12
                    h3 Pressing this button will prevent user from signing into their account
                    a.btn.btn-danger(href='/root/lock_out/#{theUser.id}') Lock Out User
        