extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li.active
              span Manage Invoices
        h2.font-light.m-b-xs
          | Manage Invoices
  .content.animate-panel(ng-app="app" ng-controller='main')
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            .table-responsive
                table#example2.table.table-striped.table-bordered.table-hover
                    thead
                      tr
                        th Name
                        th Currently Enrolled
                        th Has Pass Due
                        th Invoice Issues
                        th Action
                    tbody
                      each existingCompany in companies
                        tr
                          td #{existingCompany.company_name}
                          td #{existingCompany.company_isActive}
                          td #{existingCompany.pastDueInvoiceIds > 0}
                          td #{existingCompany.pastInvoices > 0}
                          td 
                            a.btn.btn-default(href="/root/payment?id=#{existingCompany.id}") Edit
           