extends ../../../layouts/dashboard_layout


block scripts
  script(src='../vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js')
  script(src="/boiler-tech/projects/root/payment/scripts/create.js")
  script(type='text/javascript').
    var invoiceItems = JSON.parse('!{invoiceItems}');
    for(var i = 0; i < invoiceItems.length; i ++){
      items.push(invoiceItems[i]);
    }
    loadItems();
  -function prettyDate(dateString){
    -var date = new Date(dateString);
    -var d = date.getDate();
    -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -return d+' '+m+' '+y;
  -}
  -function prettyDateFormat(date){
    -return date.getMonth() + '/' + date.getDate() + '/' + date.getFullYear();
  -}
block styles
  link(rel='stylesheet', href='../vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css')

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/payments') Manage Invoices
            li.active
              span #{company.company_name}
        h2.font-light.m-b-xs
          | Manage Invoice: #{company.company_name}
  .content.animate-panel(ng-app="app" ng-controller='main')
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
                         
            .hpanel.form-horizontal
              ul.nav.nav-tabs
                li.active
                  a(data-toggle='tab', href='#tab-1') Current Invoice
                li
                  a(data-toggle='tab', href='#tab-2') Previous Invoices
                li
                  a(data-toggle='tab', href='#tab-3') Invoice Issues
                li
                  a(data-toggle='tab', href='#tab-4') Additional Info
              .tab-content
                #tab-1.tab-pane.active
                  .panel-body
                    if invoice == null
                      .alert.alert-warning This company doesn't have an invoice
                      br
                      if company.stripe.plan == "autopay"
                        a.btn.btn-success(href="/root/create_invoice?id=#{company.id}") Create new invoice for this company.
                    else
                      form(action="/root/change_invoice" method="POST")
                        .row.well
                          h5 Close this invoice
                          a.btn.btn-warning(href="/root/end_invoice?id=#{company.id}") Close
                        .form-group
                          label.col-sm-2.control-label Invoice Id
                          .col-sm-9
                            .control-label.pull-left #{invoice.id}
                        .form-group
                          label.col-sm-2.control-label Changes
                          .col-sm-9
                            .control-label.pull-left #{invoice.changes} version(s)
                        h4(style="color:green;")
                          | Invoice Dates
                        .hr-line-dashed
                        .form-group
                          label.col-sm-2.control-label Due Date
                          .col-sm-10
                            #datetimepicker1.input-group.date
                              span.input-group-addon
                                span.fa.fa-calendar
                              input.form-control(type='text' name="invoice_dueDate" value="#{invoice.dueDate}")
                        .form-group
                          label.col-sm-2.control-label Statement Date
                          .col-sm-10
                            #datetimepicker1.input-group.date
                              span.input-group-addon
                                span.fa.fa-calendar
                              input.form-control(type='text' name="invoice_statement_date" value="#{invoice.statement_date}")
                        .form-group
                          label.col-sm-2.control-label Service Start Date
                          .col-sm-10
                            #datetimepicker1.input-group.date
                              span.input-group-addon
                                span.fa.fa-calendar
                              input.form-control(type='text' name="invoice_service_period_start" value="#{invoice.service_period_start}")
                        .form-group
                          label.col-sm-2.control-label Service End Date
                          .col-sm-10
                            #datetimepicker1.input-group.date
                              span.input-group-addon
                                span.fa.fa-calendar
                              input.form-control(type='text' name="invoice_service_period_end" value="#{invoice.service_period_end}")
                        
                        br
                        h4(style="color:green;")
                          | Invoice Items
                        .hr-line-dashed
                        .alert.alert-info
                          .form-group
                            label.col-sm-2.control-label Name
                            .col-sm-9
                              input.form-control(type="text" id="itemName")
          
                          .form-group
                            label.col-sm-2.control-label Price
                            .col-sm-9
                              input.form-control(type="number" id="itemPrice")
                            
                          .form-group
                            label.col-sm-2.control-label Quantity
                            .col-sm-9
                              input.form-control(type="number" id="itemQuantity")
                            
                          .form-group
                            label.col-sm-2.control-label
                            .col-sm-9
                              .btn.btn-success(onclick="addItem()") Add Item
                        br      
                        .table-responsive
                          table#example2.table.table-striped.table-bordered.table-hover
                              thead
                                tr
                                  th Name
                                  th Price
                                  th Quantity
                                  th 
                              tbody#itemTable
                                
                        br
                        .form-group
                          label.col-sm-2.control-label
                            input(type="hidden" name="companyId" value="#{company.id}")
                            input(type='hidden' name='_csrf' value='#{_csrf}')
                            button.btn.btn-primary(type="submit") Update Invoice  
                #tab-2.tab-pane
                  .panel-body
                    if !company.pastInvoices&& company.pastInvoices.length == 0
                      .alert.alert-warning This company doesn't have any previous invoices.
                    else
                      .table-responsive
                        table.table.table-striped
                          thead
                            tr
                              th Invoice 
                                // th Reciept
                              th Status
                              th Payed On
                              th Service Start Date
                              th Service End Date
                              th Invoice #
                          tbody
                            each pastInvoice in company.pastInvoices
                              tr
                                th
                                  a(href="#" style="color:blue; text-decoration:underline;") Invoice
                                  // th 
                                  //   a(href="#" style="color:blue; text-decoration:underline;") Reciept
                                th #{pastInvoice.invoiceStatus}
                                if pastInvoice.payedOnDate
                                  th #{prettyDateFormat(pastInvoice.payedOnDate)}
                                else
                                  th 
                                th #{pastInvoice.service_period_start}
                                th #{pastInvoice.service_period_end}
                                th #{pastInvoice.invoiceId}
                #tab-3.tab-pane
                  .panel-body
                    if !company || (invoice && !invoice.invoiceIssueId) || !invoiceIssue
                      .alert.alert-warning This company doesn't have any issues with their current invoices.
                    else
                      .social-talk
                        .media.social-profile.clearfix
                          a.pull-left
                            img.img-circle.img-responsive.m-b(src='/app/images?id=#{invoiceIssue.mainMessage.user && invoiceIssue.mainMessage.user.profile.picture ? invoiceIssue.mainMessage.user.profile.picture : "default.png"}' alt='logo' style="width: 32px; height: 32px; ")
                          .media-body
                            h5 #{invoiceIssue.mainMessage.user ? invoiceIssue.mainMessage.user.profile.name : "Anonymous"}
                            small.text-muted #{prettyDate(invoiceIssue.mainMessage.timestamp)}
                      .social-content.m-t-md
                        |  #{invoiceIssue.mainMessage.message}
                        br
                        br
                      .panel-footer
                        each convo in invoiceIssue.messages
                          .social-talk
                            .media.social-profile.clearfix
                              a.pull-left
                                img.img-circle.img-responsive.m-b(src='/app/images?id=#{convo.user && convo.user.profile.picture ? convo.user.profile.picture : "default.png"}' alt='logo' style="width: 32px; height: 32px; ")
          
                              .media-body
                                span.font-bold #{convo.user ? convo.user.profile.name : "Anonymous"}
                                small.text-muted  #{ prettyDate(convo.timestamp)}
                                .social-content
                                  | #{convo.message}
                        
                        form.social-form(method="POST" action="../../../../root/invoice_issues")
                          input(type="hidden" name="invoiceIssueId" value="#{invoiceIssue.id}")
                          input(type="hidden" name="companyId" value="#{company.id}")
                          input(type="hidden" name="invoiceId" value="#{invoice.id}")
                          input(type='hidden' name='_csrf' value='#{_csrf}')
                          input.form-control(placeholder='Your comment' name="message")
      
                #tab-4.tab-pane
                  .panel-body
                      h4(style="color:green;")
                        | Payment Info
                      .hr-line-dashed
                      .form-group
                        label.col-sm-3.control-label Status:
                        .col-sm-9
                          .control-label.pull-left 
                            if company.stripe && company.stripe.plan == 'autopay'
                              span(style="color: green;") Active
                            else
                              span(style="color: red;") Not Active
                      if company.stripe && company.stripe.last4
                        .form-group
                          label.col-sm-3.control-label Current card last 4:
                          .col-sm-9
                            .control-label.pull-left #{company.stripe.last4}
                      if company.chargeDate
                        .form-group
                          label.col-sm-3.control-label Day of month your changed:
                          .col-sm-9
                            .control-label.pull-left #{company.chargeDate}
                      if company.sendInvoiceDate 
                        .form-group
                          label.col-sm-3.control-label Day of month invoice is sent:
                          .col-sm-9
                            .control-label.pull-left #{company.sendInvoiceDate}
                       br
                      h4(style="color:green;")
                        | Company Info
                      .hr-line-dashed
                      .form-group
                        label.col-sm-2.control-label Url:
                        .col-sm-10
                          .control-label.pull-left #{company.company_url}
                      .form-group
                        label.col-sm-2.control-label Name:
                        .col-sm-10
                          .control-label.pull-left #{company.company_name}
                      .form-group
                        label.col-sm-2.control-label Address Line 1:
                        .col-sm-10
                          .control-label.pull-left #{company.company_address1}
                      .form-group
                        label.col-sm-2.control-label Address Line 2:
                        .col-sm-10
                          .control-label.pull-left #{company.company_address2}
                      .form-group
                        label.col-sm-2.control-label City:
                        .col-sm-10
                          .control-label.pull-left #{company.company_city}
                      .form-group
                        label.col-sm-2.control-label State:
                        .col-sm-10
                          .control-label.pull-left #{company.company_state}
                      .form-group
                        label.col-sm-2.control-label Zip:
                        .col-sm-10
                          .control-label.pull-left #{company.company_zip}
                      .form-group
                        label.col-sm-2.control-label Email:
                        .col-sm-10
                          .control-label.pull-left #{company.company_email}
                      .form-group
                        label.col-sm-2.control-label Phone:
                        .col-sm-10
                          .control-label.pull-left #{company.company_phone}
            