extends ../../../layouts/dashboard_layout

block scripts
    script(src="/boiler-tech/projects/root/notifications/scripts/sendNotifications.js")

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li.active
              span Send Notifications
        h2.font-light.m-b-xs
          | Send Notifications
  .content.animate-panel
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
          
            .form-horizontal
                .form-group
                    label.col-sm-3.control-label Type
                    .col-sm-7
                      select#typeOptions(class="form-control" onchange="typeOnChange()")
                        option All Users
                        option Selected Users
                            
                .hr-line-dashed
                #selectedUsersView
                    .form-group
                        label.col-sm-4.control-label Select User
                        .col-sm-5
                            select#selectedUsersOptions(class="form-control")
                                each theUser in users
                                    option #{theUser.email}
                                
                        .col-sm-2
                            .btn.btn-success(onclick="addUser()") Add User
                    .form-group
                        label.col-sm-4.control-label
                        .col-sm-5#selectedUsersList
                            
                    .hr-line-dashed  
                .form-group
                    label.col-sm-3.control-label Message
                    .col-sm-7
                      input(type="text" class="form-control" id="notificationsMessage")
                .form-group
                    label.col-sm-3.control-label Link
                    .col-sm-7
                      input(type="text" class="form-control" id="notificationsUrl")
                .form-group
                    .col-sm-3
                    .col-sm-1
                        #submitNotification.btn.btn-primary(onclick="submitNotification()") Send
                    #sentResult.col-sm-6