extends ../../../layouts/dashboard_layout
block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/app/index') App
            li.active
              span Account
        h2.font-light.m-b-xs
          | Account
        small Manage your account.
  .content.animate-panel
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
            |                     Basic Information
          .panel-body
            form.form-horizontal(action='/account/profile', method='POST' enctype="multipart/form-data")
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                label.col-sm-3.control-label(for='email') Email
                .col-sm-7
                  input.form-control(type='email', name='email', id='email', value='#{user.email}')
              .form-group
                label.col-sm-3.control-label(for='name') Name
                .col-sm-7
                  input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
              .form-group
                label.col-sm-3.control-label(for='gender') Gender
                .col-sm-4
                  label.radio.col-sm-4
                    input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
                    span Male
                  label.radio.col-sm-4
                    input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
                    span Female
              .form-group
                label.col-sm-3.control-label(for='location') Location
                .col-sm-7
                  input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
              .form-group
                label.col-sm-3.control-label(for='website') Website
                .col-sm-7
                  input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
              .form-group
                label.col-sm-3.control-label(for='gravatar') Picture
                .col-sm-4
                  img(src='/app/images?id=#{user.profile.picture ? user.profile.picture : "default.png"}' class='profile', width='100', height='100')
              .form-group
                .col-sm-offset-3.col-sm-4
                  input.btn.btn-default(type="file" name="avatar")
              .form-group
                .col-sm-offset-3.col-sm-4
                  button.btn.btn.btn-primary(type='submit')
                    i.fa.fa-pencilr
                    | Update Profile
        .hpanel.hgreen
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                |                     Change Password
              .panel-body
                form.form-horizontal(action='/account/password', method='POST')
                  input(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                    label.col-sm-3.control-label(for='password') New Password
                    .col-sm-7
                      input.form-control(type='password', name='password', id='password')
                  .form-group
                    label.col-sm-3.control-label(for='confirmPassword') Confirm New Password
                    .col-sm-7
                      input.form-control(type='password', name='confirmPassword', id='confirmPassword')
                  .form-group
                    .col-sm-offset-3.col-sm-4
                      button.btn.btn-primary(type='submit')
                        i.fa.fa-lock
                        | &nbsp; Change Password
        
        .hpanel.hgreen
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                |                     Linked Accounts
              .panel-body
                .form-horizontal
                  .form-group
                    .col-sm-offset-1.col-sm-10
                      if user.instagram
                        p: a.text-danger(href='/account/unlink/instagram') Unlink your Instagram account
                      else
                        p: a(href='/auth/instagram') Link your Instagram account
                    .col-sm-offset-1.col-sm-10
                      if user.google
                        p: a.text-danger(href='/account/unlink/google') Unlink your Google account
                      else
                        p: a(href='/auth/google') Link your Google account
                    .col-sm-offset-1.col-sm-10
                      if user.facebook
                        p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
                      else
                        p: a(href='/auth/facebook') Link your Facebook account
                    .col-sm-offset-1.col-sm-10
                      if user.twitter
                        p: a.text-danger(href='/account/unlink/twitter') Unlink your Twitter account
                      else
                        p: a(href='/auth/twitter') Link your Twitter account
                    .col-sm-offset-1.col-sm-10
                      if user.github
                        p: a.text-danger(href='/account/unlink/github') Unlink your GitHub account
                      else
                        p: a(href='/auth/github') Link your GitHub account
                    .col-sm-offset-1.col-sm-10
                      if user.linkedin
                        p: a.text-danger(href='/account/unlink/linkedin') Unlink your LinkedIn account
                      else
                        p: a(href='/auth/linkedin') Link your LinkedIn account
                
        .hpanel.hred
              .panel-heading
                .panel-tools
                  a.showhide
                    i.fa.fa-chevron-up
                |                     Disable Account
              .panel-body
                form.form-horizontal(action='/account/delete', method='POST')
                  .form-group
                    p.col-sm-offset-1.col-sm-10 You can disable your account. You can always re-enbling your account by logging in.
                    input(type='hidden', name='_csrf', value=_csrf)
                    .col-sm-offset-1.col-sm-10
                      button.btn.btn-danger(type='submit')
                        i.fa.fa-hand-stop-o
                        | &nbsp; Disable my account
      

