extends ../../../layouts/account_layout

block content
  .register-container
    .row
      .col-md-12
        .text-center.m-b-md
          h3 Registration
          small
            | Full suported AngularJS WebApp/Admin template with very clean and aesthetic style prepared for your next app.
        .hpanel
          .panel-body
            include ../../../layouts/partials/account/flash
            form#loginForm(method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              .row
                // .form-group.col-lg-12
                //   label Username
                //   input.form-control(type='username', value='', id='username', name='username', autofocus)
                
                .form-group.col-lg-6
                  label Email Address
                  input.form-control(type='email', value='', id='email', name='email')
                .form-group.col-lg-6
                  label Repeat Email Address
                  input.form-control(type='', value='', id='', name='')
                .form-group.col-lg-6
                  label Password
                  input.form-control(type='password', value='', id='password', name='password', placeholder="********")
                  //input.form-control(type='password', name='password', id='password', placeholder='Password')
                .form-group.col-lg-6
                  label Repeat Password
                  input.form-control(type='password', value='', id='confirmPassword', name='confirmPassword', placeholder="********")
                .checkbox.col-lg-12
                  input.i-checks(type='checkbox', checked='')
                  |                                 Sigh up for our newsletter
              .text-center
                button.btn.btn-success Register
                button.btn.btn-default Cancel
    .row
      .col-md-12.text-center
        strong HOMER
        |  - AngularJS Responsive WebApp 
        br
        |  2015 Copyright Company Name

// extends ../layout

// block content
//   .page-header
//     h3 Sign up
//   form.form-horizontal(id='signup-form', method='POST')
//     input(type='hidden', name='_csrf', value=_csrf)
//     .form-group
//       label.col-sm-3.control-label(for='email') Email
//       .col-sm-7
//     .form-group
//       label.col-sm-3.control-label(for='password') Password
//       .col-sm-7
//     .form-group
//       label.col-sm-3.control-label(for='confirmPassword') Confirm Password
//       .col-sm-7
//         input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
//     .form-group
//       .col-sm-offset-3.col-sm-7
//         button.btn.btn-success(type='submit')
//           i.fa.fa-user-plus
//           | Signup
