extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/manage_keys') Manage keys
            li.active
              span New Purpose For key
        h2.font-light.m-b-xs
          | New Purpose For key
  .content.animate-panel
    .row
      .col-lg-12
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
            | Current key: #{key}
          .panel-body
            h3 You are adding a new purpose for the "#{key}" key.
            .hr-line-dashed
            form.form-horizontal(method='post',action='../../../../root/key_purpose')
              input(type='hidden', name='_csrf', value=_csrf)
              input(type='hidden', name='key', value=key)
              .form-group
                label.col-sm-2.control-label New purpose for current key:
                .col-sm-10
                  textarea.form-control(name='purpose')
              .hr-line-dashed
              .form-group
                .col-sm-8.col-sm-offset-2
                  a(href="/root/manage_keys").btn.btn-default Cancel 
                  &nbsp;&nbsp;
                  button.btn.btn-primary(type='submit') Create

  