extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li
              a(href='/root/manage_keys') Manage keys
            li.active
              span Create New key
        h2.font-light.m-b-xs
          | Create New key
  .content.animate-panel
    .row
      .col-lg-12
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
            |                     Current keys
          .panel-body
            form.form-horizontal(method='post', action='../../../../root/create_key')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                label.col-sm-2.control-label Name:
                .col-sm-10
                  input.form-control(type='text', name='name', value=name)
              .hr-line-dashed
              .form-group
                label.col-sm-2.control-label Reason for creation:
                .col-sm-10
                  textarea.form-control(name='reason')
                    | #{reason}
              .hr-line-dashed
              .form-group
                label.col-sm-2.control-label Admin can assign:
                .col-sm-10
                  input(type="checkbox", name="isAssignable",)
              .hr-line-dashed
              .form-group
                .col-sm-8.col-sm-offset-2
                  a(href="/root/manage_keys").btn.btn-default Cancel 
                  &nbsp;&nbsp;
                  button.btn.btn-primary(type='submit') Create

  