extends ../../../layouts/dashboard_layout

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/index') App
            li
              a(href='/root/manage_keys') Manage keys
            li.active
              span Assignable key
        h2.font-light.m-b-xs
          | Assignable key
  .content.animate-panel
    .row
      .col-lg-12
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-heading
            .panel-tools
              a.showhide
                i.fa.fa-chevron-up
            |                     Current key: #{key}
          .panel-body
            h3 Please verify that you want the admin(s) to see the "#{key}" key. Doing so will allow this key to be assigned.
                form.form-horizontal(method='post',action='../../../../root/key_is_assignable')
                  input(type='hidden', name='_csrf', value=_csrf)
                  input(type='hidden', name='key', value=key)
                  .hr-line-dashed
                  .form-group
                    .col-sm-8.col-sm-offset-2
                      a(href="/root/manage_keys").btn.btn-default Cancel 
                      &nbsp;&nbsp;
                      button.btn.btn-primary(type='submit') Yes I want to admin to see this key
    
      
