doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Page title
    title HOMER | WebApp admin theme
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    // Vendor styles
    link(rel='stylesheet', href='../vendor/animate.css/animate.css')
    link(rel='stylesheet', href='../vendor/bootstrap/dist/css/bootstrap.css')
    if !colors
      case site.colors
        when 'cerulean'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/cerulean.css')
        when 'cosmo'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/cosmo.css')
        when 'cyborg'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/cyborg.css')
        when 'darkly'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/darkly.css')
        when 'flatly'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/flatly.css')
        when 'journal'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/journal.css')
        when 'lumen'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/lumen.css')
        when 'paper'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/paper.css')
        when 'readable'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/readable.css')
        when 'sandstrong'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/sandstrong.css')
        when 'simplex'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/simplex.css')
        when 'spacelab'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/spacelab.css')
        when 'superhero'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/superhero.css')
        when 'united'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/united.css')
        when 'yeti'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/yeti.css')
        default
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/cerulean.css')
        
    else
      case colors
        when 'cerulean'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/cerulean.css')
        when 'cosmo'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/cosmo.css')
        when 'cyborg'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/cyborg.css')
        when 'darkly'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/darkly.css')
        when 'flatly'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/flatly.css')
        when 'journal'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/journal.css')
        when 'lumen'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/lumen.css')
        when 'paper'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/paper.css')
        when 'readable'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/readable.css')
        when 'sandstrong'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/sandstrong.css')
        when 'simplex'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/simplex.css')
        when 'spacelab'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/spacelab.css')
        when 'superhero'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/superhero.css')
        when 'united'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/united.css')
        when 'yeti'
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/yeti.css')
        default
          link(rel='stylesheet', href='../../this/projects/site/viewer/css/cerulean.css')
    link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.css')
    // App styles
    link(rel='stylesheet', href='../fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css')
    link(rel='stylesheet', href='../fonts/pe-icon-7-stroke/css/helper.css')
    style.
      .row, .form-group{
        margin: 0px;
        padding: 15px 10px;
      }
      .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }
      .carousel-control {
        position: absolute;
        top: 40%; /* pushes the icon in the middle of the height */
        z-index: 5;
        display: inline-block;
        bottom: 40%;
        border-radius: 50%;
      }
      
    
    script(src='../vendor/jquery/dist/jquery.min.js')
    script(src='../vendor/jquery-ui/jquery-ui.min.js')
    script(src='../vendor/bootstrap/dist/js/bootstrap.min.js')
  body
    .container-fluid(style="padding:0px;")
      include partial_sb_header
      case mode
        when 'top'  
          include menu_top
        when 'colors'
          include menu_colors
        default
          include menu_top
      
      include partial_sb_footer
    include ../viewer/viewer_services
    script.
      var app_mode = "#{mode}";
      var app_location = "#{location}";
      var app_colors = "#{colors}";
    script(src="/this/projects/site/builder/scripts/site-builder.js")
        // .container-fluid
        //   .row
        //     .col-sm-12
        //       .row
        //         .col-xs-2
        //           a.btn.btn-default(href='/app/dashboard') Hide
        //         .col-xs-8
        //           h2.text-center(style='font-family: "Arial Black", Gadget, sans-serif;')
        //             | Site Builder
        //         .col-xs-2
        //           a.btn.btn-danger.pull-right(href='/app/dashboard') Exit
        //   .row(style="padding:5px;background-color:SpringGreen;")
        //     .form-horizontal
        //       .form-group(style="padding-bottom: 0px;")
        //         label.col-sm-3.control-label What would you like to do?
        //         .col-sm-7
        //           select.form-control
        //             option  Something
              
        //   .row(style="background-color:black;")
        //     | &nbsp; 
        //   .row
        //     block content
      
        // Vendor scripts