doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Page title
    title #{title} - Site Builder
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    // Vendor styles
    link(rel='stylesheet', href='../vendor/animate.css/animate.css')
    link(rel='stylesheet', href='../vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.css')
    // App styles
    link(rel='stylesheet', href='../fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css')
    link(rel='stylesheet', href='../fonts/pe-icon-7-stroke/css/helper.css')
    style.
      .row, .form-group{
        margin: 0px;
        padding: 15px 10px;
      }
      .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }
      .carousel-control {
        position: absolute;
        top: 40%; /* pushes the icon in the middle of the height */
        z-index: 5;
        display: inline-block;
        bottom: 40%;
        border-radius: 50%;
      }
      
    
    script(src='../vendor/jquery/dist/jquery.min.js')
    script(src='../vendor/jquery-ui/jquery-ui.min.js')
    script(src='../vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='../vendor/knockout-3.4.0/knockout.js')
  body(style="background-color: white")
    .container-fluid(style="padding:0px;")
      .row(style="background-color:white;")
        .col-xs-2
        .col-xs-8
          h2.text-center(style='font-family: "Arial Black", Gadget, sans-serif; color:black')
            | Site Builder
        .col-xs-2
          a.btn.btn-danger.pull-right(href='/app/dashboard' style="margin: 10px;") Exit
      
      
      .row(style="background-color: green; color: white; padding: 25px 0px 25px 0px;")
        .row
          .text-center
            h3 Manage Services
      .row(style="background-color: lightgrey; color: black;")
        form(method="POST" action="/site/manage-services")
          .col-sm-12.col-md-8.col-lg-8.col-md-offset-2.col-lg-offset-2(style="background-color:white; color: black;")
                .row
                  .pull-left
                    button.btn.btn-info(style="background-color:#d3d3d3; color: black;" type="submit") Save
                  .pull-right    
                    button.btn.btn-default(type='button', data-toggle='modal', data-target='#myModal') Cancel
                    // Modal
                    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                      .modal-dialog.modal-lg(role='document')
                        .modal-content
                          .modal-body
                            include menu_top
                          .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close

                .row(style="margin:0px;padding-top: 0px;")
                  hr(style="background-color: green; min-height: 2px;margin-bottom: 0px;margin-top: 0px;")
                br
                .row.form-horizontal
                  .btn.btn-success(data-bind="click: addService") Create New Service
                  br
                  br
                  br
                  // ko if: services() && services().length > 0 
                  div(data-bind="foreach: services()") 
                    .panel-body(style="background-color:lightblue; color: black;padding-left: 2px;padding-right: 2px;")
                      .form-group(style="margin-right: 0px;")
                        label.col-sm-2.control-label Title:
                        .col-sm-10
                          input.form-control(style="border: grey 1px solid;" type="text" placeholder="Plumbing Repairs" data-bind="value: name, attr: { name: 'services[' + $index() + ']'}")
                      .form-group(style="margin-right: 0px;")
                        label.col-sm-2.control-label Description:
                        .col-sm-10
                          textarea.form-control(style="border: grey 1px solid;" rows="5" placeholder="Anything from a clogged toilet to a leaky faucet to a gas leak, we can handle it." data-bind="value: description, attr: { name: 'services[' + $index() + ']'}")
                      .row
                        .pull-right
                          .btn.btn-danger(data-bind="click: $parent.removeService") Delete Service
                    br
                  // /ko 
                  // ko if: !services() && !services().length < 1 
                  .panel-body(style="background-color:lightblue; color: black;padding-left: 2px;padding-right: 2px;")
                    .row
                      h4 Loading..
                      br 
                  // /ko 
                .row
                  .btn.btn-success(data-bind="click: addService") Create New Service
                
                
                  
                  
                br
                .row(style="margin:0px;padding-bottom: 0px;")
                  hr(style="background-color: green; min-height: 2px;margin-bottom: 0px;margin-top: 0px;")
                .row
                  .pull-left
                    input(type="hidden" name="_csrf" value="#{_csrf}")
                    button.btn.btn-info(style="background-color:#d3d3d3; color: black;" type="submit") Save
                  .pull-right    
                    button.btn.btn-default(type='button', data-toggle='modal', data-target='#myModal') Cancel
        .row
          br
  script(src="/this/projects/site/builder/scripts/menu_services.js")
  - var jsmodel = [];
  if site && site.services && site.services.length > 0
    - site.services.forEach(function(service){
      - jsmodel.push({ name: service.name, description: service.description, _id: null});
    - });
  - site.services = jsmodel;
  script(type="text/javascript").
    ko.applyBindings(new ViewModel([#{site.services}]));    
      
      
      
      
  script.
    var app_mode = "#{mode}";
    var app_location = "#{location}";
    var app_colors = "#{app_colors}";
  // script(src="/this/projects/site/builder/scripts/site-builder.js")