doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Page title
    title #{title} - Site Builder
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    // Vendor styles
    link(rel='stylesheet', href='../vendor/animate.css/animate.css')
    link(rel='stylesheet', href='../vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='../this/projects/site/viewer/css/superhero.css')
    link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.css')
    // App styles
    link(rel='stylesheet', href='../fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css')
    link(rel='stylesheet', href='../fonts/pe-icon-7-stroke/css/helper.css')
    style.
      .row, .form-group{
        margin: 0px;
        padding: 15px 10px;
      }
      .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }
      .carousel-control {
        position: absolute;
        top: 40%; /* pushes the icon in the middle of the height */
        z-index: 5;
        display: inline-block;
        bottom: 40%;
        border-radius: 50%;
      }
      
    
    script(src='../vendor/jquery/dist/jquery.min.js')
    script(src='../vendor/jquery-ui/jquery-ui.min.js')
    script(src='../vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='../vendor/knockout-3.4.0/knockout.js')
  body(style="background-color: white")
    .container-fluid(style="padding:0px;")
      .row(style="background-color:white;")
        .col-xs-2
        .col-xs-8
          h2.text-center(style='font-family: "Arial Black", Gadget, sans-serif; color:black')
            | Site Builder
        .col-xs-2
          a.btn.btn-danger.pull-right(href='/app/dashboard' style="margin: 10px;") Exit
      
      
      .row(style="background-color: green; color: white; padding: 25px 0px 25px 0px;")
        .row
          .text-center
            h3 Manage Bio
      .row(style="background-color: lightgrey; color: black;")
        form.form-horizontal(method="POST" action="/site/manage-bio")
          .col-sm-12.col-md-8.col-lg-8.col-md-offset-2.col-lg-offset-2(style="background-color:white; color: black;")
              .row
                .pull-left
                  button.btn.btn-info(style="background-color:#d3d3d3; color: black;" type="submit") Save
                .pull-right    
                    button.btn.btn-default(type='button', data-toggle='modal', data-target='#myModal') Cancel
                    // Modal
                    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                      .modal-dialog.modal-lg(role='document')
                        .modal-content
                          .modal-body
                            include menu_top
                          .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close
              
              .row(style="margin:0px;padding-top: 0px;")
                hr(style="background-color: green; min-height: 2px;margin-bottom: 0px;margin-top: 0px;")
              br
              .row
                  .form-group(style="margin-right: 0px;")
                    label.col-sm-2.control-label Title:
                    .col-sm-10
                       input.form-control(type="text" style="border: grey 1px solid;" placeholder="Your local handyman" value="#{site.bio.title || ''}" name="title")
                  .form-group(style="margin-right: 0px;")
                    label.col-sm-2.control-label Bio:
                    .col-sm-10
                      // ko if: paragraphs() && paragraphs().length > 0 
                      div(data-bind="foreach: paragraphs()") 
                        .panel-body(style="background-color:lightblue; color: black;padding-left: 2px;padding-right: 2px;")
                          .row
                            textarea.form-control(style="border: grey 1px solid;" rows="5" placeholder="Type a paragraph about your company" data-bind="value: line, attr: { name: 'paragraphs[' + $index() + ']'}")
                          .row
                            .pull-right
                              .btn.btn-danger(data-bind="click: $parent.removeParagraph") Delete Paragraph
                        br
                      // /ko 
                      // ko if: !paragraphs() && !paragraphs().length < 1 
                      .panel-body(style="background-color:lightblue; color: black;padding-left: 2px;padding-right: 2px;")
                        .row
                          h4 Loading..
                          
                      br
                      // /ko 
                      .btn.btn-success(data-bind="click: addParagraph") Create New Paragraph
                      br
              
                
                
                
              br
              .row(style="margin:0px;padding-bottom: 0px;")
                hr(style="background-color: green; min-height: 2px;margin-bottom: 0px;margin-top: 0px;")
              .row
                .pull-left
                  input(type="hidden" name="_csrf" value="#{_csrf}")
                  button.btn.btn-info(style="background-color:#d3d3d3; color: black;" type="submit") Save
                .pull-right    
                  a.btn.btn-warning(href="../../site/builder?mode=top&location=#{location}") Back
          .row
            br
  script(src="/this/projects/site/builder/scripts/menu_bio.js")
  - var jsmodel = []
  - site.bio.paragraphs.forEach(function(para){
    - jsmodel.push({line: para.line, _id: null});
  - });
  - site.bio.paragraphs = jsmodel;
  script.
    ko.applyBindings(new ViewModel(#{site.bio}));
    
      
      
  script.
    var app_mode = "#{mode}";
    var app_location = "#{location}";
    var app_colors = "#{app_colors}";
    // script(src="/this/projects/site/builder/scripts/site-builder.js")