.row(style="background-color:white;")
    .col-xs-2
    
    .col-xs-8
      h2.text-center(style='font-family: "Arial Black", Gadget, sans-serif; color:black')
        | Site Builder
    .col-xs-2
      a.btn.btn-danger.pull-right(href='/app/dashboard' style="margin: 10px;") Exit