extends ../../../layouts/dashboard_layout
block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/app/dashboard') App
            li.active
              span Company Info
        h2.font-light.m-b-xs
          | Company Info
  .content.animate-panel(ng-app="app" ng-controller='main')
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            form.form-horizontal(action="/../../../app/company_info" method="post")
              .form-group
                label.col-sm-2.control-label Company Name
                .col-sm-10
                  input.form-control(type='text' name="company_name" value="#{company.company_name}")
              //.hr-line-dashed
              br
              h4(style="color:green;")
                | Basic Contact
              .hr-line-dashed
              .form-group
                label.col-sm-2.control-label Email
                .col-sm-10
                  input.form-control(type='text' name="company_email" value="#{company.company_email}")
              .form-group
                label.col-sm-2.control-label Phone Number
                .col-sm-10
                  input.form-control(type='text' name="company_phone" value="#{company.company_phone}")
              .form-group
                label.col-sm-2.control-label 
                .col-sm-10
                  .alert.alert-info
                    | NOTE: 
                    em 
                      | The address below will not be shown on your website. 
              br
              .form-group
                label.col-sm-2.control-label Address 1
                .col-sm-10
                  input.form-control(type='text' name="company_address1" value="#{company.company_address1}")
              .form-group
                label.col-sm-2.control-label Address 2
                .col-sm-10
                  input.form-control(type='text' name="company_address2" value="#{company.company_address2}")
              .form-group
                label.col-sm-2.control-label City
                .col-sm-10
                  input.form-control(type='text' name="company_city" value="#{company.company_city}")
              .form-group
                label.col-sm-2.control-label State
                .col-sm-10
                  input.form-control(type='text' name="company_state" value="#{company.company_state}")
              .form-group
                label.col-sm-2.control-label Zip
                .col-sm-10
                  input.form-control(type='text' name="company_zip" value="#{company.company_zip}")
              br
              h4(style="color:green;")
                | Social Media Links (optional)
              .hr-line-dashed
              .form-group
                label.col-sm-2.control-label Angie List
                .col-sm-10
                  input.form-control(type='text' name="company_angieList" value="#{company.company_angieList}")
              .form-group
                label.col-sm-2.control-label Facebook
                .col-sm-10
                  input.form-control(type='text' name="company_facebook" value="#{company.company_facebook}")
              .form-group
                label.col-sm-2.control-label Instagram
                .col-sm-10
                  input.form-control(type='text' name="company_instagram" value="#{company.company_instagram}")
              .form-group
                label.col-sm-2.control-label Twitter
                .col-sm-10
                  input.form-control(type='text' name="company_twitter" value="#{company.company_twitter}")
              .form-group
                label.col-sm-2.control-label Yelp
                .col-sm-10
                  input.form-control(type='text' name="company_yelp" value="#{company.company_yelp}")
              
              .hr-line-dashed
              
              input(type='hidden' name='_csrf' value='#{_csrf}')
              .form-group
                label.col-sm-2.control-label 
                .col-sm-10
                  button.btn.btn-success(type="submit") Save
            