extends ../../../layouts/dashboard_layout

block scripts
  script(src="../../../../this/projects/app/admin/scripts/manage_users.js")

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/app/dashboard') App
            li.active
              span Manage Users
        h2.font-light.m-b-xs
          | Manage Users
  .content.animate-panel(ng-app="app" ng-controller='main')
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
          
            form.form-horizontal(action="/../../../root/payment_setting")
              .form-group
                label.col-sm-2.control-label Company Invite:
                .col-sm-10
                  .btn.btn-primary Invite new user
              .hr-line-dashed
                  // .form-group
                  //   label.col-sm-2.control-label Company Users:
                  //   .col-xs-8
                  //     select.form-control
                  //       each user in users
                  //         option(value="#{user.id}" id="selectUsers") #{user.profile.name + " - " + user.email}
                  //   .col-xs-2
                  //     .btn.btn-info(onclick="sendRequest()") Select
              
                  // .form-group
                  //   label.col-sm-2.control-label Address 1
                  //   .col-sm-10
                  //     input.form-control(type='text' name="company_address1" value="#{payment_setting.company_address1}")
                  // .form-group
                  //   label.col-sm-2.control-label Address 2
                  //   .col-sm-10
                  //     input.form-control(type='text' name="company_address2" value="#{payment_setting.company_address2}")
                  // .form-group
                  //   label.col-sm-2.control-label City
                  //   .col-sm-10
                  //     input.form-control(type='text' name="company_city" value="#{payment_setting.company_city}")
                  // .form-group
                  //   label.col-sm-2.control-label State
                  //   .col-sm-10
                  //     input.form-control(type='text' name="company_state" value="#{payment_setting.company_state}")
                  // .form-group
                  //   label.col-sm-2.control-label Zip
                  //   .col-sm-10
                  //     input.form-control(type='text' name="company_zip" value="#{payment_setting.company_zip}")
                  // .hr-line-dashed
                  // .form-group
                  //   label.col-sm-2.control-label Tax Percent
                  //   .col-sm-10
                  //     input.form-control(type='text' name="tax_percent" value="#{payment_setting.tax_percent}")
                  // .hr-line-dashed
                  //   .col-sm-2
                  //   .col-sm-10
                  //     button.btn.btn-success(style="margin:20px;" type="submit") Save
                
            