extends ../../../layouts/dashboard_layout

block scripts
  script(src="../../../../this/projects/app/admin/scripts/manage_user.js")

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/app/dashboard') App
            li
              a(href='/app/manage_users') Manage Users
            li.active
              span #{theUser.profile.name}
        h2.font-light.m-b-xs
          | Manage User: #{theUser.profile.name}
  .content.animate-panel(ng-app="app" ng-controller='main')
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            form.form-horizontal
              .form-group
                label.col-sm-2.control-label Is Power User:
                .col-sm-10
                  .checkbox
                    label
                      input(type="checkbox" id="powerUserCheckbox" onchange="powerUserToggle()")
              #alertPower
                .form-group
                  .alert.alert-danger
                    | If you press save, this user will have access to everything.
              #advanceOptions
                .hr-line-dashed
                .form-group
                  label.col-sm-2.control-label Admin Rights:
                  .col-sm-10
                    .checkbox
                      label
                        input(type="checkbox" id="admin_read")
                      | READ
                    .checkbox
                      label
                        input(type="checkbox" id="admin_write")
                      | WRITE
                .hr-line-dashed
                      
                .form-group
                  label.col-sm-2.control-label Analytics Rights:
                  .col-sm-10
                    .checkbox
                      label
                        input(type="checkbox" id="analytics_read")
                      | READ
                    .checkbox
                      label
                        input(type="checkbox" id="analytics_write")
                      | WRITE
                .hr-line-dashed
                      
                .form-group
                  label.col-sm-2.control-label Marketing:
                  .col-sm-10
                    .checkbox
                      label
                        input(type="checkbox" id="marketing_read")
                      | READ
                    .checkbox
                      label
                        input(type="checkbox" id="marketing_write")
                      | WRITE
                .hr-line-dashed
                      
                .form-group
                  label.col-sm-2.control-label Manage Site:
                  .col-sm-10
                    .checkbox
                      label
                        input(type="checkbox" id="site_read")
                      | READ
                    .checkbox
                      label
                        input(type="checkbox" id="site_write")
                      | WRITE
                .hr-line-dashed
              .form-group
                label.col-sm-2.control-label 
                .col-sm-10
                  .btn.btn-success Save
                