extends ../../../layouts/account_layout

block content
  .login-container
    .row
      .col-md-12
        .hpanel
          .panel-body
            h3 You have been securely logged out  
            //include ../../../layouts/partials/account/flash
            // form#loginForm(method='POST')
            //   input(type='hidden', name='_csrf', value=_csrf)
            //   .form-group 
            //     label.control-label(for='email') Email
            //     //input#username.form-control(type='text', placeholder='example@gmail.com', title='Please enter you username', required='', value='', name='username')
            //     input.form-control(type='email', name='email', id='email', placeholder='example@gmail.com', autofocus=true)
            //     span.help-block.small Your unique username to app
            //   .form-group
            //     label.control-label(for='password') Password
            //     //input#password.form-control(type='password', title='Please enter your password', placeholder='******', required='', value='', name='password')
            //     input.form-control(type='password', name='password', id='password', placeholder='***')
            //     span.help-block.small Yur strong password 
            //   .checkbox
            //     input.i-checks(type='checkbox', checked='')
            //     |                                      Remember login
            //     p.help-block.small (if this is a private computer)
            //   button.btn.btn-success.btn-block Login
            //   a.btn.btn-default.btn-block(href='/signup') Register
            //   a.btn.btn-link(href='/forgot') Forgot your password?
    .row
      .col-md-12.text-center
        strong 
        |  2015 Copyright Company Name



// extends ../layout

// block content
//   .page-header
//     h3 Sign in
//   form.form-horizontal(method='POST')
//     input(type='hidden', name='_csrf', value=_csrf)
//     .form-group
//       label.col-sm-3.control-label(for='email') Email
//       .col-sm-7
//         input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
//     .form-group
//       label.col-sm-3.control-label(for='password') Password
//       .col-sm-7
//         input.form-control(type='password', name='password', id='password', placeholder='Password')
//     .form-group
//       .col-sm-offset-3.col-sm-7
//         button.col-sm-3.btn.btn-primary(type='submit')
//           i.fa.fa-user
//           | Login
//         a.btn.btn-link(href='/forgot') Forgot your password?
//     .form-group
//       .col-sm-offset-3.col-sm-7
//         hr
//     .form-group
//       .col-sm-offset-3.col-sm-7
//         a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
//           i.fa.fa-facebook
//           | Sign in with Facebook
//         a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
//           i.fa.fa-twitter
//           | Sign in with Twitter
//         a.btn.btn-block.btn-google.btn-social(href='/auth/google')
//           i.fa.fa-google-plus
//           | Sign in with Google
//         a.btn.btn-block.btn-github.btn-social(href='/auth/github')
//           i.fa.fa-github
//           | Sign in with GitHub
//         a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
//           i.fa.fa-linkedin
//           | Sign in with LinkedIn
//         a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
//           i.fa.fa-instagram
//           | Sign in with Instagram
