extends ../../../layouts/dashboard_layout

block scripts
    script(src="/vendor/angular-1.4.9/angular.min.js")
    script(src="/vendor/angular-1.4.9/ui-bootstrap-tpls-1.1.0.min.js")
    
    
    script(src="/boiler-tech/projects/root/payment/scripts/app.js")
    script(src="/boiler-tech/projects/root/payment/scripts/factories.js")
    script(src="/boiler-tech/projects/root/payment/scripts/controller.js")
    //script(src="/boiler-tech/projects/root/notifications/scripts/sendNotifications.js")

block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/root/dashboard') Root
            li.active
              span Manage Invoices
        h2.font-light.m-b-xs
          | Manage Invoices
  .content.animate-panel(ng-app="app" ng-controller='main')
    .row
      .col-lg-12 
        include ../../../layouts/partials/dashboard/flash
    .row
      .col-lg-12
        .hpanel.hgreen
          .panel-body
            .form-horizontal
              .row
                .form-group
                  label.col-sm-2.control-label Invoice Issues:
                  .col-sm-10
                    a(style="color:blue;text-decoration:underline;" href="/root/manage_invoice_issues") Manage Invoice Issues
              .row
                .form-group
                  label.col-sm-2.control-label Select Company:
                  .col-sm-10
                    .col-xs-8
                      select.col-sm-3.form-control(ng-options="user as user.profile.name + ' | ' + user.email for user in allUsers" ng-model="userSelected")
                    .col-xs-2
                      .btn.btn-success(ng-click="addUser()") ADD
                
    .row(ng-show="allUsersSelected.length > 0")
      .col-lg-12
        .hpanel
          .panel-body
            .row
              ul.nav.nav-tabs
                li(ng-repeat="user in allUsersSelected" ng-class="selectedNumber == $index ? 'active' : '' ")
                  a(href='#tab-invoices', data-toggle='tab', aria-expanded='false') {{ user.profile.name + ' | ' + user.email }}
            br
            .tab-content
              
              #tab-invoices.tab-pane.active.row
                .tabs-left
                  ul.nav.nav-tabs
                    li.active
                      a(data-toggle='tab', href='#tab-1', aria-expanded='false')  Current Invoice
                    li
                      a(data-toggle='tab', href='#tab-2', aria-expanded='true') Previous Invoices
                  .tab-content
                    #tab-1.tab-pane.active
                      .panel-body
                        .row(ng-show="!allUsersSelected[selectedNumber].invoice")
                          .alert.alert-warning
                            strong This user does not have an invoice set up
                          br
                          .btn.btn-success(ng-click="open()") Create Invoice
                    #tab-2.tab-pane
                      .panel-body
                        strong Donec quam felis
                        p
                          | Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                          | and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                        p
                          | I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                          | sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
    script(type='text/ng-template', id='myModalContent.html').
      <div class="color-line"></div>
      <div class="modal-header">
      <h3 class="modal-title">Create an invoice!</h3>
      </div>
      <div class="modal-body">
      <ul>
      <li ng-repeat="item in items">
      <a href="#"> asdf</a>
      </li>
      </ul>
      </div>
      <div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
      <button class="btn btn-success" type="button" ng-click="ok()">Create</button>
      </div>
      
