doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Page title
    title HOMER | WebApp admin theme
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    // Vendor styles
    link(rel='stylesheet', href='vendor/fontawesome/css/font-awesome.css')
    link(rel='stylesheet', href='vendor/metisMenu/dist/metisMenu.css')
    link(rel='stylesheet', href='vendor/animate.css/animate.css')
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.css')
    // App styles
    link(rel='stylesheet', href='fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css')
    link(rel='stylesheet', href='fonts/pe-icon-7-stroke/css/helper.css')
    link(rel='stylesheet', href='css/style.css')
  body.blank
    // Simple splash screen
    .splash
      .color-line
      .splash-title
        h1 #{appSetting.app_url}
        img(src='/images/loading-bars.svg', width='64', height='64')
    //if lt IE 7
      p.alert.alert-danger
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    .color-line
      // a.btn.btn-primary(href='/' style="border-radius: 0px;") Back to home
      block content
      
        // Vendor scripts
    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/jquery-ui/jquery-ui.min.js')
    script(src='vendor/slimScroll/jquery.slimscroll.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='vendor/metisMenu/dist/metisMenu.min.js')
    script(src='vendor/iCheck/icheck.min.js')
    script(src='vendor/sparkline/index.js')
    // App scripts
    script(src='scripts/homer.js')  