doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Page title
    title HOMER | WebApp admin theme
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    // Vendor styles
    link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.css')
    link(rel='stylesheet', href='/vendor/metisMenu/dist/metisMenu.css')
    link(rel='stylesheet', href='/vendor/animate.css/animate.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    // App styles
    link(rel='stylesheet', href='/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css')
    link(rel='stylesheet', href='/fonts/pe-icon-7-stroke/css/helper.css')
    link(rel='stylesheet', href='/exampleapp/css/style.css')
    block styles
  body
    // Simple splash screen
    include partials/splash
    
    // Header
    #header
      include partials/header
    
    // Navigation
    aside#menu
      #navigation
        include partials/leftsidebar
    // Main Wrapper
    #wrapper
      block content
      
      // Right sidebar
      include partials/rightsidebar
      
      // Footer
      footer.footer
        include partials/footer
    // Vendor scripts
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/jquery-ui/jquery-ui.min.js')
    script(src='/vendor/slimScroll/jquery.slimscroll.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/metisMenu/dist/metisMenu.min.js')
    script(src='/vendor/iCheck/icheck.min.js')
    script(src='/vendor/sparkline/index.js')
    
    // App scripts
    block scripts
    
    script(src='/exampleapp/scripts/homer.js')

// doctype html
// html
//   head
//     meta(charset='utf-8')
//     meta(http-equiv='X-UA-Compatible', content='IE=edge')
//     meta(name='viewport', content='width=device-width, initial-scale=1.0')
//     meta(name='csrf-token', content=_csrf)
//     title #{title} - Hackathon Starter
//     link(rel='stylesheet', href='/css/main.css')
//   body
//     include partials/header
 .container
//    p blankrtials/flash
//       block content

//     include partials/footer

//     script(src='/js/lib/jquery.min.js')
//     script(src='/js/lib/bootstrap.min.js')
//     script(src='/js/main.js')

//     // Google Analytics: change UA-XXXXX-X to be your site's ID
//     script.
//       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
//       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
//       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
//       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

//       ga('create', 'UA-XXXXX-X', 'auto');
//       ga('send', 'pageview');
